#submit-row {
    position: sticky;
    bottom: 0;
    padding: 10px;
    background-color: #1e2939;
    /* border-top: 1px solid #e5e7eb; */
    z-index: 100;
}

.dark\:bg-base-900\/80:where(.dark, .dark *) {
    background-color: color-mix(in oklab, var(--color-base-800)80%, transparent);
}