{% extends "databruce/narrow_layout.html" %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block content %}
  <div class="col">
    <div class="text-2xl text-nowrap">Setlist Notes Search</div>
    <div class="text-base text-wrap mb-3">Search the various setlist notes for a given (case-insensitive) query.</div>
    <div class="card">
      <div class="card-body">
        <div id="tableControls">
          <!-- Publicity Filter -->
          <div class="col-12 col-md-1">
            <label for="PublicityFilter" class="pb-1">Publicity</label>
            <select id="PublicityFilter" class="form-select form-select-sm">
              <option value="">All</option>
              <option value="true">Public</option>
              <option value="false">Private</option>
            </select>
          </div>
          <!-- Search -->
          <div class="col">
            <label for="search" class="pb-1">Search</label>
            <div class="input-group input-group-sm">
              <input type="text"
                     id="search"
                     class="form-control form-control-sm"
                     placeholder="Type to search table...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover display nowrap" id="table">
              <thead>
                <tr>
                  <th class="all">Event</th>
                  <th class="all">Set</th>
                  <th class="all">Song</th>
                  <th class="all">Note</th>
                  <th class="all">Public</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      var table = new DataTable('#table', {
        order: [0, 'asc'],
        ajax: {
          'url': '/api/v1/setlist_notes/?format=custom',
        },
        columnDefs: [
          { targets: '_all', className: 'text-wrap text-xs', defaultContent: '' },
          { targets: [-1], visible: false },
        ],
        columns: [
          {
            'data': 'event',
            'name': 'event__event_id, event__early_late',
            'className': 'text-nowrap all',
            'width': '8rem',
            'type': 'text',
            'render': function (data, type, row, meta) {
              if (data) {
                return `<a href="/events/${data.event_id}">${data.date}</a>`;
              }
            },
          },
          {
            'data': 'set_name',
            'name': 'setlist__set_name',
            'className': 'text-nowrap',
            'width': '8rem',
          },
          {
            'data': 'song',
            'name': 'setlist__song__name',
            'className': 'text-nowrap',
            'width': '12rem',
            'render': function (data, type, row, meta) {
              if (data) {
                return data
              }
            },
          },
          {'data': 'note', 'name': 'note', 'className': 'text-wrap', 'width': '15rem'},
          {'data': 'event.public', 'name': 'event__public' },
        ]
      });

      $('#PublicityFilter').on('change', function () {
        var selectedValue = this.value;
        table.order([[0, 'asc']]).column(4).search(selectedValue ? selectedValue : '', true, false).draw();
      });

      tableSearch(table, 'search');
    })
  </script>
{% endblock content %}
