{% extends "databruce/category.html" %}
{% block title %}
  Search
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Event Search</div>
  <div class="text-base">Event Date: {{ request.GET.date }}</div>
{% endblock info_row %}
{% block table_id %}
  eventTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="custom">
      <th class="all" scope="col">Date</th>
      <th class="min-tablet-l" scope="col">Band</th>
      <th class="all" scope="col">Venue</th>
      <th class="min-tablet-l" scope="col">Location</th>
      <th class="min-tablet-l" scope="col">Tour</th>
      <th class="min-tablet-l" scope="col">Detail</th>
      <th class="min-tablet-l" scope="col">Public</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
      <tr>
        <td scope="row" class="text-nowrap">
          <a href="{% url "event_details" id=event.id %}">{{ event }}</a>
        </td>
        <td>
          {% if event.artist %}
            <a href="{% url "band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
          {% endif %}
        </td>
        <td>
          {% if event.venue %}
            <a href="{% url 'venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
          {% endif %}
        </td>
        <td>
          {% if event.venue.city %}
            <a href="{% url 'city_details' id=event.venue.city.id %}">
              {{ event.venue.city }}
            {% endif %}
          </a>
        </td>
        <td>
          {% if event.tour %}
            <a href="{% url "tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
          {% endif %}
        </td>
        <td>{{ event.title|default_if_none:'' }}</td>
        <td>{{ event.public|default_if_none:'' }}</td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock table %}
{% block scripts %}
  <script>
  $(document).ready(function () {
    var layout = getDatatableLayout();
    dtCategorySelect(layout, -1, [{'label': 'All', 'value': '.*'}, {'label': 'Public', 'value': 'True'}, {'label': 'Private', 'value': 'False'}]);

    new DataTable('#eventTable', {
      layout: getDatatableLayout(),
      columnDefs: [
        { target: -1, visible: false }
      ],
    });
  })
  </script>
{% endblock scripts %}
