{% extends "databruce/category.html" %}
{% block title %}
  Search
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Event Search</div>
  <div class="text-base">Event Date: {{ request.GET.date }}</div>
{% endblock info_row %}
{% block table_id %}
  eventTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="custom">
      <th class="all" scope="col">Date</th>
      <th class="min-tablet-l" scope="col">Setlist</th>
      <th class="min-tablet-l" scope="col">Band</th>
      <th class="all" scope="col">Venue</th>
      <th class="min-tablet-l" scope="col">Location</th>
      <th class="min-tablet-l" scope="col">Tour</th>
      <th class="min-tablet-l" scope="col">Detail</th>
      <th class="min-tablet-l" scope="col">Public</th>
    </tr>
  </thead>
  {% comment %} <tbody>
    {% for event in events %}
      <tr>
        <td scope="row" class="text-nowrap">
          <a href="{% url "event_details" id=event.id %}">{{ event }}</a>
        </td>
        <td>
          {% if event.artist %}
            <a href="{% url "band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
          {% endif %}
        </td>
        <td>
          {% if event.venue %}
            <a href="{% url 'venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
          {% endif %}
        </td>
        <td>
          {% if event.venue.city %}
            <a href="{% url 'city_details' id=event.venue.city.id %}">
              {{ event.venue.city }}
            {% endif %}
          </a>
        </td>
        <td>
          {% if event.tour %}
            <a href="{% url "tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
          {% endif %}
        </td>
        <td>{{ event.title|default_if_none:'' }}</td>
        <td>{{ event.public|default_if_none:'' }}</td>
      </tr>
    {% endfor %}
  </tbody> {% endcomment %}
{% endblock table %}
{% block scripts %}
  <script>
  $(document).ready(function () {
    var layout = getDatatableLayout({category: true});
    dtCategorySelect({layout: layout, column_idx: 6, values: [{'label': 'Public', 'value': 'True'}, {'label': 'Private', 'value': 'False'}]});

    new DataTable('#eventTable', {
      layout: layout,
      serverSide: true,
      processing: true,
      ajax: {
        'url': '/api/v1/events/?date={{ request.GET.date }}&format=datatables',
      },
      columnDefs: [
        { targets: [1], orderable: false, className: 'text-center text-sm'},
        { targets: [-1], visible: false },
      ],
      columns: event_table_columns,
    });
  })
  </script>
{% endblock scripts %}
