<label class="form-label">
    Song:
    <button class="btn ml-2 p-0 me-2"
            type="reset"
            id="remove-form-btn"
            onclick="removeForm(this)">
        <i class="bi bi-x-circle-fill text-danger"></i>
    </button>
</label>
<div class="col-3 col-md-4 mb-1 ps-2 pe-1">{{ form.song1 }}</div>
<div class="col-2 mb-1 px-1">{{ form.choice }}</div>
<div class="col-4 col-md-3 mb-1 px-1">{{ form.position }}</div>
<div class="col-3 col-md-4 mb-1 ps-2 pe-1">{{ form.song2 }}</div>
