<label class="form-label">
    Song:
    <button class="btn ml-2 p-0 me-2"
            type="reset"
            id="remove-form-btn"
            onclick="removeForm(this)">
        <i class="bi bi-x-circle-fill text-danger"></i>
    </button>
</label>
<div class="col-8 col-md-3 mb-1 pe-1 pe-md-0">{{ form.song1 }}</div>
<div class="col-3 col-md-1 mb-1 pe-1 pe-md-0">{{ form.choice }}</div>
<div class="col-8 col-md-3 mb-1 pe-1 pe-md-0">{{ form.position }}</div>
<div class="col-8 col-md-3 mb-1 pe-1 pe-md-0">{{ form.song2 }}</div>
