{% extends "databruce/base.html" %}
{% load filters %}
{% load crispy_forms_tags %}
{% block title %}
  Setlist Searching
{% endblock title %}
{% block content %}
  <h4>Setlist Search</h4>
  <h6>Note: still being tested</h6>
  <hr />
  <div class="row">
    <div class="input-group">
      <div class="col-12">
        <form id="search-form"
              action="{% url 'databruce:setlist_search_results' %}"
              method="post">
          {% csrf_token %}
          {{ formset.management_form.as_p }}
          {% for form in formset.forms %}
            <div class="row mb-2" id="song_row-{{ forloop.counter0 }}">
              {% include "./setlist_form.html" with form=form prefix=forloop.counter0 %}
            </div>
          {% endfor %}
          <button id="submit-button"
                  type="submit"
                  name="submit"
                  class="btn btn-primary">Go</button>
          <button id="add-form-btn" type="button" name="add" class="btn btn-secondary">Add Row</button>
        </div>
      </form>
    </div>
  </div>
  <div id="new_row" class="row invisible mb-2">
    {% include "./setlist_form.html" with form=formset.forms.0 prefix=0 %}
  </div>
  {% load static %}
  <script src="{% static 'databruce/js/setlist_search.js' %}"></script>
{% endblock content %}
