{% extends "databruce/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Setlist Searching
{% endblock title %}
{% block content %}
  <h4>Setlist Search</h4>
  <h6>Note: still being tested</h6>
  <hr />
  <div class="row align-items-center">
    <div class="input-group mb-3">
      <form action="{% url 'databruce:setlist_search_results' %}">
        {% crispy form %}
      </form>
    </div>
  </div>
  <script>
    var selectOptions = {
      theme: 'bootstrap-5',
      selectionCssClass: 'form-select',
      dropdownCssClass: 'form-control',
      minimumInputLength: 3,
      dropdownPosition: 'below'
    };

    $(document).ready(function () {
      $('#songSelect').select2(selectOptions);
      $("#div_id_song2").hide();
    });

    document.addEventListener("DOMContentLoaded", function() {
      $('#positionSelect').change(function(){
          if (this.value == 'followed_by') {
            $("#div_id_song2").show();
            $('#song2Select').select2(selectOptions);
          } else {
            $("#div_id_song2").hide();
          };
        })
      });
  </script>
{% endblock content %}
