/* Select 2 bootstrap-5 theme override */
.select2-container--bootstrap-5 .select2-selection--single {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    color: rgb(var(--base-content)) !important;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    color: rgb(var(--base-content)) !important;
}

.select2-dropdown,
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    border: 1px solid var(--base-300);
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
    color: rgb(var(--base-content)) !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field,
.select2-container--default .select2-selection--multiple,
.select2-container--bootstrap-5 .select2-dropdown,
.select2-container--bootstrap-5 .select2-selection,
.form-select,
.form-control {
    background-color: rgb(var(--base-300)) !important;
    color: rgb(var(--base-content)) !important;
    border-color: var(--bs-border-color) !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[role=group] .select2-results__group {
    color: rgb(var(--base-content)) !important;
}

.select2-results__option.select2-results__message {
    color: rgb(var(--base-content)) !important;
    font-size: var(--text-sm) !important;
}

.select2-results__option--selected,
.select2-results__option--highlighted,
.select2-results__option--highlighted.select2-results__option--selectable {
    color: rgb(var(--base-content)) !important;
    border-radius: var(--bs-border-radius) !important;
}

[data-bs-theme="dark"] .select2-results__option--selected,
[data-bs-theme="dark"] .select2-results__option--highlighted,
[data-bs-theme="dark"] .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #353437 !important;
}

[data-bs-theme="light"] .select2-results__option--selected,
[data-bs-theme="light"] .select2-results__option--highlighted,
[data-bs-theme="light"].select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #d6d6d7 !important;
}

[data-bs-theme="light"] .select2-dropdown {
    background-color: #f3f4f4 !important;
}

[data-bs-theme="dark"] .select2-dropdown {
    background-color: #1a1a1c !important;
}

li.select2-results__option.select2-results__option--selectable {
    color: rgb(var(--base-content)) !important;
}

.select2-results__option {
    padding: 0.25rem !important;
    font-size: var(--text-sm) !important;
    font-family: var(--bs-body-font-family) !important;
}

.select2-results__option.select2-results__option--selectable {
    font-size: var(--text-sm) !important;
    font-family: var(--bs-body-font-family) !important;
}

/* .select2-results__option--selectable {
    font-size: var(--text-sm) !important;
} */

.select2-results__option .select2-results__option--selectable .select2-results__option--highlighted,
.select2-results__option--highlighted.select2-results__option--selectable {
    color: rgb(var(--primary-content)) !important;
    border-radius: var(--bs-border-radius-sm) !important;
}

.select2-results__options {
    color: rgb(var(--base-content)) !important;
    border-color: var(--bs-border-color) !important;
}

.select2-results {
    border: 0px !important;
    border-radius: var(--bs-border-radius) !important;
    padding: 0.25rem !important;
}

.select2-dropdown {
    border-radius: var(--bs-border-radius) !important;
    overflow: clip !important;
    box-shadow: var(--bs-box-shadow) !important;
    border: 1px solid rgb(var(--border)) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: rgb(var(--base-100)) !important;
    border: 1px solid rgb(var(--border)) !important;
    color: rgb(var(--base-content)) !important;
}

.select2-container:focus {
    background-color: red !important;
}

.select2-selection {
    border-radius: var(--bs-border-radius-sm) !important;
}

.select2-container,
.form-select,
.form-control {
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: var(--bs-border-radius-sm) !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple:focus,
.select2-container--focus,
.form-select:focus,
.form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
    border-radius: var(--bs-border-radius-sm) !important;
    border-width: 1px !important;
}

[data-bs-theme="light"] .select2-container--default.select2-container--focus .select2-selection--multiple,
[data-bs-theme="light"] .select2-container--focus,
[data-bs-theme="light"] .form-select:focus,
[data-bs-theme="light"] .form-control:focus {
    border-color: #86b7fe !important;
}

[data-bs-theme="dark"] .select2-container--default.select2-container--focus .select2-selection--multiple,
[data-bs-theme="dark"] .select2-container--focus,
[data-bs-theme="dark"] .form-select:focus,
[data-bs-theme="dark"] .form-control:focus {
    border-color: #749fdc !important;
}