@import './colors.css';
@import './select2.css';
@import './datatables.css';


body {
    font-family: var(--font-body);
    background-color: var(--zinc-950) !important;
}

.main-color {
    background-color: var(--sky-700) !important;
}

.dt-column-title {
    font-family: var(--font-heading);
}

.card-header {
    font-family: var(--font-heading);
    background-color: var(--zinc-800) !important;
    border: none;
}

.navbar,
table th,
.select2-results__option--highlighted,
.select2-results__option--selected,
div.ui-menu-item-wrapper:hover,
.btn-primary {
    background-color: var(--sky-700) !important;
}

.list-group-item {
    background-color: var(--zinc-900) !important;
    border-radius: inherit !important;
}

.card {
    background-color: var(--zinc-900);
    border: 1px solid var(--zinc-800) !important;
    border-radius: 0.5rem !important;
}

table a {
    color: var(--sky-500) !important;
}

table tbody td {
    background-color: var(--zinc-900) !important;
}

.collapse {
    border-radius: inherit !important;
}

.card-header:first-child {
    border-top-left-radius: inherit !important;
    border-top-right-radius: inherit !important;
}

table>tbody>tr>td,
.card-body,
.list-group-item {
    font-size: 0.85rem;
    line-height: 1.25rem;
    vertical-align: middle;
}

a:link {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

.btn.btn-link {
    text-decoration: none !important;
}

.btn.btn-link:hover {
    text-decoration: underline !important;
}

.invisible {
    visibility: hidden !important;
}

div.ui-menu-item-wrapper {
    background-color: var(--bs-body-bg) !important;
    border: 0px solid var(--bs-border-color) !important;
}

div.ui-menu-item-wrapper:hover {
    border: 1px solid var(--bs-border-color) !important;
}

#info-box.row {
    display: flex;
    flex-wrap: wrap;
}

tr td,
tr th {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

#headimg {
    width: 100%;
    object-fit: cover;
    border-radius: inherit !important;
}

.button>span {
    padding-left: 8px
}

.text-sm-right {
    text-align: right !important;
}

.button {
    text-shadow: none !important;
}

.sky-500 {
    color: var(--sky-500)
}

.sky-700 {
    background-color: var(--sky-700) !important;
}

.sky-900 {
    background-color: var(--sky-900) !important;
}

.setHeader {
    background-color: var(--sky-900) !important;
}

#myTab .nav-link.active {
    background-color: var(--sky-700) !important;
}

#myTab .nav-link:not(.active) {
    background-color: var(--zinc-850) !important;
    border: 0.1rem solid var(--zinc-700) !important;
    color: white !important;
}

.setname {
    display: none !important;
}

.song-count {
    position: absolute !important;
}

.progress {
    position: relative;
    height: 18px;
    padding: 0;
}

.progress>.song-count {
    position: absolute;
    right: 0px;
    cursor: help;
}

.progress-bar {
    background-color: var(--sky-700) !important;
}

/* .btn-main-primary {
    background-color: var(--sky-700) !important;
    color: white !important;
    border: 1px solid var(--sky-700) !important;
}

.btn-main-secondary {
    background-color: none !important;
    color: var(--sky-700) !important;
    border: 1px solid var(--sky-700) !important;
} */

.nav-pills button.active {
    background-color: var(--sky-700) !important;
    color: white !important;
    border: 1px solid var(--sky-700) !important;
}

.nav-pills button:not(.active) {
    background-color: none !important;
    color: var(--sky-500) !important;
    border: 1px solid var(--sky-500) !important;
}