@import './colors.css';
@import './select2.css';
@import './datatables.css';

:root {
    --font-heading: "Cabin", sans-serif;
    --font-body: "IBM Plex Sans Hebrew", sans-serif;
    font-size: 0.875rem !important;
}

#logo {
    filter: invert(100%);
}

.card tbody tr:last-child td {
    border-bottom: none !important;
    border-bottom-left-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}