django
djangorestframework
Markdown
python-dotenv
django-debug-toolbar
django-filter
psycopg[binary,pool]
requests
django-link-shortener
django-browser-reload
markdown-it-py
querystring_parser
python-slugify
gunicorn
gevent
djlint
django-unfold
django_redis