Django==5.2.9
djangorestframework==3.16.1
djangorestframework_datatables==0.7.2
Markdown==3.7
python-dotenv==1.1.0
django-debug-toolbar==5.1.0
django-filter==25.2
psycopg[binary,pool]
requests
django-link-shortener
django-browser-reload
markdown-it-py
querystring_parser
python-slugify