{% extends "databruce/narrow_layout.html" %}
{% block title %}
    Page Not Found
{% endblock title %}
{% block content %}
    <div class="col-12 col-lg-8 align-middle">
        <div class="mb-3 text-center">
            <div class="text-xl fw-bold">Page Not Found</div>
            <div class="text-base">
                You ain't gonna find nothing down here, friend,
                except seeds blowing up the highway in the south wind
            </div>
        </div>
    </div>
{% endblock content %}
