{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  States
{% endblock title %}
{% block content %}
  <h4>States</h4>
  <h6>States that Bruce has played in</h6>
  <div class="table-responsive">
    <table class="table table" id="stateTable">
      <thead>
        <tr>
          <th scope="col" class="all">Name</th>
          <th scope="col" class="all">Country</th>
          <th scope="col" class="all">First</th>
          <th scope="col" class="all">Last</th>
          <th scope="col" class="all">Num Events</th>
        </tr>
      </thead>
      <tbody>
        {% for state in states %}
          <tr>
            <td>
              <a href="{% url "databruce:state_details" id=state.id %}">{{ state.name }} ({{ state.state_abbrev|default_if_none:"" }})</a>
            </td>
            <td>
              {% if state.country %}
                <a href="{% url "databruce:country_details" id=state.country.id %}">{{ state.country.name }}</a>
              {% endif %}
            </td>
            <td>
              {% with first=state.first %}
                <a href="{% url "databruce:event_details" event=first.id %}">{{ first.event_date|get_date:first.id }}</a>
              {% endwith %}
            </td>
            <td>
              {% with last=state.last %}
                <a href="{% url "databruce:event_details" event=last.id %}">{{ last.event_date|get_date:last.id }}</a>
              {% endwith %}
            </td>
            <td>{{ state.num_events }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% load static %}
  <script src="{% static 'databruce/js/datatables.js' %}"></script>
  <script>
    // custom searchBuilder columns definition
    layout.topEnd.features[1].buttons[1].config.columns = [1, -1];

    $(document).ready(function () {
      $('#stateTable').dataTable({
        layout: layout,
      })
    })
  </script>
{% endblock content %}
