{% extends "databruce/category.html" %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">States</div>
  <div class="text-base">States that Bruce has played in</div>
{% endblock info_row %}
{% block table_id %}
  stateTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr>
      <th class="text-center all">Events</th>
      <th class="all">Name</th>
      <th class="all">Country</th>
      <th class="all">First</th>
      <th class="all">Last</th>
    </tr>
  </thead>
{% endblock table %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      new DataTable('#stateTable', {
        layout: getDatatableLayout({category: true}),
        serverSide: true,
        processing: true,
        ajax: {
          'url': '/api/v1/states/?format=custom',
        },
        columnDefs: [
          { targets: [0], width: '1rem' },
        ],
        columns: [
          {'data': 'count', 'name': 'count'},
          {
            'data': 'name',
            'name': 'name',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/states/${row.uuid}">${row.name}</a>`;
              }
            },
          },
          {
            'data': 'country',
            'name': 'country__name',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/countries/${data.uuid}">${data.name}</a>`;
              }
            },
          },
          {
            'data': 'first_event',
            'name': 'first_event__event_id',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/events/${data.event_id}">${data.date.display_day}</a>`
              }
            },
          },
          {
            'data': 'last_event',
            'name': 'last_event__event_id',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/events/${data.event_id}">${data.date.display_day}</a>`
              }
            },        
          },
        ]
      });
    })
  </script>
{% endblock scripts %}
