{% extends "databruce/category.html" %}
{% block title %}
  States
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">States</div>
  <div class="text-base">States that Bruce has played in</div>
{% endblock info_row %}
{% block table_id %}
  stateTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr>
      <th class="text-center all" scope="col">Events</th>
      <th class="all" scope="col">Name</th>
      <th class="min-tablet-l" scope="col">Country</th>
      <th class="min-tablet-l" scope="col">First</th>
      <th class="min-tablet-l" scope="col">Last</th>
    </tr>
  </thead>
  {% comment %} <tbody>
    {% for state in states %}
      <tr>
        <td class="text-center">{{ state.num_events }}</td>
        <td>
          <a href="{% url "state_details" id=state.id %}">{{ state.name }}</a>
        </td>
        <td>
          {% if state.country %}
            <a href="{% url "country_details" id=state.country.id %}">{{ state.country }}</a>
          {% endif %}
        </td>
        <td data-sort="{{ state.first.get_date }}" data-filter="{{ state.first.get_date }}">
          <a href="{% url "event_details" id=state.first.id %}">{{ state.first.get_date }}</a>
        </td>
        <td data-sort="{{ state.last.get_date }}" data-filter="{{ state.last.get_date }}">
          <a href="{% url "event_details" id=state.last.id %}">{{ state.last.get_date }}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody> {% endcomment %}
{% endblock table %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      new DataTable('#stateTable', {
        layout: getDatatableLayout({category: true}),
        serverSide: true,
        processing: true,
        ajax: {
          'url': '/api/v1/states/?format=datatables&keep=id',
        },
        columnDefs: [
          { targets: [0], width: '1rem' },
        ],
        columns: [
          {'data': 'count', 'name': 'count'},
          {
            'data': 'name',
            'name': 'name',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="/states/' + row.id + '">'+ row.name +'</a>';
              }
            },
          },
          {
            'data': 'country',
            'name': 'country__name',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return '<a href="/countries/' + data.id + '">'+ data.name +'</a>';
              }
            },
          },
          {
            'data': 'first.date',
            'name': 'first__id',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
              }
            },
          },
          {
            'data': 'last.date',
            'name': 'last__id',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
              }
            },        
          },
        ]
      });
    })
  </script>
{% endblock scripts %}
