{% extends "databruce/narrow_layout.html" %}
{% block title %}
  Tour "{{ title }}"
{% endblock title %}
{% block content %}
  {% if user.is_superuser %}
    {% include "databruce/partials/admin_edit_btn.html" with view="tours" item=info.id %}
  {% endif %}
  <div class="col-12">
    <div class="text-2xl mb-3">
      <a href="{% url 'tours' %}">Tours</a> &gt; {{ title }}
    </div>
    {% if info.note %}
      <div class="row text-lg mb-3">
        <div class="fw-semibold">Notes</div>
        <div id="notes">{{ info.note|markdown|safe }}</div>
      </div>
    {% endif %}
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link active"
                    id="pills-events-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#events"
                    type="button"
                    role="tab"
                    aria-controls="pills-home"
                    aria-selected="true">
              Events
              <span class="badge badge-light rounded-pill text-bg-light"
                    id="event-count-badge">0</span>
            </button>
          </li>
          {% if info.num_legs > 0 %}
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link"
                      id="pills-legs-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#legs"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">
                Legs<span class="badge badge-light rounded-pill text-bg-light"
      id="leg-count-badge">0</span>
              </button>
            </li>
          {% endif %}
          {% if info.num_songs > 0 %}
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link"
                      id="pills-songs-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#songs"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">
                Songs<span class="badge badge-light rounded-pill text-bg-light"
      id="song-count-badge">0</span>
              </button>
            </li>
          {% endif %}
          {% if info.num_songs > 0 %}
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link"
                      id="pills-songs-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#slots"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">Slots</button>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="card-body px-0">
        <div class="tab-content">
          <div id="events" class="tab-pane fade show active">
            <div class="table-responsive">
              <table class="table table-hover display" id="eventTable">
                <thead>
                  <tr class="custom">
                    <th class="all">Date</th>
                    <th class="all">Setlist</th>
                    <th class="all">Band</th>
                    <th class="all">Venue</th>
                    <th class="all">Location</th>
                    <th class="all">Tour</th>
                    <th class="all">Detail</th>
                    <th class="all">Public</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="legs" class="tab-pane fade">
            <div class="table-responsive">
              <table class="table table-hover display" id="legTable">
                <thead>
                  <tr>
                    <th class="all text-wrap">Name</th>
                    <th class="all text-nowrap text-center">Shows</th>
                    <th class="all text-nowrap text-center">Songs</th>
                    <th class="all text-nowrap">First</th>
                    <th class="all text-nowrap">Last</th>
                    <th class="all text-nowrap">Note</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="songs" class="tab-pane fade">
            <div class="table-responsive">
              <table class="table table-hover display" id="songTable">
                <thead>
                  <tr>
                    <th class="text-center all">Plays</th>
                    <th class="all">Song</th>
                    <th class="all">Category</th>
                    <th class="all">First</th>
                    <th class="all">Last</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="slots" class="tab-pane fade">
            <div class="table-responsive">
              <table class="table table-hover display" id="slotTable">
                <thead>
                  <tr>
                    <th class="text-nowrap all">Event</th>
                    <th class="text-nowrap all show-opener">Show Opener</th>
                    <th class="text-nowrap all set-1-closer">Set 1 Closer</th>
                    <th class="text-nowrap all set-2-opener">Set 2 Opener</th>
                    <th class="text-nowrap all main-set-closer">Main Set Closer</th>
                    <th class="text-nowrap all encore-opener">Encore Opener</th>
                    <th class="text-nowrap all show-closer">Show Closer</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      layout = getDatatableLayout({columns: [2,3,4,5,6,7], category: true});
      dtCategorySelect({layout: layout, column_idx: 7, values: [{'label': 'Public', 'value': 'true'}, {'label': 'Private', 'value': 'false'}], label: 'Category'});

      new DataTable('#eventTable', {
        layout: layout,
        scrollY: '60vh',
        ajax: {
          'url': '/api/v1/events/?tour={{ info.id }}&format=custom',
        },
        columnDefs: event_table_defs,
        columns: event_table_columns,
        initComplete: function(settings, json){ 
          var info = this.api().page.info();
          $('#event-count-badge').text(info.recordsTotal);
        }
      });

      new DataTable('#slotTable', {
        layout: getDatatableLayout({category: false}),
        scrollY: '60vh',
        fixedColumns: {
            start: 1
        },
        ajax: {
          'url': '/api/v1/setlist_entries/?tour={{ info.id }}&format=custom',
        },
        columns: setlist_slots,
        initComplete: function () {
          this.api().columns().every(function () {
            var columnData = this.data().join(''); // Combine all cell data into one string

            // Check if the combined string is empty
            if (columnData.length === 0) {
              // If empty, hide the column
              this.visible(false);
            }
          });
        }
      });

      new DataTable('#legTable', {
        layout: getDatatableLayout({category: false}),
        scrollY: '60vh',
        ajax: {
          'url': '/api/v1/tour_legs/?tour={{ info.id }}&format=custom',    
        },
        initComplete: function(settings, json){ 
          var info = this.api().page.info();
          $('#leg-count-badge').text(info.recordsTotal);
        },
        columns: [
          {
            'data': 'name',
            'name': 'name',
            'width': '20rem',
            'render': function (data, type, row, meta) {
                if (type === 'display' && data) {
                  return `<a href="/tours/legs/${row.uuid}">${data}</a>`;
                }
            },
          },
          {'data': 'num_shows', 'name': 'num_shows', 'width': '1rem' },
          {'data': 'num_songs', 'name': 'num_songs', 'width': '1rem' },
          {
            'data': 'first_event',
            'name': 'first_event__event_id, first_event__early_late',
            'width': '6rem',
            'render': function (data, type, row, meta) {
                if (type === 'display' && data) {
                  return `<a href="/events/${data.event_id}">${data.date.display}</a>`;
                }
            },
          },
          {
            'data': 'last_event',
            'name': 'last_event__event_id, last_event__early_late',
            'width': '6rem',
            'render': function (data, type, row, meta) {
                if (type === 'display' && data) {
                  return `<a href="/events/${data.event_id}">${data.date.display}</a>`;
                }
            },
          },
          {'data': 'note', 'name': 'note', 'width': '16rem' },
        ]
      });

      new DataTable('#songTable', {
        layout: getDatatableLayout({category: false}),
        scrollY: '60vh',
        ajax: {
          'url': '/api/v1/setlist_songs/?tour={{ info.id }}&format=custom',       
        },
        columnDefs: song_table_defs,
        columns: song_table_columns,
        initComplete: function(settings, json){ 
          var info = this.api().page.info();
          $('#song-count-badge').text(info.recordsTotal);
        }
      });
      
    });

  </script>
{% endblock content %}
