{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Tours &gt; {{ tour.name }}
{% endblock title %}
{% block content %}
  <div class="row mb-4">
    <h4>
      <a href="{% url 'tours' %}">Tours</a> &gt; {{ tour.name }}
    </h4>
  </div>
  <div class="row-mb-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link active"
                      id="pills-events-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#events"
                      type="button"
                      role="tab"
                      aria-controls="pills-home"
                      aria-selected="true">Events</button>
            </li>
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link"
                      id="pills-legs-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#legs"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">Legs</button>
            </li>
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link"
                      id="pills-songs-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#songs"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">Songs</button>
            </li>
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link"
                      id="pills-songs-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#slots"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">Slots</button>
            </li>
          </ul>
        </div>
        <div class="card-body px-0">
          <div class="tab-content">
            <div id="events" class="tab-pane fade show active">
              <div class="table-responsive">
                <table class="table table-hover display" id="tourEvents">
                  <thead>
                    <tr class="custom">
                      <th class="all">Date</th>
                      <th class="all">Band</th>
                      <th class="min-tablet-l">Venue</th>
                      <th class="min-tablet-l">Location</th>
                      <th class="min-tablet-l">Detail</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for event in events %}
                      <tr>
                        <td class="text-nowrap">
                          <a href="{% url "event_details" id=event.id %}">{{ event }}</a>
                        </td>
                        <td class="text-nowrap">
                          <a href="{% url "band_details" id=tour.id %}">{{ tour.band }}</a>
                        </td>
                        <td class="text-nowrap">
                          <a href="{% url 'venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
                        </td>
                        <td class="text-nowrap">
                          {% if event.venue.city %}
                            <a href="{% url 'city_details' id=event.venue.city.id %}">{{ event.venue.city }}</a>
                          {% endif %}
                        </td>
                        <td class="text-wrap">{{ event.note|default_if_none:"" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div id="legs" class="tab-pane fade">
              <div class="table-responsive">
                <table class="table table-hover display" id="tourLegs">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Shows</th>
                      <th scope="col">Songs</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Note</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for leg in tour_legs %}
                      <tr>
                        <td class="text-wrap">
                          <a href="{% url "leg_details" id=leg.id %}">{{ leg.name }}</a>
                        </td>
                        <td>{{ leg.num_shows }}</td>
                        <td>{{ leg.num_songs }}</td>
                        <td class="text-nowrap">
                          <a href="{% url "event_details" id=leg.first.id %}">{{ leg.first }}</a>
                        </td>
                        <td class="text-nowrap">
                          <a href="{% url "event_details" id=leg.last.id %}">{{ leg.last }}</a>
                        </td>
                        <td class="text-wrap">{{ leg.note|default_if_none:"" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div id="songs" class="tab-pane fade">
              <div class="table-responsive">
                <table class="table table-hover display" id="tourSongs">
                  <thead>
                    <tr>
                      <th class="text-wrap all">Song</th>
                      <th class="text-center all">Plays</th>
                      <th class="text-center all">Show Opener</th>
                      <th class="text-center all">Main Set Closer</th>
                      <th class="text-center all">Encore Opener</th>
                      <th class="text-center all">Show Closer</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for song in songs %}
                      <tr>
                        <td class="text-nowrap">
                          <a href="{% url "song_details" id=song.song__id %}">{{ song.name }}</a>
                        </td>
                        <td class="text-center">{{ song.plays }}</td>
                        <td class="text-center">{{ song.show_opener }}</td>
                        <td class="text-center">{{ song.main_set_closer }}</td>
                        <td class="text-center">{{ song.encore_opener }}</td>
                        <td class="text-center">{{ song.show_closer }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div id="slots" class="tab-pane fade">
              <div class="row mb-2">
                <h4>Modelled after a similar feature from Dripfield.pro</h4>
              </div>
              <div class="table-responsive">
                <table class="table table-hover display" id="tourSlots">
                  <thead>
                    <tr>
                      <th class="text-wrap all">Event</th>
                      <th class="text-center all">Show Opener</th>
                      <th class="text-center all">Main Set Closer</th>
                      <th class="text-center all">Encore Opener</th>
                      <th class="text-center all">Show Closer</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for slot in slots %}
                      <tr>
                        <td class="text-nowrap">
                          <a href="{% url "event_details" id=slot.event__id %}">{{ slot.event_date|get_date:slot.event__id }}</a>
                        </td>
                        <td class="text-center">
                          <a href="{% url "song_details" id=slot.show_opener_id %}">{{ slot.show_opener_name }}</a>
                        </td>
                        <td class="text-center">
                          <a href="{% url "song_details" id=slot.main_set_closer_id %}">{{ slot.main_set_closer_name }}</a>
                        </td>
                        <td class="text-center">
                          <a href="{% url "song_details" id=slot.encore_opener_id %}">{{ slot.encore_opener_name }}</a>
                        </td>
                        <td class="text-center">
                          <a href="{% url "song_details" id=slot.show_closer_id %}">{{ slot.show_closer_name }}</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    layout.topEnd.features[1].buttons[0].config.columns = [0, 1, 2, 3, 4, 5];

    $(document).ready(function () {
      new DataTable('#tourEvents', {
        layout: layout,
      });

      layout.topEnd.features[1].buttons[0].config.columns = [1, 2, 3, 4];

      new DataTable('#tourSlots', {
        layout: layout,
        order: [[0, 'asc']],
      });

      // removes searchBuilder button, not needed for this.
      layout.topEnd.features[1].buttons.pop();

      new DataTable('#tourLegs', {
        layout: layout,
        order: [[3, 'asc']],
      });

      new DataTable('#tourSongs', {
        layout: layout,
        order: [[0, 'asc']],
      });


    });

  </script>
{% endblock content %}
