{% extends "databruce/base.html" %}
{% block title %}
  Tours &gt; {{ tour.name }}
{% endblock title %}
{% block content %}
  <div class="col-12 col-xxl-8 mx-auto">
    <div class="text-2xl mb-3">
      <a href="{% url 'tours' %}">Tours</a> &gt; {{ tour.name }}
    </div>
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link active"
                    id="pills-events-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#events"
                    type="button"
                    role="tab"
                    aria-controls="pills-home"
                    aria-selected="true">Events</button>
          </li>
          {% if tour_legs %}
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link"
                      id="pills-legs-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#legs"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">Legs</button>
            </li>
          {% endif %}
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link"
                    id="pills-songs-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#songs"
                    type="button"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false">Songs</button>
          </li>
          {% if slots %}
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link"
                      id="pills-songs-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#slots"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">Slots</button>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="card-body px-0">
        <div class="tab-content">
          <div id="events" class="tab-pane fade show active">
            <div class="table-responsive">
              <table class="table table-hover display" id="eventTable">
                <thead>
                  <tr class="custom">
                    <th class="all">Date</th>
                    <th class="min-tablet-l">Setlist</th>
                    <th class="all">Band</th>
                    <th class="min-tablet-l">Venue</th>
                    <th class="all">Location</th>
                    <th class="min-tablet-l">Tour</th>
                    <th class="min-tablet-l">Detail</th>
                    <th class="min-tablet-l">Public</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="legs" class="tab-pane fade">
            <div class="table-responsive">
              <table class="table table-hover display" id="legTable">
                <thead>
                  <tr>
                    <th scope="col" class="all">Name</th>
                    <th scope="col" class="text-center min-tablet-l">Shows</th>
                    <th scope="col" class="text-center min-tablet-l">Songs</th>
                    <th scope="col" class="text-center min-tablet-l">First</th>
                    <th scope="col" class="text-center min-tablet-l">Last</th>
                    <th scope="col" class="text-center min-tablet-l">Note</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="songs" class="tab-pane fade">
            <div class="table-responsive">
              <table class="table table-hover display" id="songTable">
                <thead>
                  <tr>
                    <th class="text-center all">Plays</th>
                    <th class="all">Song</th>
                    <th class="min-tablet-l">Category</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="slots" class="tab-pane fade">
            <div class="table-responsive">
              <table class="table table-hover display" id="slotTable">
                <thead>
                  <tr>
                    <th class="text-nowrap all text-start">Event</th>
                    <th class="text-wrap all text-start">Location</th>
                    <th class="text-nowrap all text-start showopener">Show Opener</th>
                    <th class="text-nowrap all text-start set1closer">Set 1 Closer</th>
                    <th class="text-nowrap all text-start set2opener">Set 2 Opener</th>
                    <th class="text-nowrap all text-start mainsetcloser">Main Set Closer</th>
                    <th class="text-nowrap all text-start encoreopener">Encore Opener</th>
                    <th class="text-nowrap all text-start showcloser">Show Closer</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      layout = getDatatableLayout({columns: [2,3,4,5,6,7], category: true});
      dtCategorySelect({layout: layout, column_idx: 7, values: [{'label': 'Public', 'value': 'true'}, {'label': 'Private', 'value': 'false'}]});

      new DataTable('#eventTable', {
        layout: layout,
        serverSide: true,
        autoWidth: false,
        processing: true,
        scrollY: '60vh',
        ajax: {
          'url': '/api/v1/events/?tour={{ tour.id }}&format=datatables&keep=id,early_late,public',
        },
        columnDefs: [
          { targets: [1], orderable: false, className: 'text-center text-xs', width: '1rem', searchable: false},
          { targets: [0], className: 'text-nowrap'},
          { targets: [-1], visible: false },
        ],
        columns: event_table_columns,
      });

      new DataTable('#slotTable', {
        layout: getDatatableLayout({category: false}),
        serverSide: true,
        processing: true,
        autoWidth: false,
        scrollY: '60vh',
        scrollX: true,
        fixedColumns: {
            start: 2
        },
        ajax: {
          'url': '/api/v1/setlist_entries/?tour={{ tour.id }}&format=datatables',
        },
        columns: setlist_slots
      });

      new DataTable('#legTable', {
        layout: getDatatableLayout({category: false}),
        serverSide: true,
        processing: true,
        autoWidth: false,
        scrollY: '60vh',
        ajax: {
          'url': '/api/v1/tour_legs/?tour={{ tour.id }}&format=datatables&keep=id,early_late,public',
        },
        columnDefs: [
          { targets: [1,2], className: 'text-center text-xs', width: '1rem'},
          { targets: '_all', className: 'text-nowrap text-xs' },
        ],
        columns: [
          {'data': 'name', 'name': 'name', 'width': '12rem'},
          {'data': 'num_shows', 'name': 'num_shows', 'width': '1rem'},
          {'data': 'num_songs', 'name': 'num_songs', 'width': '1rem'},
          {
            'data': 'first.date',
            'name': 'first__id, first__early_late',
            'width': '6rem',
            'render': function (data, type, row, meta) {
                if (type === 'display') {
                  return '<a href="/events/' + row.id + '">'+ data.display +'</a>';
                }
            },
          },
          {
            'data': 'last.date',
            'name': 'last__id, last__early_late',
            'width': '6rem',
            'render': function (data, type, row, meta) {
                if (type === 'display') {
                  return '<a href="/events/' + row.id + '">'+ data.display +'</a>';
                }
            },          
          },
          {'data': 'note', 'name': 'note'},
        ]
      });

      new DataTable('#songTable', {
        layout: getDatatableLayout({category: false}),
        serverSide: true,
        processing: true,
        scrollY: '60vh',
        ajax: {
          'url': '/api/v1/setlists/?tour={{ tour.id }}&format=datatables&keep=songid',
        },
        columnDefs: [
          { targets: [0], className: 'text-center text-xs', width: '1rem'},
          { targets: '_all', className: 'text-nowrap text-xs' },
        ],
        columns: song_table_columns,
      });
      
    });

  </script>
{% endblock content %}
