{% extends "databruce/base.html" %}
{% block title %}
  Tour Legs &gt; {{ info.name }}
{% endblock title %}
{% block content %}
  <div class="col-12 col-xxl-8 mx-auto">
    <div class="text-2xl mb-2">{{ info.name }}</div>
    <div class="text-xl">
      <div class="fw-semibold">Tour:</div>
      <div>
        <a href="{% url "tour_details" id=info.tour.id %}">{{ info.tour }}</a>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-header">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link active"
                    id="pills-events-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#events"
                    type="button"
                    role="tab"
                    aria-controls="pills-home"
                    aria-selected="true">Events</button>
          </li>
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link"
                    id="pills-songs-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#songs"
                    type="button"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false">Songs</button>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div id="events" class="tab-pane fade show active">
            {% comment %} {% include "databruce/partials/event_table.html" with events=events %} {% endcomment %}
            <div class="table-responsive">
              <table class="table table-hover display" id="eventTable">
                <thead>
                  <tr class="custom">
                    <th class="all" scope="col">Date</th>
                    <th class="min-tablet-l" scope="col">Setlist</th>
                    <th class="min-tablet-l" scope="col">Band</th>
                    <th class="min-tablet-l" scope="col">Venue</th>
                    <th class="min-tablet-l" scope="col">Location</th>
                    <th class="min-tablet-l" scope="col">Tour</th>
                    <th class="min-tablet-l" scope="col">Detail</th>
                    <th class="min-tablet-l" scope="col">Public</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="songs" class="tab-pane fade">
            {% include "databruce/partials/song_position_table.html" with songs=songs %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      var layout = getDatatableLayout([2,3,4,5,6,7], true);
      dtCategorySelect(layout, 7, [{'label': 'All', 'value': '.*'}, {'label': 'Public', 'value': 'true'}, {'label': 'Private', 'value': 'false'}]);

      new DataTable('#eventTable', {
        layout: layout,
        serverSide: true,
        processing: true,
        ajax: {
          'url': '/api/v1/events/?tour_leg={{ info.id }}&format=datatables&keep=id,early_late,public',
        },
        columnDefs: [
          { targets: [1], orderable: false, className: 'text-center text-sm', width: '1rem'},
          { targets: [0], type: 'date'},
          { targets: [-1], visible: false },
        ],
        columns: [
            {
            'data': 'date',
            'name': 'id',
            'render': function (data, type, row, meta) {
                if (type === 'display') {
                  return '<a href="/events/' + row.id + '">'+ data.display +'</a>';
                }
            },
          },
          {
            'data': 'setlist',
            'name': 'setlist',
            'render': function (data, type, row, meta) {
                if (type === 'display') {
                  return row.setlist ? '<i class="bi bi-file-earmark-check d-none d-md-block" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Has Setlist"></i><div class="d-inline d-md-none">True</div>' : '<div class="d-inline d-md-none">False</div>'
                }
            },
          },
          {
            'data': 'artist.name',
            'name': 'artist__name',
            'render': function (data, type, row, meta) {
                if (type === 'display' && row.artist) {
                  return '<a href="/bands/' + row.artist.id + '">'+ row.artist.name +'</a>';
                }
            },
          },
          {
            'data': 'venue',
            'name': 'venue__name',
            'render': function (data, type, row, meta) {
                if (type === 'display' && row.artist) {
                  return '<a href="/venues/' + data.id + '">'+ data.name +'</a>';
                }
            },
          },
          {
            'data': 'venue.city',
            'name': 'venue__city__name',
            'render': function (data, type, row, meta) {
                if (type === 'display' && row.artist) {
                  return '<a href="/cities/' + data.id + '">'+ data.name +'</a>';
                }
            },
          },
          {
            'data': 'tour',
            'name': 'tour__name',
            'render': function (data, type, row, meta) {
                if (type === 'display' && row.artist) {
                  return '<a href="/tours/' + data.id + '">'+ data.name +'</a>';
                }
            },
          },
          {'data': 'title', 'name': 'title'},
          {'data': 'public', 'name': 'public'},
        ],
      });

      new DataTable('#songTable', {
        layout: getDatatableLayout(),
      });
    })
  </script>
{% endblock content %}
