{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Tour Legs &gt; {{ info.name }}
{% endblock title %}
{% block content %}
  <div class="row mb-4">
    <h4>
      <a href="{% url "tour_legs" %}">Tour Legs</a> &gt;
      <a href="{% url "tour_details" id=info.tour.id %}">{{ info.tour }}</a>
      &gt; {{ info.name }}
    </h4>
  </div>
  {% if info.note %}
    <div class="row mb-4">
      <h5>Note: {{ info.note }}</h5>
    </div>
  {% endif %}
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link active"
                      id="pills-events-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#events"
                      type="button"
                      role="tab"
                      aria-controls="pills-home"
                      aria-selected="true">Events</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link"
                      id="pills-songs-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#songs"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">Songs</button>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div id="events" class="tab-pane fade show active">
              <div class="table-responsive">
                <table class="table table-hover display" id="eventTable">
                  <thead>
                    <tr>
                      <th class="all">Date</th>
                      <th class="all">Band</th>
                      <th class="all">Venue</th>
                      <th class="all">Location</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for event in events %}
                      <tr>
                        <td class="text-nowrap">
                          <a href="{% url "event_details" id=event.id %}">{{ event }}</a>
                        </td>
                        <td class="text-nowrap">
                          <a href="{% url 'band_details' id=event.artist.id %}">{{ event.artist }}</a>
                        </td>
                        <td>
                          <a href="{% url "venue_details" id=event.venue.id %}">{{ event.venue }}</a>
                        </td>
                        <td>
                          <a href="{% url "city_details" id=event.venue.city.id %}">{{ event.venue.city }}</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div id="songs" class="tab-pane fade">
              <div class="table-responsive">
                <table class="table table-hover display" id="songTable">
                  <thead>
                    <tr>
                      <th class="text-wrap all">Song</th>
                      <th class="text-center all">Plays</th>
                      <th class="text-center all">Show Opener</th>
                      <th class="text-center all">Main Set Closer</th>
                      <th class="text-center all">Encore Opener</th>
                      <th class="text-center all">Show Closer</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for song in songs %}
                      <tr>
                        <td class="text-nowrap">
                          <a href="{% url "song_details" id=song.song_id %}">{{ song.name }}</a>
                        </td>
                        <td class="text-center">{{ song.plays }}</td>
                        <td class="text-center">{{ song.show_opener }}</td>
                        <td class="text-center">{{ song.main_set_closer }}</td>
                        <td class="text-center">{{ song.encore_opener }}</td>
                        <td class="text-center">{{ song.show_closer }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} <div class="col-12 col-md-8">
      <div class="card mb-4">
        <div class="card-header">Events</div>
        <div class="card-body px-0">
          <div class="table-responsive">
            <table class="table table-hover display" id="eventTable">
              <thead>
                <tr>
                  <th class="all">Date</th>
                  <th class="all">Band</th>
                  <th class="all">Venue</th>
                  <th class="all">Location</th>
                </tr>
              </thead>
              <tbody>
                {% for event in events %}
                  <tr>
                    <td class="text-nowrap">
                      <a href="{% url "event_details" id=event.id %}">{{ event }}</a>
                    </td>
                    <td class="text-nowrap">
                      <a href="{% url 'band_details' id=event.artist.id %}">{{ event.artist }}</a>
                    </td>
                    <td>
                      <a href="{% url "venue_details" id=event.venue.id %}">{{ event.venue }}</a>
                    </td>
                    <td>
                      <a href="{% url "city_details" id=event.venue.city.id %}">{{ event.venue.city }}</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card mb-4">
        <div class="card-header">Songs</div>
        <div class="card-body px-0">
          <div class="table-responsive">
            <table class="table table-hover display" id="songTable">
              <thead>
                <tr>
                  <th class="text-wrap">Song</th>
                  <th class="text-center">Count</th>
                </tr>
              </thead>
              <tbody>
                {% regroup songs by song as songs_list %}
                {% for song, events in songs_list %}
                  <tr>
                    <td>
                      <a href="{% url "song_details" id=song.id %}">{{ song.name }}</a>
                    </td>
                    <td class="text-center">{{ events|length }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">Venues</div>
        <div class="card-body px-0">
          <div class="table-responsive">
            <table class="table table-hover display" id="venueTable">
              <thead>
                <tr>
                  <th class="text-wrap">Name</th>
                  <th class="text-wrap">Location</th>
                  <th class="text-center" scope="col">#</th>
                </tr>
              </thead>
              <tbody>
                {% for venue in venues %}
                  <tr>
                    <td>
                      <a href="{% url "venue_details" id=venue.id %}">{{ venue.name }}</a>
                    </td>
                    <td class="text-nowrap">
                      {% if venue.city %}
                        <a href="{% url 'city_details' id=venue.city.id %}">{{ venue.city }}</a>
                      {% endif %}
                    </td>
                    <td class="text-center">{{ venue.num_events }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
  </div>
  <script>
    $(document).ready(function () {
      // custom searchBuilder columns definition
      layout.topEnd.features[1].buttons[0].config.columns = [1, 2];

      new DataTable('#eventTable', {
        layout: layout,
        order: [[0, 'asc']],
      });

      // removes searchBuilder button, not needed for this.
      layout.topEnd.features[1].buttons.pop();

      new DataTable('#songTable', {
        searching: false,
        layout: layout,
        order: [[0, 'asc']],
        pageLength: 10,
      });

      new DataTable('#venueTable', {
        searching: false,
        layout: layout,
        pageLength: 10,
        order: [[0, 'asc']],
      });
    })
  </script>
{% endblock content %}
