{% extends "databruce/narrow_layout.html" %}
{% block title %}
  Tour Legs &gt; {{ info.name }}
{% endblock title %}
{% block content %}
  <div class="col">
    <div class="text-2xl mb-2">{{ info.name }}</div>
    <div class="text-xl">
      <div class="fw-semibold">Tour:</div>
      <div>
        <a href="{% url "tour_details" id=info.tour.uuid %}">{{ info.tour }}</a>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-header">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link active"
                    id="pills-events-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#events"
                    type="button"
                    role="tab"
                    aria-controls="pills-home"
                    aria-selected="true">Events</button>
          </li>
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link"
                    id="pills-songs-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#songs"
                    type="button"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false">Songs</button>
          </li>
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link"
                    id="pills-slots-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#slots"
                    type="button"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false">Slots</button>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div id="events" class="tab-pane fade show active">
            <div class="table-responsive">
              <table class="table table-hover display" id="eventTable">
                <thead>
                  <tr class="custom">
                    <th class="all">Date</th>
                    <th class="all">Setlist</th>
                    <th class="all">Band</th>
                    <th class="all">Venue</th>
                    <th class="all">Location</th>
                    <th class="all">Tour</th>
                    <th class="all">Detail</th>
                    <th class="all">Public</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="songs" class="tab-pane fade">
            <div class="table-responsive">
              <table class="table table-hover display" id="songTable">
                <thead>
                  <tr>
                    <th class="all">Plays</th>
                    <th class="all">Song</th>
                    <th class="all">Category</th>
                    <th class="all">First</th>
                    <th class="all">Last</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="slots" class="tab-pane fade">
            <div class="table-responsive">
              <table class="table table-hover display" id="slotTable">
                <thead>
                  <tr>
                    <th class="text-nowrap all">Event</th>
                    <th class="text-nowrap all show-opener">Show Opener</th>
                    <th class="text-nowrap all set-1-closer">Set 1 Closer</th>
                    <th class="text-nowrap all set-2-opener">Set 2 Opener</th>
                    <th class="text-nowrap all main-set-closer">Main Set Closer</th>
                    <th class="text-nowrap all encore-opener">Encore Opener</th>
                    <th class="text-nowrap all show-closer">Show Closer</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      var layout = getDatatableLayout({columns: [2,3,4,5,6,7], category: true});
      dtCategorySelect({layout: layout, column_idx: 7, values: [{'label': 'Public', 'value': 'true'}, {'label': 'Private', 'value': 'false'}], label: 'Category'});

      new DataTable('#eventTable', {
        layout: layout,
        ajax: {
          'url': '/api/v1/events/?leg={{ info.id }}&format=custom',
        },
        columnDefs: event_table_defs,
        columns: event_table_columns,
      });

      new DataTable('#songTable', {
        layout: getDatatableLayout({category: false}),
        scrollY: '60vh',
        ajax: {
          'url': '/api/v1/setlist_songs/?leg={{ info.id }}&format=custom',
        },
        columns: song_table_columns,
      });

      new DataTable('#slotTable', {
        layout: getDatatableLayout({category: false}),
        fixedColumns: {
            start: 2
        },
        ajax: {
          'url': '/api/v1/setlist_entries/?leg={{ info.id }}&format=custom',
        },
        columns: setlist_slots,
        initComplete: function () {
          console.log(this.api())
          this.api().columns().every(function () {
            var columnData = this.data().join(''); // Combine all cell data into one string

            // Check if the combined string is empty
            if (columnData.length === 0) {
              // If empty, hide the column
              this.visible(false);
            }
          });
        }
      });
    })
  </script>
{% endblock content %}
