{% extends "databruce/category.html" %}
{% block title %}
  Tour Legs
{% endblock title %}
{% block info_row %}
  <h4>Tour Legs</h4>
{% endblock info_row %}
{% block table_id %}
  tourLegTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="header">
      <th class="all" scope="col">Name</th>
      <th class="all" scope="col">Tour</th>
      <th class="min-tablet-l" scope="col">First</th>
      <th class="min-tablet-l" scope="col">Last</th>
      <th scope="col" class="text-center all">Shows</th>
      <th scope="col" class="text-center all">Songs</th>
      <th scope="col" class="min-tablet-l">Note</th>
    </tr>
  </thead>
  <tbody>
    {% for leg in legs %}
      <tr>
        <td>
          <a href="{% url "leg_details" id=leg.id %}">{{ leg.name }}</a>
        </td>
        <td>
          <a href="{% url "tour_details" id=leg.tour.id %}">{{ leg.tour.name }}</a>
        </td>
        <td {% with first=leg.first %}
            data-sort="{{ first.id|slice:"0:4" }}-{{ first.id|slice:"4:6" }}-{{ first.id|slice:"6:8" }}"
            data-filter="{{ first.id|slice:"0:4" }}-{{ first.id|slice:"4:6" }}-{{ first.id|slice:"6:8" }}"
            {% endwith %}>
          <a href="{% url "event_details" id=leg.first.id %}">{{ leg.first }}</a>
        </td>
        <td {% with last=leg.last %}
            data-sort="{{ last.id|slice:"0:4" }}-{{ last.id|slice:"4:6" }}-{{ last.id|slice:"6:8" }}"
            data-filter="{{ last.id|slice:"0:4" }}-{{ last.id|slice:"4:6" }}-{{ last.id|slice:"6:8" }}"
            {% endwith %}>
          <a href="{% url "event_details" id=leg.last.id %}">{{ leg.last }}</a>
        </td>
        <td class="text-center">{{ leg.num_shows }}</td>
        <td class="text-center">{{ leg.num_songs }}</td>
        <td>{{ leg.note|default_if_none:"" }}</td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock table %}
{% block scripts %}
  <script>
  // searchBuilder custom columns
  layout.topEnd.features[1].buttons[0].config.columns = [1, 2, 3, 4, 5, 6]

  $(document).ready(function () {
    new DataTable('#tourLegTable', {
      layout: layout,
      order: [[3, 'desc']],
      columnDefs: [{ type: 'date', targets: [2, 3] }]
    });
  });
  </script>
{% endblock scripts %}
