{% extends "databruce/category.html" %}
{% block title %}
  Tour Legs
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Tour Legs</div>
{% endblock info_row %}
{% block table_id %}
  tourLegTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="header">
      <th class="all">Name</th>
      <th class="all">Tour</th>
      <th class="all">First</th>
      <th class="all">Last</th>
      <th class="all">Shows</th>
      <th class="all">Songs</th>
      <th class="all">Note</th>
    </tr>
  </thead>
{% endblock table %}
{% block scripts %}
  <script>
  $(document).ready(function () {
    new DataTable('#tourLegTable', {
      layout: getDatatableLayout({columns: [1, 2, 3, 4, 5, 6], category: false}),
      scrollY: '60vh',
      ajax: {
        'url': '/api/v1/tour_legs/?format=custom',
      },
      columnDefs: [
        { targets: [0,1], width: '12rem' },
        { targets: [2, 3], width: '10rem' },
        { targets: [4, 5], width: '1rem', className: 'text-center' },
        { targets: [-1], width: '12rem' },
      ],
      columns: [
        {
          'data': 'name',
          'name': 'name',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              return `<a href="/tours/legs/${row.uuid}">${data}</a>`;
            }
          },
        },
        {
          'data': 'tour',
          'name': 'tour__name',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              return '<a href="/tours/' + data.id + '">'+ data.name +'</a>';
            }
          },
        },
        {
          'data': 'first_event',
          'name': 'first_event__event_id, first_event__early_late',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              return `<a href="/events/${data.event_id}">${data.date.display_day}</a>`;
            }
          },
        },
        {
          'data': 'last_event',
          'name': 'last_event__event_id, last_event__early_late',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              return `<a href="/events/${data.event_id}">${data.date.display_day}</a>`;
            }
          },
        },
        {'data': 'num_shows', 'name': 'num_shows'},
        {'data': 'num_songs', 'name': 'num_songs'},
        {'data': 'note', 'name': 'note'},
      ]
    });
  });
  </script>
{% endblock scripts %}
