{% extends "databruce/category.html" %}
{% block title %}
  Tours
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Tours</div>
{% endblock info_row %}
{% block table_id %}
  tourTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="header">
      <th class="all" scope="col">Name</th>
      <th class="all" scope="col">Band</th>
      <th class="min-tablet" scope="col">First</th>
      <th class="min-tablet" scope="col">Last</th>
      <th scope="col" class="text-center all">Shows</th>
      <th scope="col" class="text-center min-tablet">Songs</th>
      <th scope="col" class="text-center min-tablet">Legs</th>
    </tr>
  </thead>
  {% comment %} <tbody>
    {% for tour in tours %}
      <tr>
        <td class="nowrap">
          <a href="{% url "tour_details" id=tour.id %}">{{ tour.name }}</a>
        </td>
        <td class="nowrap">
          <a href="{% url "band_details" id=tour.band.id %}">{{ tour.band.name }}</a>
        </td>
        <td data-sort="{{ tour.first.get_date }}" data-filter="{{ tour.first.get_date }}">
          <a href="{% url "event_details" id=tour.first.id %}">{{ tour.first.get_date }}</a>
        </td>
        <td data-sort="{{ tour.last.get_date }}" data-filter="{{ tour.last.get_date }}">
          <a href="{% url "event_details" id=tour.last.id %}">{{ tour.last.get_date }}</a>
        </td>
        <td class="text-center">{{ tour.num_shows }}</td>
        <td class="text-center">{{ tour.num_songs }}</td>
        <td class="text-center">{{ tour.num_legs }}</td>
      </tr>
    {% endfor %}
  </tbody> {% endcomment %}
{% endblock table %}
{% block scripts %}
  <script>
  $(document).ready(function () {
    new DataTable('#tourTable', {
      layout: getDatatableLayout([1, 2, 3, 4, 5, 6]),
      serverSide: true,
      processing: true,
      ajax: {
        'url': '/api/v1/tours/?format=datatables&keep=id',
      },
      columnDefs: [
        { "defaultContent": "", "type": 'text', "targets": '_all' },
        { targets: [4, 5, 6], width: '6rem', className: 'dt-center' },
        { targets: [2, 3], width: '8rem', className: 'dt-left' },
        { targets: [1], width: '12rem', className: 'dt-left' },
      ],
      columns: [
        {
          'data': 'name',
          'name': 'name',
          'render': function (data, type, row, meta) {
            if (type === 'display') {
              return '<a href="/tours/' + row.id + '">'+ row.name +'</a>';
            } else if (type == 'filter') {
              return 'name';
            };
          },
        },
        { 
          'data': 'band',
          'name': 'band__name',
          'render': function (data, type, row, meta) {
            if (type === 'display') {
              return '<a href="/bands/' + data.id + '">'+ data.name +'</a>';
            } else if (type == 'filter') {
              return 'band__name';
            };
          },
        },
        { 
          'data': 'first.date',
          'name': 'first__id',
          'render': function (data, type, row, meta) {
            if (type === 'display') {
              return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
            }
          },          
        },
        { 
          'data': 'last.date',
          'name': 'last__id',
          'render': function (data, type, row, meta) {
            if (type === 'display') {
              return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
            }
          },          
        },
        { 'data': 'num_shows', 'name': 'num_shows' },
        { 'data': 'num_songs', 'name': 'num_songs' },
        { 'data': 'num_legs', 'name': 'num_legs' },
      ]
    });
  });
  </script>
{% endblock scripts %}
