{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Tours
{% endblock title %}
{% block content %}
  <h4>Tours</h4>
  <div class="table-responsive p-0">
    <table class="table table display nowrap" id="tourTable">
      <thead>
        <tr class="header">
          <th class="all" scope="col">Name</th>
          <th class="all" scope="col">Act</th>
          <th class="all" scope="col">First</th>
          <th class="all" scope="col">Last</th>
          <th class="all" scope="col">Shows</th>
          <th class="all" scope="col">Songs</th>
          <th class="all" scope="col">Legs</th>
        </tr>
      </thead>
      <tbody>
        {% for tour in tours %}
          <tr>
            <td>
              <a href="{% url "databruce:tour_details" id=tour.id %}">{{ tour.name }}</a>
            </td>
            <td>
              <a href="{% url "databruce:band_details" id=tour.band.id %}">{{ tour.band.name }}</a>
            </td>
            <td>
              <a href="{% url 'databruce:event_details' event=tour.first.id %}">{{ tour.first.event_date|get_date:tour.first.id }} {{ tour.first.early_late|default_if_none:"" }}</a>
            </td>
            <td>
              <a href="{% url 'databruce:event_details' event=tour.last.id %}">{{ tour.last.event_date|get_date:tour.last.id }} {{ tour.last.early_late|default_if_none:"" }}</a>
            </td>
            <td>{{ tour.num_shows }}</td>
            <td>{{ tour.num_songs }}</td>
            <td>{{ tour.num_legs }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% load static %}
  <script src="{% static 'databruce/js/datatables.js' %}"></script>
  <script>
    // searchBuilder custom columns
    layout.topEnd.features[1].buttons[1].config.columns = [1, 4, 5, 6]

    $(document).ready(function () {
      $('#tourTable').dataTable({
        layout: layout,
        columnDefs: [
          { width: '300px', targets: 0 },
          { width: '175px', targets: [2, 3] },
        ]
      });
    });
  </script>
{% endblock content %}
