{% extends "databruce/category.html" %}
{% block title %}
  Tours
{% endblock title %}
{% block info_row %}
  <h4>Tours</h4>
{% endblock info_row %}
{% block table_id %}
  tourTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="header">
      <th class="all" scope="col">Name</th>
      <th class="min-tablet" scope="col">First</th>
      <th class="min-tablet" scope="col">Last</th>
      <th scope="col" class="text-center all">Shows</th>
      <th scope="col" class="text-center min-tablet">Songs</th>
      <th scope="col" class="text-center min-tablet">Legs</th>
      <th scope="col" class="text-center min-tablet">Band</th>
    </tr>
  </thead>
  <tbody>
    {% for tour in tours %}
      <tr>
        <td class="wrap">
          <a href="{% url "databruce:tour_details" id=tour.id %}">{{ tour.name }}</a>
        </td>
        <td>
          <a href="{% url "databruce:event_details" id=tour.first.id %}">{{ tour.first }}</a>
        </td>
        <td>
          <a href="{% url "databruce:event_details" id=tour.last.id %}">{{ tour.last }}</a>
        </td>
        <td class="text-center">{{ tour.num_shows }}</td>
        <td class="text-center">{{ tour.num_songs }}</td>
        <td class="text-center">{{ tour.num_legs }}</td>
        <td class="text-center">{{ tour.band.name }}</td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock table %}
{% block scripts %}
  <script>
  // searchBuilder custom columns
  layout.topEnd.features[1].buttons[0].config.columns = [1, 2, 3, 4, 5, 6]

  $(document).ready(function () {
    new DataTable('#tourTable', {
      layout: layout,
      order: [[2, 'desc']],
      columnDefs: [
        {
          target: -1,
          visible: false
        }
      ],
    });
  });
  </script>
{% endblock scripts %}
