{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  {{ tour.tour_name }}
{% endblock title %}
{% block content %}
  <h4>
    Databruce &gt; <a href="{% url 'databruce:tours' %}">Tours</a> &gt; {{ tour.name }}
  </h4>
  <hr />
  <div class="song-info mb-4">
    <div class="row">
      <div class="col-auto pe-0">
        <b>Shows:</b>
      </div>
      <div class="col">{{ events|length }}</div>
    </div>
    <div class="row">
      <div class="col-auto pe-0">
        <b>Songs:</b>
      </div>
      <div class="col">{{ song_count|length }}</div>
    </div>
    <div class="row">
      <div class="col-auto pe-0">
        <b>Tour Legs:</b>
      </div>
      <div class="col">{{ tour_legs|length }}</div>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#shows" class="nav-link active" data-bs-toggle="tab">Shows</a>
    </li>
    <li class="nav-item">
      <a href="#songs" class="nav-link" data-bs-toggle="tab">Songs</a>
    </li>
    {% if tour_legs|length > 0 %}
      <li class="nav-item">
        <a href="#legs" class="nav-link" data-bs-toggle="tab">Tour Legs</a>
      </li>
    {% endif %}
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="shows">
      <div class="table-responsive p-0">
        <table class="table table display nowrap" id="eventsTable">
          <thead>
            <tr class="custom">
              <th>Date</th>
              <th>Band</th>
              <th>Venue</th>
              <th>Location</th>
              <th>Detail</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
              <tr>
                <td>
                  <a href="{% url 'databruce:event_details' event=event.id %}">{{ event.event_date|get_date:event.id }} {{ event.early_late|default_if_none:'' }}</a>
                </td>
                <td>
                  <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
                </td>
                <td>
                  <a href="{% url 'databruce:venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
                </td>
                <td>
                  {% if event.venue.id != 1964 %}
                    <a href="{% url 'databruce:city_details' id=event.venue.city.id %}">
                      {{ event.venue.city.name }},
                      {% if event.venue.state %}
                        {{ event.venue.state.state_abbrev }}
                      {% else %}
                        {{ event.venue.country.name }}
                      {% endif %}
                    </a>
                  {% endif %}
                </td>
                <td>{{ event.event_title|default_if_none:'' }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="songs">
      <div class="table-responsive p-0">
        <table class="table table display nowrap" id="tourSongs">
          <thead>
            <tr>
              <th scope="col">Song</th>
              <th scope="col">Times Played</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
            </tr>
          </thead>
          <tbody>
            {% regroup songs by song as songs_list %}
            {% for song, events in songs_list %}
              <tr>
                <td>
                  <a href="{% url "databruce:song_details" id=song.id %}">{{ song.song_name }}</a>
                </td>
                <td>{{ events|length }}</td>
                {% with events|first as first_object %}
                  <td>
                    <a href="{% url "databruce:event_details" event=first_object.event.id %}">{{ first_object.event.event_date|date:'Y-m-d [D]' }}</a>
                  </td>
                {% endwith %}
                {% with events|last as last_object %}
                  <td>
                    <a href="{% url "databruce:event_details" event=last_object.event.id %}">{{ last_object.event.event_date|date:'Y-m-d [D]' }}</a>
                  </td>
                {% endwith %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="legs">
      <div class="table-responsive p-0">
        <table class="table table display nowrap" id="tourLegs">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Num Shows</th>
              <th scope="col">Note</th>
            </tr>
          </thead>
          <tbody>
            {% for leg in tour_legs %}
              <tr>
                <td>{{ leg.name }}</td>
                <td>
                  <a href="{% url "databruce:event_details" event=leg.first.id %}">{{ leg.first.event_date|date:'Y-m-d [D]' }}</a>
                </td>
                <td>
                  <a href="{% url "databruce:event_details" event=leg.last.id %}">{{ leg.last.event_date|date:'Y-m-d [D]' }}</a>
                </td>
                <td>{{ leg.num_shows }}</td>
                <td>{{ leg.note|default_if_none:"" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% load static %}
  <script src="{% static 'databruce/js/datatables.js' %}"></script>
  <script src="{% static 'databruce/js/searchBuilder.js' %}"></script>
  <script>
    layout.topEnd.features[1].buttons[1].config.columns = [1, 2, 3, 4];

    $(document).ready(function () {
      $('#eventsTable').dataTable({
        layout: layout,
      });

      // removes searchBuilder button, not needed for this.
      layout.topEnd.features[1].buttons.pop();

      $('#tourSongs').dataTable({
        layout: layout,
      });

      $('#tourLegs').dataTable({
        layout: layout,
      });
    });

  </script>
  <script src="{% static 'databruce/js/dt_tab_reload.js' %}"></script>
{% endblock content %}
