{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Tours &gt; {{ tour.name }}
{% endblock title %}
{% block content %}
  <div class="row mb-4">
    <h4>
      <a href="{% url 'databruce:tours' %}">Tours</a> &gt; {{ tour.name }}
    </h4>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4>Events</h4>
          <div class="table-responsive p-0">
            <table class="table table display nowrap" id="eventsTable">
              <thead>
                <tr class="custom">
                  <th>Date</th>
                  <th>Band</th>
                  <th>Venue</th>
                  <th>Location</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody>
                {% for event in events %}
                  <tr>
                    <td>
                      <a href="{% url 'databruce:event_details' event=event.id %}">{{ event }}</a>
                    </td>
                    <td>
                      <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
                    </td>
                    <td>
                      <a href="{% url 'databruce:venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
                    </td>
                    <td>
                      {% if event.venue.id != 1964 %}
                        <a href="{% url 'databruce:city_details' id=event.venue.city.id %}">
                          {{ event.venue.city.name }},
                          {% if event.venue.state %}
                            {{ event.venue.state.state_abbrev }}
                          {% else %}
                            {{ event.venue.country.name }}
                          {% endif %}
                        </a>
                      {% endif %}
                    </td>
                    <td>{{ event.event_title|default_if_none:'' }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <h4>Tour Legs</h4>
          <div class="table-responsive p-0">
            <table class="table table display nowrap" id="tourLegs">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Shows</th>
                </tr>
              </thead>
              <tbody>
                {% for leg in tour_legs %}
                  <tr>
                    <td>{{ leg.name }}</td>
                    <td>{{ leg.num_shows }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <h4>Songs</h4>
          <div class="table-responsive p-0">
            <table class="table table display nowrap" id="tourSongs">
              <thead>
                <tr>
                  <th scope="col">Song</th>
                  <th scope="col">Plays</th>
                </tr>
              </thead>
              <tbody>
                {% regroup songs by song as songs_list %}
                {% for song, events in songs_list %}
                  <tr>
                    <td>
                      <a href="{% url "databruce:song_details" id=song.id %}">{{ song.name }}</a>
                    </td>
                    <td>{{ events|length }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    layout.topEnd.features[1].buttons[0].config.columns = [1, 2, 3, 4];

    $(document).ready(function () {
      $('#eventsTable').dataTable({
        layout: layout,

      });

      // removes searchBuilder button, not needed for this.
      layout.topEnd.features[1].buttons.pop();
      
      $('#tourSongs').dataTable({
        layout: layout,
        searching: false,
      });

      $('#tourLegs').dataTable({
        layout: layout,
        paging: false,
        info: false,
        searching: false,
      });
    });

  </script>
{% endblock content %}
