{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  About
{% endblock title %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="row mb-2">
        <h4>
          <a class="sky-500" href="{% url 'index' %}">Databruce</a> &gt; About
        </h4>
      </div>
      <div class="row mb-3">
        <p>Welcome to Databruce, a new Bruce Springsteen database.</p>
        <p>I had an about written but wasn't happy with it, so I'm rewriting it.</p>
      </div>
    </div>
  </div>
{% endblock content %}
