{% extends "databruce/base.html" %}
{% block title %}
  About
{% endblock title %}
{% block content %}
  <div class="col-lg-6 mx-auto" id="about">
    <div class="text-lg mb-2">
      <a href="{% url 'index' %}">Databruce</a> &gt; About
    </div>
    <div class="text-xl">Welcome to Databruce, a new Bruce Springsteen database.</div>
    <hr>
    <div class="text-sm">
      <div class="text-lg fw-semibold">What is Databruce?</div>
      <p>
        Databruce is a database site that tracks stats about Bruce Springsteen's live performing history. It was created by and is maintained by lilbud.
      </p>
    </div>
    <div class="text-sm">
      <div class="text-lg fw-semibold">A Brief History</div>
      <p>
        Development on Databruce first started in August 2024, and a semi-public beta test started in June 2025. While the "public" launch was planned for the summer, it took a bit longer until I felt that the site was almost "just exactly perfect" and "ready for primetime" so to speak. The "public" launch eventually happened in October 2025.
      </p>
    </div>
    <div class="text-sm">
      <div class="text-lg fw-semibold">Why Create It?</div>
      <p>
        Databruce was created for a number of reasons, chief among them being that I could create something that would fill a niche that none of the current Bruce sites did. I was inspired by the efforts of other communities like Jerrybase, ElGoose, Dripfield.pro, etc.
      </p>
      <p>
        What I liked about those sites was the layout/design, how well they presented their data, and the features that each provided. Jerrybase and their advanced event search was a big influence, as it's a very useful feature that I'm not aware of many other sites having. The only Bruce-related site with a similar feature is KillingFloor, which hasn't been updated since January 2019.
      </p>
    </div>
    <div class="text-sm">
      <div class="text-lg fw-semibold">What Sets It Apart?</div>
      <p>
        Databruce was created to be a more "modern" Bruce database site in terms of design as well as features, which is what I think sets it apart. I took bits and pieces from other sites that I liked, and used them to create something new. Something that would, like I said earlier, fill a niche that none of the current Bruce sites did.
      </p>
      <p>
        I also wanted to create a site that was closer to an actual database. One that allowed users to interact with and search/filter the data without requiring them to know SQL, and one that allowed for more than simply "viewing" the data like Brucebase.
      </p>
    </div>
    <hr>
    <div class="text-sm">
      <div class="text-lg fw-semibold">Features</div>
      <p>This section will briefly cover some of Databruce's features. Not comprehensive, but an overview of sorts.</p>
      <div class="text-base fw-semibold text-primary-500">Layout/Design</div>
      <p>
        The sites I used as inspiration are well designed and present their data in a way that is easy to understand, and I tried to do the same with Databruce.
      </p>
      <div class="text-base fw-semibold text-primary-500">Searching/Filtering</div>
      <p>
        The data on most pages are presented in Datatables and can be searched/filtered in any number of ways. Either basic search, or more "advanced" queries thanks to the Searchbuilder.
      </p>
      <div class="text-base fw-semibold text-primary-500">Advanced Event Search</div>
      <p>
        Search for events by many combinations of possible parameters.
        <ul>
          <li>Date Range: Find events between two given dates, either specific days or just months.</li>
          <li>Month/Day: Events on any given day in Bruce's performing history. Or even events on certain days of the week.</li>
          <li>Location: Events by venue/city/state/country.</li>
          <li>Band/Musicians: Find events where a specific musician/band appeared on stage with Bruce.</li>
        </ul>
      </p>
      <p>
        Additionally, there is also a setlist search. Which is a feature I am very proud of and also one that caused a great number of headaches. This can be used to find events based on specific songs being played, or even specific sequences of songs. Which when combined with the event search above makes it a very useful and powerful tool.
      </p>
      <p>
        Given the complexity of the search feature, and the seemingly limitless possibilities for possible queries, this is always going to be a work in progress.
      </p>
      <div class="text-base fw-semibold text-primary-500">User Accounts</div>
      <p>
        Users can create accounts on the site, and add shows to their profiles. Furthermore, stats can be viewed on the songs you've seen (or not seen, sorry in advance to the Europeans who've never gotten Rosalita live).
      </p>
    </div>
    <hr>
    <div class="text-sm">
      <div class="text-base fw-semibold">Credits/Closing</div>
      <p>
        Before this page gets too long (and believe me it *was*), I'd like to close out with some thanks and credits. Both to sites I drew inspiration from, as well as those which acted as data sources.
      </p>
      <p>
        First and foremost, Brucebase. This site was largely built upon their data and information, which they've tirelessly gathered over the past few <i>decades</i>. They are an invaluable resource, and if I've said it once I'll say it a thousand times that if it wasn't for Brucebase, there would be no Databruce.
      </p>
      <p>
        SpringsteenLyrics. This site provided most of the information on the many bootleg recordings that are out there. While I pulled data from here, it was pretty heavily modified/corrected, using my collection and other sources to fill in gaps and add additional info.
      </p>
      <p>
        Jerrybase: the use of Datatables, and the advanced search which I referenced quite heavily while developing my own. I used theirs as a basis to figure out how it should all work (in theory, anyway). The setlist search rows and some of the code behind them was taken from there with credit.
      </p>
      <p>
        ElGoose/Dripfield.pro/Speedrun.com: The sites were the primary influence on the design of many pages. The latter two more heavily, as I really liked their card based/table layout and made use of that for the event pages.
      </p>
      <p>
        Lastly, I want to thank the members of the r/brucespringsteen Discord server for being my unwilling <s>Guinea Pigs</s> beta testers. Databruce is the first time I've done anything like this, let alone something both public and on this sort of scale. Their help in testing and providing feedback was crucial to this site in it's current state. They were also instrumental in the development of Brucebot, which indirectly led to Databruce in many ways.
      </p>
      <p>
        This site is always going to be a work in progress. Questions/Comments/Suggestions? I can usually be found on Discord (.lilbud), or you can reach out via the contact form <a class="text-primary-500" href="{% url "contact" %}">here</a>. I'll do my best to respond quickly.
      </p>
    </div>
  </div>
{% endblock content %}
