<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    {% load i18n %}
    {% load static %}
    {% load compress %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A Springsteen Setlist Database">
    <meta name="keywords" content="Databruce, Setlists, Springsteen">
    <meta property="og:image" content="{% static "databruce/img/ogimg.jpg" %}">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Blue rectangle that reads Databruce" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title"
          content="{% blocktranslate %}{{ title|default_if_none:"Databruce" }}{% endblocktranslate %}">
    <meta property="og:site_name" content="Databruce">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:description"
          content="{{ description|safe|default_if_none:"A Springsteen Setlist Database" }}">
    <link rel="icon"
          type="image/png"
          href="{% static "databruce/img/favicon-96x96.png" %}"
          sizes="96x96" />
    <link rel="icon"
          type="image/svg+xml"
          href="{% static "databruce/img/favicon.svg" %}" />
    <link rel="shortcut icon" href="{% static "databruce/img/favicon.ico" %}" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static "databruce/img/apple-touch-icon.png" %}" />
    <link rel="manifest" href="{% static "databruce/img/site.webmanifest" %}" />
    <title>
      {% block title %}
      {% endblock title %}
      - Databruce
    </title>
    <!--JQuery-->
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--Datatables-->
    <link href="https://cdn.datatables.net/v/bs5/moment-2.29.4/dt-2.3.2/b-3.2.4/b-colvis-3.2.4/b-print-3.2.4/date-1.5.6/fh-4.0.3/r-3.0.5/sb-1.8.3/datatables.min.css"
          rel="stylesheet"
          integrity="sha384-khFfoVd1VSTbI+lWZLrbYV++SlJFZhMgu8UyU13OR6ySopgZpsrD0dmjJPsyosnj"
          crossorigin="anonymous">
    <script src="https://cdn.datatables.net/v/bs5/moment-2.29.4/dt-2.3.2/b-3.2.4/b-colvis-3.2.4/b-print-3.2.4/date-1.5.6/fh-4.0.3/r-3.0.5/sb-1.8.3/datatables.min.js"
            integrity="sha384-71w2wNUgjIC+UFnNPi1oQJUk8wx9zGZ9dQ3Y6iBD6p8DkQGxcUjM0gZfL8XJrRWr"
            crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet">
    <!--Static-->
    {% compress css %}
      <link rel="stylesheet" href="{% static 'databruce/css/colors.css' %}" />
      <link rel="stylesheet" href="{% static 'databruce/css/preflight.css' %}" />
      <link rel="stylesheet" href="{% static 'databruce/css/select2.css' %}" />
      <link rel="stylesheet" href="{% static 'databruce/css/datatables.css' %}" />
      <link rel="stylesheet" href="{% static 'databruce/css/style.css' %}" />
    {% endcompress %}
    <!-- Other -->
    {% compress js %}
      <script src="{% static 'databruce/js/datatables.js' %}"></script>
      <script src="{% static 'databruce/js/category_select.js' %}"></script>
      <script src="{% static 'databruce/js/theme-toggler.js' %}"></script>
    {% endcompress %}
    {% block extrastyle %}
    {% endblock extrastyle %}
    {% block extrajs %}
    {% endblock extrajs %}
  </head>
  <body>
    <nav class="navbar navbar-expand-xl p-0 sticky-top border-bottom">
      <div class="container-fluid p-2 bd-gutter flex-wrap flex-xl-nowrap">
        <a class="p-0 mx-0 mx-lg-3 d-none d-xl-block" href="{% url 'index' %}">
          <img height="18px"
               class="my-auto"
               width="auto"
               id="logo"
               src="{% static 'databruce/img/logo.svg' %}"
               alt="">
        </a>
        <button class="btn btn-sm d-xl-none d-block dropdown-toggle me-auto py-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <i class="bi bi-list text-xl fw-semibold"></i>
        </button>
        <a class="d-block d-xl-none" href="{% url 'index' %}">
          <img height="18px"
               class="my-auto"
               width="auto"
               id="logo"
               src="{% static 'databruce/img/logo.svg' %}"
               alt="">
        </a>
        {% if user.is_authenticated %}
          <button class="btn btn-sm dropdown-toggle ms-auto d-block d-xl-none mb-0"
                  role="button"
                  data-bs-toggle="dropdown">Profile</button>
          <ul class="dropdown-menu dropdown-menu-end" id="profile">
            <li>
              <div class="text-sm px-4 py-1">
                Hello {{ user }}
                {% if user.is_superuser %}
                  (Admin)
                {% else %}
                  (User)
                {% endif %}
              </div>
            </li>
            <li>
              <a class="dropdown-item"
                 href="{% url "profile" username=user.username %}">View Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'users' %}">View Users</a>
            </li>
            {% if user.is_superuser %}
              <li>
                <a class="dropdown-item" href="{% url "admin:index" %}">Admin Portal</a>
              </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="{% url "settings" %}">Settings</a>
            </li>
            <li>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="dropdown-item" role="button" type="submit" id="button-addon2">Logout</button>
              </form>
            </li>
          </ul>
        {% else %}
          <li class="nav-item mx-lg-3 ms-auto d-inline d-xl-none mb-0">
            <button class="btn btn-sm btn-link"
                    role="button"
                    href="{% url 'login' %}?next={{ request.path }}">Login</button>
          </li>
        {% endif %}
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto my-3 my-xl-0 d-flex flex-wrap row-gap-1 column-gap-1">
            <li class="nav-item dropdown my-auto">
              <button class="btn btn-sm dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Events</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'events' %}">Events By Year</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'runs' %}">Events By Run</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown my-auto">
              <button class="btn btn-sm dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Tours</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'tours' %}">Tours</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'tour_legs' %}">Tour Legs</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown my-auto">
              <button class="btn btn-sm dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Songs</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'songs' %}">Songs</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'song_lyrics' %}">Lyrics</a>
                </li>
              </ul>
            </li>
            <li class="nav-item my-auto">
              <a class="btn btn-sm btn-link"
                 role="button"
                 type="button"
                 href="{% url 'venues' %}">Venues</a>
            </li>
            {% comment %} <li class="nav-item dropdown">
              <button class="btn btn-sm dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Locations</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'venues' %}">Venues</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'cities' %}">Cities</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'states' %}">States</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'countries' %}">Countries</a>
                </li>
              </ul>
            </li> {% endcomment %}
            <li class="nav-item dropdown my-auto">
              <button class="btn btn-sm dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Relations and Bands</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'relations' %}">Relations</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'bands' %}">Bands</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown my-auto">
              <button class="btn btn-sm dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Releases</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'releases' %}">Official Releases</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'nugs' %}">Nugs Releases</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'bootlegs' %}">Bootlegs</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown my-auto">
              <button class="btn btn-sm dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Search</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'adv_search' %}">Advanced Search</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'note_search' %}">Setlist Note Search</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown my-auto">
              <button class="btn btn-sm dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">More</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'about' %}">About Site</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'links' %}">Links</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'updates' %}">Updates</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'roadmap' %}">Roadmap</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url "contact" %}">Contact Us</a>
                </li>
              </ul>
            </li>
          </ul>
          <hr class="d-xl-none">
          <ul class="navbar-nav ms-auto align-middle">
            <form role="search"
                  method="get"
                  action="{% url 'search' %}"
                  class="d-flex my-xl-auto">
              {{ searchForm.date }}
              <button type="submit" class="btn btn-sm btn-success d-xl-none ms-1">Search</button>
            </form>
            <hr class="d-xl-none">
            {% if user.is_authenticated %}
              <li class="nav-item mx-xl-2 d-none d-xl-inline my-xl-auto dropdown">
                <button class="btn btn-sm dropdown-toggle"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">Profile</button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <div class="text-sm px-4 py-1">
                      Hello {{ user }}
                      {% if user.is_superuser %}
                        (Admin)
                      {% else %}
                        (User)
                      {% endif %}
                    </div>
                  </li>
                  <li>
                    <a class="dropdown-item"
                       href="{% url "profile" username=user.username %}">View Profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'users' %}">View Users</a>
                  </li>
                  {% if user.is_superuser %}
                    <li>
                      <a class="dropdown-item" href="{% url "admin:index" %}">Admin Portal</a>
                    </li>
                  {% endif %}
                  <li>
                    <a class="dropdown-item" href="{% url "settings" %}">Settings</a>
                  </li>
                  <li>
                    <form method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button class="dropdown-item" role="button" type="submit" id="button-addon2">Logout</button>
                    </form>
                  </li>
                </ul>
              </li>
            {% else %}
              <li class="nav-item mx-lg-2 ms-auto d-none d-xl-inline mb-0">
                <a class="btn btn-sm btn-link"
                   role="button"
                   type="button"
                   href="{% url 'login' %}?next={{ request.path }}">Login</a>
              </li>
            {% endif %}
            <li class="nav-item dropdown">
              <button class="btn btn-sm nav-item px-2 py-1 dropdown-toggle d-inline align-items-center"
                      id="bd-theme"
                      type="button"
                      aria-expanded="false"
                      data-bs-toggle="dropdown"
                      data-bs-display="static"
                      aria-label="Toggle theme (light)">
                <i class="bi bi-sun-fill theme-icon-active mx-2" aria-hidden="true"></i>
                <span class="d-lg-none" id="bd-theme-text">Toggle theme</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="bd-theme-text">
                <li>
                  <button type="button"
                          class="dropdown-item d-flex align-items-center active"
                          data-bs-theme-value="light"
                          aria-pressed="true">
                    <i class="bi bi-sun-fill me-2" aria-hidden="true"></i>
                    Light
                    <i class="bi bi-check2 ms-auto d-none" aria-hidden="true"></i>
                  </button>
                </li>
                <li>
                  <button type="button"
                          class="dropdown-item d-flex align-items-center"
                          data-bs-theme-value="dark"
                          aria-pressed="false">
                    <i class="bi bi-moon-stars-fill me-2" aria-hidden="true"></i>
                    Dark
                    <i class="bi bi-check2 ms-auto d-none" aria-hidden="true"></i>
                  </button>
                </li>
                <li>
                  <button type="button"
                          class="dropdown-item d-flex align-items-center"
                          data-bs-theme-value="auto"
                          aria-pressed="false">
                    <i class="bi bi-circle-half me-2" aria-hidden="true"></i>
                    Auto
                    <i class="bi bi-check2 ms-auto d-none" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="padded-body">
      <div class="container-fluid">
        <div class="col-12 my-3">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="col-12 mx-auto">
        <div class="card">
          <div class="card-body text-center">
            Copyright ©2025, Databruce.com. Song lyrics and titles are the copyright of Sony Music Entertainment/Bruce Springsteen. All other copyrights are held by their respective owners.
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        /*
        $("#eventSearch").autocomplete({
            autoFocus: true,
            source: "{% url 'events_auto' %}",
            minLength: 7,
            position: { my : "right top", at: "right bottom" },
            select: function (event, ui) {
                window.location.href = "/events/" + ui.item.id;
                console.log(ui.item);
            }
        });
        */

        // masks all date forms to fill in dashes
        $('.date-form').each(function() {
          $(this).mask('0000-00-00');
        });

        // enables tooltips, has to be run once at page load, and on table resizes
        function toolTips() {
          let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
          tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl);
          });
        };

        toolTips();

        window.onresize = function() {
          $($.fn.dataTable.tables(true)).DataTable().responsive.recalc().columns.adjust();
          toolTips();
        };


      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <script></script>
  </body>
</html>
