<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    {% load i18n static %}
    {% if not debug %}
      <script defer
              src="https://cloud.umami.is/script.js"
              data-website-id="63174c56-d806-4f1c-9a2c-372a17a4a4ee"></script>
    {% endif %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
          content="{{ description|safe|truncatechars:200|default_if_none:"A Springsteen Setlist Database" }}">
    <meta name="keywords" content="Databruce, Setlists, Springsteen">
    <meta property="og:image" content="{% static "databruce/img/ogimg.jpg" %}">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Blue rectangle that reads Databruce" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="{{ title|default_if_none:"databruce" }}">
    <meta property="og:site_name" content="Databruce">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:description"
          content="{{ description|safe|truncatechars:200|default_if_none:"A Springsteen Setlist Database" }}">
    <link rel="icon"
          type="image/png"
          href="{% static "databruce/img/favicon-96x96.png" %}"
          sizes="96x96" />
    <link rel="icon"
          type="image/svg+xml"
          href="{% static "databruce/img/favicon.svg" %}" />
    <link rel="shortcut icon" href="{% static "databruce/img/favicon.ico" %}" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static "databruce/img/apple-touch-icon.png" %}" />
    <link rel="manifest" href="{% static "databruce/img/site.webmanifest" %}" />
    <title>
      {% block title %}
        Home
      {% endblock title %}
      | Databruce
    </title>
    <!-- leaflet.js-->
    <link rel="stylesheet"
          href="{% static 'databruce/css/leaflet/leaflet.css' %}" />
    <script src="{% static 'databruce/js/leaflet/leaflet.js' %}"></script>
    <!--JQuery-->
    <link rel="stylesheet"
          href="{% static 'databruce/css/jquery/jquery-ui.min.css' %}">
    <script src="{% static 'databruce/js/jquery/jquery-4.0.0.min.js' %}"></script>
    <script src="{% static 'databruce/js/jquery/jquery-ui.min.js' %}"></script>
    <script src="{% static 'databruce/js/jquery/jquery.mask.min.js' %}"></script>
    <!--Bootstrap-->
    <link rel="stylesheet"
          href="{% static 'databruce/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'databruce/css/bootstrap/bootstrap-icons.min.css' %}">
    <script src="{% static 'databruce/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <!--Datatables-->
    <link href="{% static 'databruce/css/datatables/datatables.min.css' %}"
          rel="stylesheet">
    <script src="{% static 'databruce/js/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'databruce/js/datatables/dt_plus_remove.js' %}"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'databruce/css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'databruce/css/colors.css' %}" />
    <link rel="stylesheet" href="{% static 'databruce/css/light.css' %}" />
    <link rel="stylesheet" href="{% static 'databruce/css/dark.css' %}" />
    <link rel="stylesheet" href="{% static 'databruce/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'databruce/css/select2.css' %}" />
    <!-- Other -->
    <script src="{% static 'databruce/js/theme-toggler.js' %}"></script>
    <!-- Datatables Scripts -->
    <script src="{% static 'databruce/js/datatables.js' %}"></script>
    <script src="{% static 'databruce/js/searchBuilder.js' %}"></script>
    <script src="{% static 'databruce/js/tableSearch.js' %}"></script>
    <script src="{% static 'databruce/js/eventCard.js' %}"></script>
    {% block extrastyle %}
    {% endblock extrastyle %}
    {% block extrajs %}
    {% endblock extrajs %}
  </head>
  <body>
    {% include "./partials/navbar.html" %}
    <div class="padded-body">
      {% block container %}
      {% endblock container %}
      {% include "./partials/searchbuilder.html" %}
    </div>
    <div class="modal"
         id="searchModal"
         tabindex="-1"
         aria-labelledby="searchModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="position-relative mb-3" id="searchGroup">
                <input type="search"
                       id="eventSearch"
                       name="q"
                       class="form-control"
                       placeholder="Search by date (yyyy-mm-dd), venue, city, etc."
                       aria-label="Search">
                <button type="button"
                        class="btn-close position-absolute top-50 end-0 translate-middle-y me-4 d-none"
                        id="clearFloatingInput"
                        aria-label="Clear input"></button>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <div class="search-results-scrollable overflow-y-auto">
                  <ul id="results" class="list-group" tabindex="0">
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <span class="text-muted">Arrow Keys to navigate, Enter to Select, Esc. to close</span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body text-center py-2">
            Copyright ©{% now "Y" %}, Databruce.com. Song lyrics and titles are the copyright of Sony Music Entertainment/Bruce Springsteen. All other copyrights are held by their respective owners.
          </div>
        </div>
      </div>
    </div>
    <script>
      // Tooltips
      let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));

      tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
      });


      // 1. Update the URL hash when a tab is clicked
      document.querySelectorAll('button[data-bs-toggle="tab"], a[data-bs-toggle="tab"], [data-bs-toggle="pill"]').forEach(tabEl => {
        tabEl.addEventListener('shown.bs.tab', (e) => {
          const hash = e.target.getAttribute('href') || e.target.getAttribute('data-bs-target');
          if (hash && hash.startsWith('#')) {
            history.pushState(null, null, hash); // Updates URL without jumping the page
          }
        });
      });

      window.addEventListener('DOMContentLoaded', () => {
        const hash = window.location.hash;
        if (hash) {
          const triggerEl = document.querySelector(`[data-bs-target="${hash}"], [href="${hash}"]`);
          if (triggerEl) {
            document.querySelectorAll('.nav-link.active, .tab-pane.active').forEach(el => {
              el.classList.remove('active', 'show');
            });

            const tab = new bootstrap.Tab(triggerEl);
            tab.show();
          }
        }
      });

      document.querySelectorAll('.dropdown').forEach(function(everydropdown) {
        everydropdown.addEventListener('mouseenter', function() {
          let el_link = this.querySelector('button[data-bs-toggle="dropdown"]');
          if (el_link != null) {
            let nextEl = el_link.nextElementSibling;
            el_link.classList.add('show');
            nextEl.classList.add('show');
          }
        });

        everydropdown.addEventListener('mouseleave', function() {
          let el_link = this.querySelector('button[data-bs-toggle="dropdown"]');
          if (el_link != null) {
            let nextEl = el_link.nextElementSibling;
            el_link.classList.remove('show');
            nextEl.classList.remove('show');
          }
        });
      });
    </script>
    <script src="{% static 'databruce/js/eventSearch.js' %}"></script>
  </body>
</html>
