<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    {% load i18n static %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5RV5YKCT8Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5RV5YKCT8Q');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
          content="{{ description|safe|default_if_none:"A Springsteen Setlist Database" }}">
    <meta name="keywords" content="Databruce, Setlists, Springsteen">
    <meta property="og:image" content="{% static "databruce/img/ogimg.jpg" %}">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Blue rectangle that reads Databruce" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="{{ title|default_if_none:"Databruce" }}">
    <meta property="og:site_name" content="Databruce">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:description"
          content="{{ description|safe|default_if_none:"A Springsteen Setlist Database" }}">
    <link rel="icon"
          type="image/png"
          href="{% static "databruce/img/favicon-96x96.png" %}"
          sizes="96x96" />
    <link rel="icon"
          type="image/svg+xml"
          href="{% static "databruce/img/favicon.svg" %}" />
    <link rel="shortcut icon" href="{% static "databruce/img/favicon.ico" %}" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static "databruce/img/apple-touch-icon.png" %}" />
    <link rel="manifest" href="{% static "databruce/img/site.webmanifest" %}" />
    <title>
      {% block title %}
        Home
      {% endblock title %}
      | Databruce
    </title>
    <!-- leaflet.js-->
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <!--JQuery-->
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script defer
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <!--Datatables-->
    <link href="https://cdn.datatables.net/v/bs5/moment-2.29.4/dt-2.3.7/af-2.7.1/b-3.2.6/b-colvis-3.2.6/b-print-3.2.6/cc-1.2.1/date-1.6.3/fc-5.0.5/fh-4.0.6/r-3.0.8/rg-1.6.0/sc-2.4.3/sb-1.8.4/datatables.min.css"
          rel="stylesheet"
          integrity="sha384-1ijJ0GS6xbNbMTIXRekVwvl292OcATiqWK7mc3ClmZJDhJ17FevOvYA0HPtrCgXQ"
          crossorigin="anonymous">
    <script src="https://cdn.datatables.net/v/bs5/moment-2.29.4/dt-2.3.7/af-2.7.1/b-3.2.6/b-colvis-3.2.6/b-print-3.2.6/cc-1.2.1/date-1.6.3/fc-5.0.5/fh-4.0.6/r-3.0.8/rg-1.6.0/sc-2.4.3/sb-1.8.4/datatables.min.js"
            integrity="sha384-uU3JucG4mNcB3qZQiRxj8fTAPtJaKGi4UnmJwsdImhPvG5iN2ngUpv12n8pVkzzv"
            crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet">
    <!--Static-->
    <link rel="stylesheet" href="{% static 'databruce/css/colors.css' %}" />
    <link rel="stylesheet" href="{% static 'databruce/css/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'databruce/css/new_style.css' %}" />
    <!-- Other -->
    <script src="{% static 'databruce/js/datatables.js' %}"></script>
    <script src="{% static 'databruce/js/theme-toggler.js' %}"></script>
    {% block extrastyle %}
    {% endblock extrastyle %}
    {% block extrajs %}
    {% endblock extrajs %}
  </head>
  <body>
    <nav class="navbar navbar-expand-xl p-0 sticky-top border-bottom">
      <div class="container-fluid p-2 align-items-center bd-gutter flex-wrap flex-xl-nowrap">
        <button class="btn btn-sm d-xl-none d-block dropdown-toggle me-auto py-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbar"
                aria-controls="mainNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <i class="bi bi-list text-xl fw-semibold"></i>
        </button>
        <a class="navbar-brand p-0 mx-2" href="{% url 'index' %}">
          <div class="logo" role="img" aria-label="Databruce">
            <span class="sr-only">Databruce</span>
          </div>
        </a>
        <div class="d-flex d-xl-none align-items-center order-lg-last ms-auto">
          {% partialdef profile inline %}
            {% if user.is_authenticated %}
              <li class="nav-item dropdown list-unstyled">
                <button class="btn btn-sm dropdown-toggle {% if 'profile' in request.resolver_match.route %}fw-bold{% endif %}"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">Profile</button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <div class="text-sm px-4 py-1 dropdown-item pe-none">
                      Hello {{ user }}
                      {% if user.is_superuser %}
                        (Admin)
                      {% else %}
                        (User)
                      {% endif %}
                    </div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url "profile" id=user.uuid %}">View Profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'users' %}">View Users</a>
                  </li>
                  {% if user.is_superuser %}
                    <li>
                      <a class="dropdown-item" href="{% url "admin:index" %}">Admin Portal</a>
                    </li>
                  {% endif %}
                  <li>
                    <a class="dropdown-item" href="{% url "settings" %}">Settings</a>
                  </li>
                  <li>
                    <form method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button class="dropdown-item" role="button" type="submit" id="button-addon2">Logout</button>
                    </form>
                  </li>
                </ul>
              </li>
            {% else %}
              <li class="nav-item mx-lg-2 ms-auto d-inline mb-0">
                <a class="btn btn-sm"
                   role="button"
                   type="button"
                   href="{% url 'login' %}?next={{ request.path }}">Login</a>
              </li>
            {% endif %}
          {% endpartialdef profile %}
        </div>
        <div class="navbar-collapse collapse" id="mainNavbar">
          <ul class="navbar-nav me-auto my-2 my-xl-0 d-flex flex-wrap row-gap-1 column-gap-1">
            <li class="nav-item dropdown">
              <button class="btn btn-sm dropdown-toggle {% if 'events' in request.resolver_match.route %}fw-bold{% endif %}"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Events</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'events' %}">Events By Year</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'runs' %}">Events By Run</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'events_type' %}">Events By Type</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'calendar' %}">Event Calendar</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <button class="btn btn-sm dropdown-toggle {% if 'tours' in request.resolver_match.route %}fw-bold{% endif %}"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Tours</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'tours' %}">Tours</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'tour_legs' %}">Tour Legs</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <button class="btn btn-sm dropdown-toggle {% if 'songs' in request.resolver_match.route %}fw-bold{% endif %}"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Songs</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'songs' %}">Songs</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'song_lyrics' %}">Lyrics</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <button class="btn btn-sm dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Locations</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'venues' %}">Venues</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'cities' %}">Cities</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'states' %}">States</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'countries' %}">Countries</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <button class="btn btn-sm dropdown-toggle {% if 'relations' in request.resolver_match.route or 'bands' in request.resolver_match.route %}fw-bold{% endif %}"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Relations and Bands</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'relations' %}">Relations</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'bands' %}">Bands</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <button class="btn btn-sm dropdown-toggle {% if 'releases' in request.resolver_match.route %}fw-bold{% endif %}"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Releases</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'releases' %}">Official Releases</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'nugs' %}">Nugs Releases</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'bootlegs' %}">Bootlegs</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <button class="btn btn-sm dropdown-toggle {% if 'search' in request.resolver_match.route %}fw-bold{% endif %}"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Search</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'adv_search' %}">Advanced Search</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'note_search' %}">Setlist Note Search</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <button class="btn btn-sm dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">More</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'about' %}">About Site</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'links' %}">Links</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'updates' %}">Updates</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'roadmap' %}">Roadmap</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url "contact" %}">Contact Us</a>
                </li>
              </ul>
            </li>
          </ul>
          <hr class="d-xxl-none mt-0 mb-3">
          <form role="search"
                method="get"
                action="{% url 'search' %}"
                class="d-flex my-xl-auto">
            {{ searchForm.date }}
            <button type="submit"
                    id="event-search-btn"
                    class="btn btn-sm btn-success d-xl-none ms-1">Search</button>
          </form>
          <hr class="d-xxl-none mt-3 mb-0">
          <ul class="navbar-nav my-2 my-xl-0 ms-xl-2 d-flex flex-wrap row-gap-1 column-gap-1">
            <div class="d-none d-xxl-block">{% partial profile %}</div>
            {% include "./partials/theme_toggler.html" %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="padded-body">
      {% block container %}
      {% endblock container %}
      {% comment %} <div class="container">
        <div class="col-12 mt-3 mb-2 d-flex justify-content-center">
          {% block content %}
          {% endblock content %}
        </div>
      </div> {% endcomment %}
      {% include "./partials/searchbuilder.html" %}
    </div>
    <div class="footer mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body text-center py-2">
            Copyright ©{% now "Y" %}, Databruce.com. Song lyrics and titles are the copyright of Sony Music Entertainment/Bruce Springsteen. All other copyrights are held by their respective owners.
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        const eventApi = "{% url 'api:event-list' %}";

        $("#eventSearch").autocomplete({
            delay: 500,
            classes: {
              "ui-autocomplete": "text-sm dropdown-menu"
            },
            source: function(request, response) {
              $.ajax({
                url: eventApi, // or .ashx, .asmx, etc.
                dataType: "json",
                data: {
                  date: request.term
                },
                success: function(data) {
                  response( $.map( data.results, function(item) {
                    console.log(item)
                    return {'id': item.event_id, 'value': `${item.date.display_day} - ${item.venue.city.formatted}`}
                  }));
                },
                error: function() {
                  response([]);
                }
              });
            },
            minLength: 7,
            position: { my:"right top", at:"right bottom", to:"#eventSearch", collision:"fit" },
            select: function (event, ui) {
              window.location.href = "/events/" + ui.item.id;
            }
        });
        
        // masks all date forms to fill in dashes
        $('.date-form').each(function() {
          $(this).mask('0000-00-00');
        });

        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });

        const tabElements = document.querySelectorAll('[data-bs-toggle="pill"]');
        
        tabElements.forEach(tabEl => {
          tabEl.addEventListener('shown.bs.tab', (event) => {
            var hash = event.target.getAttribute('data-bs-target') || event.target.getAttribute('href');

            console.log(hash)

            if (hash === '#mostplayed' || hash === "#rare") {
              hash = "#songs"
            };

            if (hash) {
              history.replaceState(null, null, hash);
            }
          });
        });

        function activatePillFromUrlHash() {
          const url = window.location.href;
          if (url.includes("#")) {
            const hash = url.substring(url.indexOf("#"));
            var buttonTrigger = document.querySelector(`button[data-bs-target="${hash}"]`);
            var linkTrigger = document.querySelector(`a[data-bs-target="${hash}"]`);

            if (buttonTrigger) {
              const bsPill = new bootstrap.Tab(buttonTrigger);
              bsPill.show();
            }

            if (linkTrigger) {
              const bsPill = new bootstrap.Tab(linkTrigger);
              bsPill.show();
            }
          }
        }

        activatePillFromUrlHash();
      });
    </script>
  </body>
</html>
