{% load filters %}
<div class="col-xs-6 col-lg-12 mb-4">
    <div class="d-flex flex-row">
        <div class="pe-2">Events:</div>
        <div>{{ events|length }}</div>
    </div>
    <div class="d-flex flex-row">
        <div class="pe-2">First:</div>
        <div>
            <a href="{% url 'databruce:event_details' event=first.id %}">{{ first }} - {{ first.venue }}</a>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="pe-2">Last:</div>
        <div>
            <a href="{% url 'databruce:event_details' event=last.id %}">{{ last }} - {{ last.venue }}</a>
        </div>
    </div>
</div>
