<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    {% load i18n static %}
    {% if not debug %}
      <script defer
              src="https://cloud.umami.is/script.js"
              data-website-id="63174c56-d806-4f1c-9a2c-372a17a4a4ee"></script>
    {% endif %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
          content="{{ description|safe|default_if_none:"A Springsteen Setlist Database" }}">
    <meta name="keywords" content="Databruce, Setlists, Springsteen">
    <meta property="og:image" content="{% static "databruce/img/ogimg.jpg" %}">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Blue rectangle that reads Databruce" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="{{ title|default_if_none:"Databruce" }}">
    <meta property="og:site_name" content="Databruce">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:description"
          content="{{ description|safe|default_if_none:"A Springsteen Setlist Database" }}">
    <link rel="icon"
          type="image/png"
          href="{% static "databruce/img/favicon-96x96.png" %}"
          sizes="96x96" />
    <link rel="icon"
          type="image/svg+xml"
          href="{% static "databruce/img/favicon.svg" %}" />
    <link rel="shortcut icon" href="{% static "databruce/img/favicon.ico" %}" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static "databruce/img/apple-touch-icon.png" %}" />
    <link rel="manifest" href="{% static "databruce/img/site.webmanifest" %}" />
    <title>
      {{ title }}
      | Databruce
    </title>
    <!--JQuery-->
    <script src="{% static 'databruce/js/jquery/jquery-4.0.0.min.js' %}"></script>
    <!--Bootstrap-->
    <link rel="stylesheet"
          href="{% static 'databruce/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="{% static 'databruce/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <!--Datatables-->
    <link href="{% static 'databruce/css/datatables.min.css' %}"
          rel="stylesheet">
    <script src="{% static 'databruce/js/datatables/datatables-3.1.min.js' %}"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'databruce/css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'databruce/css/hb_colors.css' %}" />
    <link rel="stylesheet" href="{% static 'databruce/css/hb_style.css' %}" />
    <link rel="stylesheet" href="{% static 'databruce/css/hb_select2.css' %}" />
    <!-- Other -->
    <script src="{% static 'databruce/js/datatables.js' %}"></script>
    <script src="{% static 'databruce/js/theme-toggler.js' %}"></script>
    <script src="{% static 'databruce/js/html2canvas.min.js' %}"></script>
    <script src="{% static 'databruce/js/table.js' %}"></script>
  </head>
  <body>
    <div id="capture-area">
      <nav class="navbar navbar-expand-xl p-0 border-bottom">
        <div class="container-fluid p-2 align-items-center bd-gutter flex-wrap flex-xl-nowrap">
          <a class="navbar-brand-mobile p-xl-0 mx-auto p-auto mx-xl-2"
             href="{% url 'index' %}">
            <img height="auto"
                 width="135px"
                 src="{% static 'databruce/img/logo.png' %}"
                 alt="Databruce">
          </a>
          <li class="nav-item d-none d-xl-block"
              id="toggle-container"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="Toggle Theme">
            <button class="btn btn-sm nav-btn border-0 bd-theme-btn"
                    id="bd-theme"
                    type="button"
                    aria-label="Toggle Theme">
              <i class="bi bi-sun-fill theme-icon text-xl" aria-hidden="true"></i>
              <i class="bi bi-moon-stars-fill theme-icon text-xl" aria-hidden="true"></i>
              <span class="d-lg-none my-auto" id="bd-theme-text">Toggle Theme</span>
            </button>
          </li>
        </div>
      </nav>
      {% comment %} <div id="download-btn" class="btn btn-primary mb-3 text-xs">Download</div> {% endcomment %}
      <div class="padded-body">
        <div class="container-lg">
          <div class="col-12 mt-3 mb-2 d-flex justify-content-center">
            <div class="col d-grid gap-0 gx-0">
              <!-- next and last buttons-->
              {% if not event.date %}
                <!-- message cards -->
                <div class="row mb-2 gx-0">
                  <div class="col">
                    <div class="card message info">This is a placeholder date, actual date unknown.</div>
                  </div>
                </div>
              {% endif %}
              <!-- event info -->
              <div class="row mb-3 gx-0">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-wrap">
                        <div class="flex-grow-1 w-75 mb-0">
                          {% if event.title %}
                            <div class="row mb-2 text-center">
                              <div class="col">
                                <div id="title" class="text-wrap text-xs fw-light">
                                  <span class="mb-0">{{ event.title }}</span>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                          <div class="row text-center">
                            <div class="col">
                              <div class="row">
                                <div class="text-wrap fw-semibold text-xl">
                                  <span class="text-primary" id="date">{{ event.get_date }}</span>
                                  {% if type_note %}<span class="text-lg text-danger">[{{ event.type.name }}]</span>{% endif %}
                                </div>
                              </div>
                              <div class="row text-wrap text-xl">
                                <div class="fw-semibold text-reset" id="event-header-artist">{{ event.artist }}</div>
                              </div>
                              <div class="row text-sm text-reset">
                                <div class="col event-header-venue">
                                  <div class="text-reset fw-semibold">{{ event.venue.get_name }}</div>
                                  {% if event.venue.city %}<div class="fw-light">{{ event.venue.city }}</div>{% endif %}
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row text-center justify-content-center mt-2">
                            <div class="col-md-12">
                              <div class="badge-row text-center justify-content-center d-inline-flex flex-wrap gap-0 row-gap-1 column-gap-1"
                                   id="badge-row">
                                {% if event.tour %}<span class="badge badge-primary">{{ event.tour }}</span>{% endif %}
                                {% if event.leg %}<span class="badge badge-primary">{{ event.leg.name }}</span>{% endif %}
                                {% if event.run %}<span class="badge badge-primary">{{ event.run.name }}</span>{% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- setlist and notes -->
              <div class="tab-content overflow-hidden" id="myTabContent">
                <div class="tab-pane fade show active"
                     id="overview"
                     role="tabpanel"
                     aria-labelledby="overview-tab"
                     tabindex="0">
                  <div class="row row-cols-1 {% if event.note %}gy-3 gx-0{% endif %}">
                    <div class="col-12">
                      {% if event.note %}
                        <div class="row mb-3 gx-0">
                          <div class="col">
                            {% partialdef event-note inline %}
                              <div class="card">
                                <div class="card-header">
                                  Notes
                                  <i class="bi bi-pencil"></i>
                                </div>
                                <div class="card-body event-note text-wrap">{{ event.note|markdown|safe }}</div>
                              </div>
                            {% endpartialdef %}
                          </div>
                        </div>
                      {% endif %}
                      <div class="col-12">
                        <div class="card">
                          <div class="card-header d-flex flex-column">
                            <div class="d-flex justify-content-between w-100">Setlist</div>
                            <div class="collapse row w-100" id="options">
                              <div class="col-12 px-0 pt-1">
                                <button id="copySetlist" class="btn btn-sm btn-primary">Copy Setlist</button>
                              </div>
                            </div>
                          </div>
                          <div class="card-body p-0" id="setlistCard">
                            <div class="table-responsive" id="mobileTable">
                              <table class="table table-hover display wrap" id="setlistTable">
                                <thead>
                                  <th class="all">#</th>
                                  <th class="all">Song</th>
                                </thead>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
    $(document).ready(function() {
      var event = "{{ event.id }}";
      var url = '/api/v1/setlists/?event={{ event.id }}&format=json';

    let setlistOptions = {
      createdRow: function (row, data) {
        row.addClass(slugify(data.set_name));

        var allowedSets = ['Show', 'Set 1', "Set 2", 'Encore', 'Pre-Show', 'Post-Show', 'Rehearsal']

        if (allowedSets.includes(data.set_name)) {
          var album = data.song.category_slug;
          row.attr('data-album', album);
        }

        return row
      },
      rowGroup: {
        groupVal: 'set_name'
      }
    }

    let setlistColumns = [
      {
        'data': 'song_num',
        'className': 'text-center',
        'width': '',
        'render': function (data, type, row, meta) {
          if (data) {
            return data
          }
          
          return ''
        },
        'createdCell': function (td, cellData, rowData, row, col) {
          $(td).addClass('songnum');

          if (rowData.position) {
            var position = slugify(rowData.position);
            $(td).addClass(`${position} position`).attr('data-bs-toggle', 'tooltip').attr('data-bs-title', rowData.position).attr('data-bs-html', true)
          }

          return td;
        },
      },
      {
        'data': 'song',
        'className': 'text-wrap',
        'width': '',
        'render': function (data, type, row, meta) {
          var song = `<a class="text-reset" href="/songs/${data.slug}">${data.name}</a>`;
          var segue = row.segue ? `<span class="segue"></span>` : '';

          song = `${song} ${segue}`;

          var badges = $('<span />');
          var baseBadge = `<span class="badge" data-bs-toggle="tooltip" data-bs-html="true"></span>`

          if (row.instrumental) {
            var badge = $(baseBadge).clone();
            $(badge).addClass('badge-info').text('Inst.').attr('data-bs-title', 'Instrumental');
            badges.append($(badge).prop('outerHTML'));
          }

          if (row.sign_request) {
            var badge = $(baseBadge).clone();
            $(badge).addClass('badge-info').text('Sign').attr('data-bs-title', 'Sign Request');
            $(badges).append($(badge).prop('outerHTML'));
          }

          if (row.nobruce) {
            var badge = $(baseBadge).clone();
            $(badge).addClass('badge-warning').text('No Boss').attr('data-bs-title', 'Song Played Without Bruce');
            $(badges).append($(badge).prop('outerHTML'));
          }

          if (row.notes) {
            var notes = `<br><span class="text-wrap d-inline-block d-md-none fw-light setlist-note">${row.notes}</span>`;
            return badges.children().length > 0 ? song + $(badges).addClass('ms-2').prop('outerHTML') + notes : song + notes;
          }

          return badges.children().length > 0 ? song + $(badges).addClass('ms-2').prop('outerHTML') : song;
        }
      },
    ]

    createTable(url, setlistColumns, '#setlistTable', setlistOptions);
    })
	{% comment %} var counts = [];

	$(document).ready(function () {
		var event = "{{ event.id }}";
		var event_id = "{{ event.event_id }}";

		$('#setlistTable').DataTable(
			{
        layout: null,
				serverSide: true,
				processing: true,
				paging: false,
				ordering: false,
				searching: false,
				info: false,
				scrollX: false,
				fixedHeader: false,
				autoWidth: false,
				ajax: '/api/v1/setlists/?event={{ event.id }}&format=custom&show_only=true',
				rowGroup: {
					dataSrc: 'set_name',
					className: 'text-center set-header p-0 dtrg-group',
					startRender: function (rows, group) {
						const g = `<span>${group}</span>`;
						const td = `<td colspan="${rows.columns().count()}" class="py-0">${g}</td>`;
						return $('<tr />').addClass(slugify(group)).append(td);
					}
				},
				createdRow: function (row, data, dataIndex) {
					$(row).addClass(slugify(data.set_name));

					var allowedSets = ['Show', 'Set 1', "Set 2", 'Encore', 'Pre-Show', 'Post-Show', 'Rehearsal']

					if (allowedSets.includes(data.set_name)) {
						var album = data.song.category_slug;
						$(row).attr('album', album);
					}
				},
				columnDefs: [
					{ 'targets': '_all', columnControl: [] }
				],
				columns: [
					{
						'data': 'song_num',
						'className': 'dt-center col-songnum',
						'width': '30px',
						'render': function (data, type, row, meta) {
							if (data) {
								return data;
							}
						},
						'createdCell': function (td, cellData, rowData, row, col) {
							$(td).addClass('songnum');

							if (rowData.position) {
								var position = slugify(rowData.position);
								$(td).addClass(`${position} position`).attr('data-bs-toggle', 'tooltip').attr('data-bs-title', rowData.position)
							}

							return td;
						},
					},
					{
						'data': 'song',
						'name': 'song__sort_song_name',
						'className': 'text-wrap col-song',
						'render': function (data, type, row, meta) {
							if (data) {
								var song = `<a class="text-reset" href="/songs/${data.uuid}">${data.name}</a>`;
								var segue = row.segue ? `<span class="segue"></span>` : '';

								song = `${song} ${segue}`;

								var badges = $('<span />').addClass('ms-2 d-inline-flex gap-1');
								var baseBadge = `<span class="badge"></span>`

								if (row.instrumental) {
									var badge = $(baseBadge).clone();
									$(badge).addClass('badge-info').text('Instrumental');
									badges.append($(badge).prop('outerHTML'));
								}

								if (row.sign_request) {
									var badge = $(baseBadge).clone();
									$(badge).addClass('badge-info').text('Sign Request');
									$(badges).append($(badge).prop('outerHTML'));
								}

								if (row.nobruce) {
									var badge = $(baseBadge).clone();
									$(badge).addClass('badge-warning').text('No Boss');
									$(badges).append($(badge).prop('outerHTML'));
								}

                if (row.last == 0) {
                  gap = null;
                } else {
                  gap = row.last;
                }

                var debut = row.debut;
                var premiere = row.premiere;

                if (premiere) {
                  var badge = $(baseBadge).clone();
                  $(badge).addClass('badge-secondary').text(`First`);
                  $(badges).append($(badge).prop('outerHTML'));
                }

                if (debut) {
                  var badge = $(baseBadge).clone();
                  $(badge).addClass('badge-secondary').text(`Tour Debut`);
                  $(badges).append($(badge).prop('outerHTML'));
                }
                
								if (row.notes) {
									var notes = `<span class="text-wrap d-inline-block fw-light setlist-note">${row.notes}</span>`;
									return badges ? song + $(badges).prop('outerHTML') + '<br>' + notes : song;
								}

								return badges ? song + $(badges).prop('outerHTML') : song;
							}
						},
					},
				],
			});
}); {% endcomment %}
    </script>
  </body>
</html>
