{% extends "databruce/wide_layout.html" %}
{% load i18n static tz %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block extrajs %}
{% endblock extrajs %}
{% block content %}
  <div class="col">
    <div class="row mb-3">
      <div class="text-3xl">Welcome to Databruce!</div>
      <div class="text-base">A Bruce Springsteen concert database</div>
    </div>
    {% if not user.is_authenticated %}
      <div class="row my-3">
        <div class="col">
          <a href="{% url "login" %}"
             type="button"
             role="button"
             class="btn btn-primary">Login</a>
          <a href="{% url "signup" %}"
             type="button"
             role="button"
             class="btn btn-primary">Create Account</a>
        </div>
      </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-lg-3 gx-3 row-gap-3">
      <div class="col">
        <div class="card mb-3">
          <div class="card-body p-0">
            <img class="img-fluid card-img-top object-fit-cover"
                 id="headimg"
                 src="{% static 'databruce/img/header-april-2026.webp' %}"
                 alt=""
                 height="640"
                 width="auto">
          </div>
          <div class="card-footer">
            <span class="text-base">Minneapolis - March 31, 2026</span>
            <span class="text-sm">(photo by <a class="text-reset"
    href="https://consequence.net/2026/04/bruce-springsteen-minneapolis-tour-kickoff/">Kara Gerke</a>)</span>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Recent Site Updates
            <a role="button"
               class="btn btn-sm btn-primary px-1 py-0"
               href="{% url 'updates' %}">See More</a>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive index">
              <table class="table table-hover display wrap" id="updateTable">
                <thead>
                  <th class="all">Date</th>
                  <th class="all">Description</th>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">Featured Show</div>
          <div class="card-body p-0">
            <div class="col">
              {% with latest=latest_event %}
                {% if latest.title %}<div class="px-2 pt-2 pb-0">{{ latest.title }}</div>{% endif %}
                <div class="p-2 pb-1">
                  <div class="col">
                    <a class="fw-medium text-sm"
                       href="{% url "event_details" id=latest.event_id %}">{{ latest.get_date }} - {{ latest.venue.venues_text.formatted }}</a>
                  </div>
                  <div class="col">
                    <a class="text-reset text-sm"
                       href="{% url 'band_details' id=latest.artist.uuid %}">{{ latest.artist.name }}</a>
                  </div>
                </div>
              {% endwith %}
              <div class="table-responsive index">
                <table class="table table-hover display" id="setlistTable">
                  <thead>
                    <tr>
                      <th class="all">#</th>
                      <th class="all">Song</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-1 gx-3 gy-3">
          <div class="col">
            <div class="card">
              <div class="card-header">Latest</div>
              <div class="card-body p-0" id="recent">
                {% comment %} <div class="table-responsive index">
                  <table class="table table-hover display" id="recentTable">
                    <thead>
                      <tr>
                        <th class="all d-none">Date</th>
                        <th class="all d-none">Location</th>
                      </tr>
                    </thead>
                  </table>
                </div> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-header">Upcoming</div>
              <div class="card-body p-0" id="upcoming"></div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-header">
                On This Day
                <a role="button"
                   class="btn btn-sm btn-primary px-1 py-0"
                   href="{% url 'adv_search_results' %}?month={% now "n" %}&day={% now "j" %}">See More</a>
              </div>
              <div class="card-body p-0" id="otd"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var layout = getDatatableLayout({columns: false, category: false});

    function createListItem(item) {
      return `
      <li class="list-group-item py-0.5">
        <div class="row row-cols-2 fw-medium">
          <div class="col-3 py-0 text-nowrap">
            <a href="/events/${item.event_id}">${item.date.display}</a>
          </div>
          <div class="col py-0">
            <a href="/venues/${item.venue.uuid}">${item.venue.display}</a>
          </div>
        </div>
      </li>
      `
    }

    $(document).ready(function () {
      new DataTable('#updateTable', {
        layout: layout,
        searching: false,
        paging: false,
        info: false,
        ordering: false,
        scrollX: false,
        columnDefs: [
          {'targets': '_all', columnControl: [] }
        ],
        ajax: {
          'url': '/api/v1/updates/?format=custom&limit=10',
        },
        columns: [
          {
            'data': 'created_at',
            'name': 'created_at',
            'render': function (data, type, row, meta) {
              return `<span>${data}</span>`
            }
          },
          { 
            'data': 'msg',
            'name': 'msg',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                if (row.view) {
                  return `<span>${data} <a class='fw-medium' href='/${row.view}/${row.item_id}'>${row.value}</a></span>`
                }

                return data
              }
            },
          }
        ]
      })
      

      fetch('/api/v1/events/?month={{ date|date:"n" }}&day={{ date|date:"j" }}&limit=5&format=json')
        .then(response => response.json())
        .then(data => {
          var container = $('#otd');
          var list = $('<ul />').addClass('list-group list-group-flush');

          data.results.forEach((item, index) => {
            var listItem = createListItem(item);
            $(list).append(listItem);
          });

          $(container).append($(list).prop('outerHTML'));
        }).catch(error => console.error('Error:', error));
  
      fetch('/api/v1/events/?ordering=event_id&limit=5&format=json&upcoming=true')
        .then(response => response.json())
        .then(data => {
          var container = $('#upcoming');
          var list = $('<ul />').addClass('list-group list-group-flush');

          data.results.forEach((item, index) => {
            var listItem = createListItem(item);
            $(list).append(listItem);
          });

          $(container).append($(list).prop('outerHTML'));
        }).catch(error => console.error('Error:', error));

      fetch('/api/v1/events/?ordering=-event_id&limit=5&format=json&latest=true')
        .then(response => response.json())
        .then(data => {
          var container = $('#recent');
          var list = $('<ul />').addClass('list-group list-group-flush');

          data.results.forEach((item, index) => {
            var listItem = createListItem(item);
            $(list).append(listItem);
          });

          $(container).append($(list).prop('outerHTML'));
        }).catch(error => console.error('Error:', error));

      new DataTable('#setlistTable',
      {
        layout: layout,
        responsive: true,
        scrollX: false,
        paging: false,
        ordering: false,
        info: false,
        searching: false,
        columnDefs: [
          {'targets': '_all', columnControl: [] }
        ],
        ajax: '/api/v1/setlists/?event={{ latest_event.event_id }}&format=custom&show_only=true',
        rowGroup: {
          dataSrc: 'set_name',
          className: 'text-center set-header p-0 dtrg-group',
          startRender: function(rows, group) {
            const g = `<span>${group}</span>`;
            const td = `<td colspan="${rows.columns().count()}" class="py-0">${g}</td>`;
            return $('<tr />').addClass(slugify(group)).append(td);
          }
        },
        columns: [
          {
            'data': 'song_num',
            'className': 'dt-center',
            'width': '38px',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return data;
              }
            },
            'createdCell': function(td, cellData, rowData, row, col) {
              $(td).addClass('songnum');

              if (rowData.position) {
                var position = slugify(rowData.position);
                $(td).addClass(position).attr('data-bs-toggle', 'tooltip').attr('data-bs-title', rowData.position)
              }

              return td;
            },
          },
          {
            'data': 'song',
            'name': 'song__sort_song_name',
            'className': 'text-nowrap',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                var song = `<a class="fw-medium text-reset" href="/songs/${data.uuid}">${data.name}</a>`;

                var segue = row.segue ? $('<span />').addClass('segue').text('>').prop('outerHTML') : ''

                song = `${song} ${segue}`;

                var badge = $('<span />').addClass('ms-2 badge d-inline-flex')

                if (row.instrumental) {
                  $(badge).addClass('text-bg-info').text('Instrumental');
                } else if (row.sign_request) {
                  $(badge).addClass('text-bg-info').text('Sign Request');
                } else if (row.nobruce) {
                  $(badge).addClass('badge-warning').text('No Bruce');
                } else if (row.stats.premiere) {
                  $(badge).addClass('badge-warning').text('First');
                } else if (row.stats.debut && !row.stats.premiere) {
                  $(badge).addClass('badge-warning').text('TD');
                } else if (row.stats.last >= 50 && !row.stats.debut) {
                  $(badge).addClass('badge-warning').text('Bust');
                }

                if (row.notes) {
                  var notes = $('<span />').addClass('text-xs text-wrap fw-light setlist-note').text(row.notes.join('; ').replaceAll("''", "'"))
                  return badge ? song + $(badge).prop('outerHTML') + '<br>' + notes.prop('outerHTML') : song
                }

                return badge ? song + $(badge).prop('outerHTML') : song;
              }
            },
          },
        ],
      })
    })
  
  </script>
{% endblock content %}
