{% extends "databruce/base.html" %}
{% block title %}
  Home
{% endblock title %}
{% load static %}
{% block extrajs %}
{% endblock extrajs %}
{% block content %}
  <div class="row mb-3">
    <div class="col">
      <div class="text-3xl">Welcome to Databruce!</div>
      <div class="text-base">A Bruce Springsteen concert database</div>
    </div>
  </div>
  {% if not user.is_authenticated %}
    <div class="row my-3">
      <div class="col">
        <a href="{% url "login" %}"
           type="button"
           role="button"
           class="btn btn-primary">Login</a>
        <a href="{% url "signup" %}"
           type="button"
           role="button"
           class="btn btn-primary">Create Account</a>
      </div>
    </div>
  {% endif %}
  <div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-4 px-2">
      <div class="card mb-3">
        <div class="card-body p-0">
          <img class="img-fluid card-img-top object-fit-cover"
               id="headimg"
               src="{% static 'databruce/img/header.webp' %}"
               alt=""
               height="1280"
               width="auto">
        </div>
        <div class="card-footer">
          <span class="text-base">San Siro - July 3, 2025</span>
          <span class="text-sm">
            (photo by <a class="text-reset"
    href="https://www.instagram.com/giovanni.canitano/">Giovanni Canitano</a>)
          </span>
        </div>
      </div>
      <div class="card mb-3 mb-lg-0 d-none d-lg-block">
        <div class="card-header">
          <span class="text-base">Recent Site Updates</span>
          <span class="text-sm">(<a class="text-reset" href="{% url 'updates' %}">see more</a>)</span>
        </div>
        <div class="card-body px-3">
          <ul class="mb-0 ps-4 text-sm">
            {% load tz %}
            {% timezone "America/New_York" %}
            {% for item in updates %}
              <li>
                {{ item.description }}
                ({{ item.created_at|date:'m/d' }})
              </li>
            {% endfor %}
          {% endtimezone %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 px-2">
    <div class="card mb-3 mb-lg-0">
      <div class="card-header">Featured Show</div>
      <div class="card-body p-0">
        {% with first=latest_event %}
          <div class="text-sm px-2 pt-2 pb-0">{{ first.title|default_if_none:"" }}</div>
          <div class="px-2 py-2">
            <div class="row">
              <a class="fw-medium text-sm text-reset"
                 href="{% url "event_details" id=first.id %}">{{ first.get_date }} - {{ first.venue }}, {{ first.venue.city }}</a>
            </div>
            <div class="row">
              <a class="text-reset text-sm"
                 href="{% url 'band_details' id=first.artist.id %}">{{ first.artist.name }}</a>
            </div>
          {% endwith %}
        </div>
        {% if latest_event %}
          <div class="table-responsive">
            <table class="table table-hover display" id="setlistTable">
              <thead>
                <tr>
                  <th class="songnum">#</th>
                  <th>Song</th>
                </tr>
              </thead>
            </table>
          </div>
        {% else %}
          <div class="text-base ms-2">No Set Details Available</div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 px-2">
    <div class="row row-cols-1 row-cols-md-1 g-3 mb-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">Recent Events</div>
          <div class="card-body p-0">
            <div class="table-responsive index">
              <table class="table table-hover display" id="recentTable">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Location</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% if upcoming %}
        <div class="col">
          <div class="card h-100">
            <div class="card-header">Upcoming Events</div>
            <div class="card-body p-0">
              <div class="table-responsive index">
                <table class="table table-hover display" id="upcomingTable">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Location</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <span class="text-base">On This Day</span>
            <span class="text-sm">(<a class="text-reset"
   href="{% url 'adv_search_results' %}?month={{ date|date:"n" }}&day={{ date|date:"j" }}">see more</a>)
            </span>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive index">
              <table class="table table-hover display" id="otdTable">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Location</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    var layout = getDatatableLayout({columns: false, category: false});
    layout.topStart = 'pageLength';

    $(document).ready(function () {
      new DataTable('#otdTable', {
          layout: layout,
          searching: false,
          paging: false,
          ordering: false,
          serverSide: true,
          processing: true,
          ajax: {
            'url': '/api/v1/index/?month={{ date|date:"n" }}&day={{ date|date:"j" }}&format=datatables&limit=5',
          },
          columns: [
            {
              'data': 'date',
              'name': 'id',
              'render': function (data, type, row, meta) {
                if (type === 'display') {
                  return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
                }
              },
            },
            {
              'data': 'venue',
              'name': 'venue__name, venue__detail',
              'render': function (data, type, row, meta) {
                  if (type === 'display') {
                    return '<a href="/venues/' + data.id + '">'+ data.formatted +'</a>';
                  }
              },
            },
          ],
          columnDefs: [{ targets: [0], width: '6rem', type: 'text' },],
      });

      new DataTable('#recentTable', {
          layout: layout,
          searching: false,
          paging: false,
          ordering: false,
          serverSide: true,
          processing: true,
          ajax: {
            'url': '/api/v1/index/?recent=true&format=datatables&limit=5',
          },
          columns: [
            {
              'data': 'date',
              'name': 'id',
              'render': function (data, type, row, meta) {
                if (type === 'display') {
                  return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
                }
              },
            },
            {
              'data': 'venue',
              'name': 'venue__name, venue__detail',
              'render': function (data, type, row, meta) {
                  if (type === 'display') {
                    return '<a href="/venues/' + data.id + '">'+ data.formatted +'</a>';
                  }
              },
            },
          ],
          columnDefs: [{ targets: [0], width: '6rem', type: 'text' },],
      });

      new DataTable('#setlistTable', {
        layout: layout,
        paging: false,
        searching: false,
        ordering: false,
        ajax: '/api/v1/event_setlist/?event={{ latest_event.id }}&song_num=true&format=datatables&keep=id,nobruce,instrumental,sign_request,song,premiere,notes,debut,set_name,position,last,ltp,tour_num,tour_total,song_num,segue',
        serverSide: true,
        processing: true,
        columnDefs: [{ targets: [0], width: '1rem' }],
        rowGroup: {
            dataSrc: 'set_name',
            className: 'text-center setHeader',
        },
        columns: [
          { 
            'data': 'song_num',
            'className': 'dt-center all align-middle',
            'width': '1rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && row.position) {
                var position = row.position.replaceAll(' ', '').toLowerCase();

                return `<span data-bs-toggle="tooltip" data-bs-title="${ row.position }" class='songnum text-sm ${position}'>${data}</span>`
              } else if (!data) {
                return ''
              } else {
                return `<span class='songnum text-sm'>${data}</span>`
              }
            },
          },
          {
            'data': 'song',
            'name': 'song__name',
            'className': 'all align-middle',
            'width': '10rem',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                var song = '<a class="fw-medium align-middle" href="/songs/' + data.id + '">'+ data.name +'</a>';

                song = row.segue ? `${song} >` : song;

                var badge = $('<span />').addClass('ms-2 badge my-auto')

                // instrumental, sign-request, nobruce, premiere
                if (row.instrumental) {
                  $(badge).addClass('text-bg-info').text('Instrumental');
                } else if (row.sign_request) {
                  $(badge).addClass('text-bg-info').text('Sign Request');
                } else if (row.nobruce) {
                  $(badge).addClass('warning').text('No Bruce');
                } else if (row.premiere) {
                  $(badge).addClass('bg-secondary').text('Premiere');
                }

                return badge ? song + $(badge).prop('outerHTML') : song;
              }
            },
            },
          ],
          initComplete: function(settings, json) {
            var dt = this.api();

            $('.setHeader').each(function() {
              var row = $(this).children('th');
              var name = $(row).text().replaceAll(' ', '').toLowerCase();
              $(row).addClass(name).addClass('setHeader');
            });

            $('span.songnum').each(function() {
              var cell = this.closest('td')
              $(cell).addClass(this.className).text($(this).text());

              $(cell).attr('data-bs-toggle', 'tooltip').attr('data-bs-title', this.getAttribute('data-bs-title'))
              $(cell).tooltip();
            });
          }
      });
    })
</script>
{% endblock content %}
