{% extends "databruce/base.html" %}
{% block title %}
  Links
{% endblock title %}
{% block content %}
  <div class="col-lg-6 mx-auto">
    <div class="row mb-2">
      <div class="text-2xl">
        <a href="{% url 'index' %}">Databruce</a> &gt; Links
      </div>
      <div class="text-base">
        Below are links to various sites. Some of which acted as data sources. This will be updated over time.
      </div>
      <div class="col">
        <ul class="text-sm">
          <li>
            <a href="https://brucebase.wikidot.com">Brucebase</a> (Main Source for the data.)
          </li>
          <li>
            <a href="https://www.springsteenlyrics.com">SpringsteenLyrics</a> (Where I got most of the bootleg info).
          </li>
          <li>
            <a href="https://springsteendvds.wordpress.com">SpringsteenDVDs</a> (Where much of the video bootleg info comes from).
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
