{% extends "databruce/narrow_layout.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div class="col-10">
        <div class="row mb-3">
            <div class="col">
                <span class="mb-2 text-2xl">Roadmap</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col text-2xl">
                <p class="text-sm">
                    This page is to list things I plan to do on the site at some point. None of these have any kind of ETA, and many are simply just ideas I had that I'd like to do, but haven't sorted out the details.
                </p>
            </div>
        </div>
        <div class="row row-gap-3 text-sm">
            <div class="row">
                <div class="col">
                    <div class="text-lg fw-semibold">Data Improvements</div>
                    <p>
                        More detailed data/info, some ideas include:
                        <ul class="mb-0 pb-0">
                            <li>Venue capacity?</li>
                            <li>Ticket sales per show</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-lg fw-semibold">More Event Notes</div>
                    <p>
                        Recently, a "notes" tab was added to the event detail page, clicking it shows nothing as of now. The loose plan for this is to host notes/reviews/articles pertaining to each show taken from various sources. Those include: Backstreets Mag/Point Blank (via my archive), BTX Article Dump, and the E Street Shuffle archive. Additionally, including archived links to various reviews as well for those I haven't pulled into a database of some kind.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-lg fw-semibold">Publicly Available Database</div>
                    <p>
                        Right now, while the site is public, the database really isn't. I hope to make the database itself publicly accessible, likely in the form of a PostgreSQL database dump. This would be for those who do know SQL and want to mess around with a local copy of the database.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-lg fw-semibold">An API</div>
                    <p>
                        This one is basically just a vague idea, as I don't have a clue how to do it in a "safe" way. Meaning how to allow public access to the API without affecting the site itself, and without jacking up my hosting costs as I'm sure it would have an impact.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="col-10 text-base">
        <div class="row">
            <div class="text-2xl">
                <a href="{% url 'index' %}">Databruce</a> &gt; Roadmap
            </div>
        </div>
        <div class="row mb-3">
            <div class="text-xl">
                This page is primarily to list things that I plan to do at some point. No ETA on any of these, and details for each are still in the air.
            </div>
        </div>
        <div class="row mb-3">
            <p>
                As of writing, the only thing with any sort of work done on it is some kind of online "Library/Archive/Vault". Some things are already available, but the plan is a centralized repo for it all. Even just a page where links can be found.
            </p>
            <p>So far, 3 portions of it are available. These links lead to my website with more info.</p>
            <ul class="ms-4">
                <li>
                    <a href="https://lilbud.github.io/2025/04/06/backstreets-mag-archive/">Backstreets Magazine Archive</a>
                </li>
                <li>
                    <a href="https://lilbud.github.io/2025/04/10/point-blank-archive/">Point Blank Archive</a>
                </li>
                <li>
                    <a href="https://lilbud.github.io/2025/04/09/btx-article-thread/">BTX Article Dump</a>
                </li>
            </ul>
            <p>The following is also in the works.</p>
            <div class="text-2xl">Bruce Website Archives</div>
            <p>
                A collection of Bruce-related sites I managed to preserve/archive. Some no longer exist, and others are no longer available in their original form. As I finalize this, more details will be available.
            </p>
            <div class="text-2xl mt-2">A Public API</div>
            <p>
                I really don't know if/when this will happen, would have to figure out how to host it without killing my wallet in hosting fees.
            </p>
            <div class="text-2xl mt-2">Data Improvements</div>
            <p>
                I want to add more detailed data in general. Things like having Venue locations, capacity, and even possibly ticket sales per show. Would have to find a data source for the latter.
            </p>
        </div>
    </div> {% endcomment %}
{% endblock content %}
