{% extends "databruce/narrow_layout.html" %}
{% load static filters %}
{% block extrajs %}
  <script src="{% static 'databruce/js/table.js' %}"></script>
  <script src="{% static 'databruce/js/albumBreakdown.js' %}"></script>
  <script src="{% static 'databruce/js/api-table-engine.js' %}"></script>
{% endblock extrajs %}
{% block content %}
  <div class="col" id="testTable">
    <div class="row">
      <div class="col-12">
        {% render_api_table api_route columns_config filters_config %}
        {% comment %} <div class="card w-100">
          <div class="card-body p-0" id="setlistCard">
            <div class="table-responsive">
              <table class="table table-hover display nowrap" id="eventTable">
                <thead>
                  <tr>
                    <!-- Added missing tr tag for semantic validation -->
                    <th class="song_num">#</th>
                    <th class="song">Song</th>
                    <th class="gap">Gap</th>
                    <th class="tour_num">Tour</th>
                    <th class="last_event">Last</th>
                    <th class="notes min-desktop">Note</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
  <script></script>
{% endblock content %}
