{% extends "databruce/base.html" %}
{% block extrajs %}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.19/index.global.min.js'></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          validRange: {
            start: '1965-06-01',
            end: new Date().toISOString(),
          },
          fixedWeekCount: false,
          initialDate: '{{ request.GET.start }}',
          schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
          dayMinWidth: 100,
          height: 768,
          contentHeight: 768,
          headerToolbar: {
            start: 'title',
            center: '',
            end: 'prev,next'
          },
          themeSystem: 'bootstrap5',
          eventSources: [
            function(info, successCallback, failureCallback) {
              fetch(`/api/v1/events/?format=json&start_date=${info.start.toISOString()}&end_date=${info.end.toISOString()}`)
              .then((resp) => resp.json())
              .then(function(data) {
                var eventsList = [];

                $(data.results).each(function (i, val){
                  var title = `${val.artist.name}: ${val.venue.formatted}`

                  if (val.early_late) {
                    var title = `${val.artist.name}: ${val.venue.formatted} (${val.early_late})`
                  }

                  eventsList.push(
                    {
                      title: title,
                      start: val.date.filter,
                      url: `/events/${val.id}`,
                      allDay: false,
                      className: 'text-wrap',
                    }
                  )
                })

                if (!Array.isArray(eventsList) || !eventsList.length) {
                  failureCallback(eventsList);
                } else {
                  successCallback(eventsList);
                }

              })
            },
            function (info, successCallback, failureCallback) {
              fetch(`/api/v1/runs/?format=json&start=${info.start.toISOString()}&end=${info.end.toISOString()}`)
              .then((resp) => resp.json())
              .then(function(data){
                var eventsList = [];

                $(data.results).each(function (i, val){
                  eventsList.push(
                    {
                      title: val.name,
                      start: val.first.date.filter,
                      end: `${val.last.date.filter}T23:59:59`,
                      url: `/runs/${val.id}`,
                      backgroundColor: 'var(--secondary)',
                      borderColor: 'var(--secondary)',
                      className: 'text-wrap',
                    }
                  )
                })

                if (!Array.isArray(eventsList) || !eventsList.length) {
                  failureCallback(eventsList);
                } else {
                  successCallback(eventsList);
                }
              })
            },
          ],

          eventContent: function( info ) {
            return {html: info.event.title};
          }
        });
        calendar.render();
      });
  </script>
{% endblock extrajs %}
{% load static %}
{% block title %}
  Test
{% endblock title %}
{% block content %}
  <div class="row justify-content-center py-3">
    <div class="col-12 col-md-10">
      <div id="calendar"></div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      var date = new Date();

      let currentMonth = (date.getMonth()+1).toString().padStart(2,"0");
      let currentDay = date.getDate().toString().padStart(2,"0");

      $(`td[data-date$='${currentMonth}-${currentDay}']`).addClass('today');
    });

  </script>
{% endblock content %}
