{% extends "databruce/base.html" %}
{% block title %}
  Updates
{% endblock title %}
{% block content %}
  <div class="col-12 col-lg-8 text-sm mx-auto">
    <div class="row mb-2">
      <div class="text-2xl">
        <a href="{% url 'index' %}">Databruce</a> &gt; Updates
      </div>
    </div>
    <div class="row mb-2">
      <div class="text-base">
        This is a running list of new additions to the database. To keep things simple, I've limited it to the last 1000 additions.
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="card p-0">
          <div class="card-body px-0">
            <div class="table-responsive">
              <table class="table table-hover display" id="updateTable">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Description</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      new DataTable('#updateTable', {
        layout: getDatatableLayout({category: false}),
        serverSide: true,
        processing: true,
        ajax: {
          'url': '/api/v1/updates/?format=datatables&keep=id,view,item_id,msg,value',
        },
        columns:[
          {
            'data': 'created',
            'name': 'created_at',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return data
              }
            },
          },
          {
            'data': 'msg',
            'name': 'msg',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                if (row.view) {
                  return `${data} <a class='text-reset fw-medium text-accent' href='/${row.view}/${row.item_id}'>${row.value}</a>`

                }
              }
            },
          },
        ]
      });
    });
  </script>
{% endblock content %}
