{% extends "databruce/base.html" %}
{% block title %}
  Updates
{% endblock title %}
{% block content %}
  <div class="col-12 col-lg-8 text-sm mx-auto">
    <div class="row mb-2">
      <div class="text-2xl">
        <a href="{% url 'index' %}">Databruce</a> &gt; Updates
      </div>
    </div>
    <div class="row mb-2">
      <div class="text-base">
        This is a running list of new additions to the database. To keep things simple, I've limited it to the last 1000 additions.
      </div>
    </div>
    <div class="row mb-3">
      <div class="table-responsive">
        <table class="table table-hover display" id="updateTable">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for item in updates %}
              <tr>
                <td>{{ item.created_at|date:'Y-m-d' }}</td>
                <td>
                  {% if item.view %}
                    {{ item.msg }} <a class="text-reset update-link"
    href="{% url item.view id=item.item_id %}">{{ item.value }}</a>
                  {% else %}
                    {{ item.msg }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      new DataTable('#updateTable', {
        layout: getDatatableLayout(),
        order: [[0, 'desc']],
      });
    });
  </script>
{% endblock content %}
