<div class="d-flex flex-sm-row align-items-center justify-content-center column-gap-2 row-gap-2 flex-wrap">
  <div class="col order-1 order-lg-2">
    <label for="search" class="pb-1">Search</label>
    <div class="input-group input-group-sm">
      <input type="text"
             id="search"
             class="form-control form-control-sm"
             placeholder="Type to search table...">
    </div>
  </div>
  <div class="col-12 col-lg-2 col-xl-1 order-2 order-lg-1">
    <label for="PublicityFilter" class="pb-1">Publicity</label>
    <select id="PublicityFilter"
            class="form-select form-select-sm publicity-filter">
      <option value="">All</option>
      <option value="true">Public</option>
      <option value="false">Private</option>
    </select>
  </div>
</div>
<div class="row my-3">
  <div class="d-flex flex-sm-row align-items-center justify-content-center column-gap-3 flex-wrap event-controls"
       id="eventTableControls">
    {% include "databruce/partials/table_pagination.html" %}
    <div class="dt-info order-3 table_info"
         aria-live="polite"
         role="status"
         id="eventTableInfo"></div>
    <div class="order-1 order-lg-3 d-flex col-12 col-lg-3 mb-3 mb-lg-0 align-items-center justify-content-center justify-content-sm-start gap-2"
         id="dropdown-container">
      <label for="eventTableOrder" class="form-label mb-0 text-nowrap">Order By:</label>
      <select name=""
              id="eventTableOrder"
              class="form-select form-select-sm column-order"
              autocomplete="off">
        <option value="1-asc" selected>Date (asc.)</option>
        <option value="1-desc">Date (desc.)</option>
        <option value="3-asc">Band (A-Z)</option>
        <option value="3-desc">Band (Z-A)</option>
        <option value="4-asc">Venue (A-Z)</option>
        <option value="4-desc">Venue (Z-A)</option>
        <option value="5-asc">Tour (A-Z)</option>
        <option value="5-desc">Tour (Z-A)</option>
      </select>
    </div>
  </div>
</div>
<div class="d-none d-lg-block" id="tableContainer">
  <div class="card">
    <div class="card-body p-0">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover display nowrap" id="eventTable">
            <thead>
              <tr>
                <th class="all">
                  <i class="bi bi-star-fill"></i>
                </th>
                <th class="all">Date</th>
                <th class="all">Setlist</th>
                <th class="all">Band</th>
                <th class="all">Venue</th>
                <th class="all">Tour</th>
                <th class="min-desktop">Detail</th>
                <th class="all">Public</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="cardContainer" class="d-block d-lg-none">
  <div class="row g-3" id="cards"></div>
</div>
<div class="mt-3 event-controls">
  <div class="d-flex justify-content-center mb-2 mb-lg-0 align-items-center gap-2 order-2 col-12 col-lg-auto">
    <button class="btn btn-sm btn-primary border-0 btn-prev"
            aria-label="Previous page">
      <i class="bi bi-chevron-left"></i>
    </button>
    <input type="text"
           class="form-control form-control-sm text-center page-input m-0"
           min="1"
           value="1">
    <span class="total-pages align-middle">of 1</span>
    <button class="btn btn-sm btn-primary border-0 btn-next"
            aria-label="Next page">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</div>
