<div class="row align-items-end d-flex row-gap-2 gx-2" id="tableControls">
    <!-- Search -->
    <div class="col-12 col-md-auto mt-2 mt-md-0">
        <button type="button"
                id="sbButton"
                data-bs-toggle="modal"
                data-bs-target="#sbModal"
                class="btn btn-sm bi bi-search icon-button btn-primary w-100 gap-1 search">Searchbuilder</button>
    </div>
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table table-hover display" id="slotTable">
            <thead>
                <tr>
                    <th class="text-nowrap all">Event</th>
                    <th class="text-nowrap all show-opener">Show Opener</th>
                    <th class="text-nowrap all set-1-closer">Set 1 Closer</th>
                    <th class="text-nowrap all set-2-opener">Set 2 Opener</th>
                    <th class="text-nowrap all main-set-closer">Main Set Closer</th>
                    <th class="text-nowrap all encore-opener">Encore Opener</th>
                    <th class="text-nowrap all show-closer">Show Closer</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
