<div class="table-responsive">
    <table class="table table-hover display" id="songTable">
        <thead>
            <tr>
                <th class="text-center all">#</th>
                <th class="text-nowrap all">Song</th>
                <th class="text-nowrap all">Category</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr>
                    <td class="text-center">{{ song.plays }}</td>
                    <td class="text-nowrap">
                        <a href="{% url "song_details" id=song.song_id %}">{{ song.name }}</a>
                    </td>
                    <td class="text-nowrap">{{ song.category }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
