<div class="table-responsive">
    <table class="table table-hover display" id="songTable">
        <thead>
            <tr>
                <th class="all">Count</th>
                <th class="all">Song</th>
                <th class="min-tablet-l">Category</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr>
                    <td>{{ song.plays }}</td>
                    <td>
                        <a href="{% url "song_details" id=song.song_id %}">{{ song.name }}</a>
                    </td>
                    <td>{{ song.category }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
