<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover display" id="songTable">
          <thead>
            <tr>
              <th class="all">Plays</th>
              <th class="all">Song</th>
              <th class="all">Category</th>
              <th class="all">First</th>
              <th class="all">Last</th>
              <th class="all">Original</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
