<div class="d-flex justify-content-center mb-2 mb-lg-0 align-items-center gap-2 order-2 col-12 col-lg-auto">
  <button class="btn btn-sm btn-primary border-0 btn-prev"
          aria-label="Previous page">
    <i class="bi bi-chevron-left"></i>
  </button>
  <input type="text"
         class="form-control form-control-sm text-center page-input m-0"
         min="1"
         value="1">
  <span class="total-pages align-middle">of 1</span>
  <button class="btn btn-sm btn-primary border-0 btn-next"
          aria-label="Next page">
    <i class="bi bi-chevron-right"></i>
  </button>
</div>
