{% comment %} <li class="nav-item dropdown list-unstyled">
    <button class="btn btn-sm dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (light)">
        <i class="bi bi-circle-half mx-2 theme-icon-active" aria-hidden="true"></i>
        <span class="d-lg-none my-auto" id="bd-theme-text">Toggle Theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="true">
                Light
                <i class="bi bi-check2 ms-auto d-none" aria-hidden="true"></i>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                Dark
                <i class="bi bi-check2 ms-auto d-none" aria-hidden="true"></i>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                Auto
                <i class="bi bi-check2 ms-auto d-none" aria-hidden="true"></i>
            </button>
        </li>
    </ul>
</li> {% endcomment %}
<li class="nav-item">
    <button class="btn btn-sm"
            id="bd-theme"
            type="button"
            aria-label="Toggle Theme">
        <i class="bi bi-sun-fill mx-1 theme-icon" aria-hidden="true"></i>
        <i class="bi bi-moon-stars-fill mx-1 theme-icon" aria-hidden="true"></i>
        <span class="d-lg-none my-auto" id="bd-theme-text">Toggle Theme</span>
    </button>
</li>
