<li class="nav-item d-none d-xl-block"
    id="toggle-container"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    data-bs-title="Toggle Theme">
    <button class="btn btn-sm px-0 border-0 bd-theme-btn"
            id="bd-theme"
            type="button"
            aria-label="Toggle Theme">
        <i class="bi bi-sun-fill theme-icon" aria-hidden="true"></i>
        <i class="bi bi-moon-stars-fill theme-icon" aria-hidden="true"></i>
        <span class="d-lg-none my-auto" id="bd-theme-text">Toggle Theme</span>
    </button>
</li>
