{% extends "databruce/category.html" %}
{% block title %}
  Bands
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Bands</div>
  <div class="text-base">Bands that have shared a stage or appeared at an event with Bruce.</div>
{% endblock info_row %}
{% block table_id %}
  bandTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="header">
      <th>#</th>
      <th>Name</th>
      <th>First</th>
      <th>Last</th>
      <th>Bruce's Band?</th>
    </tr>
  </thead>
  <tbody>
    {% for band in bands %}
      <tr>
        <td>{{ band.appearances }}</td>
        <td class="text-nowrap">
          <a href="{% url "band_details" id=band.id %}">{{ band.name }}</a>
        </td>
        <td data-sort="{{ band.first.get_date }}"
            data-filter="{{ band.first.get_date }}">
          <a href="{% url "event_details" id=band.first.id %}">{{ band.first.get_date }}</a>
        </td>
        <td data-sort="{{ band.last.get_date }}"
            data-filter="{{ band.last.get_date }}">
          <a href="{% url "event_details" id=band.last.id %}">{{ band.last.get_date }}</a>
        </td>
        <td>{{ band.springsteen_band }}</td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock table %}
{% block scripts %}
  <script>
  $(document).ready(function () {
    new DataTable('#bandTable', {
      layout: getDatatableLayout([0,1,2,3]),
      columnDefs: [
        { target: -1, visible: false },
        { type: 'date', targets: [2, 3] },
        { type: 'num', targets: [0], width: '1rem' },
      ],
      initComplete: function () {
        this.api()
          .columns([-1])
          .every(function () {
              categorySelect(this, 'Category', [{'label': 'All', 'value': '.*'}, {'label': 'Bruce Bands', 'value': 'True'}, {'label': 'Guests', 'value': 'False'}]);
          });
      },
    });
  });
  </script>
{% endblock scripts %}
