{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Bands
{% endblock title %}
{% block content %}
  <div class="row mb-4">
    <div class="col">
      <h4>Bands</h4>
      <h6>Bands that have shared a stage or appeared at an event with Bruce.</h6>
    </div>
  </div>
  <div class="row mb-4">
    <div class="card">
      <div class="card-body">
        <div class="col">
          <div class="table-responsive p-0">
            <table class="table table display nowrap" id="table">
              <thead>
                <tr class="header">
                  <th scope="col">Name</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Appearances</th>
                  <th scope="col">Bruce's Band?</th>
                </tr>
              </thead>
              <tbody>
                {% for band in bands %}
                  <tr>
                    <td>
                      <a href="{% url "databruce:band_details" id=band.id %}">{{ band.name }}</a>
                    </td>
                    <td>
                      <a href="{% url "databruce:event_details" event=band.first.id %}">{{ band.first }}</a>
                    </td>
                    <td>
                      <a href="{% url "databruce:event_details" event=band.last.id %}">{{ band.last }}</a>
                    </td>
                    <td>{{ band.appearances }}</td>
                    <td>{{ band.bruce_band }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% load static %}
  <script src="{% static 'databruce/js/datatables.js' %}"></script>
  <script>
  // remove SearchBuilder
  layout.topEnd.features[1].buttons.pop();

  $(document).ready(function () {
    $('#table').dataTable({
      layout: layout,
      pageLength: 25,
      columnDefs: [
        {
          target: -1,
          visible: false
        }
      ],
      initComplete: function () {
        this.api()
          .columns([-1])
          .every(function () {
              var column = this;

              $('<div class="row g-3 align-items-center"><div class="col-auto"><label for="artist">Category:</label></div><div class="col" id="artist-select"></div></div>').appendTo($('#dropdown-container'));

              // this appears to be the only way to add a select filter
              // without going through ajax calls. I originally had a pre-made dropdown in
              // another file and included it like above, however, I had to use an ajax call
              // otherwise it would appear but not work
              var select = $('<select id="artist" class="custom-select form-select form-select-sm"></select>')
                .appendTo($('#artist-select'))
                .on('change', function () {
                    column
                      .search($(this).val(), {regex: true})
                      .draw();
                });
              
              
              select.append('<option value=".*">All</option>');
              select.append('<option value="Yes">Bruce as member</option>');
              select.append('<option value="No">Bruce as guest</option>');
          });
      },
    });
  });
  </script>
{% endblock content %}
