{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Bands &gt; {{ info.name }}
{% endblock title %}
{% block content %}
  <div class="row mb-4">
    <div class="col">
      <h4>
        <a href="{% url 'databruce:bands' %}">Bands</a> &gt; {{ info.name }}
      </h4>
    </div>
  </div>
  <div class="row mb-4">
    <div class="card">
      <div class="card-body">
        <h5>Events</h5>
        <div class="col">
          <div class="table-responsive p-0">
            <table class="table table display nowrap" id="eventTable">
              <thead>
                <tr class="custom">
                  <th>Date</th>
                  <th>Band</th>
                  <th>Venue</th>
                  <th>Location</th>
                  <th>Tour</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody>
                {% for event in events %}
                  <tr>
                    <td>
                      <a href="{% url 'databruce:event_details' event=event.id %}">{{ event.event_date|get_date:event.id }} {{ event.early_late|default_if_none:'' }}</a>
                    </td>
                    <td>
                      <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
                    </td>
                    <td>
                      <a href="{% url 'databruce:venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
                    </td>
                    <td>
                      {% if event.venue.city %}
                        <a href="{% url "databruce:city_details" id=event.venue.city.id %}">{{ event.venue.city }}</a>
                      {% endif %}
                    </td>
                    <td>
                      {% if event.tour %}
                        <a href="{% url "databruce:tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
                      {% endif %}
                    </td>
                    <td>{{ event.event_title|default_if_none:'' }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="card">
      <div class="card-body">
        <h5>Members</h5>
        <div class="col">
          <div class="table-responsive p-0">
            <table class="table table display" id="memberTable">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                </tr>
              </thead>
              <tbody>
                {% for member in members %}
                  <tr>
                    <td>
                      <a href="{% url "databruce:relation_details" id=member.relation.id %}">{{ member.relation.name }}</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    // removes searchBuilder button, not needed for this.
    layout.topEnd.features[1].buttons[0].config.columns = [1, 2, 3, 4];
    
    $(document).ready(function () {
      new DataTable('#eventTable', {
        searching: false,
        layout: layout,
      });
      new DataTable('#memberTable', {

      });
    });
  </script>
{% endblock content %}
