{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Bands &gt; {{ info.name }}
{% endblock title %}
{% block content %}
  <h4>
    Databruce &gt; <a href="{% url 'databruce:bands' %}">Bands</a> &gt; {{ info.name }}
  </h4>
  <hr />
  {% include "databruce/event_info.html" with events=events %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#shows" class="nav-link active" data-bs-toggle="tab">Shows</a>
    </li>
    <li class="nav-item">
      <a href="#members" class="nav-link" data-bs-toggle="tab">Members</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="shows">
      <div class="table-responsive">
        <table class="table table display nowrap" id="eventsTable">
          <thead>
            <tr class="custom">
              <th>Date</th>
              <th>Band</th>
              <th>Venue</th>
              <th>Location</th>
              <th>Tour</th>
              <th>Detail</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
              {% with event=event.event %}
                <tr>
                  <td>
                    <a href="{% url 'databruce:event_details' event=event.id %}">{{ event.event_date|get_date:event.id }} {{ event.early_late|default_if_none:'' }}</a>
                  </td>
                  <td>
                    <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
                  </td>
                  <td>
                    <a href="{% url 'databruce:venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
                  </td>
                  <td>
                    {% if event.venue.id != 1964 %}
                      <a href="{% url 'databruce:city_details' id=event.venue.city.id %}">
                        {{ event.venue.city.name }},
                        {% if event.venue.state %}
                          {{ event.venue.state.state_abbrev }}
                        {% else %}
                          {{ event.venue.country.name }}
                        {% endif %}
                      </a>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url "databruce:tour_details" id=event.tour.id %}">{{ event.tour.tour_name }}</a>
                  </td>
                  <td>{{ event.event_title|default_if_none:'' }}</td>
                </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="members">
      <div class="table-responsive">
        <table class="table table display" id="membersTable">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Instruments</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Appearances</th>
            </tr>
          </thead>
          <tbody>
            {% for member in members %}
              <tr>
                <td>
                  <a href="{% url "databruce:relation_details" id=member.relation.id %}">{{ member.relation.name }}</a>
                </td>
                <td>{{ member.relation.instruments|default_if_none:"" }}</td>
                <td>
                  <a href="{% url "databruce:event_details" event=member.relation.first.id %}">{{ member.relation.first.event_date|get_date:member.relation.first.id }}</a>
                </td>
                <td>
                  <a href="{% url "databruce:event_details" event=member.relation.last.id %}">{{ member.relation.last.event_date|get_date:member.relation.last.id }}</a>
                </td>
                <td>{{ member.relation.appearances }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% load static %}
  <script src="{% static 'databruce/js/datatables.js' %}"></script>
  <script>
    // removes searchBuilder button, not needed for this.
    layout.topEnd.features[1].buttons[1].config.columns = [1, 2, 3, 4]
    
    $(document).ready(function () {
      // initializes all tables
      $('#eventsTable').dataTable({
        layout: layout,
      });

      // removes searchBuilder button, not needed for this.
      layout.topEnd.features[1].buttons.pop();

      $('#membersTable').dataTable({
        layout: layout,
      });

      $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function(e){
        $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
      });
    });
  </script>
{% endblock content %}
