{% extends "databruce/category.html" %}
{% block title %}
  Bands
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Bands</div>
  <div class="text-base">Bands that have shared a stage or appeared at an event with Bruce.</div>
{% endblock info_row %}
{% block table_id %}
  bandTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="header">
      <th class="all text-center">Events</th>
      <th class="all">Name</th>
      <th class="min-tablet-l">First</th>
      <th class="min-tablet-l">Last</th>
      <th class="min-tablet-l">Bruce's Band?</th>
    </tr>
  </thead>
  {% comment %} <tbody>
    {% for band in bands %}
      <tr>
        <td>{{ band.appearances }}</td>
        <td class="text-nowrap">
          <a href="{% url "band_details" id=band.id %}">{{ band.name }}</a>
        </td>
        <td data-sort="{{ band.first.get_date }}" data-filter="{{ band.first.get_date }}">
          <a href="{% url "event_details" id=band.first.id %}">{{ band.first.get_date }}</a>
        </td>
        <td data-sort="{{ band.last.get_date }}" data-filter="{{ band.last.get_date }}">
          <a href="{% url "event_details" id=band.last.id %}">{{ band.last.get_date }}</a>
        </td>
        <td>{{ band.springsteen_band }}</td>
      </tr>
    {% endfor %}
  </tbody> {% endcomment %}
{% endblock table %}
{% block scripts %}
  <script>
  $(document).ready(function () {

    var layout = getDatatableLayout({columns: [0,1,2,3], category: true});
    dtCategorySelect({layout: layout, column_idx: 4, values: [{'label': 'Bruce Bands', 'value': 'True'}, {'label': 'Guests', 'value': 'False'}], label: 'Category'});

    new DataTable('#bandTable', {
      layout: layout,
      columnDefs: [
        { target: -1, visible: false },
        { type: 'num', targets: [0], width: '1rem' },
      ],
      serverSide: true,
      processing: true,
      ajax: {
        'url': '/api/v1/bands/?format=datatables&keep=id',
      },
      columns: [
        {'data': 'count', 'name': 'count'},
        {
          'data': 'name',
          'name': 'name',
          'render': function (data, type, row, meta) {
            if (type === 'display') {
              return '<a href="/bands/' + row.id + '">'+ data +'</a>';
            }
          },
        },
        {
          'data': 'first.date',
          'name': 'first__id, first__early_late',
          'render': function (data, type, row, meta) {
            if (type === 'display') {
              return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
            }
          },      
        },
        {
          'data': 'last.date',
          'name': 'last__id, last__early_late',
          'render': function (data, type, row, meta) {
            if (type === 'display') {
              return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
            }
          },      
        },
        {'data': 'springsteen_band', 'name': 'springsteen_band'},
      ]
    });
  });
  </script>
{% endblock scripts %}
