{% extends "databruce/base.html" %}
{% block title %}
  Bands &gt; {{ info.name }}
{% endblock title %}
{% block content %}
  <div class="col-12 col-xxl-8 mx-auto">
    <div class="text-2xl text-nowrap mb-3">
      <a href="{% url 'bands' %}">Bands</a> &gt; {{ info.name }}
    </div>
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link active"
                    id="pills-events-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#events"
                    type="button"
                    role="tab"
                    aria-controls="pills-home"
                    aria-selected="true">Events</button>
          </li>
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link"
                    id="pills-members-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#members"
                    type="button"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false">Members</button>
          </li>
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link"
                    id="pills-links-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#links"
                    type="button"
                    role="tab"
                    aria-controls="pills-links"
                    aria-selected="false">Links</button>
          </li>
        </ul>
      </div>
      <div class="card-body px-0">
        <div class="tab-content">
          <div id="events" class="tab-pane fade show active">
            <div class="table-responsive">
              <table class="table table-hover display" id="eventTable">
                <thead>
                  <tr class="custom">
                    <th class="all">Date</th>
                    <th class="min-tablet-l">Setlist</th>
                    <th class="all">Band</th>
                    <th class="min-tablet-l">Venue</th>
                    <th class="all">Location</th>
                    <th class="min-tablet-l">Tour</th>
                    <th class="min-tablet-l">Detail</th>
                    <th class="min-tablet-l">Public</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="members" class="tab-pane fade">
            <div class="table-responsive">
              <table class="table table-hover display" id="memberTable">
                <thead>
                  <tr>
                    <th class="all text-center" scope="col">Events</th>
                    <th class="all" scope="col">Name</th>
                    <th class="all" scope="col">Instruments</th>
                    <th class="min-tablet-l" scope="col">First</th>
                    <th class="min-tablet-l" scope="col">Last</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="links" class="tab-pane fade">
            <ul>
              {% if info.brucebase_url %}
                <li>
                  <a href="https://brucebase.wikidot.com{{ info.brucebase_url }}">Brucebase</a>
                </li>
              {% endif %}
              {% if info.mbid %}
                <li>
                  <a href="https://musicbrainz.org/artist/{{ info.mbid }}">Musicbrainz</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      var layout = getDatatableLayout({columns: [2,3,4,5,6,7], category: true});
      dtCategorySelect({layout: layout, column_idx: 7, values: [{'label': 'Public', 'value': 'true'}, {'label': 'Private', 'value': 'false'}], label: 'Category'});

      new DataTable('#eventTable', {
        layout: layout,
        serverSide: true,
        processing: true,
        ajax: {
          'url': '/api/v1/onstage_events/?band={{ info.id }}&format=datatables',
        },
        columnDefs: [
          {targets: [1], orderable: false, className: 'text-center text-sm', width: '1rem', searchable: false},
          {targets: [-1], visible: false }
        ],
        columns: event_table_columns,
      });

      new DataTable('#memberTable',{
        layout: getDatatableLayout({category: false}),
        serverSide: true,
        processing: true,
        ajax: {
          'url': '/api/v1/onstageband/?band={{ info.id }}&format=datatables',
        },
        columnDefs: [
          {targets: [0], width: '1rem'},
        ],
        columns: [
          { 'data': 'count', 'name': 'count' },
          { 
            'data': 'relation', 'name': 'relation__name',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="/relations/' + data.id + '">' + data.name + '</a>';
              }
            },
          },
          { 'data': 'relation.instruments', 'name': 'relation__instruments' },
          { 
            'data': 'first.date',
            'name': 'first__id',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="/events/' + data.id + '">' + data.display + '</a>';
              }
            },
          },
          { 
            'data': 'last.date',
            'name': 'last__id',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="/events/' + data.id + '">' + data.display + '</a>';
              }
            },          
          },
        ],
      });
    });
  </script>
{% endblock content %}
