{% extends "databruce/narrow_layout.html" %}
{% load static %}
{% block title %}
  Band "{{ info.name }}"
{% endblock title %}
{% block extrajs %}
  <script src="{% static 'databruce/js/eventTable.js' %}"></script>
{% endblock extrajs %}
{% block content %}
  {% if user.is_superuser %}
    {% include "databruce/partials/admin_edit_btn.html" with view="band" item=info.id %}
  {% endif %}
  <div class="col-12">
    <div class="text-2xl text-nowrap mb-3">
      <a href="{% url 'bands' %}">Bands</a> &gt; {{ info.name }}
    </div>
    {% if info.note %}
      <div class="prefix-container">
        <span class="prefix">Notes</span>
        <span class="value">{{ info.note|markdown|safe }}</span>
      </div>
      <hr>
    {% endif %}
    <div class="mt-2 mb-3">
      <ul class="nav nav-pills gap-0 column-gap-1 row-gap-1" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="btn nav-btn active"
                  id="pills-events-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#events"
                  type="button"
                  role="tab"
                  aria-controls="pills-home"
                  aria-selected="true">
            Events<span class="badge count-badge" id="event-count-badge">0</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="btn nav-btn"
                  id="pills-members-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#members"
                  type="button"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false">
            Members<span class="badge count-badge" id="member-count-badge">0</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="btn nav-btn"
                  id="pills-links-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#links"
                  type="button"
                  role="tab"
                  aria-controls="pills-links"
                  aria-selected="false">Links</button>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div id="events" class="tab-pane fade show active">{% include "databruce/partials/event_table.html" %}</div>
      <div id="members" class="tab-pane fade">
        <div class="card">
          <div class="card-body p-0">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-hover display" id="memberTable">
                  <thead>
                    <tr>
                      <th class="all text-center">Events</th>
                      <th class="all">Name</th>
                      <th class="all">Instruments</th>
                      <th class="all">First</th>
                      <th class="all">Last</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="links" class="tab-pane fade">
        <div class="card">
          <div class="card-body p-2">
            <ul>
              {% if info.brucebase_url %}
                <li>
                  <a target="_blank"
                     href="https://brucebase.wikidot.com{{ info.brucebase_url }}">Brucebase</a>
                </li>
              {% endif %}
              {% if info.mbid %}
                <li>
                  <a target="_blank" href="https://musicbrainz.org/artist/{{ info.mbid }}">Musicbrainz</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      eventTable('/api/v1/events/?artist={{ info.id }}&format=custom');

      var table = new DataTable('#memberTable', {
        ajax: {
          'url': '/api/v1/onstageband/?band={{ info.id }}&format=custom',
        },
        columns: [{
          'data': 'count',
          'name': 'count',
          'width': '1rem',
          'className': 'text-center'
        }, {
          'data': 'relation',
          'name': 'relation__name',
          'render': function(data, type, row, meta) {
            if (data) {
              return `<a href="/relations/${data.uuid}">${data.name}</a>`;
            }
          },
        }, {
          'data': 'relation.instruments',
          'name': 'relation__instruments'
        }, {
          'data': 'first',
          'name': 'first__event_id, first__date',
          'render': function(data, type, row, meta) {
            if (data) {
              return `<a href="/events/${data.event_id}">${data.date}</a>`;
            }
          },
        }, {
          'data': 'last',
          'name': 'first__event_id, first__date',
          'render': function(data, type, row, meta) {
            if (data) {
              return `<a href="/events/${data.event_id}">${data.date}</a>`;
            }
          },
        }, ],
        initComplete: function(settings, json) {
          var info = this.api().page.info();
          $('#member-count-badge').text(info.recordsTotal);
        }
      });
    });
  </script>
{% endblock content %}
