{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Bands &gt; {{ info.name }}
{% endblock title %}
{% block content %}
  <div class="row mb-4">
    <div class="col">
      <h4>
        <a href="{% url 'databruce:bands' %}">Bands</a> &gt; {{ info.name }}
      </h4>
    </div>
  </div>
  <div class="row-mb-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item me-2" role="presentation">
              <button class="nav-link active"
                      id="pills-events-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#events"
                      type="button"
                      role="tab"
                      aria-controls="pills-home"
                      aria-selected="true">Events</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link"
                      id="pills-members-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#members"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">Members</button>
            </li>
          </ul>
        </div>
        <div class="card-body px-0">
          <div class="tab-content">
            <div id="events" class="tab-pane fade show active">
              <div class="table-responsive">
                <table class="table table-hover display" id="eventTable">
                  <thead>
                    <tr>
                      <th class="all">Date</th>
                      <th class="all">Band</th>
                      <th class="min-tablet-l">Venue</th>
                      <th class="min-tablet-l">Location</th>
                      <th class="min-tablet-l">Tour</th>
                      <th class="min-tablet-l">Detail</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for event in events %}
                      <tr>
                        <td class="text-nowrap">
                          <a href="{% url "databruce:event_details" id=event.id %}">{{ event }}</a>
                        </td>
                        <td class="text-nowrap">
                          <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist }}</a>
                        </td>
                        <td class="text-nowrap">
                          <a href="{% url "databruce:venue_details" id=event.venue.id %}">{{ event.venue }}</a>
                        </td>
                        <td class="text-nowrap">
                          {% if event.venue.city %}
                            <a href="{% url "databruce:city_details" id=event.venue.city.id %}">{{ event.venue.city }}</a>
                          {% endif %}
                        </td>
                        <td class="text-nowrap">
                          {% if event.tour %}
                            <h6 class="mb-0">
                              <a href="{% url "databruce:tour_details" id=event.tour.id %}"><span class="badge {{ event.tour.slug|default_if_none:"text-bg-secondary" }}">{{ event.tour.name }}</span></a>
                            </h6>
                          {% endif %}
                        </td>
                        <td class="text-wrap">{{ event.note|default_if_none:"" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div id="members" class="tab-pane fade">
              <div class="table-responsive">
                <table class="table table-hover display" id="memberTable">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Instruments</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for member in members %}
                      <tr>
                        <td>
                          <a href="{% url "databruce:relation_details" id=member.relation.id %}">{{ member.relation.name }}</a>
                        </td>
                        <td>{{ member.relation.instruments|default_if_none:"" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} <div class="row mb-4">
    <div class="col-12 col-md-8">
      <div class="card mb-4">
        <h5 class="card-header">Events</h5>
        <div class="card-body px-0">
          <div class="table-responsive">
            <table class="table table-hover display nowrap" id="eventTable">
              <thead>
                <tr class="custom">
                  <th>Date</th>
                  <th>Band</th>
                  <th>Venue</th>
                  <th>Tour</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody>
                {% for event in events %}
                  <tr>
                    <td>
                      <a href="{% url "databruce:event_details" id=event.id %}">{{ event }}</a>
                    </td>
                    <td>
                      <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
                    </td>
                    <td>
                      <div class="row">
                        <a href="{% url 'databruce:venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
                      </div>
                      {% if event.venue.city %}
                        <div class="row">
                          <span>
                            <a class="text-secondary-emphasis" href="{% url 'databruce:city_details' id=event.venue.city.id %}">{{ event.venue.city }}</a>
                          </span>
                        </div>
                      {% endif %}
                    </td>
                    <td>
                      {% if event.tour %}
                        <a href="{% url "databruce:tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
                      {% endif %}
                    </td>
                    <td>{{ event.title|default_if_none:'' }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <h5 class="card-header">Members</h5>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover display" id="memberTable">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                </tr>
              </thead>
              <tbody>
                {% for member in members %}
                  <tr>
                    <td>
                      <a href="{% url "databruce:relation_details" id=member.relation.id %}">{{ member.relation.name }}</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
  <script>
    // removes searchBuilder button, not needed for this.
    layout.topEnd.features[1].buttons[0].config.columns = [1, 2, 3, 4];
    
    $(document).ready(function () {
      new DataTable('#eventTable', {
        searching: false,
        layout: layout,
      });

      // removes searchBuilder button, not needed for this.
      layout.topEnd.features[1].buttons.pop();

      new DataTable('#memberTable',{
        layout: layout,
        searching: false
      });
    });
  </script>
{% endblock content %}
