{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Relations &gt; {{ info.name }}
{% endblock title %}
{% block content %}
  <div class="row mb-4">
    <div class="col">
      <h4>
        <a href="{% url 'relations' %}">Relations</a> &gt; {{ info.name }}
      </h4>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="col">
            <div class="d-flex flex-row fs-6">
              <div class="pe-2 fw-semibold">Appeared With:</div>
              <div>
                {% spaceless %}
                  {% for band in bands %}
                    <a href="{% url "band_details" id=band.band.id %}">{{ band.band.name }}</a>
                    {% if not forloop.last %},{% endif %}
                  {% endfor %}
                {% endspaceless %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="col">
            <div class="table-responsive">
              <table class="table table-hover display nowrap" id="eventTable">
                <thead>
                  <tr class="custom">
                    <th>Date</th>
                    <th>Band</th>
                    <th>Venue</th>
                    <th>Location</th>
                    <th>Tour</th>
                    <th>Detail</th>
                  </tr>
                </thead>
                <tbody>
                  {% for event in events %}
                    {% with event=event.event %}
                      <tr>
                        <td>
                          <a href="{% url "event_details" id=event.id %}">{{ event }}</a>
                        </td>
                        <td>
                          <a href="{% url "band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
                        </td>
                        <td>
                          <a href="{% url 'venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
                        </td>
                        <td>
                          {% if event.venue.city %}
                            <a href="{% url 'city_details' id=event.venue.city.id %}">{{ event.venue.city }}</a>
                          {% endif %}
                        </td>
                        <td>
                          {% if event.tour %}
                            <a href="{% url "tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
                          {% endif %}
                        </td>
                        <td>{{ event.title|default_if_none:'' }}</td>
                      </tr>
                    {% endwith %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      // searchBuilder custom columns
      layout.topEnd.features[1].buttons[0].config.columns = [2, 3, 4, 5]

      $(document).ready(function() {
          new DataTable('#eventTable', {
              layout: layout,
              order: [
                  [0, 'asc']
              ],
          });
      });
  </script>
{% endblock content %}
