{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Relations &gt; {{ info.name }}
{% endblock title %}
{% block content %}
  <h4>
    Databruce &gt; <a href="{% url 'databruce:relations' %}">Relations</a> &gt; {{ info.name }}
  </h4>
  <hr />
  <div class="relation-info mb-4">
    <div class="row">
      <div class="col-auto pe-0">
        <b>Events:</b>
      </div>
      <div class="col">{{ info.appearances }}</div>
    </div>
    <div class="row">
      <div class="col-auto pe-0">
        <b>First:</b>
      </div>
      <div class="col-auto">
        <a href="{% url 'databruce:event_details' event=info.first.id %}">{{ info.first }} - {{ info.first.venue }}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-auto pe-0">
        <b>Last:</b>
      </div>
      <div class="col-auto">
        <a href="{% url 'databruce:event_details' event=info.last.id %}">{{ info.last }} - {{ info.last.venue }}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-auto pe-0">
        <b>Appeared With:</b>
        <ul>
          {% for band in bands %}
            <li>
              <a href="{% url "databruce:band_details" id=band.band.id %}">{{ band.band.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="table-responsive p-0">
    <table class="table table" id="eventTable">
      <thead>
        <tr class="custom">
          <th>Date</th>
          <th>Band</th>
          <th>Venue</th>
          <th>Location</th>
          <th>Tour</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
          <tr>
            <td>
              <a href="{% url 'databruce:event_details' event=event.id %}">{{ event }}</a>
            </td>
            <td>
              <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
            </td>
            <td>
              <a href="{% url 'databruce:venue_details' id=event.venue.id %}">{{ event.venue }}</a>
            </td>
            <td>
              {% if event.venue.id != 1964 %}
                <a href="{% url 'databruce:city_details' id=event.venue.city.id %}">
                  {{ event.venue.city.name }},
                  {% if event.venue.state %}
                    {{ event.venue.state.state_abbrev }}
                  {% else %}
                    {{ event.venue.country.name }}
                  {% endif %}
                </a>
              {% endif %}
            </td>
            <td>
              <a href="{% url "databruce:tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
            </td>
            <td>{{ event.event_title|default_if_none:'' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% load static %}
  <script src="{% static 'databruce/js/datatables.js' %}"></script>
  <script>
    // searchBuilder custom columns
    layout.topEnd.features[1].buttons[1].config.columns = [2, 3, 4, 5]

    $(document).ready(function () {
      $('#eventTable').dataTable({
        layout: layout,
      });
    });
  </script>
  <script src="{% static 'databruce/js/dt_tab_reload.js' %}"></script>
{% endblock content %}
