{% extends "databruce/wide_layout.html" %}
{% block title %}
  Song "{{ title }}"
{% endblock title %}
{% block extrajs %}
  <link href="https://cdn.datatables.net/columncontrol/1.0.7/css/columnControl.dataTables.min.css"
        rel="stylesheet">
  <script src="https://cdn.datatables.net/columncontrol/1.0.7/js/dataTables.columnControl.min.js"></script>
{% endblock extrajs %}
{% block content %}
  {% if user.is_superuser %}
    {% include "databruce/partials/admin_btn.html" with view="songs" item=info.id %}
  {% endif %}
  <div class="col-12">
    <div class="row mb-3">
      <div class="col">
        <div class="row d-grid gap-0 row-gap-1 text-base text-center text-lg-start">
          <div class="text-2xl text-wrap mb-2">{{ info.name }}</div>
          <div class="col-12">
            <!-- start of original row -->
            <div class="row row-gap-2">
              {% if info.album %}
                <div class="row">
                  <div class="fw-semibold">Album</div>
                  <div>
                    <a href="{% url "release_details" id=info.album.uuid %}">{{ info.category }}</a>
                  </div>
                </div>
              {% endif %}
              <div class="row">
                <div class="fw-semibold">Original Artist</div>
                <div>{{ info.original_artist }}</div>
              </div>
              <div class="row d-flex-inline col-gap-2 justify-content-center justify-content-lg-start">
                <div class="col-auto">
                  <div class="fw-semibold">Public</div>
                  <div>{{ info.num_plays_public }}</div>
                </div>
                <div class="col-auto">
                  <div class="fw-semibold">Private</div>
                  <div>{{ info.num_plays_private }}</div>
                </div>
                <div class="col-auto">
                  <div class="fw-semibold">Snippet</div>
                  <div>{{ info.num_plays_snippet }}</div>
                </div>
                <div class="col-auto">
                  <div class="fw-semibold">Opener</div>
                  <div>{{ info.opener }}</div>
                </div>
                <div class="col-auto">
                  <div class="fw-semibold">Closer</div>
                  <div>{{ info.closer }}</div>
                </div>
              </div>
              <div class="row">
                {% if info.last_event %}
                  <div class="fw-semibold">Last Played</div>
                  <div>
                    <a href="{% url "event_details" id=info.last_event.event_id %}">{{ info.last_event.get_date }}</a>
                    {% if show_gap == 0 %}
                      <span>(latest event)</span>
                    {% else %}
                      <span>({{ show_gap }} shows ago)</span>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
            <!-- end of original row -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-pills items-end mb-2 text-sm gap-1" role="tablist">
              <button class="nav-link active mb-1 mb-md-0"
                      data-bs-toggle="pill"
                      data-bs-target="#events"
                      aria-controls="pills-events">
                Performances<span class="badge rounded-pill text-bg-light" id="event-count-badge">0</span>
              </button>
              <button class="nav-link mb-1 mb-md-0"
                      data-bs-toggle="pill"
                      data-bs-target="#snippets"
                      aria-controls="pills-snippets">
                Snippets<span class="badge rounded-pill text-bg-light" id="snippet-count-badge">0</span>
              </button>
              <button class="nav-link mb-1 mb-md-0"
                      data-bs-toggle="pill"
                      data-bs-target="#stats"
                      aria-controls="pills-stats">Stats</button>
              <button class="nav-link mb-1 mb-md-0"
                      data-bs-toggle="pill"
                      data-bs-target="#lyrics"
                      aria-controls="pills-stats">Lyrics</button>
              <button class="nav-link mb-1 mb-md-0"
                      data-bs-toggle="pill"
                      data-bs-target="#links"
                      aria-controls="pills-links">Links</button>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div id="events" class="tab-pane fade show active">
                <div class="table-responsive">
                  <table class="table table-hover display" id="songTable">
                    <thead>
                      <tr>
                        <th class="all">Date</th>
                        <th class="all">Act</th>
                        <th class="all">Venue</th>
                        <th class="all">Location</th>
                        <th class="all">Tour</th>
                        <th class="all">Position</th>
                        <th class="all">Gap</th>
                        <th class="all">Set</th>
                        <th class="all">Prev</th>
                        <th class="all">Next</th>
                        <th class="all">Note</th>
                        <th class="all">Public</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
              <div id="snippets" class="tab-pane fade p-2">
                <div class="table-responsive">
                  <table class="table table-hover display" id="snippetTable">
                    <thead>
                      <tr>
                        <th class="all">Date</th>
                        <th class="all">Act</th>
                        <th class="all">Venue</th>
                        <th class="all">Location</th>
                        <th class="all">During Song</th>
                        <th class="all">Note</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
              <div id="stats" class="tab-pane fade">
                <div class="row row-cols-1 row-cols-lg-2">
                  <div class="col-12 col-lg-6 mb-3 mb-md-0">
                    <div class="chart-container">
                      <canvas id="chart"></canvas>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="row row-cols-3 g-2">
                      {% for item in positions %}
                        <div class="col">
                          <div class="card p-0">
                            <div class="card-body">
                              <div class="text-sm text-nowrap">{{ item.position }}</div>
                              <div class="text-xl">{{ item.count }}</div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div id="lyrics" class="tab-pane fade">
                {% for lyric in lyrics %}
                  {% if lyric.language == 'English' %}{{ lyric.text|linebreaksbr }}{% endif %}
                {% endfor %}
                {% if lyrics.count > 1 %}
                  <div class="fw-semibold mt-2">All Versions</div>
                  <ul>
                    {% for lyric in lyrics %}
                      <li>
                        <a href="{% url "lyric_detail" id=lyric.uuid %}">
                          {{ lyric.language }}
                          {% if lyric.note %}[{{ lyric.note }}]{% endif %}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
              <div id="links" class="tab-pane fade">
                <ul>
                  {% if info.brucebase_url %}
                    <li>
                      <a target="_blank"
                         href="https://brucebase.wikidot.com{{ info.brucebase_url }}">Brucebase</a>
                    </li>
                  {% endif %}
                  {% if info.spotify_id %}
                    <li>
                      <a target="_blank"
                         href="https://open.spotify.com/track/{{ info.spotify_id }}">Spotify</a>
                    </li>
                  {% endif %}
                  {% if info.mbid %}
                    <li>
                      <a target="_blank" href="https://musicbrainz.org/work/{{ info.mbid }}">Musicbrainz</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script> {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>
  <script>
    $(document).ready(function () {
        let ctx = document.getElementById("chart").getContext("2d");
        Chart.defaults.color = '#999';

        let chart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: [{% for year in year_stats %}{{year.year}},{% endfor %}],
            datasets: [
                {
                  label: "Events",
                  color: "#ffffff",
                  data: [{% for year in year_stats %}{{year.event_count}},{% endfor %}]
                }
            ]
          },
          options: {
            responsive: true,
          },
        });
    });
  
    $(document).ready(function () {
      var layout = getDatatableLayout({category: true});
      dtCategorySelect({layout: layout, column_idx: 7, values: [{'label': 'Public', 'value': '^' + set_names.join('|') + '$'}, {'label': 'Private', 'value': '^Soundcheck|Rehearsal|Recording|Interview$'}], label: 'Category'})

      new DataTable('#songTable', {
        layout: layout,
        ajax: {
          url: '/api/v1/songspage/?song={{ info.id }}&format=custom',
        },
        columnDefs: [
          { 'target': -1, 'visible': false },
          //{ 'targets': [1,2,3,4,5,8,9,10], 'columnControl': [] }
        ],
        columns: [
          {
            'data': 'event',
            'name': 'event__event_id',
            'width': '10rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/events/${data.event_id}">${data.date.display}</a>`
              }
            },
          },
          {
            'data': 'event.artist',
            'name': 'event__artist__name',
            'width': '14rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/bands/${data.id}">${data.name}</a>`
              }
            },
          },
          {
            'data': 'event.venue',
            'name': 'event__venue__name, event__venue__detail',
            'width': '12rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {

                if (data.detail) {
                  return `<a href="/venues/${data.uuid}">${data.detail},<br>${data.name}</a>`
                }

                return `<a href="/venues/${data.uuid}">${data.name}</a>`

                
              }
            },
          },
          {
            'data': 'event.venue',
            'name': 'event__venue__city__name, event__venue__city__state__abbrev, event__venue__city__country__name',
            'width': '16rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/cities/${data.city.uuid}">${data.city.formatted}</a>`
              };
            },
          },
          {
            'data': 'event.tour',
            'name': 'event__tour__name',
            'width': '12rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/tours/${data.uuid}">${data.name}</a>`
              }
            },
          },
          {
            'data': 'position',
            'name': 'setlist_position__position',
            'width': '6rem',
            'className': 'dt-center',
            //'columnControl': [],
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                //return data;

                var className = slugify(data);
                var badge = `<span class="${className} badge align-middle">${data}</span>`
                //var badge = $('<span />').addClass(`badge align-middle text-nowrap ${data}`)

                return badge
              }
            },
          },
          {
            'data': 'last',
            'name': 'last',
            'width': '1rem',
            'className': 'dt-center',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                var badge = $('<span />').addClass('badge align-middle text-nowrap').attr('data-bs-toggle', 'tooltip').attr('data-bs-html', 'true');

                if (row.premiere) {
                  $(badge).addClass('bg-secondary').text(`First`).attr('data-bs-title', 'FTP');
                  return $(badge).prop('outerHTML');
                } else if (data >= 50 && !row.debut) {
                  $(badge).addClass('bg-primary').text(`${data}, Bustout`).attr('data-bs-title', '≥50 shows on current tour since last played');
                  return $(badge).prop('outerHTML');
                } else if (row.debut && !row.premiere) {
                  $(badge).addClass('bg-primary').text(`${data}, TD`).attr('data-bs-title', 'Tour Debut');
                  return $(badge).prop('outerHTML');
                } else if (row.debut && !row.premiere && !data) {
                  $(badge).addClass('bg-primary').text(`TD`).attr('data-bs-title', 'Tour Debut');
                  return $(badge).prop('outerHTML');
                } else {
                  return data;
                }

              }
            },
          },
          {'data': 'set_name', 'name': 'set_name', 'width': '4rem', 'columnControl': [] },
          {
            'data': 'prev_song',
            'name': 'songs_page__prev__name',
            'width': '12rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/songs/${data.uuid}">${data.name}</a>`
              }
            },
          },
          {
            'data': 'next_song',
            'name': 'songs_page__next__name',
            'width': '12rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/songs/${data.uuid}">${data.name}</a>`
              }
            },
          },
          {
            'data': 'notes',
            'name': 'setlist_notes__note',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<span class="setlist-note">${data.join('; ')}</span>`
              }
            },
          },
          {'data': 'event.public', 'name': 'event__public' },
        ],
        initComplete: function(settings, json){ 
          var info = this.api().page.info();
          $('#event-count-badge').text(info.recordsTotal);
        }
      });

      new DataTable('#snippetTable', {
        layout: layout,
        ajax: {
          url: '/api/v1/snippets/',
          data: {
            snippet: '{{ info.id }}',
            format: 'custom'
          },
        },
        columns: [
          {
            'data': 'event',
            'name': 'event__event_id',
            'width': '8rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/events/${data.event_id}">${data.date.display}</a>`
              }
            },
          },
          {
            'data': 'event.artist',
            'name': 'event__artist__name',
            'width': '14rem',
            'render': function (data, type, row, meta) {
                if (type === 'display' && data) {
                  return `<a href="/bands/${data.uuid}">${data.name}</a>`
                }
            },
          },
          {
            'data': 'event.venue',
            'name': 'event__venue__name, event__venue__detail',
            'width': '12rem',
            'render': function (data, type, row, meta) {
                if (type === 'display' && data) {
                  return `<a href="/venues/${data.uuid}">${data.name}</a>`
                }
            },
          },
          {
            'data': 'event.venue',
            'name': 'event__venue__city__name, event__venue__state__abbrev, event__venue__country__name',
            'width': '12rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/cities/${data.city.uuid}">${data.city.formatted}</a>`
              };
            },
          },
          {
            'data': 'setlist.song',
            'name': 'setlist__song__name',
            'width': '12rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/songs/${data.uuid}">${data.name}</a>`
              }
            },
          },
          {'data': 'note', 'name': 'note'},
        ],
        initComplete: function(settings, json){ 
          var info = this.api().page.info();
          $('#snippet-count-badge').text(info.recordsTotal);
        }
      });

    })
  </script>
{% endblock content %}
