{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  {{ song_info.name }}
{% endblock title %}
{% block extrajs %}
  <link href="https://cdn.datatables.net/columncontrol/1.0.7/css/columnControl.dataTables.min.css"
        rel="stylesheet">
  <script src="https://cdn.datatables.net/columncontrol/1.0.7/js/dataTables.columnControl.min.js"></script>
{% endblock extrajs %}
{% block content %}
  <div class="row mb-2" id="song-info">
    <h4>
      <a href="{% url 'songs' %}">Songs</a> &gt; {{ song_info.name }}
    </h4>
  </div>
  <div class="row mb-2" id="song-info">
    <div class="col">
      <h6>
        <div class="d-flex flex-row">
          <div class="pe-2 fw-semibold">Original Artist:</div>
          <div>{{ song_info.original_artist }}</div>
        </div>
        {% if song_info.album %}
          <div class="d-flex flex-row">
            <div class="pe-2 fw-semibold">Category:</div>
            <div>
              <a href="{% url "release_details" id=song_info.album.id %}">{{ song_info.category }}</a>
            </div>
          </div>
        {% endif %}
      </h6>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <ul class="nav nav-pills items-end" role="tablist">
        <button class="nav-link text-center me-1 mb-2 active"
                data-bs-toggle="pill"
                data-bs-target="#stats"
                aria-controls="pills-stats">Summary</button>
        <button class="nav-link text-center mx-1 mb-2"
                data-bs-toggle="pill"
                data-bs-target="#events"
                aria-controls="pills-events">Performances</button>
        <button class="nav-link text-center mx-1 mb-2"
                data-bs-toggle="pill"
                data-bs-target="#snippets"
                aria-controls="pills-snippets">Snippets</button>
        <button class="nav-link text-center mx-1 mb-2"
                data-bs-toggle="pill"
                data-bs-target="#links"
                aria-controls="pills-links">Links</button>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col {% if lyrics %}col-lg-6 col-xl-9 pe-lg-3{% endif %}">
      <div class="tab-content">
        <div id="stats" class="tab-pane fade show active">
          <div class="card mb-3">
            <div class="card-header">Song Stats</div>
            <div class="card-body">
              <div class="row mb-3">
                <div class="col">
                  <h5>Performance Stats</h5>
                  <div class="row row-cols-1 row-cols-lg-4 g-2">
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <h6 class="sky-500 text-nowrap">
                            Public
                            <i class="bi bi-info-circle-fill text-body"
                               data-bs-toggle="tooltip"
                               data-bs-html="true"
                               data-bs-title="Number of times a song was played publicly. Meaning it was played at a show open to the public, not a soundcheck/private rehearsal"></i>
                          </h6>
                          <h5>{{ public_count }}</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <h6 class="sky-500 text-nowrap">
                            Private
                            <i class="bi bi-info-circle-fill text-body"
                               data-bs-toggle="tooltip"
                               data-bs-html="true"
                               data-bs-title="Number of times a song was played privately. Meaning at a closed rehearsal/soundcheck."></i>
                          </h6>
                          <h5>{{ private_count }}</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <h6 class="sky-500 text-nowrap">
                            Snippet
                            <i class="bi bi-info-circle-fill text-body"
                               data-bs-toggle="tooltip"
                               data-bs-html="true"
                               data-bs-title="Number of times a song was included as part of another."></i>
                          </h6>
                          <h5>{{ snippet_count|add:snippets.count }}</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <h6 class="sky-500 text-nowrap">
                            Frequency
                            <i class="bi bi-info-circle-fill text-body"
                               data-bs-toggle="tooltip"
                               data-bs-html="true"
                               data-bs-title="How common a song is. Number of times played divided by number of shows since the debut. Formula from Dripfield.pro."></i>
                          </h6>
                          <h5>{{ frequency|default_if_none:"0" }}%</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h5>Position Stats</h5>
                  <div class="row row-cols-1 row-cols-lg-4 g-2">
                    {% for item in positions %}
                      <div class="col">
                        <div class="card">
                          <div class="card-body">
                            <h6 class="sky-500 text-nowrap">{{ item.position }}</h6>
                            <h5>{{ item.count }}</h5>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">Year Stats</div>
            <div class="card-body">
              <div id="wrapper" class="p-0">
                <div id="statChart">
                  <canvas id="chart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="events" class="tab-pane fade">
          <div class="card mb-3">
            <div class="card-body px-0">
              <div class="table-responsive">
                <table class="table table-hover display" id="songTable">
                  <thead>
                    <tr>
                      <th class="all" scope="col">Date</th>
                      <th class="all" scope="col">Act</th>
                      <th class="min-tablet-l" scope="col">Venue</th>
                      <th class="min-tablet-l" scope="col">Tour</th>
                      <th class="min-tablet-l" scope="col">Position</th>
                      <th class="min-tablet-l" scope="col">Gap</th>
                      <th class="min-tablet-l" scope="col">Set</th>
                      <th class="min-tablet-l" scope="col">Prev</th>
                      <th class="min-tablet-l" scope="col">Next</th>
                      <th class="min-tablet-l text-nowrap" scope="col">Note</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for song in songs %}
                      <tr>
                        <td class="text-nowrap">
                          <a href="{% url "event_details" id=song.current.event.id %}">{{ song.current.event }}</a>
                        </td>
                        <td class="text-nowrap">
                          {% with band=song.current.event.artist %}
                            <a href="{% url "band_details" id=band.id %}">{{ band }}</a>
                          {% endwith %}
                        </td>
                        <td class="text-nowrap">
                          {% with venue=song.current.event.venue %}
                            {% if venue %}
                              <a href="{% url 'venue_details' id=venue.id %}">{{ venue }}</a>
                            {% endif %}
                          {% endwith %}
                        </td>
                        <td class="text-nowrap">
                          {% with tour=song.current.event.tour %}
                            {% if tour %}
                              <a href="{% url "tour_details" id=tour.id %}">{{ tour }}</a>
                            {% endif %}
                          {% endwith %}
                        </td>
                        <td class="text-nowrap">
                          {% if song.current.position and song.current.position != song.current.set_name %}
                            {{ song.current.position }}
                          {% endif %}
                        </td>
                        <td class="text-center">{{ song.current.last|default_if_none:"" }}</td>
                        <td>{{ song.current.set_name }}</td>
                        <td class="text-nowrap">
                          {% with prev=song.prev %}
                            {% if prev %}
                              <a href="{% url "song_details" id=prev.song.id %}">{{ prev.song.short_name|default_if_none:prev.song.name }}</a>
                              {% if prev.segue %}&gt;{% endif %}
                            {% endif %}
                          {% endwith %}
                        </td>
                        <td class="text-nowrap">
                          {% with next=song.next %}
                            {% if next %}
                              {% if song.current.segue %}&gt;{% endif %}
                              <a href="{% url "song_details" id=next.song.id %}">{{ next.song.short_name|default_if_none:next.song.name }}</a>
                            {% endif %}
                          {% endwith %}
                        </td>
                        <td class="text-nowrap">{{ song.note|default_if_none:"" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div id="snippets" class="tab-pane fade px-0">
          <div class="card mb-3">
            <div class="card-header">Snippets</div>
            <div class="card-body px-0">
              {% if snippets %}
                <div class="table-responsive">
                  <table class="table table-hover display" id="snippetTable">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>During Song</th>
                        <th>Note</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for snippet in snippets %}
                        <tr>
                          <td>
                            <a href="{% url "event_details" id=snippet.setlist.event.id %}">{{ snippet.setlist.event }}</a>
                          </td>
                          <td>
                            <a href="{% url "song_details" id=snippet.setlist.song.id %}">{{ snippet.setlist.song }}</a>
                          </td>
                          <td>{{ snippet.note|default_if_none:"" }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div id="links" class="tab-pane fade">
          <div class="card">
            <div class="card-header">Links</div>
            <div class="card-body">
              <ul class="mb-1">
                {% if song_info.brucebase_url %}
                  <li>
                    <a class="sky-500"
                       href="https://brucebase.wikidot.com{{ song_info.brucebase_url }}">Brucebase</a>
                  </li>
                {% endif %}
                {% if song_info.spotify_id %}
                  <li>
                    <a class="sky-500"
                       href="https://open.spotify.com/track/{{ song_info.spotify_id }}">Spotify</a>
                  </li>
                {% endif %}
                {% if song_info.mbid %}
                  <li>
                    <a class="sky-500"
                       href="https://musicbrainz.org/work/{{ song_info.mbid }}">Musicbrainz</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if lyrics %}
      <div class="col col-lg-6 col-xl-3 ps-lg-0">
        <div class="card">
          <div class="card-header">Lyrics</div>
          <div class="card-body">
            {% for lyric in lyrics %}
              {% if lyric.language == 'English' and lyric.version == song_info.category %}{{ lyric.text|linebreaks }}{% endif %}
            {% endfor %}
            {% if lyrics.count > 1 %}
              <h6>Other Versions</h6>
              <ul>
                {% for lyric in lyrics %}
                  {% if lyric.language != 'English' %}
                    <h6>
                      <li>
                        <a class="sky-500" href="{% url "lyric_detail" id=lyric.uuid %}">{{ lyric.language }}
                          {% if lyric.note %}[{{ lyric.note }}]{% endif %}
                        </a>
                      </li>
                    </h6>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <!-- charts.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
  <script>
    // removes searchBuilder button, not needed for this.
    layout.topEnd.features[1].buttons[0].config.columns = [0, 1, 2, 3, 4, 6, 7, 8, 9]

    $(document).ready(function () {
        let ctx = document.getElementById("chart").getContext("2d");
        Chart.defaults.color = '#999';

        let chart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: [{% for year in year_stats %}{{year.year|date:"Y"}},{% endfor %}],
            datasets: [
                {
                  label: "Events",
                  backgroundColor: "#0369a1",
                  borderColor: "#417690",
                  color: "#ffffff",
                  data: [{% for year in year_stats %}{{year.event_count}},{% endfor %}]
                }
            ]
          },
          options: {
            responsive: true,
            title: {
                text: "Plays by Year",
                display: true
            },
            scales: {
              y: {
                beginAtZero: true,
                grid: {
                  color: '#5e5e5e',
                },
              },
              x:{ 
                grid: {
                  color: '#5e5e5e',
                },
              }
            },
          },
        });
    });

    $(document).ready(function () {
      new DataTable('#songTable', {
        layout: layout,
        scrollX: true,
        initComplete: function () {
          this.api()
          
          .columns([6])
            .every(function () {
              var column = this;

              $('<div class="row g-3 align-items-center"><div class="col-auto"><label for="publicity">Publicity:</label></div><div class="col" id="publicity-select"></div></div>').appendTo($('#dropdown-container'));
  
              // this appears to be the only way to add a select filter
              // without going through ajax calls. I originally had a pre-made dropdown in
              // another file and included it like above, however, I had to use an ajax call
              // otherwise it would appear but not work
              var select = $('<select id="publicity" class="custom-select form-select form-select-sm"></select>')
                .appendTo($('#publicity-select'))
                .on('change', function () {
                    column
                      .search($(this).val(), {regex: true})
                      .draw();
                });
              
              
              select.append('<option value=".*">All</option>');
              select.append('<option value="(Soundcheck|Rehearsal|Recording|Interview)">Private</option>');
              select.append('<option value="^(?!.*(Soundcheck|Rehearsal|Recording|Interview)).*$">Public</option>');
            });
        },
      });

      new DataTable('#snippetTable', {
        layout: layout,
      });

      new DataTable('#statsTable', {
        layout: layout,
      });
    });
  </script>
{% endblock content %}
