{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  {{ song_info.name }}
{% endblock title %}
{% block content %}
  <div class="row mb-2">
    <h4>
      <a href="{% url 'songs' %}">Songs</a> &gt; {{ song_info.name }}
    </h4>
  </div>
  <div class="row mb-4 row-cols-1 row-cols-md-2 g-4 mt-0">
    <div class="col">
      <div class="card h-100">
        <div class="card-header">Song Info</div>
        <div class="card-body">
          <div class="d-flex flex-row fs-6">
            <div class="pe-2 fw-semibold">Original Artist:</div>
            <div>{{ song_info.original_artist|default_if_none:"Bruce Springsteen" }}</div>
          </div>
          {% if song_info.album %}
            <div class="d-flex flex-row fs-6">
              <div class="pe-2 fw-semibold">Category:</div>
              <div>
                <a href="{% url "release_details" id=song_info.album.id %}">{{ song_info.category }}</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-header">Song Stats</div>
        <div class="card-body">
          <div class="row row-cols-3 row-cols-lg-6 g-2">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h6 class="sky-500">
                    Public
                    <i class="bi bi-info-circle-fill text-light"
                       data-bs-toggle="tooltip"
                       data-bs-html="true"
                       data-bs-title="Number of times a song was played publicly. Meaning it was played at a show open to the public, not a soundcheck/private rehearsal"></i>
                  </h6>
                  <h5>{{ song_info.num_plays_public }}</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h6 class="sky-500">
                    Private
                    <i class="bi bi-info-circle-fill text-light"
                       data-bs-toggle="tooltip"
                       data-bs-html="true"
                       data-bs-title="Number of times a song was played privately. Meaning at a closed rehearsal/soundcheck."></i>
                  </h6>
                  <h5>{{ song_info.num_plays_private }}</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h6 class="sky-500">
                    Snippet
                    <i class="bi bi-info-circle-fill text-light"
                       data-bs-toggle="tooltip"
                       data-bs-html="true"
                       data-bs-title="Number of times a song was included as part of another."></i>
                  </h6>
                  <h5>{{ song_info.num_plays_snippet }}</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h6 class="sky-500">
                    Opener
                    <i class="bi bi-info-circle-fill text-light"
                       data-bs-toggle="tooltip"
                       data-bs-html="true"
                       data-bs-title="Number of times a song has opened a show."></i>
                  </h6>
                  <h5>{{ song_info.opener }}</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h6 class="sky-500">
                    Closer
                    <i class="bi bi-info-circle-fill text-light"
                       data-bs-toggle="tooltip"
                       data-bs-html="true"
                       data-bs-title="Number of times a song has closed a show."></i>
                  </h6>
                  <h5>{{ song_info.closer }}</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h6 class="sky-500">
                    Frequency
                    <i class="bi bi-info-circle-fill text-light"
                       data-bs-toggle="tooltip"
                       data-bs-html="true"
                       data-bs-title="How common a song is. Number of times played divided by number of shows since the debut. Formula from Dripfield.pro."></i>
                  </h6>
                  <h5>
                    {% if frequency %}
                      {{ frequency }}%
                    {% else %}
                      0%
                    {% endif %}
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item me-2" role="presentation">
              <button class="nav-link active"
                      id="pills-events-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#events"
                      type="button"
                      role="tab"
                      aria-controls="pills-home"
                      aria-selected="true">Performances</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link"
                      id="pills-snippets-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#snippets"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">Times as Snippet</button>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div id="events" class="tab-pane fade show active">
              <div class="table-responsive">
                <table class="table table-hover display" id="songTable">
                  <thead>
                    <tr>
                      <th class="all" scope="col">Date</th>
                      <th class="all" scope="col">Act</th>
                      <th class="min-tablet-l" scope="col">Venue</th>
                      <th class="min-tablet-l" scope="col">Tour</th>
                      <th class="min-tablet-l" scope="col">Position</th>
                      <th class="min-tablet-l" scope="col">Gap</th>
                      <th class="min-tablet-l" scope="col">Set</th>
                      <th class="min-tablet-l" scope="col">Prev</th>
                      <th class="min-tablet-l" scope="col">Next</th>
                      <th class="min-tablet-l" scope="col">Note</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for song in songs %}
                      <tr>
                        <td class="text-nowrap">
                          <a href="{% url "event_details" id=song.current.event.id %}">{{ song.current.event }}</a>
                        </td>
                        <td class="text-nowrap">
                          <a href="{% url "band_details" id=song.current.event.artist.id %}">{{ song.current.event.artist }}</a>
                        </td>
                        <td class="text-nowrap">
                          {% with venue=song.current.event.venue %}
                            <a href="{% url 'venue_details' id=venue.id %}">
                              {% spaceless %}
                                {% if venue.city %}
                                  {{ venue.name }}, {{ venue.city }}
                                {% else %}
                                  {{ venue.name }}
                                {% endif %}
                              {% endspaceless %}
                            </a>
                          {% endwith %}
                        </td>
                        <td class="text-nowrap">
                          {% if song.current.event.tour %}
                            <a href="{% url "tour_details" id=song.current.event.tour.id %}">{{ song.current.event.tour.name }}</a>
                          {% endif %}
                        </td>
                        <td class="text-nowrap">
                          {% if song.current.position and song.current.position != song.current.set_name %}
                            {{ song.current.position }}
                          {% endif %}
                        </td>
                        <td>
                          {% if song.current.premiere %}
                            first
                          {% else %}
                            {{ song.current.last|default_if_none:"" }}
                          {% endif %}
                        </td>
                        <td>{{ song.current.set_name }}</td>
                        <td class="text-nowrap">
                          {% if song.prev %}
                            <a href="{% url "song_details" id=song.prev.song.id %}">{{ song.prev.song.short_name|default_if_none:song.prev.song.name }}</a>
                          {% else %}
                            <em>***</em>
                          {% endif %}
                        </td>
                        <td class="text-nowrap">
                          {% if song.next %}
                            <a href="{% url "song_details" id=song.next.song.id %}">{{ song.next.song.short_name|default_if_none:song.next.song.name }}</a>
                          {% else %}
                            <em>***</em>
                          {% endif %}
                        </td>
                        <td>{{ song.note|default_if_none:"" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div id="snippets" class="tab-pane fade">
              <div class="table-responsive">
                <table class="table table-hover display" id="snippetTable">
                  <thead>
                    <tr>
                      <th>Event</th>
                      <th>Song</th>
                      <th>Position</th>
                      <th>Note</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for snippet in snippets %}
                      <tr>
                        <td>
                          <a href="{% url "event_details" id=snippet.event.id %}">{{ snippet.event }}</a>
                        </td>
                        <td>
                          <a href="{% url "song_details" id=snippet.setlist.song.id %}">{{ snippet.setlist.song }}</a>
                        </td>
                        <td>{{ snippet.position }}</td>
                        <td>{{ snippet.note|default_if_none:"" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    // removes searchBuilder button, not needed for this.
    layout.topEnd.features[1].buttons[0].config.columns = [0, 1, 2, 3, 4, 6, 7, 8, 9]

    $(document).ready(function () {
      new DataTable('#songTable', {
        layout: layout,
        initComplete: function () {
          this.api()
          
          .columns([6])
            .every(function () {
              var column = this;

              $('<div class="row g-3 align-items-center"><div class="col-auto"><label for="publicity">Publicity:</label></div><div class="col" id="publicity-select"></div></div>').appendTo($('#dropdown-container'));
  
              // this appears to be the only way to add a select filter
              // without going through ajax calls. I originally had a pre-made dropdown in
              // another file and included it like above, however, I had to use an ajax call
              // otherwise it would appear but not work
              var select = $('<select id="publicity" class="custom-select form-select form-select-sm"></select>')
                .appendTo($('#publicity-select'))
                .on('change', function () {
                    column
                      .search($(this).val(), {regex: true})
                      .draw();
                });
              
              
              select.append('<option value=".*">All</option>');
              select.append('<option value="(Soundcheck|Rehearsal|Recording)">Private</option>');
              select.append('<option value="^(?!.*(Soundcheck|Rehearsal|Recording)).*$">Public</option>');
            });
        },
      });

      new DataTable('#snippetTable', {
        layout: layout,
      });
    });
  </script>
{% endblock content %}
