{% extends "databruce/category.html" %}
{% block title %}
    Lyrics
{% endblock title %}
{% block info_row %}
    <h4>Lyrics</h4>
    <h6>Lyrics for many of Bruce's songs.</h6>
    <h6>
        English lyrics sourced from Genius. German lyrics sourced from Stonepony.de, a now defunct Bruce fan site.
        The lyrics were contributed by multiple people, who translated the lyrics manually throughout the early 2000s.
        I do not speak German, so these lyrics are provided "as-is", and I cannot speak to the quality of the translations.
        Credit to each translator provided when it was listed in the original files.
    </h6>
{% endblock info_row %}
{% block table_id %}
    lyricTable
{% endblock table_id %}
{% block table %}
    <thead>
        <tr>
            <th>Song</th>
            <th>Version</th>
            <th>Source</th>
            <th>Language</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {% for lyric in lyrics %}
            <tr>
                <td>
                    <a href="{% url "lyric_detail" songid=lyric.song.id version=lyric.num %}">{{ lyric.song.name }}</a>
                </td>
                <td>{{ lyric.version }}</td>
                <td>{{ lyric.source }}</td>
                <td>{{ lyric.language }}</td>
                <td>{{ lyric.note|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock table %}
{% block scripts %}
    <script>
        // add searchbuilder columns
        layout.topEnd.features[1].buttons[0].config.columns = [1, 2, 3, 4, 5]

        $(document).ready(function () {
            new DataTable('#lyricTable', {
            layout: layout,
            order: [[0, 'asc']],
            });
        });
    </script>
{% endblock scripts %}
