{% extends "databruce/category.html" %}
{% block title %}
  Lyrics
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Lyrics</div>
  <div class="text-base">Lyrics for many of Bruce's songs.</div>
  <div class="text-base">
    English lyrics sourced from a dataset on HuggingFace. German lyrics sourced from Stonepony.de, a now defunct Bruce fan site.
    The lyrics were contributed by multiple people, who translated the lyrics manually throughout the early 2000s.
    I do not speak German, so these lyrics are provided "as-is", and I cannot speak to the quality of the translations.
    Credit to each translator provided when it was listed in the original files.
  </div>
{% endblock info_row %}
{% block table_id %}
  lyricTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr>
      <th class="all">Song</th>
      <th class="min-tablet-l">Version</th>
      <th class="min-tablet-l">Source</th>
      <th class="all">Language</th>
      <th class="min-tablet-l">Note</th>
    </tr>
  </thead>
{% endblock table %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      var layout = getDatatableLayout({columns: [1,2,3,4,5], category: true});
      dtCategorySelect({layout: layout, column_idx: 3, values: [{'label': 'English', 'value': 'English'}, {'label': 'German', 'value': 'German'}], label: 'Language'});

      new DataTable('#lyricTable', {
          layout: layout,
          serverSide: true,
          processing: true,
          ajax: {
            'url': '/api/v1/lyrics/?format=datatables&keep=uuid',
          },
          columns: [
            {
              'data': 'song.name',
              'name': 'song__name',
              'render': function (data, type, row, meta) {
                  if (type === 'display') {
                      return '<a href="/lyrics/' + row.uuid + '">'+ data +'</a>';
                  }
              },
            },
            {'data': 'version', 'name': 'version'},
            {'data': 'source', 'name': 'source'},
            {'data': 'language', 'name': 'language'},
            {'data': 'note', 'name': 'note'},
          ],
      });
    });
  </script>
{% endblock scripts %}
