{% extends "databruce/category.html" %}
{% block title %}
  Songs
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Songs</div>
  <div class="text-base">Songs that Bruce has played live</div>
{% endblock info_row %}
{% block table_id %}
  songsTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="custom">
      <th class="all" scope="col">Name</th>
      <th class="min-tablet-l" scope="col">Lyrics</th>
      <th class="all" scope="col">Orig. Artist</th>
      <th class="min-tablet-l" scope="col">Category</th>
      <th class="min-tablet-l" scope="col">First</th>
      <th class="min-tablet-l" scope="col">Last</th>
      <th class="min-tablet-l text-center" scope="col">Public</th>
      <th class="min-tablet-l text-center" scope="col">Private</th>
      <th class="min-tablet-l text-center" scope="col">Snippet</th>
    </tr>
  </thead>
{% endblock table %}
{% block scripts %}
  <script>
  $(document).ready(function () {
    var layout = getDatatableLayout({columns: [1,2,3,4,5,6,7], category: true});
    dtCategorySelect({layout: layout, column_idx: 3, values: [{'label': 'Originals', 'value': 'Originals'}, {'label': 'Covers', 'value': 'Covers'}]})

    new DataTable('#songsTable', {
      layout: layout,
      scrollY: '60vh',
      scrollCollapse: true,
      columnDefs: [
        { targets: '_all', defaultContent: '' },
        //{ targets: [0], width: '250px' },
        { targets: [5,6,7,1], width: "1rem", className: 'text-center' },
        { targets: [1], orderable: false },
      ],
      scrollX: true,
      serverSide: true,
      processing: true,
      ajax: {
        'url': '/api/v1/songs/?format=datatables&keep=id',
      },
      columns: [
        {
          'data': 'name',
          'name': 'name',
          'width': '12rem',
          'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a class="text-wrap" href="/songs/' + row.id + '">'+ data +'</a>';
              }
          },
        },
        {
          'data': 'lyrics',
          'name': 'lyrics',
          'render': function (data, type, row, meta) {
              if (type === 'display') {
                return row.lyrics ? '<i class="bi bi-file-earmark-check d-none d-md-block" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Has Lyrics"></i><div class="d-inline d-md-none">True</div>' : '<div class="d-inline d-md-none">False</div>'
              }
          },
        },
        {'data': 'original_artist', 'name': 'original_artist', 'width': '10rem' },
        {'data': 'category', 'name': 'category', 'className': 'text-wrap', 'width': '15rem'},
        {
          'data': 'first.date',
          'name': 'first__id, first__early_late',
          'width': '6rem',
          'render': function (data, type, row, meta) {
              if (type === 'display') {
                if (data) {
                  return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
                }
                return null
              }
          },
        },
        {
          'data': 'last.date',
          'name': 'last__id, last__early_late',
          'width': '6rem',
          'render': function (data, type, row, meta) {
              if (type === 'display') {
                if (data) {
                  return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
                }
                return null
              }
          },        
        },
        {'data': 'num_plays_public', 'name': 'num_plays_public'},
        {'data': 'num_plays_private', 'name': 'num_plays_private'},
        {'data': 'num_plays_snippet', 'name': 'num_plays_snippet'},
      ]
    });
  });
  </script>
{% endblock scripts %}
