{% extends "databruce/base.html" %}'
{% load filters %}
{% block title %}
  Songs
{% endblock title %}
{% block content %}
  <div class="row mb-4">
    <div class="col">
      <h4>Songs</h4>
      <h6>Songs that Bruce has played live</h6>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive p-0">
            <table class="table table display nowrap" id="songsTable">
              <thead>
                <tr>
                  <th class="col">Name</th>
                  <th class="col">First</th>
                  <th class="col">Last</th>
                  <th class="col">Plays</th>
                  <th class="col">Original Artist</th>
                  <th class="col">Original?</th>
                </tr>
              </thead>
              <tbody>
                {% for song in songs %}
                  <tr>
                    <td>
                      <a href="{% url 'databruce:song_details' id=song.id %}">{{ song }}</a>
                    </td>
                    <td>
                      <a href="{% url 'databruce:event_details' event=song.first.id %}">{{ song.first }}</a>
                    </td>
                    <td>
                      <a href="{% url 'databruce:event_details' event=song.last.id %}">{{ song.last }}</a>
                    </td>
                    <td class="text-center">{{ song.num_plays_public }}</td>
                    <td>{{ song.original_artist }}</td>
                    <td>
                      {% if song.original_artist == 'Bruce Springsteen' %}
                        Original
                      {% else %}
                        Cover
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% load static %}
  <script src="{% static 'databruce/js/datatables.js' %}"></script>
  <script>
    // removes searchBuilder button, not needed for this.
    layout.topEnd.features[1].buttons.pop();

    $(document).ready(function () {
      $('#songsTable').dataTable({
        layout: layout,
        pageLength: 100,
        columnDefs: [
          {
            target: -1,
            visible: false
          }
        ],
        initComplete: function () {
          this.api()
            .columns([-1])
            .every(function () {
                var column = this;

                $('<div class="row g-3 align-items-center"><div class="col-auto"><label for="artist">Category:</label></div><div class="col" id="artist-select"></div></div>').appendTo($('#dropdown-container'));
  
                // this appears to be the only way to add a select filter
                // without going through ajax calls. I originally had a pre-made dropdown in
                // another file and included it like above, however, I had to use an ajax call
                // otherwise it would appear but not work
                var select = $('<select id="artist" class="custom-select form-select form-select-sm"></select>')
                  .appendTo($('#artist-select'))
                  .on('change', function () {
                      column
                        .search($(this).val(), {regex: true})
                        .draw();
                  });
                
                
                select.append('<option value=".*">All</option>');
                select.append('<option value="Original">Originals</option>');
                select.append('<option value="Cover">Covers</option>');
            });
        },
      });
     });
  </script>
{% endblock content %}
