{% extends "databruce/category.html" %}
{% block title %}
  Countries
{% endblock title %}
{% block info_row %}
  <h4>Countries</h4>
  <h6>Countries that Bruce has played in</h6>
{% endblock info_row %}
{% block table_id %}
  countryTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th class="text-center" scope="col">Events</th>
    </tr>
  </thead>
  <tbody>
    {% for country in countries %}
      <tr>
        <td>
          <a href="{% url "databruce:country_details" id=country.id %}">{{ country }}</a>
        </td>
        <td>
          {% if country.first %}
            <a href="{% url "databruce:event_details" id=country.first.id %}">{{ country.first }}</a>
          {% endif %}
        </td>
        <td>
          {% if country.last %}
            <a href="{% url "databruce:event_details" id=country.last.id %}">{{ country.last }}</a>
          {% endif %}
        </td>
        <td class="text-center">{{ country.num_events }}</td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock table %}
{% block scripts %}
  <script>
    // custom searchBuilder columns definition
    layout.topEnd.features[1].buttons[0].config.columns = [3];

    $(document).ready(function () {
      new DataTable('#countryTable', {  
        order: [[0, 'asc']],
        layout: layout,
      })
    })
  </script>
{% endblock scripts %}
