{% extends "databruce/category.html" %}
{% block title %}
  Countries
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Countries</div>
  <div class="text-base">Countries that Bruce has played in</div>
{% endblock info_row %}
{% block table_id %}
  countryTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>First</th>
      <th>Last</th>
    </tr>
  </thead>
  <tbody>
    {% for country in countries %}
      <tr>
        <td class="text-center">{{ country.num_events }}</td>
        <td>
          <a href="{% url "country_details" id=country.id %}">{{ country }}</a>
        </td>
        <td data-sort="{{ country.first.get_date }}"
            data-filter="{{ country.first.get_date }}">
          <a href="{% url "event_details" id=country.first.id %}">{{ country.first.get_date }}</a>
        </td>
        <td data-sort="{{ country.last.get_date }}"
            data-filter="{{ country.last.get_date }}">
          <a href="{% url "event_details" id=country.last.id %}">{{ country.last.get_date }}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock table %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      new DataTable('#countryTable', {  
        layout: getDatatableLayout([0,1,2,3]),
        columnDefs: [
          { width: '1rem', targets: [0] },
          { type: 'date', targets: [2,3] },
        ]
      })
    })
  </script>
{% endblock scripts %}
