{% extends "databruce/category.html" %}
{% block title %}
  Countries
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Countries</div>
  <div class="text-base">Countries that Bruce has played in</div>
{% endblock info_row %}
{% block table_id %}
  countryTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>First</th>
      <th>Last</th>
    </tr>
  </thead>
  {% comment %} <tbody>
    {% for country in countries %}
      <tr>
        <td class="text-center">{{ country.num_events }}</td>
        <td>
          <a href="{% url "country_details" id=country.id %}">{{ country }}</a>
        </td>
        <td data-sort="{{ country.first.get_date }}" data-filter="{{ country.first.get_date }}">
          <a href="{% url "event_details" id=country.first.id %}">{{ country.first.get_date }}</a>
        </td>
        <td data-sort="{{ country.last.get_date }}" data-filter="{{ country.last.get_date }}">
          <a href="{% url "event_details" id=country.last.id %}">{{ country.last.get_date }}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody> {% endcomment %}
{% endblock table %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      new DataTable('#countryTable', {  
        layout: getDatatableLayout({columns: [0,1,2,3]}),
        serverSide: true,
        processing: true,
        ajax: {
          'url': '/api/v1/countries/?format=datatables&keep=id',
        },
        columnDefs: [
          { width: '1rem', targets: [0] },
        ],
        columns: [ // num, name, state, country, first, last
          {'data': 'count', 'name': 'count'},
          {
            'data': 'name',
            'name': 'name',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="/countries/' + row.id + '">'+ row.name +'</a>';
              }
            },
          },
          {
            'data': 'first.date',
            'name': 'first__id',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
              }
            },
          },
          {
            'data': 'last.date',
            'name': 'last__id',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
              }
            },
          },
        ]
      })
    })
  </script>
{% endblock scripts %}
