{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Countries &gt; {{ info.name }}
{% endblock title %}
{% block content %}
  <h4>
    <a href="{% url "databruce:countries" %}">Countries</a> &gt; {{ info.name }}
  </h4>
  <hr />
  <div class="col-xs-6 col-lg-12 mb-4">
    <div class="d-flex flex-row">
      <div class="pe-2">Events:</div>
      <div>{{ events|length }}</div>
    </div>
    <div class="d-flex flex-row">
      <div class="pe-2">First:</div>
      <div>
        <a href="{% url 'databruce:event_details' event=info.first.id %}">{{ info.first }} - {{ info.first.venue }}</a>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="pe-2">Last:</div>
      <div>
        <a href="{% url 'databruce:event_details' event=info.last.id %}">{{ info.last }} - {{ info.last.venue }}</a>
      </div>
    </div>
  </div>
  <div class="table-responsive p-0">
    <table class="table table display nowrap" id="tourTable">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Artist</th>
          <th scope="col">Venue</th>
          <th scope="col">Location</th>
          <th scope="col">Tour</th>
          <th scope="col">Note</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
          <tr>
            <td>
              <a href="{% url "databruce:event_details" event=event.id %}">{{ event.event_date|date:"Y-m-d [D]" }} {{ event.early_late|default_if_none:"" }}</a>
            </td>
            <td>
              <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
            </td>
            <td>
              <a href="{% url "databruce:venue_details" id=event.venue.id %}">{{ event.venue.name }}</a>
            </td>
            <td>
              <a href="{% url "databruce:city_details" id=event.venue.city.id %}">{{ event.venue.city }}</a>
            </td>
            <td>
              {% if event.tour %}
                <a href="{% url "databruce:tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
              {% endif %}
            </td>
            <td>{{ event.event_title|default_if_none:event.event_type }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% load static %}
  <script src="{% static 'databruce/js/datatables.js' %}"></script>
  <script>
  // custom searchBuilder columns definition
  layout.topEnd.features[1].buttons[1].config.columns = [1, 2, 3, 4];

  $(document).ready(function () {
      // initializes all tables
      $('table.display').dataTable({
        layout: layout,
      });
  })
  </script>
{% endblock content %}
