{% extends "databruce/narrow_layout.html" %}
{% block title %}
  Country "{{ title }}"
{% endblock title %}
{% block content %}
  {% if user.is_superuser %}
    {% include "databruce/partials/admin_edit_btn.html" with view="countries" item=info.id %}
  {% endif %}
  <div class="col">
    <div class="text-2xl text-nowrap mb-3">
      <a href="{% url "countries" %}">Countries</a> &gt;
      {{ info }}
    </div>
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link active"
                    id="pills-events-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#events"
                    type="button"
                    role="tab"
                    aria-controls="pills-home"
                    aria-selected="true">
              Events<span class="badge badge-light rounded-pill text-bg-light"
      id="event-count-badge">0</span>
            </button>
          </li>
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link"
                    id="pills-songs-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#songs"
                    type="button"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false">
              Songs<span class="badge badge-light rounded-pill text-bg-light"
      id="song-count-badge">0</span>
            </button>
          </li>
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link"
                    id="pills-links-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#links"
                    type="button"
                    role="tab"
                    aria-controls="pills-links"
                    aria-selected="false">Links</button>
          </li>
        </ul>
      </div>
      <div class="card-body px-0">
        <div class="tab-content">
          <div id="events" class="tab-pane fade show active">
            {% comment %} {% include "databruce/partials/event_table.html" with events=events %} {% endcomment %}
            <div class="table-responsive">
              <table class="table table-hover display" id="eventTable">
                <thead>
                  <tr class="custom">
                    <th class="all">Date</th>
                    <th class="all">Setlist</th>
                    <th class="all">Band</th>
                    <th class="all">Venue</th>
                    <th class="all">Location</th>
                    <th class="all">Tour</th>
                    <th class="all">Detail</th>
                    <th class="all">Public</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="songs" class="tab-pane fade">
            {% comment %} {% include "databruce/partials/song_position_table.html" with songs=songs %} {% endcomment %}
            <div class="table-responsive">
              <table class="table table-hover display" id="songTable">
                <thead>
                  <tr>
                    <th class="all">Plays</th>
                    <th class="all">Song</th>
                    <th class="all">Category</th>
                    <th class="all">First</th>
                    <th class="all">Last</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="links" class="tab-pane fade">
            <ul>
              {% if info.mbid %}
                <li>
                  <a target="_blank" href="https://musicbrainz.org/area/{{ info.mbid }}">Musicbrainz</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  $(document).ready(function () {
    var layout = getDatatableLayout({columns: [2,3,4,5,6,7], category: true});
    dtCategorySelect({layout: layout, column_idx: 7, values: [{'label': 'Public', 'value': 'true'}, {'label': 'Private', 'value': 'false'}], label: 'Category'});

    new DataTable('#eventTable', {
      layout: layout,
      serverSide: true,
      processing: true,
      ajax: {
        'url': '/api/v1/events/?country={{ info.id }}&format=custom',
      },
      columnDefs: event_table_defs,
      columns: event_table_columns,
      initComplete: function(settings, json){ 
        var info = this.api().page.info();
        $('#event-count-badge').text(info.recordsTotal);
      }
    });

    new DataTable('#songTable', {
      layout: getDatatableLayout({category: false}),
      serverSide: true,
      processing: true,
      ajax: {
        'url': '/api/v1/setlist_songs/?country={{ info.id }}&format=custom',
      },
      columns: song_table_columns,
      columnDefs: song_table_defs,
      initComplete: function(settings, json){ 
        var info = this.api().page.info();
        $('#song-count-badge').text(info.recordsTotal);
      }
    });
  })
  </script>
{% endblock content %}
