{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Venues &gt; {{ venue_info }}
{% endblock title %}
{% block content %}
  <div class="row mb-2">
    <h4>
      <a href="{% url "venues" %}">Venues</a>
      &gt; {{ venue_info }}, {{ venue_info.city }}
    </h4>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="col">
            {% if venue_info.mbid or venue_info.brucebase_url %}
              <div class="d-flex flex-row fs-6">
                <div class="pe-2 fw-semibold">Links:</div>
              </div>
              <div class="d-flex flex-row fs-6">
                <ul>
                  {% if venue_info.brucebase_url %}
                    <li>
                      <a href="https://brucebase.wikidot.com/venue:{{ venue_info.brucebase_url }}">Brucebase</a>
                    </li>
                  {% endif %}
                  {% if venue_info.mbid %}
                    <li>
                      <a href="https://musicbrainz.org/place/{{ venue_info.mbid }}">Musicbrainz</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link active"
                      id="pills-events-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#events"
                      type="button"
                      role="tab"
                      aria-controls="pills-home"
                      aria-selected="true">Events</button>
            </li>
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link"
                      id="pills-songs-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#songs"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">Songs</button>
            </li>
          </ul>
        </div>
        <div class="card-body px-0">
          <div class="tab-content">
            <div id="events" class="tab-pane fade show active">
              <div class="table-responsive">
                <table class="table table-hover display" id="eventTable">
                  <thead>
                    <tr>
                      <th class="all">Date</th>
                      <th class="all">Band</th>
                      <th class="min-tablet-l">Tour</th>
                      <th class="min-tablet-l">Detail</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for event in events %}
                      <tr>
                        <td class="text-nowrap">
                          <a href="{% url "event_details" id=event.id %}">{{ event }}</a>
                        </td>
                        <td class="text-nowrap">
                          <a href="{% url "band_details" id=event.artist.id %}">{{ event.artist }}</a>
                        </td>
                        <td class="text-nowrap">
                          {% if event.tour %}
                            <a href="{% url "tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
                          {% endif %}
                        </td>
                        <td class="text-wrap">{{ event.note|default_if_none:"" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div id="songs" class="tab-pane fade">
              <div class="table-responsive">
                <table class="table table-hover display" id="songTable">
                  <thead>
                    <tr>
                      <th class="text-wrap all">Song</th>
                      <th class="text-center all">Plays</th>
                      <th class="text-center all">Show Opener</th>
                      <th class="text-center all">Main Set Closer</th>
                      <th class="text-center all">Encore Opener</th>
                      <th class="text-center all">Show Closer</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for song in songs %}
                      <tr>
                        <td class="text-nowrap">
                          <a href="{% url "song_details" id=song.song_id %}">{{ song.name }}</a>
                        </td>
                        <td class="text-center">{{ song.plays }}</td>
                        <td class="text-center">{{ song.show_opener }}</td>
                        <td class="text-center">{{ song.main_set_closer }}</td>
                        <td class="text-center">{{ song.encore_opener }}</td>
                        <td class="text-center">{{ song.show_closer }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    layout.topEnd.features[1].buttons[0].config.columns = [1, 2]
    
    $(document).ready(function () {
      new DataTable('#eventTable', {
        layout: layout,
        order: [[0, 'asc']],
        searching: false,
      });

      new DataTable('#songTable', {
        layout: layout,
        order: [[0, 'asc']],
      });
    })
  </script>
{% endblock content %}
