{% extends "databruce/category.html" %}
{% block title %}
  Venues
{% endblock title %}
{% block info_row %}
  <h4>Venues</h4>
  <h6>Venues that Bruce has played at</h6>
{% endblock info_row %}
{% block table_id %}
  venueTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr>
      <th class="all" scope="col">Name</th>
      <th class="all" scope="col">City</th>
      <th class="min-tablet-l" scope="col">State</th>
      <th class="min-tablet-l" scope="col">Country</th>
      <th class="min-tablet-l" scope="col">First</th>
      <th class="min-tablet-l" scope="col">Last</th>
      <th class="text-center all" scope="col">Events</th>
    </tr>
  </thead>
  <tbody>
    {% for venue in venues %}
      <tr>
        <td class="wrap">
          <a href="{% url "venue_details" id=venue.id %}">{{ venue }}</a>
        </td>
        <td class="wrap">
          {% if venue.city %}
            <a href="{% url "city_details" id=venue.city.id %}">{{ venue.city.name }}</a>
          {% endif %}
        </td>
        <td>
          {% if venue.state %}
            <a href="{% url "state_details" id=venue.state.id %}">{{ venue.state.name }}</a>
          {% endif %}
        </td>
        <td>
          {% if venue.country %}
            <a href="{% url "country_details" id=venue.country.id %}">{{ venue.country.name }}</a>
          {% endif %}
        </td>
        <td {% with first=venue.first %}
            data-sort="{{ first.id|slice:"0:4" }}-{{ first.id|slice:"4:6" }}-{{ first.id|slice:"6:8" }}"
            data-filter="{{ first.id|slice:"0:4" }}-{{ first.id|slice:"4:6" }}-{{ first.id|slice:"6:8" }}"
            {% endwith %}>
          {% if venue.first %}
            <a href="{% url "event_details" id=venue.first.id %}">{{ venue.first }}</a>
          {% endif %}
        </td>
        <td {% with last=venue.last %}
            data-sort="{{ last.id|slice:"0:4" }}-{{ last.id|slice:"4:6" }}-{{ last.id|slice:"6:8" }}"
            data-filter="{{ last.id|slice:"0:4" }}-{{ last.id|slice:"4:6" }}-{{ last.id|slice:"6:8" }}"
            {% endwith %}>
          {% if venue.last %}
            <a href="{% url "event_details" id=venue.last.id %}">{{ venue.last }}</a>
          {% endif %}
        </td>
        <td class="text-center">{{ venue.num_events }}</td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock table %}
{% block scripts %}
  <script>
  // custom searchBuilder columns definition
  layout.topEnd.features[1].buttons[0].config.columns = [0, 1, 2, 3, 4, 5, 6];
  
  $(document).ready(function () {
    new DataTable('#venueTable', {
      layout: layout,
      order: [[0, 'asc']],
      columnDefs: [{ type: 'date', targets: [4, 5] }]
    })
  })
  </script>
{% endblock scripts %}
