{% extends "databruce/category.html" %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Venues</div>
  <div class="text-base">Venues that Bruce has played at</div>
{% endblock info_row %}
{% block table_id %}
  venueTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr>
      <th class="text-center all">Events</th>
      <th class="all">Name</th>
      <th class="all">City</th>
      <th class="all">State</th>
      <th class="all">Country</th>
      <th class="all">First</th>
      <th class="all">Last</th>
    </tr>
  </thead>
{% endblock table %}
{% block scripts %}
  <script>
  $(document).ready(function () {
    new DataTable('#venueTable', {
      layout: getDatatableLayout({columns: [0,1,2,3,4,5,6], category: false}),
      serverSide: true,
      processing: true,
      scrollY: '60vh',
      ajax: {
        'url': '/api/v1/venues/?format=custom',
      },
      columnDefs: [
        { 'targets': [0], 'width': '1rem' },
        { 'targets': '_all', 'className': 'text-wrap', defaultContent: '' },
      ],
      columns: [
        {'data': 'num_events', 'name': 'num_events' },
        {
          'data': 'name',
          'name': 'name, detail',
          'width': '12rem',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              return '<a href="/venues/' + row.uuid + '">'+ data +'</a>';
            }
          },
        },
        {
          'data': 'city',
          'name': 'city__name, city__aliases',
          'width': '10rem',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
             
              return '<a href="/cities/' + data.uuid + '">'+ data.name +'</a>';
              
            }
          },
        },
        {
          'data': 'state', 
          'name': 'city__state__name, city__state__abbrev',
          'width': '8rem',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              return '<a href="/states/' + data.uuid + '">'+ data.name +'</a>';
            }
          },       
        },
        {
          'data': 'country',
          'name': 'city__country__name, city__country__alpha_2',
          'width': '10rem',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              if (data) {
                return '<a href="/countries/' + data.uuid + '">'+ data.name +'</a>';
              }
            }
          },        
        },
        {
          'data': 'first_event',
          'name': 'first_event__event_id, first_event__early_late',
          'width': '8rem',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              return `<a href="/events/${data.event_id}">${data.date.display_day}</a>`
            }
          },
        },
        {
          'data': 'last_event',
          'name': 'last_event__event_id, last_event__early_late',
          'width': '8rem',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              return `<a href="/events/${data.event_id}">${data.date.display_day}</a>`              
            }
          },
        },
      ],

    });
  });
  </script>
{% endblock scripts %}
