{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Venues &gt; {{ venue_info }}
{% endblock title %}
{% block content %}
  <h4>Venues &gt; {{ venue_info }}, {{ venue_info.city }}</h4>
  <hr />
  <div class="col-xs-6 col-lg-12 mb-4">
    <div class="d-flex flex-row">
      <div class="pe-2">Events:</div>
      <div>{{ venue_info.num_events }}</div>
    </div>
    <div class="d-flex flex-row">
      <div class="pe-2">First:</div>
      <div>
        <a href="{% url 'databruce:event_details' event=venue_info.first.id %}">{{ venue_info.first }}</a>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="pe-2">Last:</div>
      <div>
        <a href="{% url 'databruce:event_details' event=venue_info.last.id %}">{{ venue_info.last }}</a>
      </div>
    </div>
  </div>
  <div class="table-responsive p-0">
    <table class="table table display nowrap" id="eventTable">
      <thead>
        <tr class="custom">
          <th>Date</th>
          <th>Band</th>
          <th>Tour</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
          <tr>
            <td>
              <a href="{% url 'databruce:event_details' event=event.id %}">{{ event.event_date|get_date:event.id }} {{ event.early_late|default_if_none:'' }}</a>
            </td>
            <td>
              <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
            </td>
            <td>
              {% if event.tour %}
                <a href="{% url "databruce:tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
              {% endif %}
            </td>
            <td>{{ event.event_title|default_if_none:'' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% load static %}
  <script src="{% static 'databruce/js/datatables.js' %}"></script>
  <script src="{% static 'databruce/js/searchBuilder.js' %}"></script>
  <script>
    layout.topEnd.features[1].buttons[1].config.columns = [1, 2]
    
    $(document).ready(function () {
      // initializes all tables
      $('table.display').dataTable({
        layout: layout,
      });
    })
  </script>
{% endblock content %}
