{% extends "databruce/base.html" %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block content %}
  <div class="col-12 col-xxl-8 mx-auto">
    <div class="d-grid gap-0 row-gap-2">
      <div class="row">
        <div class="col">
          <div class="float-end text-base">
            {% with last=event.get_last %}
              {% if last %}
                <a class="btn btn-sm btn-secondary"
                   role="button"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   data-bs-html="true"
                   data-bs-title="<div>{{ last.get_date }}<br>{{ last.artist }}<br>{{ last.venue.name }}</div>"
                   href="{% url "event_details" id=last.id %}">&lt; Prev</a>
              {% endif %}
            {% endwith %}
            {% if user.is_superuser %}
              <a class="btn btn-sm btn-danger"
                 role="button"
                 href="{% url "admin:index" %}databruce/events/{{ event.id }}/change">View on Admin Site</a>
            {% endif %}
            {% with next=event.get_next %}
              {% if next %}
                <a class="btn btn-sm btn-secondary"
                   role="button"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   data-bs-html="true"
                   data-bs-title="<div>{{ next.get_date }}<br>{{ next.artist }}<br>{{ next.venue.name }}</div>"
                   href="{% url "event_details" id=next.id %}">Next &gt;</a>
              {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card" id="eventInfo">
            <div class="card-body">
              <div class="d-flex flex-wrap">
                <div class="flex-grow-1 w-75 mb-2 mb-xl-0">
                  {% if event.title %}<div id="title" class="text-nowrap mb-1 text-sm">{{ event.title|markdown|safe }}</div>{% endif %}
                  <div class="text-nowrap text-xl">
                    <span id="date">{{ event.get_date }}</span>
                    <a class="fw-semibold"
                       href="{% url "band_details" id=event.artist.id %}"
                       id="artist">{{ event.artist }}</a>
                  </div>
                  {% if not event.date %}
                    <div class="text-nowrap text-secondary-emphasis">This is a placeholder date, actual date unknown.</div>
                  {% endif %}
                  <div class="text-base fw-semibold">
                    <a href="{% url "venue_details" id=event.venue.id %}">{{ event.venue }}, {{ event.venue.city }}</a>
                  </div>
                  <div class="badge-row mt-2 d-flex flex-wrap gap-0 row-gap-1">
                    {% if event.tour %}
                      <a class="pe-1" href="{% url "tour_details" id=event.tour.id %}"><span class="badge bg-primary fw-medium">{{ event.tour }}</span></a>
                    {% endif %}
                    {% if event.leg %}
                      <a class="pe-1" href="{% url "leg_details" id=event.leg.id %}"><span class="badge bg-primary fw-medium">{{ event.leg.name }}</span></a>
                    {% endif %}
                    {% if event.run %}
                      <a class="pe-1" href="{% url "run_details" id=event.run.id %}"><span class="badge bg-primary fw-medium">{{ event.run.name }}</span></a>
                    {% endif %}
                  </div>
                  {% if event.brucebase_url or nugs %}
                    <div class="badge-row mt-2 pt-1 text-base">
                      {% if event.brucebase_url %}
                        <a id="eventlink"
                           class="pe-1"
                           href="https://brucebase.wikidot.com/{{ event.id|brucebase_url }}">
                          <span class="badge bg-secondary text-secondary eventlink">
                            <i class="bi bi-link-45deg pe-1"></i>
                            <span>Brucebase</span>
                          </span>
                        </a>
                      {% endif %}
                      {% if event.nugs %}
                        <a class="pe-1" id="eventlink" href="{{ event.nugs.url }}">
                          <span class="badge bg-nugs">
                            <i class="bi bi-headphones pe-1"></i>
                            <span>Nugs</span>
                          </span>
                        </a>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
                <div class="flex-shrink-1">
                  {% if user.is_authenticated and event.public %}
                    <form method="post" id="userForm">
                      <input type="hidden" name="event" value="{{ event.id }}">
                      <input type="hidden" name="user" value="{{ user.id }}">
                      {% csrf_token %}
                      <div class="btn-group input-group input-group-sm"
                           role="group"
                           aria-label="Basic example">
                        <button id="addshow"
                                type="submit"
                                name="submit"
                                class="btn btn-sm text-nowrap {% if user_attended %}btn-primary active{% else %}btn-secondary{% endif %}">
                          <span class="pe-1" id="star">
                            {% if user_attended %}
                              <i class="bi bi-star-fill"></i>
                            {% else %}
                              <i class="bi bi-star"></i>
                            {% endif %}
                          </span>
                          <span id="attended">
                            {% if user_attended %}
                              Attended
                            {% else %}
                              Attended?
                            {% endif %}
                          </span>
                        </button>
                        <button type="button"
                                id="usercount"
                                class="btn btn-sm btn-secondary {% if user_attended %}active{% endif %}">
                          {{ user_count|default_if_none:"0" }}
                        </button>
                        {% comment %} <span class="input-group-text" id="usercount">{{ user_count|default_if_none:"0" }}</span> {% endcomment %}
                      </div>
                    </form>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-9 order-2 order-lg-1 pe-lg-2">
          <div class="row row-cols-1 g-2">
            <div class="col">
              {% if event.note %}
                <div class="col-12 d-md-block d-lg-none">
                  <div class="card mb-2" id="notes-card">
                    <div class="card-header">
                      Event Notes
                      <div class="float-end">
                        <i class="bi bi-pencil"></i>
                      </div>
                    </div>
                    <div class="card-body text-xs">
                      <div>{{ event.note|note_format|safe }}</div>
                      <div class="row mt-1">
                        <a href="#"
                           role="button"
                           class="btn-link text-primary fw-semibold mt-2 text-sm"
                           data-bs-toggle="modal"
                           data-bs-target="#notes-modal">See More</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if setlist_exists %}
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex justify-content-between">
                      <span>Setlist</span>
                      <span class="text-sm my-auto"
                            data-bs-toggle="tooltip"
                            data-bs-html="true"
                            data-bs-title="Setlist Options">
                        <a role="button"
                           class="btn btn-sm btn-primary px-1 py-0"
                           data-bs-toggle="collapse"
                           href="#options">
                          <i class="bi bi-gear-fill text-sm"></i>
                        </a>
                      </span>
                    </div>
                    <div class="row collapse px-0 mt-2" id="options">
                      <div class="row">
                        <div class="col">
                          <button id="copySetlist" class="btn btn-sm btn-primary">Copy Setlist</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none" id="setlist_copy">
                      {{ setlist_copy|join:'<br>' }}
                    </div>
                    <div class="table-responsive">
                      <table class="table table-hover display wrap" id="setlistTable">
                        <thead>
                          <th class="all">#</th>
                          <th class="all">Song</th>
                          <th class="none">Position</th>
                          <th class="min-tablet-l">Gap</th>
                          <th class="min-tablet-l">Tour</th>
                          <th class="min-tablet-l">Last</th>
                          <th class="min-tablet-l">Notes</th>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-12 mt-2 mt-md-0 mb-4 {% if setlist_exists %}col-lg-3 ps-lg-0{% endif %} order-2">
          <div class="row row-cols-2 row-cols-md-3 row-cols-lg-1 g-2 ps-lg-0">
            {% if event.note %}
              <div class="col-12 d-none d-lg-block">
                <div class="card" id="notes-card">
                  <div class="card-header">
                    Event Notes
                    <div class="float-end">
                      <i class="bi bi-pencil"></i>
                    </div>
                  </div>
                  <div class="card-body text-sm">
                    <div>{{ event.note|note_format|safe }}</div>
                    <div class="row mt-1">
                      <a href="#"
                         role="button"
                         class="btn-link text-primary fw-semibold mt-2 text-sm"
                         data-bs-toggle="modal"
                         data-bs-target="#notes-modal">See More</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if onstage %}
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    Performers
                    <div class="float-end">
                      <i class="bi bi-person"></i>
                    </div>
                  </div>
                  <div class="card-body p-1">
                    <div class="table-responsive">
                      <table class="table display" id="onstageTable">
                        <thead>
                          <th class="d-none">#</th>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if album_breakdown %}
              <div class="col">
                <div class="card">
                  <div class="card-header align-middle">
                    Albums
                    <button class="btn btn-sm btn-success float-end text-xs"
                            data-bs-toggle="modal"
                            data-bs-target="#album-breakdown-modal"
                            role="button">Breakdown</button>
                  </div>
                  <div class="card-body p-3">
                    {% for album in album_breakdown %}
                      <div class="row pb-1" id="album-breakdown">
                        <div class="col">
                          <div class="progress-label fw-semibold">{{ album.category }}</div>
                          <div class="progress d-flex flex-row justify-content-between"
                               role="progressbar"
                               aria-label="Basic example"
                               aria-valuenow="{{ album.num }}"
                               aria-valuemin="0"
                               aria-valuemax="{{ album.max }}">
                            <div class="progress-bar" style="width: {{ album.percent }}%">
                              <span class="song-count fw-bold">{{ album.num }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
            {% if official or event.archive %}
              <div class="col">
                <div class="card" id="links-card">
                  <div class="card-header">
                    Links
                    <div class="float-end">
                      <i class="bi bi-link-45deg"></i>
                    </div>
                  </div>
                  <div class="card-body">
                    <ul class="ps-3 text-xs">
                      {% if official %}
                        {% for rel in official %}
                          <li>
                            <a href="{% url "release_details" id=rel.release.id %}">{{ rel.release.name }} (Official Release)</a>
                          </li>
                        {% endfor %}
                      {% endif %}
                      {% if event.boot %}
                        <li>
                          <a href="https://www.springsteenlyrics.com/bootlegs.php?filter_date={{ event.date|date:"Y-m-d" }}&cmd=list&category=filter_date">View bootlegs on SpringsteenLyrics</a>
                        </li>
                      {% endif %}
                    </ul>
                    {% if event.archive %}
                      <div class="text-sm fw-semibold">
                        Radio Nowhere @ Archive.org
                        <i class="bi bi-info-circle-fill"
                           data-bs-toggle="tooltip"
                           data-bs-html="true"
                           data-bs-title="An archive.org collection of Bruce bootlegs maintained by me"></i>
                      </div>
                      <ul class="ps-3 text-xs">
                        {% for rel in event.archive %}
                          <li>
                            <a href="https://archive.org/details/{{ rel }}">{{ rel }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade"
       id="album-breakdown-modal"
       tabindex="-1"
       aria-labelledby="album-breakdown-modal-label"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title text-xl" id="album-breakdown-modal-label">Album Breakdown</div>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group mb-3" id="breakdown">
            {% regroup setlist_unique by song.category as album_list %}
            <ul class="list-group mb-3" id="breakdown">
              {% for album in album_breakdown %}
                <li class="list-group-item active px-2 py-1">
                  <div class="mb-0 fw-bold text-reset text-primary-content text-base">
                    {% if album.album %}
                      <a class="text-primary-content"
                         href="{% url "release_details" id=album.album %}">{{ album.category }}</a>
                    {% else %}
                      {{ album.category }}
                    {% endif %}
                  </div>
                </li>
                {% for item in album_list %}
                  {% if item.grouper == album.category %}
                    {% for song in item.list %}
                      <li class="list-group-item text-sm ps-4 py-1">
                        <a href="{% url "song_details" id=song.song.id %}">{{ song.song.name }}</a>
                        {% if song.song.original_artist != 'Bruce Springsteen' %}[{{ song.song.original_artist }}]{% endif %}
                      </li>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% if event.note %}
    <div class="modal fade"
         id="notes-modal"
         tabindex="-1"
         aria-labelledby="notes-modal-label"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title text-xl" id="album-breakdown-modal-label">Event Notes</div>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body text-sm">{{ event.note|markdown|safe }}</div>
        </div>
      </div>
    </div>
  {% endif %}
  <script>
      var layout = getDatatableLayout({columns: false, category: false});

      $(document).ready(function() {
        var table = $('#setlistTable').DataTable(
        {
          layout: layout,
          serverSide: true,
          processing: true,
          paging: false,
          //scrollY: false,
          //scrollCollapse: true,
          searching: false,
          ordering: false,
          ajax: '/api/v1/event_setlist/?event={{ id }}&format=datatables&keep=id,nobruce,instrumental,sign_request,song,premiere,notes,debut,set_name,position,last,ltp,tour_num,tour_total,song_num,segue',
          columnDefs: [
            { targets: '_all', defaultContent: '', className: 'align-middle text-sm min-tablet-l' },
            { targets: [0], type: 'text', className: 'songnum align-middle p-0', width: '30px' },
          ],
          rowGroup: {
              dataSrc: 'set_name',
              className: 'text-center setHeader',
          },
          columns: [
            { 
              'data': 'song_num',
              'className': 'dt-center all',
              'width': '1rem',
              'render': function (data, type, row, meta) {
                if (type === 'display' && row.position) {
                  var position = row.position.replaceAll(' ', '').toLowerCase();

                  return `<span data-bs-toggle="tooltip" data-bs-title="${ row.position }" class='songnum text-sm ${position}'>${data}</span>`
                } else if (!data) {
                  return ''
                } else {
                  return `<span class='songnum text-sm'>${data}</span>`
                }
              },
            },
            {
              'data': 'song',
              'name': 'song__name',
              'className': 'all',
              'width': '10rem',
              'render': function (data, type, row, meta) {
                if (type === 'display') {
                  var song = '<a class="fw-medium" href="/songs/' + data.id + '">'+ data.name +'</a>';

                  song = row.segue ? `${song} >` : song;

                  var badge = $('<span />').addClass('ms-2 badge')

                  // instrumental, sign-request, nobruce, premiere
                  if (row.instrumental) {
                    $(badge).addClass('text-bg-info').text('Instrumental');
                  } else if (row.sign_request) {
                    $(badge).addClass('text-bg-info').text('Sign Request');
                  } else if (row.nobruce) {
                    $(badge).addClass('warning').text('No Bruce');
                  } else if (row.premiere) {
                    $(badge).addClass('bg-secondary').text('Premiere');
                  }

                  return badge ? song + $(badge).prop('outerHTML') : song;
                }
              },
             },
             {
              'data': 'position',
              'name': 'position',
              'className': 'text-nowrap none',
              'width': '10rem',
              'render': function (data, type, row, meta) {
                if (type === 'display' && data) {
                  return data
                }
              },
            },
            {
              'data': 'last', 
              'className': 'dt-center min-tablet-l',
              'width': '3rem',
              'render': function (data, type, row, meta) {
                if (type === 'display') {
                  if (data >= 50 && !row.debut) {
                    return `<span class="badge bg-primary" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="≥50 shows on current tour since last played">${data + ', Bustout'}</span>`;
                  } else if (row.debut && !row.premiere) {
                    return `<span class="badge bg-primary" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Tour Debut">${data + ', TD'}</span>`;
                  } else {
                    return row.last;
                  }
                }
              },
            },
            {
              'data': 'tour_num',
              'className': 'dt-center min-tablet-l',
              'width': '3rem',
              'render': function (data, type, row, meta) {
                if (type === 'display' && data) {
                  var num = data;
                  var total = row.tour_total;

                  if (num == total && total == 1) {
                    return `<span class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Only Tour Performance">Only</span>`
                  } else if (num == total && total > 1) {
                    return `<span class="badge bg-accent" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Final Tour Performance<br>(${num}/${total})">Last</span>`
                  } else if (row.premiere) {
                    return ''
                  } else {
                    return `${num}/${total}`
                  }
                }
              },
             },
            {
              'data': 'ltp.date',
              'name': 'ltp__id',
              'className': 'dt-center min-tablet-l',
              'width': '8rem',
              'render': function (data, type, row, meta) {
                if (type === 'display') {
                  return data ? '<a class="fw-medium" href="/events/' + data.id + '">'+ data.display +'</a>' : '';
                }
              },
            },
            {
              'data': 'notes',
              'name': 'notes',
              'className': 'min-tablet-l text-wrap',
              'width': '15rem',
              'render': function (data, type, row, meta) {
                if (type === 'display' && data && data != null) {

      

                  return data ? `<span class="text-xs fw-light">${data.join('; ')}</span>` : '';
                }
              },
            },
          ],
          initComplete: function(settings, json) {
            var dt = this.api();

            $('.setHeader').each(function() {
              var row = $(this).children('th');
              var name = $(row).text().replaceAll(' ', '').toLowerCase();
              $(row).addClass(name).addClass('setHeader');
            })

            $('span.songnum').each(function() {
              var cell = this.closest('td')
              $(cell).addClass(this.className).text($(this).text());

              $(cell).attr('data-bs-toggle', 'tooltip').attr('data-bs-title', this.getAttribute('data-bs-title'))
              $(cell).tooltip();
            });
          }
        });

        $('th.setHeader').each(function(){
          $(this).removeClass('setHeader');
        });

        $('.card tr td.dt-empty').each(function() {

        })

          // code adapted from stackoverflow
          $('#copySetlist').click(function() {
            var btn = this;

            var $temp = $("<textarea>");
            $("body").append($temp);
            var x = $('#setlist_copy').html().trim().replace(/<br>/g, '\n').replace(/<\/?[^>]+>/g, '');
            $temp.val(x).select();
            document.execCommand("copy");
            $temp.remove();

            console.log(x);

            $(btn).text('Setlist Copied');
            $(btn).removeClass('btn-primary').addClass('btn-success');

            setTimeout(function() {
              $(btn).removeClass('btn-success').addClass('btn-primary');
              $(btn).text('Copy Setlist');
            }, 3000);
          })

          $('#userForm').submit(function(e) {
              e.preventDefault();
              var serializedData = $(this).serialize();

              $.ajax({
                type: "POST",
                url: "{% url 'add_show' %}",
                data:  serializedData,
                success: function(data) {
                  $("#usercount").text(data['count']);

                  if (data['action'] === 'added') {
                    $("#star").html('<i class="bi bi-star-fill"></i>');
                    $("#attended").text('Attended');
                    $("#addshow").addClass('active');
                    $("#usercount").addClass('active');

                  } else if (data['action'] === 'removed') {
                    $("#star").html('<i class="bi bi-star"></i>');
                    $("#attended").text('Attended?');
                    $("#addshow").removeClass('active');
                    $("#usercount").removeClass('active');
                  };
                },
              });
          });

        var table = $('#onstageTable').DataTable(
          {
            layout: layout,
            serverSide: true,
            processing: true,
            paging: false,
            searching: false,
            ordering: false,
            ajax: {
              'url': '/api/v1/onstage/?event={{ id }}&format=datatables&keep=band,relation,event',
            },
            rowGroup: {
              dataSrc: function(row) {
                return row.band ? `<a href="/bands/${row.band.id}">${row.band.name}</a>` : '';
              },
              startRender: function (rows, group) {
                var ul = $('<ul />');

                $(rows.data()).each(function() {
                  $(`<li class="text-reset fw-normal"><a href="/relations/${this.relation.id}">${this.relation.name}</a></li>`).appendTo(ul)
                });

                return group ? `${group} ${$(ul).prop('outerHTML')}` : $(ul).prop('outerHTML');
              }
            },
            initComplete: function (){
              $('tr:empty').remove();
              //$('#loading-spinner').hide();
            }
          });
      });

      
</script>
{% endblock content %}
