{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  {{ event }} {{ event.venue }}
{% endblock title %}
{% block content %}
  <div class="col">
    <div class="row row-cols-1 row-cols-md-2 g-3 justify-content-center">
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-header fs-5 fw-bold">Show Info</div>
          <div class="card-body">
            <div class="row">
              <h5 class="mb-1">{{ event }}</h5>
              <p>
                <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist }}</a>
              </p>
            </div>
            <div class="row">
              <strong class="head">Venue:</strong>
              <p>
                <a href="{% url "databruce:venue_details" id=event.venue.id %}">{{ event.venue }}</a>
              </p>
            </div>
            <div class="row">
              <strong class="head">City:</strong>
              <p>
                <a href="{% url "databruce:city_details" id=event.venue.city.id %}">{{ event.venue.city }}</a>
              </p>
            </div>
            {% if event.tour %}
              <div class="row">
                <strong class="head">Tour / Leg:</strong>
                <p>
                  <a href="{% url "databruce:tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
                  {% if event.leg %}/ {{ event.leg.name }}{% endif %}
                </p>
              </div>
            {% endif %}
            {% if event.run %}
              <div class="row">
                <strong class="head">Run:</strong>
                <p>
                  <a href="">{{ event.run.name }}</a>
                </p>
              </div>
            {% endif %}
            <div class="row justify-content-center">
              <div class="btn-group" role="group" aria-label="Basic example">
                {% if last_event %}
                  <a class="btn btn-secondary"
                     role="button"
                     data-bs-toggle="tooltip"
                     data-bs-placement="top"
                     data-bs-html="true"
                     data-bs-title="<div>{{ last_event }}<br>{{ last_event.artist }}<br>{{ last_event.venue }}</div>"
                     href="{% url 'databruce:event_details' event=last_event.id %}">&lt; Prev</a>
                {% endif %}
                <button type="button" class="btn btn-secondary" disabled>Events</button>
                {% if next_event %}
                  <a class="btn btn-secondary"
                     role="button"
                     data-bs-toggle="tooltip"
                     data-bs-placement="top"
                     data-bs-html="true"
                     data-bs-title="<div>{{ next_event }}<br>{{ next_event.artist }}<br>{{ next_event.venue }}</div>"
                     href="{% url 'databruce:event_details' event=next_event.id %}">Next &gt;</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-6">
        <div class="card mb-3">
          <div class="card-header fs-5 fw-bold">Setlist</div>
          <div class="card-body">
            {% if setlist %}
              {% regroup notes by id as notes_list %}
              {% regroup setlist by set_name as event_setlist %}
              {% for set in event_setlist %}
                <h6 class="card-subtitle mb-2 text-body-secondary-emphasis">{{ set.grouper }}</h6>
                <p class="card-text">
                  {% for song in set.list %}
                    <span class="text-nowrap">
                      <a class="pe-0"
                         href="{% url "databruce:song_details" id=song.song.id %}">{{ song.song.name }}</a>
                      {% for item in notes_list %}
                        {% if item.grouper.id == song.id %}
                          {% for note in item.list %}
                            <span class="badge text-bg-light font-monospace"
                                  data-bs-toggle="tooltip"
                                  data-bs-html="true"
                                  data-bs-title="{{ note.note|mdlink }}">{{ note.num }}</span>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                      {% if not forloop.last %}{{ song.separator }}{% endif %}
                    </span>
                  {% endfor %}
                </p>
              {% endfor %}
            {% else %}
              <h6>No Set Details Available</h6>
            {% endif %}
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-3">
          {% if notes %}
            <div class="col">
              <div class="card">
                <div class="card-header fs-5 fw-bold">Setlist Notes</div>
                <div class="card-body">
                  {% regroup notes by num as notes_list %}
                  {% for item in notes_list %}
                    {% with note=item.list|first %}
                      <div class="row">
                        <span>
                          <span class="badge text-bg-light me-2 font-monospace">{{ note.num }}</span>
                          {% if note.last %}
                            {{ note.note|mdlink|safe }}, LTP
                            {% include "../partials/event_tooltip.html" with event=note.last %}
                            ({{ note.gap }} events)
                          {% else %}
                            {{ note.note|mdlink|safe }}
                          {% endif %}
                        </span>
                      </div>
                    {% endwith %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
          {% if onstage %}
            <div class="col">
              <div class="card">
                <div class="card-header fs-5 fw-bold">Onstage</div>
                <ul class="list-group list-group-flush">
                  {% for member in onstage %}
                    {% if member.relation.id == 255 %}
                      <li class="list-group-item">
                        <a href="{% url "databruce:relation_details" id=member.relation.id %}">{{ member.relation.name }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  {% regroup onstage by band as onstage_list %}
                  {% for band in onstage_list %}
                    {% if band.grouper %}
                      <a class="list-group-item dropdown-toggle"
                         data-bs-toggle="collapse"
                         href="#{{ band.grouper.id }}"
                         role="button"
                         aria-expanded="false"
                         aria-controls="collapseExample">{{ band.grouper.name }}</a>
                      <div class="collapse" id="{{ band.grouper.id }}">
                        {% for member in band.list %}
                          {% if member.relation.id != 255 %}
                            <li class="list-group-item">
                              <a href="{% url "databruce:relation_details" id=member.relation.id %}">{{ member.relation.name }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% elif band.list|length > 1 and band.list.0.relation.id != 255 %}
                      <a class="list-group-item dropdown-toggle"
                         data-bs-toggle="collapse"
                         href="#guests"
                         role="button"
                         aria-expanded="false"
                         aria-controls="collapseExample">Guests</a>
                      <div class="collapse" id="guests">
                        {% for member in band.list %}
                          {% if member.relation.id != 255 and member.guest %}
                            <li class="list-group-item">
                              <a href="{% url "databruce:relation_details" id=member.relation.id %}">{{ member.relation.name }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
