{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  {{ event }} {{ event.venue }}
{% endblock title %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-10 col-lg-8">
      <div class="row mb-3">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-row flex-wrap">
                <div class="flex-grow-1 mb-4 mb-md-0">
                  <div class="flex-grow-2 sky-500 fw-semibold fs-5">{{ event }}</div>
                  <div class="text-body-secondary fw-medium fs-5">{{ event.venue }}, {{ event.venue.city }}</div>
                  <div class="text-body fw-medium fs-5 mb-2">{{ event.artist }}</div>
                  <div class="fs-6">
                    <a data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       data-bs-html="true"
                       data-bs-title="Tour"
                       class="badge {{ event.tour.slug|default_if_none:"text-bg-secondary" }}"
                       href="{% url "databruce:tour_details" id=event.tour.id %}">{{ event.tour }}</a>
                    {% if event.leg %}
                      <a data-bs-toggle="tooltip"
                         data-bs-placement="top"
                         data-bs-html="true"
                         data-bs-title="Tour Leg"
                         class="badge {{ event.tour.slug|default_if_none:"text-bg-secondary" }}"
                         href="{% url "databruce:leg_details" id=event.leg.id %}">{{ event.leg }}</a>
                    {% endif %}
                    {% if event.run %}
                      <a data-bs-toggle="tooltip"
                         data-bs-placement="top"
                         data-bs-html="true"
                         data-bs-title="Run"
                         class="badge {{ event.tour.slug|default_if_none:"text-bg-secondary" }}"
                         href="{% url "databruce:run_details" id=event.run.id %}">{{ event.run }}</a>
                    {% endif %}
                  </div>
                </div>
                <div>
                  <a class="btn btn-sm btn-secondary"
                     role="button"
                     data-bs-toggle="tooltip"
                     data-bs-placement="top"
                     data-bs-html="true"
                     data-bs-title="<div>{{ prev_event }}<br>{{ prev_event.artist }}<br>{{ prev_event.venue }}</div>"
                     href="{% url 'databruce:event_details' event=prev_event.id %}">&lt; Prev</a>
                  <a class="btn btn-sm btn-secondary"
                     role="button"
                     data-bs-toggle="tooltip"
                     data-bs-placement="top"
                     data-bs-html="true"
                     data-bs-title="<div>{{ next_event }}<br>{{ next_event.artist }}<br>{{ next_event.venue }}</div>"
                     href="{% url 'databruce:event_details' event=next_event.id %}">Next &gt;</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-8 mb-3">
          <div class="row row-cols-1 g-3 mb-3">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  {% regroup setlist by set_name as event_setlist %}
                  {% regroup notes by id.id as notes_list %}
                  {% if setlist %}
                    <div class="table-responsive p-0">
                      <table class="table table-sm display" id="setlistTable">
                        <thead>
                          <tr>
                            <th class="all text-center">#</th>
                            <th class="all">Song</th>
                            <th class="all">Gap</th>
                            <th class="all">Last Played</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for set in event_setlist %}
                            <tr class="text-center">
                              <td class="setHeader" colspan="4">{{ set.grouper }}</td>
                              <td class="setname"></td>
                              <td class="setname"></td>
                              <td class="setname"></td>
                            </tr>
                            {% for song in set.list %}
                              <tr>
                                <td class="text-center">
                                  {% if song.position %}
                                    <span data-bs-toggle="tooltip"
                                          data-bs-title="{{ song.position }}"
                                          class="badge text-bg-primary">{{ song.song_num }}</span>
                                  {% else %}
                                    {{ song.song_num }}
                                  {% endif %}
                                </td>
                                <td>
                                  <div class="row">
                                    <span class="text-nowrap ">
                                      <a class="text-light"
                                         href="{% url "databruce:song_details" id=song.song.id %}">{{ song.song.name }}</a>
                                      {% if song.segue %}{{ song.separator }}{% endif %}
                                      {% if song.instrumental %}<span class="badge text-bg-success">Instrumental</span>{% endif %}
                                      {% if song.sign_request %}<span class="badge text-bg-danger">Sign Request</span>{% endif %}
                                    </span>
                                  </div>
                                  <div class="row text-body-secondary">
                                    <small>
                                      {% for note in notes_list %}
                                        {% if note.grouper == song.id %}{{ note.list|setlist_note|safe }}{% endif %}
                                      {% endfor %}
                                    </small>
                                  </div>
                                </td>
                                <td class="text-wrap">
                                  {% if song.debut and not song.premiere %}
                                    {{ song.last }}, TD
                                  {% elif song.last >= 50 %}
                                    {{ song.last }}, Bustout
                                  {% else %}
                                    {{ song.last|default_if_none:"" }}
                                  {% endif %}
                                </td>
                                <td class="text-nowrap">
                                  {% if song.premiere %}
                                    Debut
                                  {% elif song.ltp %}
                                    <a href="{% url "databruce:event_details" event=song.ltp.id %}"
                                       class="text-light">{{ song.ltp }}</a>
                                  {% endif %}
                                </td>
                              </tr>
                            {% endfor %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  {% else %}
                    <h6>No Set Details Available</h6>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-md-2 g-3">
            <div class="col">
              <div class="card">
                <div class="card-header">Album Breakdown</div>
                <div class="card-body">
                  {% comment %} {% for album in album_breakdown %}
                    <div class="d-flex flex-row justify-content-between">
                      <div class="pe-2 fw-semibold">{{ album.category }}:</div>
                      <div>{{ album.num }}</div>
                    </div>
                  {% endfor %} {% endcomment %}
                  {% regroup setlist_unique by song.category as category_list %}
                  {% for album in album_breakdown %}
                    <div class="row mb-1">
                      <div class="col">
                        {{ album.category }}
                        <a href="#" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="{% for category in category_list %}{% if category.grouper == album.category %} {% for item in category.list %}{{ item.song.name }}<br>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                    ">
                    <div class="progress px-0"
                         role="progressbar"
                         aria-label="Basic example"
                         aria-valuenow="{{ album.num|album_percent:album_max.max }}"
                         aria-valuemin="0"
                         aria-valuemax="100">
                      <div class="progress-bar main-color"
                           style="width: {{ album.num|album_percent:album_max.max }}%">{{ album.num }}</div>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">Onstage</div>
          <div class="card-body">Onstage Here</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="row row-cols-1 g-3">
      <div class="col">
        <div class="card">
          <div class="card-header">Event Notes</div>
          <div class="card-body">{{ event.note|default_if_none:"" }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<script>
      $(document).ready(function() {
          // removes searchBuilder button, not needed for this.
          layout.topEnd.features[1].buttons.pop();

          new DataTable('#setlistTable', {
              layout: layout,
              autoWidth: false,
              paging: false,
              ordering: false,
              columnDefs: [{ target: 0, width: '5%' }],
          });

          new DataTable('#gapsTable', {
            layout: layout,
              autoWidth: false,
              paging: false,
              ordering: false,
              columnDefs: [{ target: 0, width: '5%' }],
          });
      })
</script>
{% endblock content %}
