{% extends "databruce/narrow_layout.html" %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block extrajs %}
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
          integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
          crossorigin="anonymous"
          async></script>
{% endblock extrajs %}
{% block content %}
  {% if user.is_superuser %}
    {% include "databruce/partials/admin_edit_btn.html" with view="events" item=event.id %}
  {% endif %}
  <div class="col d-grid gap-0 gx-0">
    <!-- next and last buttons-->
    <div class="row mb-2 gx-0">
      <div class="col gap-0 column-gap-1 d-flex justify-content-end">
        {% if prev_event %}
          <a role="button"
             class="btn btn-sm btn-primary"
             data-bs-toggle="tooltip"
             data-bs-placement="top"
             data-bs-html="true"
             data-bs-title="<div>{{ prev_event }}<br>{{ prev_event.artist }}<br>{{ prev_event.venue.name }}</div>"
             href="{% url 'event_details' id=prev_event.event_id %}">Prev</a>
        {% endif %}
        {% if next_event %}
          <a role="button"
             class="btn btn-sm btn-primary"
             data-bs-toggle="tooltip"
             data-bs-placement="top"
             data-bs-html="true"
             data-bs-title="<div>{{ next_event }}<br>{{ next_event.artist }}<br>{{ next_event.venue.name }}</div>"
             href="{% url 'event_details' id=next_event.event_id %}">Next</a>
        {% endif %}
      </div>
    </div>
    {% if not event.date %}
      <!-- message cards -->
      <div class="row mb-2 gx-0">
        <div class="col">
          <div class="card message info">This is a placeholder date, actual date unknown.</div>
        </div>
      </div>
    {% endif %}
    <!-- event info -->
    <div class="row mb-3 gx-0">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-wrap">
              <div class="flex-grow-1 w-75 mb-3 mb-md-0">
                {% if event.title %}
                  <div class="row mb-1">
                    <div class="col">
                      <div id="title" class="text-wrap text-xs fst-italic fw-light">
                        <span class="mb-0">{{ event.title }}</span>
                      </div>
                    </div>
                  </div>
                {% endif %}
                <div class="row mb-2">
                  <div class="col">
                    <div class="row">
                      <div class="text-wrap text-lg">
                        <span id="date">
                          {% if event.date %}
                            {{ event.get_date }}
                          {% else %}
                            {{ event.event_id|format_fuzzy }}
                          {% endif %}
                        </span>
                        <a class="fw-medium text-reset"
                           href="{% url 'band_details' id=event.artist.uuid %}"
                           id="artist">{{ event.artist }}</a>
                        {% if event.type.name == 'Rescheduled' or event.type.name == 'Cancelled' or event.type.name == 'Relocated' or event.type.name == 'No Bruce' or event.type.name == 'No Gig' or event.type.name == 'Rumored' %}
                          <span class="text-danger fw-medium">[{{ event.type.name }}]</span>
                        {% endif %}
                      </div>
                    </div>
                    <div class="row text-lg fw-medium text-reset">
                      <div class="col">
                        {% if event.venue.city %}
                          <a class="text-reset"
                             href="{% url 'venue_details' id=event.venue.uuid %}">{{ event.venue.get_name }}, {{ event.venue.city }}</a>
                        {% else %}
                          <a class="text-reset"
                             href="{% url 'venue_details' id=event.venue.uuid %}">{{ event.venue.get_name }}</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-3 mb-md-0">
                  <div class="col-auto">
                    <div class="badge-row d-inline-flex flex-wrap gap-0 row-gap-1 column-gap-1"
                         id="badge-row">
                      {% if event.tour %}
                        <a href="{% url 'tour_details' id=event.tour.uuid %}"><span class="badge badge-primary">{{ event.tour }}</span></a>
                      {% endif %}
                      {% if event.leg %}
                        <a href="{% url 'leg_details' id=event.leg.uuid %}"><span class="badge badge-primary">{{ event.leg.name }}</span></a>
                      {% endif %}
                      {% if event.run %}
                        <a href="{% url 'run_details' id=event.run.uuid %}"><span class="badge badge-primary">{{ event.run.name }}</span></a>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% if event.brucebase_url or event.nugs_event.count > 0 %}
                  <div class="row mt-3">
                    <div class="col-auto">
                      <div class="badge-row d-flex-inline flex-sm-wrap flex-nowrap gap-0 row-gap-1 column-gap-1"
                           id="badge-row-2">
                        {% if event.brucebase_url %}
                          <a role="button"
                             target="_blank"
                             class="btn btn-sm btn-subtle text-xs icon-button"
                             href="https://brucebase.wikidot.com/{{ event.event_id|brucebase_url }}">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="16"
                                 height="16"
                                 fill="currentColor"
                                 class="bi bi-link-45deg"
                                 viewBox="0 0 16 16">
                              <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z" />
                              <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z" />
                            </svg>
                            Brucebase
                          </a>
                        {% endif %}
                        {% if event.nugs_event.count > 0 %}
                          <a role="button"
                             target="_blank"
                             href="{{ event.nugs_event.first.url }}"
                             class="btn btn-sm btn-subtle text-xs icon-button">
                            <svg version="1.1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="14"
                                 fill="currentColor"
                                 height="14"
                                 viewBox="0 0 27.3 28">
                              <path class="st0" d="M24.9,6.2c-3-4.2-7.9-6.3-12.7-5.7l6.1,8.7c0.3,0.4,0.8,0.4,1.1,0L20.1,8v6.8l-9.8-14c-1.6,0.4-3.1,1.1-4.5,2 c-6.2,4.3-7.7,12.8-3.4,19c3,4.3,8.1,6.4,13,5.7l-6.4-9.2C8.8,18,8.3,18,8,18.4l-0.8,1.2v-6.8l10.1,14.4c1.5-0.4,2.9-1.1,4.2-2 C27.7,20.9,29.2,12.3,24.9,6.2z" />
                            </svg>
                            Nugs
                          </a>
                        {% endif %}
                        {% if event.archive_links.count > 0 %}
                          <a role="button"
                             target="_blank"
                             href="https://archive.org/details/radionowhere?tab=collection&query={{ event.date|date:"Y-m-d" }}"
                             class="btn btn-sm btn-subtle text-xs icon-button">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="16"
                                 height="16"
                                 fill="currentColor"
                                 class="bi bi-headphones"
                                 viewBox="0 0 16 16">
                              <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5" />
                            </svg>
                            <span>Radio Nowhere</span>
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
              <div class="flex-shrink-1">
                {% if user.is_authenticated and event.public %}
                  <form method="post" id="userForm">
                    <input type="hidden" name="event" value="{{ event.id }}">
                    <input type="hidden" name="user" value="{{ user.id }}">
                    {% csrf_token %}
                    <div class="btn-group input-group input-group-sm"
                         role="group"
                         aria-label="Basic example">
                      <button id="addshow"
                              type="submit"
                              name="submit"
                              class="btn btn-sm text-nowrap {% if user_attended %}btn-primary{% else %}btn-subtle{% endif %} icon-button">
                        {% if user_attended %}
                          <i class="bi bi-star-fill" id="star"></i>
                        {% else %}
                          <i class="bi bi-star"id="star"></i>
                        {% endif %}
                        <span id="attended">
                          {% if user_attended %}
                            Attended
                          {% else %}
                            Attended?
                          {% endif %}
                        </span>
                        <button type="button"
                                id="usercount"
                                disabled
                                class="btn btn-sm {% if user_attended %}btn-primary{% else %}btn-subtle{% endif %}">
                          {{ user_count }}
                        </button>
                      </button>
                    </div>
                  </form>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="card-footer py-0 px-1" id="eventInfoFooter">
            <nav class="nav nav-underline px-2">
              <a class="nav-link active text-sm"
                 id="overview-tab"
                 data-bs-toggle="pill"
                 data-bs-target="#overview"
                 type="button"
                 role="tab"
                 aria-controls="overview"
                 aria-selected="true">Overview</a>
              <a class="nav-link text-sm"
                 id="onstage-tab"
                 data-bs-toggle="pill"
                 data-bs-target="#onstage"
                 type="button"
                 role="tab"
                 aria-controls="notes"
                 aria-selected="false">Onstage</a>
              <a class="nav-link text-sm"
                 id="notes-tab"
                 data-bs-toggle="pill"
                 data-bs-target="#notes"
                 type="button"
                 role="tab"
                 aria-controls="notes"
                 aria-selected="false">Notes</a>
              <a class="nav-link text-sm"
                 id="links-tab"
                 data-bs-toggle="pill"
                 data-bs-target="#links"
                 type="button"
                 role="tab"
                 aria-controls="notes"
                 aria-selected="false">Links</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- setlist and notes -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active"
           id="overview"
           role="tabpanel"
           aria-labelledby="overview-tab"
           tabindex="0">
        <div class="row row-cols-1 row-cols-lg-2 gy-3 gx-0">
          <div class="col-12 col-lg-8 col-xl-9 pe-lg-3">
            <div class="row d-xl-none mb-3 gx-0">
              <div class="col">
                {% partialdef event-note inline %}
                  <div class="card">
                    <div class="card-header">
                      Notes
                      <i class="bi bi-pencil"></i>
                    </div>
                    <div class="card-body event-note">{{ event.note|markdown|safe|default_if_none:"" }}</div>
                  </div>
                {% endpartialdef %}
              </div>
            </div>
            <div class="col-12">
              <div class="card">
                <div class="card-header d-flex flex-column">
                  <div class="d-flex justify-content-between w-100">
                    Setlist
                    <span class="text-sm my-auto"
                          data-bs-toggle="tooltip"
                          data-bs-html="true"
                          data-bs-title="Setlist Options">
                      <a role="button"
                         class="btn btn-sm btn-primary icon-button px-1"
                         data-bs-toggle="collapse"
                         href="#options">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-three-dots"
                             viewBox="0 0 16 16">
                          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                        </svg>
                      </a>
                    </span>
                  </div>
                  <div class="collapse row w-100" id="options">
                    <div class="col-12 px-0 pt-1">
                      <button id="copySetlist" class="btn btn-sm btn-primary">Copy Setlist</button>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table table-hover display wrap" id="setlistTable">
                      <thead>
                        <th class="all">#</th>
                        <th class="all">Song</th>
                        <th class="all">Gap</th>
                        <th class="all">Tour</th>
                        <th class="all">Last</th>
                        <th class="min-tablet-l">Note</th>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 col-xl-3">
            <div class="d-none d-xl-block mb-3">{% partial event-note %}</div>
            {% if start_time or scheduled_time %}
              <div class="card mb-3">
                <div class="card-header">
                  Set Times<i class="bi bi-clock"></i>
                </div>
                <div class="card-body">
                  <div class="row row-cols-3">
                    {% if start_time %}
                      <div class="col">
                        <div class="fw-semibold text-xs">Start</div>
                        <div class="text-sm">{{ start_time }}</div>
                      </div>
                    {% elif scheduled_time %}
                      <div class="col">
                        <div class="fw-semibold text-xs">Scheduled</div>
                        <div class="text-sm">{{ scheduled_time }}</div>
                      </div>
                    {% endif %}
                    {% if end_time %}
                      <div class="col">
                        <div class="fw-semibold text-xs">End</div>
                        <div class="text-sm">{{ end_time }}</div>
                      </div>
                    {% endif %}
                    {% if duration %}
                      <div class="col">
                        <div class="fw-semibold text-xs">Length</div>
                        <div class="text-sm">{{ duration }}</div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="card mb-3">
              <div class="card-header">
                Albums
                <span class="text-sm my-auto"
                      data-bs-toggle="tooltip"
                      data-bs-html="true"
                      data-bs-title="Expand/Collapse All Rows">
                  <a role="button"
                     id="album-breakdown-btn"
                     class="btn btn-sm btn-primary icon-button px-1"
                     data-bs-toggle="collapse">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         class="bi bi-three-dots"
                         viewBox="0 0 16 16">
                      <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                    </svg>
                  </a>
                </span>
              </div>
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table table-hover display wrap" id="albumTable">
                    <thead>
                      <th class="d-none all">#</th>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade"
           id="onstage"
           role="tabpanel"
           aria-labelledby="onstage-tab"
           tabindex="1">
        <div class="col-12">
          <div class="card">
            <div class="card-header">Onstage</div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-hover display wrap" id="onstageTable">
                  <thead>
                    <th class="all">Guest</th>
                    <th class="all">Person</th>
                    <th class="all">Band</th>
                    <th class="all">Note</th>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade"
           id="notes"
           role="tabpanel"
           aria-labelledby="notes-tab"
           tabindex="2">
        <div class="col-12">
          <div class="card">
            <div class="card-header">Notes</div>
            <div class="card-body"></div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade"
           id="links"
           role="tabpanel"
           aria-labelledby="links-tab"
           tabindex="3">
        <div class="col-12">
          <div class="card">
            <div class="card-header">Links</div>
            <div class="card-body">
              {% if event.archive_links.count > 0 %}
                <div class="text-sm">Radio Nowhere:</div>
                <ul>
                  {% for link in event.archive_links.all %}
                    <li>
                      <a href="https://archive.org/details/{{ link }}">{{ link }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if official %}
                <div class="text-sm">Released In Full On:</div>
                <ul>
                  {% for release in official %}
                    <li>
                      <a href="{% url "release_details" id=release.uuid %}">{{ release.name }}</a>
                      <span>({{ release.date }})</span>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if official_tracks %}
                <div class="text-sm">Included On:</div>
                <ul>
                  {% for release in official_tracks %}
                    <li>
                      <a href="{% url "release_details" id=release.release.uuid %}">{{ release.release.name }}</a>
                      <span>({{ release.release.date }})</span>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% comment %} {{ official_tracks }} {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var counts = [];

    $(document).ready(function () {
    var layout = getDatatableLayout({ columns: false, category: false });

    $('#albumTable').DataTable({
        layout: layout,
        serverSide: true,
        processing: true,
        ordering: false,
        searching: false,
        scrollX: false,
        scrollY: '60vh',
        paging: false,
        info: false,
        ajax: {
          'url': '/api/v1/setlist_breakdown/?event={{ id }}&format=custom&ordering=-num',
        },
        columns: [
          {
            'data': 'category',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                var album = slugify(data);
                var percent = (row.num / row.total) * 100;
                var complete_badge = ""

                const songItems = row.songs.map(song => {

                  if (song.original_artist !== 'Bruce Springsteen') {
                    return `<li class="list-group-item px-1 py-0.5">${song.name} [${song.original_artist}]</li>`
                  }

                  return `<li class="list-group-item px-1 py-0.5">${song.name}</li>`

                }).join('')

                if (row.album_complete) {
                  complete_badge = `<div class="badge ms-1 badge-warning">Complete</div>`
                }

                const html = `
                  <div class="col py-1 px-1 album-breakdown" data-bs-toggle="collapse" href="#${album}-collapse">
                      <div class="row text-2xs mx-0 pb-1 d-flex-inline justify-content-between">
                          <div class="col ps-0 pe-1 text-wrap category"><span>${data}</span> ${complete_badge}</div>
                          <div class="col-3 text-end px-0 text-nowrap me-1">${row.num}/${row.total} (${percent.toFixed(1)}%)</div>
                      </div>
                      <div class="progress px-0 mx-0">
                          <div class="progress-bar" style="width:${row.percent}%"></div>
                      </div>
                      <div class="collapse" id="${album}-collapse">
                          <ul class="list-group pt-2 pb-1">${songItems}</ul>
                      </div>
                  </div>`;

                return html
              }
            },
          }
        ],
        initComplete: function() {
          // enable highlighting of setlist rows by album
          $("#albumTable tr").each(function () {

            var album = slugify($(this).find('div.category span').text());

            $(this).hover(function () {
              $(this).css('cursor', "pointer");

              $(`#setlistTable tbody tr:not(.set-header)`).each(function () {
                var row = $(this);
                
                if (row.attr('album') == album) {
                  $(row).css('opacity', '1');
                  $(row).children('td').addClass('highlighted');
                } else {
                  $(row).css('opacity', '0.2');
                }
              });

            }, function () {
              $(this).css("box-shadow", "none");   // Action on mouseleave
              $(`#setlistTable tr`).css('opacity', '1');
              $(`#setlistTable tr`).children('td').removeClass('highlighted');
            });
          });

          // button to open/close all album sections
          $('#album-breakdown-btn').click(function() {
            var closed = $('#albumTable .collapse:not(.show)');
            var all = $('#albumTable .collapse');

            if (closed.length > 0) {
              closed.each(function () {
                const bsCollapse = bootstrap.Collapse.getOrCreateInstance(this);
                bsCollapse.show();
              })
            } else {
              all.each(function () {
                const bsCollapse = bootstrap.Collapse.getOrCreateInstance(this);
                bsCollapse.hide();
              })
            }
          })
        }
    })
    
    $('#onstageTable').DataTable(
      {
        layout: layout,
        serverSide: true,
        processing: true,
        ordering: false,
        searching: false,
        scrollX: false,
        paging: false,
        info: false,
        ajax: {
          'url': '/api/v1/onstage/?event={{ id }}&format=custom',
        },
        columnDefs: [
          {'target': 0, columnControl: [] }
        ],
        columns: [
          {
            'data': 'guest',
            'name': 'guest',
            'className': 'dt-center text-xl',
            'width': '38px',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return $('<i />').addClass('bi bi-check-lg text-xl check').prop('outerHTML')
              }
            },
          },
          {
            'data': 'relation',
            'name': 'relation__name',
            'className': 'text-nowrap',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a class="text-reset" href="/relations/${data.uuid}">${data.name}</a>`;
              }
            },
          },
          {
            'data': 'band',
            'name': 'band__name',
            'className': 'text-nowrap',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a class="text-reset" href="/bands/${data.uuid}">${data.name}</a>`;
              }
            },
          },
          {'data': 'note', 'name': 'note' },
        ]
      }
    );

    $('#setlistTable').DataTable(
      {
        layout: layout,
        serverSide: true,
        processing: true,
        paging: false,
        ordering: false,
        searching: false,
        info: false,
        fixedHeader: false,
        autoWidth: false,
        ajax: '/api/v1/setlists/?event={{ id }}&format=custom',
        rowGroup: {
          dataSrc: 'set_name',
          className: 'text-center set-header p-0 dtrg-group',
          startRender: function(rows, group) {
            const g = `<span>${group}</span>`;
            const td = `<td colspan="${rows.columns().count()}" class="py-0">${g}</td>`;
            return $('<tr />').addClass(slugify(group)).append(td);
          }
        },
        createdRow: function (row, data, dataIndex) {
          $(row).addClass(slugify(data.set_name));

          var allowedSets = ['Show', 'Set 1', "Set 2", 'Encore', 'Pre-Show', 'Post-Show', 'Rehearsal']

          if (allowedSets.includes(data.set_name)) {
            var album = slugify(data.song.category);
            $(row).attr('album', album);
          }
        },
        columnDefs: [
          {'targets': '_all', columnControl: [] }
        ],
        columns: [
          {
            'data': 'song_num',
            'className': 'dt-center',
            'width': '30px',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return data;
              }
            },
            'createdCell': function(td, cellData, rowData, row, col) {
              $(td).addClass('songnum');

              if (rowData.position) {
                var position = slugify(rowData.position);
                $(td).addClass(`${position}`).attr('data-bs-toggle', 'tooltip').attr('data-bs-title', rowData.position)
              }

              return td;
            },
          },
          {
            'data': 'song',
            'name': 'song__sort_song_name',
            'className': 'text-nowrap',
            'width': '16rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                var song = `<a class="text-reset" href="/songs/${data.uuid}">${data.name}</a>`;
                var segue = row.segue ? `<span class="segue">\></span>` : '';

                song = `${song} ${segue}`;

                var badges = $('<span />').addClass('ms-2');
                var baseBadge = `<span class="badge ms-1" data-bs-toggle="tooltip" data-bs-html="true"></span>`

                if (row.instrumental) {
                  var badge = $(baseBadge).clone();
                  $(badge).addClass('badge-info').text('Inst.').attr('data-bs-title', 'Instrumental');
                  badges.append($(badge).prop('outerHTML'));
                }

                if (row.sign_request) {
                  var badge = $(baseBadge).clone();
                  $(badge).addClass('badge-info').text('Sign').attr('data-bs-title', 'Sign Request');
                  $(badges).append($(badge).prop('outerHTML'));
                }
                
                if (row.nobruce) {
                  var badge = $(baseBadge).clone();
                  $(badge).addClass('badge-warning').text('No Boss').attr('data-bs-title', 'Song Played Without Bruce');
                  $(badges).append($(badge).prop('outerHTML'));
                }

                if (row.notes) {
                  var notes = `<span class="text-wrap d-inline-block d-md-none fw-light setlist-note">${row.notes.join('; ')}</span>`;
                  return badges ? song + $(badges).prop('outerHTML') + '<br>' + notes : song;
                }

                return badges ? song + $(badges).prop('outerHTML') : song;
              }
            },
          },
          {
            'data': 'stats',
            'className': 'dt-center',
            'width': '4rem',
            'render': function (data, type, row, meta) {
              var badge = $('<span />').addClass('badge align-middle text-nowrap').attr('data-bs-toggle', 'tooltip').attr('data-bs-html', 'true');
              
              if (type === 'display' && data) {
                if (data.gap >= 50 && !data.debut) {
                  $(badge).addClass('badge-primary').text(`${data.gap}, Bustout`).attr('data-bs-title', '≥50 shows on current tour since last played');
                  return $(badge).prop('outerHTML');
                } else if (data.premiere) {
                  $(badge).addClass('badge-secondary').text(`First`).attr('data-bs-title', 'FTP');
                  return $(badge).prop('outerHTML');
                } else if (data.debut && !data.premiere && data.gap) {
                  $(badge).addClass('badge-primary').text(`${data.gap}, TD`).attr('data-bs-title', 'Tour Debut');
                  return $(badge).prop('outerHTML');
                } else if (data.debut && !data.premiere && !data.gap) {
                  $(badge).addClass('badge-primary').text(`TD`).attr('data-bs-title', 'Tour Debut');
                  return $(badge).prop('outerHTML');
                } else {
                  return data.gap;
                }
              }
            },
          },
          {
            'data': 'stats',
            'className': 'dt-center',
            'width': '4rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                var num = data.tour_num;
                var total = data.tour_total;

                var badge = $('<span />').addClass('badge align-middle').attr('data-bs-toggle', 'tooltip').attr('data-bs-html', 'true');

                if (num == total && total == 1) {
                  $(badge).addClass('badge-secondary').text('Only').attr('data-bs-title', 'Only Tour Performance');
                  return $(badge).prop('outerHTML');
                } else if (num == total && total > 1) {
                  $(badge).addClass('badge-warning').text(`${num}/${total}`).attr('data-bs-title', `Final Tour Performance<br>(${num}/${total})`);
                  return $(badge).prop('outerHTML');
                } else {
                  return `${num}/${total}`
                }
              }
            },
          },
          {
            'data': 'stats',
            'name': 'stats__ltp__event_id',
            'width': '6rem',
            'className': 'dt-center text-nowrap',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data && data.ltp) {
                return `<a class="text-reset" href="/events/${data.ltp.event_id}">${data.ltp.date.display}</a>`;
              }
            },
          },
          {
            'data': 'notes',
            'name': 'setlist_notes__note',
            'width': '15rem',
            'className': 'text-wrap text-xs',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<span class="setlist-note">${row.notes.join('; ').replaceAll("''", "'")}</span>`
              }
            },
          }
        ],
      })

      $('#copySetlist').click(function () {
          var btn = this;

          fetch('/api/v1/setlists/?event={{ id }}&format=json')
          .then(response => response.json())
          .then(data => {
            var lines = [];

            data.results.forEach(function (item) {
              var song = item.segue ? `${item.song.name} >` : item.song.name;
              lines.push(song);
            });

            try {
              navigator.clipboard.writeText(lines.join('\n'));
              console.log('Text copied to clipboard successfully!');
            } catch (err) {
              console.error('Failed to copy text: ', err);
            }
          });

          $(btn).text('Setlist Copied');
          $(btn).removeClass('btn-primary').addClass('btn-success');

          setTimeout(function () {
            $(btn).removeClass('btn-success').addClass('btn-primary');
            $(btn).text('Copy Setlist');
          }, 3000);
        });

      $('#userForm').submit(function (e) {
          e.preventDefault();
          var serializedData = $(this).serialize();

          $.ajax({
            type: "POST",
            url: "{% url 'add_show' %}",
            data: serializedData,
            success: function (data) {
              $("#usercount").text(data['count']);

              if (data['action'] === 'added') {
                $("#star").addClass('bi-star-fill').removeClass('bi-star');
                $("#attended").text('Attended');
                $("#addshow").addClass('btn-primary').removeClass('btn-subtle');
                $("#usercount").addClass('btn-primary').removeClass('btn-subtle');

              } else if (data['action'] === 'removed') {
                $("#star").addClass('bi-star').removeClass('bi-star-fill');
                $("#attended").text('Attended?');
                $("#addshow").removeClass('btn-primary').addClass('btn-subtle');
                $("#usercount").removeClass('btn-primary').addClass('btn-subtle');
              };
            },
          });
        });
    });

    




  </script>
{% endblock content %}
