{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  {{ event }} {{ event.artist.name }}
{% endblock title %}
{% block content %}
  <div class="col-md-12 col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive p-0">
          <table class="table table-sm">
            <thead>
              <tr>
                <td>#</td>
                <td>Song</td>
                <td>Last</td>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% regroup setlist by set_name as event_setlist %}
              {% for set in event_setlist %}
                <tr class="custom">
                  <td colspan="3" class="text-center">{{ set.grouper }}</td>
                </tr>
                {% for song in set.list %}
                  <tr>
                    <td>{{ song.song_num }}</td>
                    <td>
                      <a class="pe-0"
                         href="{% url "databruce:song_details" id=song.song.id %}">{{ song.song.song_name }}</a>
                      <br>
                      {% regroup notes by id.id as notes_list %}
                      {% for note in notes_list %}
                        {% if note.grouper == song.id %}
                          <sup class="text-body-secondary">
                            {% for n in note.list %}
                              {% if "Debut" not in n.note and "First" not in n.note %}{{ n.note }}{% endif %}
                            {% endfor %}
                          </sup>
                        {% endif %}
                      {% endfor %}
                    </td>
                    <td>
                      {% if song.debut and not song.premiere %}
                        <span class="badge text-bg-warning"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              data-bs-custom-class="custom-tooltip"
                              data-bs-title="{{ song.ltp }}">{{ song.last }}, TD</span>
                      {% endif %}
                      {% if song.premiere %}<span class="badge text-bg-primary">Debut</span>{% endif %}
                    </td>
                  </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <h4>{{ event }}</h4>
        </div>
        <div class="row">
          <h5>{{ event.artist.name }}</h5>
        </div>
        <hr>
        <div class="row">
          <h5>{{ event.venue.name }}</h5>
          <h6>{{ event.venue.city }}</h6>
        </div>
        <hr>
        <div class="row justify-content-center">
          <div class="btn-group" role="group" aria-label="Basic example">
            {% if last_event %}
              <a class="btn btn-secondary"
                 href="{% url 'databruce:event_details' event=last_event %}">&lt; Previous Event</a>
            {% endif %}
            {% if next_event %}
              <a class="btn btn-secondary"
                 href="{% url 'databruce:event_details' event=next_event %}">Next Event &gt;</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} <div class="row mt-4">
    <h4>
      {{ event }} &gt; {{ event.artist.name }} &gt; <a href="{% url 'databruce:venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
    </h4>
  </div>
  <div class="row mt-2">
    {% if setlist %}
      {% regroup setlist by set_name as event_setlist %}
      {% for set in event_setlist %}
        <div class="row mt-2">
          <div class="col">
            <strong class="pe-2">{{ set.grouper }}:</strong>
            {% for song in set.list %}
              <span class="text-nowrap">
                {% spaceless %}
                  <a class="pe-0" href="{% url "databruce:song_details" id=song.song.id %}">{{ song.song.song_name }}</a>
                  {% for note in notes %}
                    {% if note.id.id == song.id %}
                      <sup data-bs-toggle="tooltip" data-bs-title="{{ note.note }}">[{{ note.num }}]</sup>
                    {% endif %}
                  {% endfor %}
                  {% if not forloop.last %}{{ song.separator }}{% endif %}
                {% endspaceless %}
              </span>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="row mt-2">
        <h5>No Set Details Known</h5>
      </div>
    {% endif %}
    {% if notes %}
      <div class="row mt-2" id="footnotes">
        <div class="row">
          <strong>Footnotes:</strong>
        </div>
        <div class="row">
          {% for note in footnotes %}
            <div class="row ms-2">
              <span>
                [{{ note.num }}]
                {% if note.last %}
                  {{ note.note }}, LTP <a href="{% url 'databruce:event_details' event=note.last.id %}">{{ note.last }}</a> ({{ note.gap }} events)
                {% else %}
                  {{ note.note }}
                {% endif %}
              </span>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="row mt-2" id="info-box">
    {% if event.run %}
      <div class="row mt-2">
        <div class="col-sm-2">
          <strong>Run:</strong>
        </div>
        <div class="col-10">{{ event.run.name }}</div>
      </div>
    {% endif %}
    {% if event.tour %}
      <div class="row mt-2">
        <div class="col-sm-2">
          <strong>Tour:</strong>
        </div>
        <div class="col-10">
          <a href="{% url "databruce:tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
        </div>
      </div>
    {% endif %}
    {% if event.event_title %}
      <div class="row mt-2">
        <div class="col-sm-2">
          <strong>Event Title:</strong>
        </div>
        <div class="col-10">{{ event.event_title }}</div>
      </div>
    {% endif %}
    {% if event.event_type %}
      <div class="row mt-2">
        <div class="col-sm-2">
          <strong>Event Type:</strong>
        </div>
        <div class="col-10">{{ event.event_type }}</div>
      </div>
    {% endif %}
  </div>
  {% comment %} <div class="buttons my-4">
    {% if last_event %}
      <a class="btn btn-sm btn-secondary" href="{% url 'databruce:event_details' event=last_event %}">&lt; Previous Event</a>
    {% endif %}
    {% if next_event %}
      <a class="btn btn-sm btn-secondary" href="{% url 'databruce:event_details' event=next_event %}">Next Event &gt;</a>
    {% endif %}
    {% if event.brucebase_url %}
      <a class="btn btn-sm btn-secondary" href="https://brucebase.wikidot.com{{ event.brucebase_url }}">Brucebase</a>
    {% endif %}
</div>{% endcomment %}
<script>
    $(document).ready(function () {
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    });
</script>
{% endblock content %}
