{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  {{ event }} {{ event.artist.name }}
{% endblock title %}
{% block content %}
  <div class="mt-2" id="event_header">
    <h4>
      {{ event }} &gt; {{ event.artist.name }} &gt; <a href="{% url 'databruce:venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
    </h4>
  </div>
  <div id="setlist" class="my-3">
    {% if setlist %}
      {% regroup setlist by set_name as event_setlist %}
      {% for set in event_setlist %}
        <div class="my-2">
          <b class="pe-2">{{ set.grouper }}:</b>
          {% for song in set.list %}
            <span>
              {% spaceless %}
                <a href="{% url "databruce:song_details" id=song.song.id %}">{{ song.song.song_name }}</a>
                {% for note in notes %}
                  {% if note.id.id == song.id %}
                    <sup data-bs-toggle="tooltip" data-bs-title="{{ note.note }}">[{{ note.num }}]</sup>
                  {% endif %}
                {% endfor %}
                {% if not forloop.last %}{{ song.separator }}{% endif %}
              {% endspaceless %}
            </span>
          {% endfor %}
        </div>
      {% endfor %}
    {% else %}
      <p>No Set Details Known</p>
    {% endif %}
  </div>
  <div class="details my-3">
    <div class="title my-3">
      {% if event.event_title %}
        <div class="d-flex flex-row">
          <div class="pe-2 fw-bolder">Event Title:</div>
          <div>{{ event.event_title }}</div>
        </div>
      {% endif %}
    </div>
    <div class="notes my-3">
      {% if notes %}
        <div class="d-flex flex-row">
          <div class="pe-2 fw-bolder">Footnotes:</div>
        </div>
        <div class="d-flex flex-row">
          <div>
            {% for note in notes|event_notes_filter %}
              <span class="ps-4">
                <b>[{{ note.num }}]</b>
                {{ note.note|mdlink|safe }}
                {% if note.last != '' %}
                  , Last Time Played <a href="{% url 'databruce:event_details' event=note.last %}">{{ note.last_date }}</a> ({{ note.gap }} events)
                {% endif %}
              </span>
              <br>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="buttons my-4">
    {% if last_event %}
      <a class="btn btn-sm btn-secondary"
         href="{% url 'databruce:event_details' event=last_event %}">&lt; Previous Event</a>
    {% endif %}
    {% if next_event %}
      <a class="btn btn-sm btn-secondary"
         href="{% url 'databruce:event_details' event=next_event %}">Next Event &gt;</a>
    {% endif %}
    {% if event.brucebase_url %}
      <a class="btn btn-sm btn-secondary"
         href="https://brucebase.wikidot.com{{ event.brucebase_url }}">Brucebase</a>
    {% endif %}
  </div>
  {% comment %} <div class="row info-blocks">
    <div class="col-md-6">
      <!-- column 1 -->
      {% if event.nugs_url or event.archive_url %}
        <div class="releases">
          <div class="card">
            <div class="card-header">Releases</div>
            <ul class="list-group list-group-flush">
              {% if event.nugs_url %}
                <li class="list-group-item">
                  <a target="_blank" href="{{ event.nugs_url }}"><i class="bi bi-play-circle-fill mr-2"></i>{{ event.nugs_name }}</a>
                </li>
              {% endif %}
              {% if event.archive_url %}
                <li class="list-group-item">
                  <a target="_blank" href="{{ event.archive_url }}"><i class="bi bi-play-circle-fill mr-2"></i><span class="mr-2">archive.org</span></a>(Radio Nowhere)
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      {% endif %}
      {% if album_tally %}
        <div class="tally">
          <div class="card">
            <div class="card-header">Count by Album</div>
            <ul class="list-group list-group-flush">
              {% for album in album_tally %}
                <li class="list-group-item">
                  {{ album.name }}<span class="badge text-bg-primary rounded-pill">{{ album.count }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="col-md-6">
      <!-- column 2 -->
      {% if relations %}
        <div class="onstage">
          <div class="card">
            <div class="card-header">On Stage</div>
            <ul class="list-group list-group-flush">
              {% for rel in relations %}
                <li class="list-group-item">
                  <a href="{% url "databruce:relation_details" id=rel.relation.id %}">{{ rel.relation.name }}</a> ({{ rel.instruments|default_if_none:'Musician' }})
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <!-- row blocks --> {% endcomment %}
  <script>
    $(document).ready(function () {
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    });
    
  </script>
{% endblock content %}
