{% extends "databruce/narrow_layout.html" %}
{% load static %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block extrajs %}
  <script src="{% static 'databruce/js/marked.umd.js' %}"></script>
  <script src="{% static 'databruce/js/masonry.pkgd.min.js' %}"></script>
  <script src="{% static 'databruce/js/eventCard.js' %}"></script>
{% endblock extrajs %}
{% block content %}
  <a href="#"
     class="back-to-top d-flex justify-content-center align-items-center"><i class="bi bi-caret-up-fill"></i></a>
  <div class="col-12 col-lg-9">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between mb-3">
          <div class="text-2xl pe-2">{{ year }} Events</div>
          <div>
            <div class="btn-group d-inline-flex gap-2 gx-2">
              <a role="button"
                 data-bs-toggle="tooltip"
                 data-bs-title="View Events as Table"
                 class="btn btn-sm btn-primary icon-button"
                 href="{% url "events_year" year=year %}"><i class="bi bi-table"></i>Table</a>
              <a role="button"
                 data-bs-toggle="tooltip"
                 data-bs-title="View Events as List"
                 class="btn btn-sm btn-primary icon-button disabled"
                 aria-disabled="true"><i class="bi bi-list"></i>List</a>
            </div>
          </div>
        </div>
        <div class="row my-3 d-flex-inline text-center year-selector">
          <div class="col-12 d-block d-xl-none" id="year-select">
            <button class="btn btn-sm w-100 btn-primary dropdown-toggle position-relative"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">{{ year }}</button>
            <ul class="dropdown-menu">
              {% for i in years %}
                <li>
                  <a class="dropdown-item"
                     href="{% url "events_year" year=i %}?display=list">{{ i }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="d-none d-xl-block">
            {% for year in years reversed %}
              <a class="fw-medium mx-1"
                 href="{% url "events_year" year=year %}?display=list">{{ year }}</a>
              {% if not forloop.last %}/{% endif %}
            {% endfor %}
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="row g-3" id="eventContainer">
      <div class="d-none">{% csrf_token %}</div>
    </div>
  </div>
  <script>
    fetch(`/api/v1/event_list/?year={{ year }}&format=json&page_size=250`)
      .then(response => response.json())
      .then(data => {
        data.results.forEach(function(item) {
          var card = eventCard(item);
          $('#eventContainer').append(card);
        });
      }).catch(error => {
        console.error('Fetch error:', error);
      });

    $(document).ready(async function() {
      $(document).on('submit', '.userForm', async function(e) {
        e.preventDefault();
        const formData = new FormData(this);
        const addBtn = $(this).find('#add');

        let action = addBtn.attr('data-action');
        let event = addBtn.attr('data-event');
        const url = `/events/${event}/${action}/`;

        try {
          const response = await fetch(url, {
            method: 'POST',
            body: formData,
          });

          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }

          const data = await response.json();
          const isAdded = data['action'] === 'added';

          addBtn
            .toggleClass('bi-star-fill', isAdded)
            .toggleClass('bi-star', !isAdded)
            .attr('data-attended', isAdded ? 'true' : 'false')
            .attr('data-action', isAdded ? 'remove' : 'add');

        } catch (error) {
          console.error('Error during POST request:', error);
        }
      });
    })
  </script>
{% endblock content %}
