{% extends "databruce/narrow_layout.html" %}
{% load static %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block extrajs %}
  <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
{% endblock extrajs %}
{% block content %}
  <a href="#"
     class="back-to-top d-flex justify-content-center align-items-center"><i class="bi bi-caret-up-fill"></i></a>
  <div class="col-12 col-lg-9">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between mb-3">
          <div class="text-2xl pe-2">{{ year }} Events</div>
          <div>
            <div class="btn-group d-inline-flex gap-2 gx-2">
              <a role="button"
                 data-bs-toggle="tooltip"
                 data-bs-title="View Events as Table"
                 class="btn btn-sm btn-primary icon-button"
                 href="{% url "events_year" year=year %}"><i class="bi bi-table"></i>Table</a>
              <a role="button"
                 data-bs-toggle="tooltip"
                 data-bs-title="View Events as List"
                 class="btn btn-sm btn-primary icon-button disabled"
                 aria-disabled="true"><i class="bi bi-list"></i>List</a>
            </div>
          </div>
        </div>
        <div class="row my-3 d-flex-inline text-center text-sm">
          <p class="m-0">
            {% for year in years reversed %}
              <a class="fw-medium mx-1"
                 href="{% url "events_year" year=year %}?display=list">{{ year }}</a>
              {% if not forloop.last %}/{% endif %}
            {% endfor %}
          </p>
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="eventContainer">
        {% for event in events %}
          <div class="row" id="{{ event.event_id|format_event_id }}">
            <div class="col-12 px-3">
              <a class="text-lg" href="{% url "event_details" id=event.event_id %}">
                {% if event.date %}{{ event.date|date:'Y-m-d [D]' }}{% else %}{{ event.event_id|format_fuzzy }}{% endif %}
                {% if event.early_late %}({{ event.early_late }}){% endif %} - {{ event.artist }} - {{ event.venue }}, {{ event.venue.city }}
              </a>
              {% regroup event.setlist_event.all by set_name as set_list %}
              {% if set_list %}
                <div class="row d-grid row-gap-2 mt-2 mb-3">
                  {% for set, songs in set_list %}
                    {% if set != "Soundcheck" %}
                      <div class="text-sm">
                        <div class="text-muted text-xs mb-1">{{ set }}:</div>
                        {% for song in songs %}
                          {% spaceless %}
                            {% if song.debut or song.premiere %}
                              <span class="fw-semibold fst-italic text-primary">{{ song.song.name }}</span>
                            {% else %}
                              <span>{{ song.song.name }}</span>
                            {% endif %}
                            {% if not forloop.last %}
                              <span>{% if song.segue %} >{% else %} , {% endif %}</span>
                            {% endif %}
                          {% endspaceless %}
                        {% endfor %}
                      </div>
                    {% else %}
                      <div class="text-xs fst-italic my-1">
                        <span>{{ set }}:</span>
                        {% for song in songs %}
                          {% spaceless %}
                            {% if song.debut or song.premiere %}
                              <span class="fw-semibold">{{ song.song.name }}</span>
                            {% else %}
                              <span>{{ song.song.name }}</span>
                            {% endif %}
                            {% if not forloop.last %}
                              <span>{% if song.segue %} > {% else %} , {% endif %}</span>
                            {% endif %}
                          {% endspaceless %}
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% elif not set_list and not event.note %}
                <div class="card message info my-2">
                  <span>
                    We currently have no information available for this event. If you do, please <a class="text-reset fw-semibold" href="{% url "contact" %}">get in touch.</a>
                  </span>
                </div>
              {% elif event.setlist_event.all|length == 0 %}
                <div class="card message error my-3">
                  <span>No Setlist Known</span>
                </div>
              {% endif %}
              {% if event.note %}
                <div class="card">
                  <div class="card-body text-xs event-note p-2">
                    <div class="text-muted text-xs mb-1">Notes:</div>
                    {{ event.note|format_event_note|safe }}
                  </div>
                </div>
                {% comment %} <div class="text-muted mt-3 text-xs">Notes:</div> {% endcomment %}
              {% endif %}
            </div>
          </div>
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
