{% extends "databruce/category.html" %}
{% block title %}
  Events
{% endblock title %}
{% block info_row %}
  <h4>Events</h4>
  <div class="col-3 col-md-1">
    <select class="form-select form-select-sm" id="year_select">
      <option selected disabled hidden>{{ year }}</option>
      {% for i in years %}
        <option value="{% url "events_year" year=i %}">{{ i }}</option>
      {% endfor %}
    </select>
  </div>
{% endblock info_row %}
{% block table_id %}
  eventTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="custom">
      <th class="all" scope="col">Date</th>
      <th class="min-tablet-l" scope="col">Band</th>
      <th class="min-tablet-l" scope="col">Venue</th>
      <th class="min-tablet-l" scope="col">Location</th>
      <th class="min-tablet-l" scope="col">Tour</th>
      <th class="min-tablet-l" scope="col">Detail</th>
      <th class="min-tablet-l" scope="col">Public</th>
    </tr>
  </thead>
  <tbody>
    {% for event in event_info %}
      <tr>
        <td scope="row" class="text-nowrap">
          <a href="{% url "event_details" id=event.id %}">
            {{ event }}
            {% if event.setlist_certainty == "Confirmed" %}
              <i class="bi bi-file-earmark-check"
                 data-bs-toggle="tooltip"
                 data-bs-placement="top"
                 data-bs-title="Has Setlist"></i>
            {% endif %}
          </a>
        </td>
        <td class="text-nowrap">
          <a href="{% url "band_details" id=event.artist.id %}">{{ event.artist.name|default_if_none:"" }}</a>
        </td>
        <td class="text-nowrap">
          <a href="{% url "venue_details" id=event.venue.id %}">{{ event.venue|default_if_none:"" }}</a>
        </td>
        <td class="text-nowrap">
          <a href="{% url "city_details" id=event.venue.city.id %}">{{ event.venue.city|default_if_none:"" }}</a>
        </td>
        <td class="text-nowrap">
          <a href="{% url "tour_details" id=event.tour.id %}">{{ event.tour.name|default_if_none:"" }}</a>
        </td>
        <td class="text-wrap">{{ event.note|default_if_none:""|safe }}</td>
        <td>{{ event.public|default_if_none:"" }}</td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock table %}
{% block scripts %}
  <script>
  //searchBuilder custom columns
  layout.topEnd.features[1].buttons[0].config.columns = [1, 2, 3, 4]

  $(document).ready(function () {
    new DataTable('#eventTable', {
      layout: layout,
      order: [[0, 'asc']],
      columnDefs: [
        { target: -1, visible: false },
        { targets: [0, 1], width: "10%" },
        { targets: [2, 3], width: "15%" },
        { targets: [4], width: "20%" },
      ],
      initComplete: function () {
        this.api()
          .columns([-1])
          .every(function () {
              var column = this;

              $('<div class="row g-3 align-items-center"><div class="col-auto"><label for="select">Publicity:</label></div><div class="col" id="select"></div></div>').appendTo($('#dropdown-container'));

              // this appears to be the only way to add a select filter
              // without going through ajax calls. I originally had a pre-made dropdown in
              // another file and included it like above, however, I had to use an ajax call
              // otherwise it would appear but not work
              var select = $('<select id="type" class="form-select form-select-sm"></select>')
                .appendTo($('#select'))
                .on('change', function () {
                    column
                      .search($(this).val(), {regex: true})
                      .draw();
                });
              
              select.append('<option value=".*">All</option>');
              select.append('<option value="True">Public</option>');
              select.append('<option value="False">Private</option>');
          });
      },
    });

    $(function(){
      // bind change event to select
      $('#year_select').on('change', function () {
          var url = $(this).val() // get selected value
          console.log(url);
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
    });
  });
  </script>
{% endblock scripts %}
