{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  {{ event.event_date|get_date:event.id }} {{ event.artist }}
{% endblock title %}
{% block content %}
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="card mb-4">
        <div class="card-header">Show Info</div>
        <div class="card-body">
          <div class="row">
            <h4 class="mb-1">
              {{ event }} - <a class="text-body-secondary"
    href="{% url "databruce:venue_details" id=event.venue.id %}">{{ event.venue.name }}</a>
            </h4>
            <p>
              <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist }}</a>
            </p>
          </div>
          <div class="row">
            <strong>City:</strong>
            <p>
              <a class="text-body-secondary"
                 href="{% url "databruce:city_details" id=event.venue.city.id %}">{{ event.venue.city }}</a>
            </p>
          </div>
          <div class="row">
            <strong>Tour / Leg:</strong>
            <p class="text-body-secondary">
              <a class="text-body-secondary"
                 href="{% url "databruce:tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
              {% if event.leg %}/ {{ event.leg.name }}{% endif %}
            </p>
          </div>
          {% if event.run %}
            <div class="row">
              <strong>Run:</strong>
              <p class="text-body-secondary">
                <a class="text-body-secondary" href="">{{ event.run.name }}</a>
              </p>
            </div>
          {% endif %}
          <div class="row justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-secondary"
                 role="button"
                 data-bs-toggle="tooltip"
                 data-bs-placement="top"
                 data-bs-html="true"
                 data-bs-custom-class="custom-tooltip"
                 data-bs-title="{{ last_event }}<br>{{ last_event.venue }}"
                 href="{% url 'databruce:event_details' event=last_event.id %}">&lt; Last Show</a>
              <a class="btn btn-secondary"
                 role="button"
                 data-bs-toggle="tooltip"
                 data-bs-placement="top"
                 data-bs-html="true"
                 data-bs-custom-class="custom-tooltip"
                 data-bs-title="{{ next_event }}<br>{{ next_event.venue }}"
                 href="{% url 'databruce:event_details' event=next_event.id %}">Next Show &gt;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="card mb-4">
        <div class="card-header">Setlist</div>
        <div class="card-body">
          {% if setlist %}
            {% regroup notes by id as notes_list %}
            {% regroup setlist by set_name as event_setlist %}
            {% for set in event_setlist %}
              <h6 class="card-subtitle mb-2 text-body-secondary-emphasis">{{ set.grouper }}</h6>
              <p class="card-text">
                {% for song in set.list %}
                  <span class="text-nowrap">
                    <a class="pe-0"
                       href="{% url "databruce:song_details" id=song.song.id %}">{{ song.song.name }}</a>
                    {% for item in notes_list %}
                      {% if item.grouper.id == song.id %}
                        {% for note in item.list %}
                          <span class="badge text-bg-light font-monospace"
                                data-bs-toggle="tooltip"
                                data-bs-html="true"
                                data-bs-title="{{ note.note|mdlink }}">{{ note.num }}</span>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                    {% if not forloop.last %}{{ song.separator }}{% endif %}
                  </span>
                {% endfor %}
              </p>
            {% endfor %}
          {% else %}
            <h6>No Set Details Available</h6>
          {% endif %}
        </div>
      </div>
      {% if notes %}
        <div class="card mb-4">
          <div class="card-header">Setlist Notes</div>
          <div class="card-body">
            {% regroup notes by num as notes_list %}
            {% for item in notes_list %}
              {% with note=item.list|first %}
                <div class="row">
                  <span>
                    <span class="badge text-bg-light me-2 font-monospace">{{ note.num }}</span>
                    {% if note.last %}
                      {{ note.note|mdlink|safe }}, LTP <a href="{% url 'databruce:event_details' event=note.last.id %}">{{ note.last }}</a> ({{ note.gap }} events)
                    {% else %}
                      {{ note.note|mdlink|safe }}
                    {% endif %}
                  </span>
                </div>
              {% endwith %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if onstage %}
        <div class="card mb-4">
          <div class="card-header">Onstage</div>
          <ul class="list-group list-group-flush">
            {% for member in onstage %}
              <li class="list-group-item">
                <a href="{% url "databruce:relation_details" id=member.relation.id %}">{{ member.relation.name }}</a>
                {% if member.band %}
                  {% if member.band.springsteen_band %}
                    <span class="badge rounded-pill ms-2 position-absolute text-bg-primary">{{ member.band.name }}</span>
                  {% else %}
                    <span class="badge rounded-pill ms-2 position-absolute text-bg-secondary">{{ member.band.name }}</span>
                  {% endif %}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}
