{% extends "databruce/base.html" %}
{% block title %}
  Runs &gt; {{ info.name }}
{% endblock title %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="text-2xl text-nowrap mb-3">
        <a href="{% url "runs" %}">Runs</a>
        &gt; {{ info }}
      </div>
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link active"
                      id="pills-events-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#events"
                      type="button"
                      role="tab"
                      aria-controls="pills-home"
                      aria-selected="true">Events</button>
            </li>
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link"
                      id="pills-songs-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#songs"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">Songs</button>
            </li>
          </ul>
        </div>
        <div class="card-body px-0">
          <div class="tab-content">
            <div id="events" class="tab-pane fade show active">
              {% include "databruce/partials/event_table.html" with events=events %}
            </div>
            <div id="songs" class="tab-pane fade">
              {% include "databruce/partials/song_position_table.html" with songs=songs %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      new DataTable('#eventTable', {
        layout: getDatatableLayout(),
        columnDefs: [
          { targets: [1], width: '10rem' }, //band
          { targets: [0], type: 'date' }, //band
          { targets: [2, 3], width: '14rem' }, //venue, location
        ],
      });

      new DataTable('#songTable', {
        layout: getDatatableLayout([1,2]),
        columnDefs: [
          { targets: 0, width: '1rem' },
        ],
      });
    })
  </script>
{% endblock content %}
