{% extends "databruce/narrow_layout.html" %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block content %}
  <div class="col-12">
    <div class="row mb-3">
      <div class="col">
        <div class="text-2xl">Event Runs</div>
        <div class="text-base">A 'run' is multiple events at the same venue by the same band, usually consecutive.</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-end d-flex row-gap-2 gx-1 mb-3">
              <!-- Search -->
              <div class="col">
                <label for="search" class="pb-1">Search</label>
                <div class="input-group input-group-sm">
                  <span class="input-group-text">
                    <i class="bi bi-search"></i>
                  </span>
                  <input type="text"
                         id="search"
                         class="form-control form-control-sm"
                         placeholder="Type to search table...">
                </div>
              </div>
              <div class="col-12 col-md-auto mt-2 mt-md-0">
                <button type="button"
                        id="sbButton"
                        data-bs-toggle="modal"
                        data-bs-target="#sbModal"
                        class="btn btn-sm bi bi-search icon-button btn-primary w-100 gap-1 search">
                  Searchbuilder
                </button>
              </div>
            </div>
            <div class="row">
              <div class="table-responsive">
                <table class="table table-hover display" id="runTable">
                  <thead>
                    <tr>
                      <th class="all">Name</th>
                      <th class="all">Band</th>
                      <th class="all">Venue</th>
                      <th class="all">Events</th>
                      <th class="all">Songs</th>
                      <th class="all">First</th>
                      <th class="all">Last</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      var sb_columns = [1,2,3,4,5,6,7,8];

      var table = new DataTable('#runTable', {
        ajax: {
          'url': '/api/v1/runs/?format=custom',
        },
        columnDefs: [
          { targets: "_all", className: 'text-wrap text-xs'},
          { targets: [4,5], className: 'text-center'},
        ],
        columns: [
          {
            'data': 'name',
            'name': 'name',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return '<a href="/events/runs/' + row.uuid + '">'+ row.name +'</a>';
              }
            },
          },
          {
            'data': 'band',
            'name': 'band__name',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return '<a href="/bands/' + data.uuid + '">'+ data.name +'</a>';
              }
            },
          },
          {
            'data': 'venue',
            'name': 'venue__name',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/venues/${data.uuid}">${data.name}</a><br><small>${row.city}</small>`
              }
            },
          },
          {'data': 'num_shows', 'name': 'num_shows', 'width': '1rem' },
          {'data': 'num_songs', 'name': 'num_songs','width': '1rem' },
          {
            'data': 'first_event',
            'name': 'first_event__event_id, first_event__early_late',
            'width': '10rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/events/${data.event_id}">${data.date.display}</a>`
              }
            },
          },
          {
            'data': 'last_event',
            'name': 'last_event__event_id, last_event__early_late',
            'width': '10rem',
            'render': function (data, type, row, meta) {
              if (type === 'display' && data) {
                return `<a href="/events/${data.event_id}">${data.date.display}</a>`
              }
            },
          },
        ],
      });

      tableSearch(table, 'search');
      searchBuilder(table, sb_columns);
    });
  </script>
{% endblock content %}
