{% extends "databruce/category.html" %}
{% block title %}
  Event Runs
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Event Runs</div>
  <div class="text-base">A 'run' is multiple events at the same venue by the same band, usually consecutive.</div>
{% endblock info_row %}
{% block table_id %}
  runTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="custom">
      <th class="all" scope="col">Name</th>
      <th class="min-tablet-l" scope="col">Band</th>
      <th class="min-tablet-l" scope="col">Venue</th>
      <th class="min-tablet-l" scope="col">Location</th>
      <th scope="col" class="min-tablet-l">Events</th>
      <th scope="col" class="min-tablet-l">Songs</th>
      <th class="min-tablet-l" scope="col">First</th>
      <th class="min-tablet-l" scope="col">Last</th>
    </tr>
  </thead>
{% endblock table %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      var layout = getDatatableLayout({columns: [1, 2, 3, 4, 5, 6, 7, 8], category: false});

      var table = new DataTable('#runTable', {
          layout: layout,
          serverSide: true,
          processing: true,
          scrollY: '60vh',
          ajax: {
            'url': '/api/v1/runs/?format=datatables&keep=id',
          },
          columnDefs: [
            { targets: "_all", className: 'text-wrap text-xs'},
            { targets: [4,5], className: 'text-center'},
          ],
          columns: [
            {
              'data': 'name',
              'name': 'name',
              'width': '18rem',
              'render': function (data, type, row, meta) {
                if (type === 'display' && data) {
                  return '<a href="/events/runs/' + row.id + '">'+ row.name +'</a>';
                }
              },
            },
            {
              'data': 'band',
              'name': 'band__name',
              'width': '12rem',
              'render': function (data, type, row, meta) {
                if (type === 'display' && data) {
                  return '<a href="/bands/' + data.id + '">'+ data.name +'</a>';
                }
              },
            },
            {
              'data': 'venue',
              'name': 'venue__name',
              'width': '12rem',
              'render': function (data, type, row, meta) {
                if (type === 'display' && data) {
                  return '<a href="/venues/' + data.id + '">'+ data.name +'</a>';
                }
              },
            },
            {
              'data': 'venue.city',
              'name': 'venue__city__name, venue__state__abbrev, venue__country__name',
              'width': '12rem',
              'className': 'text-nowrap',
              'render': function (data, type, row, meta) {
                if (type === 'display' && data) {
                  return '<a href="/cities/' + data.id + '">'+ data.display +'</a>';
                }
              },
            },
            {'data': 'num_shows', 'name': 'num_shows', 'width': '1rem' },
            {'data': 'num_songs', 'name': 'num_songs','width': '1rem' },
            {
              'data': 'first.date',
              'name': 'first__id, first__early_late',
              'width': '8rem',
              'render': function (data, type, row, meta) {
                if (type === 'display' && data) {
                  return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
                }
              },
            },
            {
              'data': 'last.date',
              'name': 'last__id, last__early_late',
              'width': '8rem',
              'render': function (data, type, row, meta) {
                if (type === 'display' && data) {
                  return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
                }
              },
            },
          ],
      });
    });
  </script>
{% endblock scripts %}
