{% extends "databruce/category.html" %}
{% block title %}
  Event Runs
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Event Runs</div>
  <div class="text-base">
    A 'run' is multiple events at the same venue by the same band. I largely based this off of Jerrybase.
  </div>
{% endblock info_row %}
{% block table_id %}
  runTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="custom">
      <th class="all" scope="col">Name</th>
      <th class="min-tablet-l" scope="col">Band</th>
      <th class="min-tablet-l" scope="col">Venue</th>
      <th class="min-tablet-l" scope="col">Location</th>
      <th scope="col" class="all">Events</th>
      <th scope="col" class="all">Songs</th>
      <th class="min-tablet-l" scope="col">First</th>
      <th class="min-tablet-l" scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    {% for run in runs %}
      <tr>
        <td class="text-nowrap">
          <a href="{% url "run_details" id=run.id %}">{{ run.name }}</a>
        </td>
        <td class="text-nowrap">
          <a href="{% url "band_details" id=run.band.id %}">{{ run.band.name }}</a>
        </td>
        <td class="text-nowrap">
          <a href="{% url "venue_details" id=run.venue.id %}">{{ run.venue.get_name }}</a>
        </td>
        <td class="text-nowrap">
          <a href="{% url "city_details" id=run.venue.city.id %}">{{ run.venue.city }}</a>
        </td>
        <td>{{ run.num_shows }}</td>
        <td>{{ run.num_songs }}</td>
        <td class="text-nowrap"
            data-sort="{{ run.first.get_date }}"
            data-filter="{{ run.first.get_date }}">
          <a href="{% url "event_details" id=run.first.id %}">{{ run.first.get_date }}</a>
        </td>
        <td class="text-nowrap"
            data-sort="{{ run.last.get_date }}"
            data-filter="{{ run.last.get_date }}">
          <a href="{% url "event_details" id=run.last.id %}">{{ run.last.get_date }}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock table %}
{% block scripts %}
  <script>
    $(document).ready(function () {
        new DataTable('#runTable', {
            layout: getDatatableLayout([1, 2, 3, 4, 5, 6, 7]),
            columnDefs: [
              { targets: [6, 7], type: 'date' }, 
            ],
        });
    });
  </script>
{% endblock scripts %}
