{% extends "databruce/narrow_layout.html" %}
{% load static %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block extrajs %}
  <script src="{% static 'databruce/js/eventTable.js' %}"></script>
{% endblock extrajs %}
{% block content %}
  <div class="col-12">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between">
          <div class="text-2xl">Events by Type</div>
          <div id="year-select">
            <select onchange="location = this.value;"
                    class="form-select form-select-sm type-filter">
              {% for i in types %}
                <option value="{% url "events_by_type" slug=i.slug %}"
                        {% if i.name == type.name %}selected{% endif %}>{{ i.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
    {% include "databruce/partials/event_table.html" %}
  </div>
  <script>
    $(document).ready(function() {
      eventTable('/api/v1/events/?type={{ type.id }}&format=custom');

      $(function() {
        // bind change event to select
        $('#type_select').on('change', function() {
          var url = $(this).val() // get selected value
          if (url) { // require a URL
            window.location = url; // redirect
          }
          return false;
        });
      });
    });
  </script>
{% endblock content %}
