{% extends "databruce/category.html" %}
{% block title %}
  Cities
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Cities</div>
  <div class="text-base">Cities that Bruce has played in</div>
{% endblock info_row %}
{% block table_id %}
  cityTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">State</th>
      <th scope="col">Country</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    {% for city in cities %}
      <tr>
        <td class="text-center">{{ city.num_events }}</td>
        <td>
          <a href="{% url "city_details" id=city.id %}">{{ city.name }}</a>
        </td>
        <td>
          {% if city.state %}
            <a href="{% url "state_details" id=city.state.id %}">{{ city.state.name }}</a>
          {% endif %}
        </td>
        <td>
          {% if city.country %}
            <a href="{% url "country_details" id=city.country.id %}">{{ city.country.name }}</a>
          {% endif %}
        </td>
        <td data-sort="{{ city.first.get_date }}"
            data-filter="{{ city.first.get_date }}">
          <a href="{% url "event_details" id=city.first.id %}">{{ city.first }}</a>
        </td>
        <td data-sort="{{ city.last.get_date }}"
            data-filter="{{ city.last.get_date }}">
          <a href="{% url "event_details" id=city.last.id %}">{{ city.last }}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock table %}
{% block scripts %}
  <script>
  $(document).ready(function () {
    new DataTable('#cityTable', {
      layout: getDatatableLayout([0,2,3,4,5]),
      columnDefs: [
        { width: '1rem', targets: [0] },
        { type: 'date', targets: [4, 5] },
      ]
    });
  });
  </script>
{% endblock scripts %}
