{% extends "databruce/category.html" %}
{% block title %}
  Cities
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Cities</div>
  <div class="text-base">Cities that Bruce has played in</div>
{% endblock info_row %}
{% block table_id %}
  cityTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr>
      <th class="text-center all" scope="col">Events</th>
      <th class="text-center all" scope="col">Name</th>
      <th class="min-tablet-l" scope="col">State</th>
      <th class="min-tablet-l" scope="col">Country</th>
      <th class="min-tablet-l" scope="col">First</th>
      <th class="min-tablet-l" scope="col">Last</th>
    </tr>
  </thead>
  {% comment %} <tbody>
    {% for city in cities %}
      <tr>
        <td class="text-center">{{ city.num_events }}</td>
        <td>
          <a href="{% url "city_details" id=city.id %}">{{ city.name }}</a>
        </td>
        <td>
          {% if city.state %}
            <a href="{% url "state_details" id=city.state.id %}">{{ city.state.name }}</a>
          {% endif %}
        </td>
        <td>
          {% if city.country %}
            <a href="{% url "country_details" id=city.country.id %}">{{ city.country.name }}</a>
          {% endif %}
        </td>
        <td data-sort="{{ city.first.get_date }}" data-filter="{{ city.first.get_date }}">
          <a href="{% url "event_details" id=city.first.id %}">{{ city.first }}</a>
        </td>
        <td data-sort="{{ city.last.get_date }}" data-filter="{{ city.last.get_date }}">
          <a href="{% url "event_details" id=city.last.id %}">{{ city.last }}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody> {% endcomment %}
{% endblock table %}
{% block scripts %}
  <script>
  $(document).ready(function () {
    new DataTable('#cityTable', {
      layout: getDatatableLayout({columns: [0,2,3,4,5]}),
      serverSide: true,
      processing: true,
      ajax: {
        'url': '/api/v1/cities/?format=datatables&keep=id',
      },
      columnDefs: [
        { width: '1rem', targets: [0] },
      ],
      columns: [ // num, name, state, country, first, last
        {'data': 'count', 'name': 'count'},
        {
          'data': 'name',
          'name': 'name',
          'render': function (data, type, row, meta) {
            if (type === 'display') {
              return '<a href="/cities/' + row.id + '">'+ row.name +'</a>';
            }
          },
        },
        {
          'data': 'state',
          'name': 'state__name, state__abbrev',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              return '<a href="/states/' + data.id + '">'+ data.name +'</a>';
            }
          },
        },
        {
          'data': 'country',
          'name': 'country__name',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              return '<a href="/countries/' + data.id + '">'+ data.name +'</a>';
            }
          },
        },
        {
          'data': 'first.date',
          'name': 'first__id',
          'render': function (data, type, row, meta) {
            if (type === 'display') {
              return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
            }
          },
        },
        {
          'data': 'last.date',
          'name': 'last__id',
          'render': function (data, type, row, meta) {
            if (type === 'display') {
              return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
            }
          },
        },
      ]
    });
  });
  </script>
{% endblock scripts %}
