{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
    Cities &gt; {{ info }}
{% endblock title %}
{% block content %}
    <h4>Cities &gt; {{ info }}</h4>
    <hr />
    <div class="col-xs-6 col-lg-12 mb-4">
        <div class="d-flex flex-row">
            <div class="pe-2">Events:</div>
            <div>{{ info.num_events }}</div>
        </div>
        <div class="d-flex flex-row">
            <div class="pe-2">First:</div>
            <div>
                <a href="{% url 'databruce:event_details' event=info.first.id %}">{{ info.first }} - {{ info.first.venue }}</a>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="pe-2">Last:</div>
            <div>
                <a href="{% url 'databruce:event_details' event=info.last.id %}">{{ info.last }} - {{ info.last.venue }}</a>
            </div>
        </div>
    </div>
    <div class="table-responsive p-0">
        <table class="table table display nowrap" id="eventTable">
            <thead>
                <tr class="custom">
                    <th>Date</th>
                    <th>Band</th>
                    <th>Venue</th>
                    <th>Tour</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>
                            <a href="{% url 'databruce:event_details' event=event.id %}">{{ event }}</a>
                        </td>
                        <td>
                            <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
                        </td>
                        <td>
                            <a href="{% url 'databruce:venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
                        </td>
                        <td>
                            {% if event.tour %}
                                <a href="{% url "databruce:tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
                            {% endif %}
                        </td>
                        <td>{{ event.event_title|default_if_none:'' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% load static %}
    <script src="{% static 'databruce/js/datatables.js' %}"></script>
    <script>
    // custom searchBuilder columns definition
    layout.topEnd.features[1].buttons[1].config.columns = [2];

    $(document).ready(function () {
      // initializes all tables
      $('table.display').dataTable({
        layout: layout,
      });
    })
    </script>
{% endblock content %}
