{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
    Cities &gt; {{ info.name }}
{% endblock title %}
{% block content %}
    {% if info.state %}
        <h4>Cities &gt; {{ info.name }}, {{ info.state.name }}, {{ info.country.name }}</h4>
    {% else %}
        <h4>Cities &gt; {{ info.name }}, {{ info.country.name }}</h4>
    {% endif %}
    <hr />
    {% include "databruce/event_info.html" with events=events %}
    <div class="table-responsive p-0">
        <table class="table table display nowrap" id="eventTable">
            <thead>
                <tr class="custom">
                    <th>Date</th>
                    <th>Band</th>
                    <th>Venue</th>
                    <th>Tour</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>
                            <a href="{% url 'databruce:event_details' event=event.id %}">{{ event.event_date|get_date:event.id }} {{ event.early_late|default_if_none:'' }}</a>
                        </td>
                        <td>
                            <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
                        </td>
                        <td>
                            <a href="{% url 'databruce:venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
                        </td>
                        <td>
                            {% if event.tour %}
                                <a href="{% url "databruce:tour_details" id=event.tour.id %}">{{ event.tour.tour_name }}</a>
                            {% endif %}
                        </td>
                        <td>{{ event.event_title|default_if_none:'' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% load static %}
    <script src="{% static 'databruce/js/datatables.js' %}"></script>
    <script>
    // custom searchBuilder columns definition
    layout.topEnd.features[1].buttons[1].config.columns = [2];

    $(document).ready(function () {
      // initializes all tables
      $('table.display').dataTable({
        layout: layout,
      });
    })
    </script>
{% endblock content %}
