{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Cities &gt; {{ info }}
{% endblock title %}
{% block content %}
  <div class="row mb-4">
    <h4>Cities &gt; {{ info }}</h4>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5>Events</h5>
          <div class="table-responsive p-0">
            <table class="table table display nowrap" id="eventTable">
              <thead>
                <tr class="custom">
                  <th>Date</th>
                  <th>Band</th>
                  <th>Venue</th>
                  <th>Tour</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody>
                {% for event in events %}
                  <tr>
                    <td>
                      <a href="{% url 'databruce:event_details' event=event.id %}">{{ event }}</a>
                    </td>
                    <td>
                      <a href="{% url "databruce:band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
                    </td>
                    <td>
                      <a href="{% url 'databruce:venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
                    </td>
                    <td>
                      {% if event.tour %}
                        <a href="{% url "databruce:tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
                      {% endif %}
                    </td>
                    <td>{{ event.event_title|default_if_none:'' }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4 row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5>Songs</h5>
          <div class="table-responsive p-0">
            <table class="table table display nowrap" id="songTable">
              <thead>
                <tr>
                  <th>Song</th>
                  <th class="text-center">Count</th>
                </tr>
              </thead>
              <tbody>
                {% regroup songs by song as songs_list %}
                {% for song, events in songs_list %}
                  <tr>
                    <td>
                      <a href="{% url "databruce:song_details" id=song.id %}">{{ song.name }}</a>
                    </td>
                    <td class="text-center">{{ events|length }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5>Venues</h5>
          <div class="table-responsive p-0">
            <table class="table table display nowrap" id="venueTable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th class="text-center" scope="col">#</th>
                </tr>
              </thead>
              <tbody>
                {% for venue in venues %}
                  <tr>
                    <td>
                      <a href="{% url "databruce:venue_details" id=venue.id %}">{{ venue.name }}</a>
                    </td>
                    <td class="text-center">{{ venue.num_events }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      // custom searchBuilder columns definition
      layout.topEnd.features[1].buttons[0].config.columns = [1, 2, 3];

      new DataTable('#eventTable', {
        layout: layout,
      });

      // removes searchBuilder button, not needed for this.
      layout.topEnd.features[1].buttons.pop();

      new DataTable('#songTable', {
        searching: false,
        layout: layout,
      });

      new DataTable('#venueTable', {
        searching: false,
        layout: layout,
      });
    })
  </script>
{% endblock content %}
