{% extends "databruce/base.html" %}
{% block title %}
  Cities &gt; {{ info }}
{% endblock title %}
{% block content %}
  <div class="col-12 col-xxl-8 mx-auto">
    <div class="text-2xl text-nowrap mb-3">
      <a href="{% url "cities" %}">Cities</a> &gt;
      {{ info }}
    </div>
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link active"
                    id="pills-events-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#events"
                    type="button"
                    role="tab"
                    aria-controls="pills-events"
                    aria-selected="true">Events</button>
          </li>
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link"
                    id="pills-songs-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#songs"
                    type="button"
                    role="tab"
                    aria-controls="pills-songs"
                    aria-selected="false">Songs</button>
          </li>
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link"
                    id="pills-links-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#links"
                    type="button"
                    role="tab"
                    aria-controls="pills-links"
                    aria-selected="false">Links</button>
          </li>
        </ul>
      </div>
      <div class="card-body px-0">
        <div class="tab-content">
          <div id="events" class="tab-pane fade show active">
            {% comment %} {% include "databruce/partials/event_table.html" with events=events %} {% endcomment %}
            <div class="table-responsive">
              <table class="table table-hover display" id="eventTable">
                <thead>
                  <tr class="custom">
                    <th class="all">Date</th>
                    <th class="min-tablet-l">Setlist</th>
                    <th class="all">Band</th>
                    <th class="min-tablet-l">Venue</th>
                    <th class="all">Location</th>
                    <th class="min-tablet-l">Tour</th>
                    <th class="min-tablet-l">Detail</th>
                    <th class="min-tablet-l">Public</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="songs" class="tab-pane fade">
            {% comment %} {% include "databruce/partials/song_position_table.html" with songs=songs %} {% endcomment %}
            <div class="table-responsive">
              <table class="table table-hover display" id="songTable">
                <thead>
                  <tr>
                    <th class="all">Plays</th>
                    <th class="all">Song</th>
                    <th class="min-tablet-l">Category</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="links" class="tab-pane fade">
            <ul>
              {% if info.mbid %}
                <li>
                  <a href="https://musicbrainz.org/area/{{ info.mbid }}">Musicbrainz</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      
      var layout = getDatatableLayout({columns: [2,3,4,5,6,7], category: true});
      dtCategorySelect({layout: layout, column_idx: 7, values: [{'label': 'Public', 'value': 'true'}, {'label': 'Private', 'value': 'false'}]});

      new DataTable('#eventTable', {
        layout: layout,
        serverSide: true,
        processing: true,
        ajax: {
          'url': '/api/v1/events/?city={{ info.id }}&format=datatables&keep=id',
        },
        columnDefs: [
          {targets: [1], orderable: false, className: 'text-center text-sm', width: '1rem', searchable: false},
          {targets: [-1], visible: false }
        ],
        columns: event_table_columns,
      });

      new DataTable('#songTable', {
        layout: getDatatableLayout({category: false}),
        serverSide: true,
        processing: true,
        ajax: {
          'url': '/api/v1/setlists/?city={{ info.id }}&format=datatables',
        },
        columns: song_table_columns,
        columnDefs: [{ targets: [0], width: '1rem' }],
      });
    })
  </script>
{% endblock content %}
