{% extends "databruce/narrow_layout.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block extrajs %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
{% endblock extrajs %}
{% block content %}
    <div class="col-12">
        <div class="page-title">Bruceyversion Submission Form</div>
        <div class="text-sm mb-2">Have a particular favorite live performance of a song? Submit it below!</div>
        <div class="row my-3 gx-0">
            <div class="col">
                <div class="card message info">
                    <span>
                        Note: Only one entry can be submitted for a given song and show. If your entry is already taken, check the <a href="{% url "bruceyversion:entries" %}">entries page</a> and vote on it instead.
                    </span>
                </div>
            </div>
        </div>
        {% comment %} <div class="text-xs mb-3"></div> {% endcomment %}
        {% if messages %}
            <div class="row mb-3">
                <div class="col">
                    {% for message in messages %}
                        <div class="card message {{ message.tags }} fst-italic p-2">{{ message|safe }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <form method="post"
                  id="submit-form"
                  action="{% url "bruceyversion:submit" %}">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ user.id }}">
                <div class="col">{{ form.non_field_errors }}</div>
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="mb-1">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="error-message">{{ field.errors }}</div>
                        {% endif %}
                        {# Help text #}
                        {% if field.help_text %}
                            <small class="help-text">{{ field.help_text|safe }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                {% comment %} <div class="mb-3">
                    {{ form.event.label_tag }}
                    <select name="event"
                            class="form-select form-select-sm event select2"
                            id="event">
                        {% if form.event.value %}
                            <!-- Force the selected ID into the DOM on page reload -->
                            <option value="{{ form.event.value }}" selected="selected">{{ form.event.value }}</option>
                        {% endif %}
                    </select>
                    {{ form.event.errors }}
                </div>
                <div class="mb-3">
                    {{ form.song.label_tag }}
                    <select name="song"
                            class="form-select form-select-sm"
                            id="song"
                            {% if not form.song.value %}disabled="disabled"{% endif %}>
                        {% if form.song.value %}
                            <!-- Force the selected ID into the DOM on page reload -->
                            <option value="{{ form.song.value }}" selected="selected">{{ form.song.value }}</option>
                        {% endif %}
                    </select>
                    {{ form.song.errors }}
                </div>
                <div class="mb-3">
                    {{ form.comment.label_tag }}
                    <textarea name="comment"
                              class="form-control form-control-sm"
                              id="comment"
                              {% if not form.song.value %}disabled="disabled"{% endif %}>{{ form.comment.value|default_if_none:"" }}</textarea>
                    {{ form.comment.errors }}
                </div> {% endcomment %}
                <div class="col-12 mx-auto">
                    <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script>
      $(document).ready(function () {
        $('#event').select2({
          theme: "bootstrap-5",
          selectionCssClass: "form-select-sm",
          dropdownCssClass: "form-select-sm",
          minimumInputLength: 3,
          dropdownAutoWidth: true,
          dropdownPosition: 'below',
          placeholder: $(this).data('placeholder'),
          allowClear: true,
          maximumSelectionLength: 4,
          width: '100%',
          ajax: {
            delay: 250,
            url: '/api/v1/events/',
            dataType: 'json',
            data: function (params) {
              return {
                search: params.term,
              }
            },
            processResults: function (data) {
              return {
                results: $.map(data.results, function (item) {
                  return {
                    id: item.id,
                    text: item.date,
                    customHtml: `${item.date} - ${item.artist.name} - ${item.venue.name}`
                  };
                })
              };
            },
          },
          escapeMarkup: function (markup) {
            return markup;
          },
          // 2. Render the custom HTML property inside the dropdown list
          templateResult: function (data) {
            if (data.loading) {
                return data.text;
            }
            // Return your assigned HTML property if it exists, otherwise fallback to plain text
            return data.customHtml || data.text;
          },
          templateSelection: function (data) {
            return data.customHtml;
          }
        });
      });

      if ($('#event').val()) {
      // If Select2 reloaded with an ID, we fetch its text representation via API to display it properly
      const existingEventId = $('#event').val();
      fetch(`/api/v1/events/${existingEventId}/`)
        .then(response => response.json())
        .then(item => {
            var option = new Option(`${item.date} - ${item.artist.name} - ${item.venue.name}`, item.id, true, true);
            $('#event').append(option).trigger('change');
        });
      }

      $(document).on('select2:open', function() {
        $('input.select2-search__field').focus();
      });
    

      $('#event').on('change', function() {
        const val = $(this).val();
        var isPopulated = val.length > 0;

        $('#song').prop('disabled', !isPopulated);

        $('#song').empty().append(`<option value=""></option>`);


        if (isPopulated) {
          const currentSongValue = $('#song').data('old-value') || "";
              
          fetch(`/api/v1/setlists/?event=${val}&format=json&show_only=true&hide_non_songs=true&bv=true`)
          .then(response => response.json())
          .then(data => {
            data.results.forEach(function (item) {
              // Keep selected state if it matches a returned validation value
              let isSelected = item.song_id == currentSongValue ? 'selected="selected"' : '';
              $('#song').append(`<option value="${item.song.id}" ${isSelected}>${item.set_name} - ${item.song.name}</option>`);
            });
            // Trigger change to unlock comment field if song was pre-selected from validation error
            $('#song').trigger('change');
          });
        }
      });

      $('#song').on('change', function() {
        const val = $(this).val();
        var isPopulated = val.length > 0;
        $('#comment').prop('disabled', !isPopulated);
      });
    </script>
{% endblock content %}
