{% extends "databruce/base.html" %}
{% load i18n %}
{% block title %}
    Change Password
{% endblock title %}
{% block content %}
    <div class="card col-12 col-lg-4 mx-auto">
        <div class="card-header">Password Change</div>
        <div class="card-body">
            <div class="row">
                <form method="post">
                    {% csrf_token %}
                    <div class="col">{% blocktranslate %}{{ form.non_field_errors }}{% endblocktranslate %}</div>
                    <div class="form-row mb-3">
                        <div class="flex-container">
                            <label for="{{ form.old_password.id_for_label }}" class="form-label text-sm">
                                {% translate form.old_password.label %}
                            </label>
                            {% if form.old_password.errors %}
                                <br>
                                <span class="text-sm text-danger">
                                    {% for error in form.old_password.errors %}
                                        {% translate error %}
                                    {% endfor %}
                                </span>
                            {% endif %}
                            <input type="password"
                                   class="form-control form-control-sm"
                                   name="old_password"
                                   id="{{ form.old_password.id_for_label }}">
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="flex-container mb-2">
                            <label for="{{ form.new_password1.id_for_label }}"
                                   class="form-label text-sm">{% translate form.new_password1.label %}</label>
                            {% if form.new_password1.errors %}
                                <br>
                                <span class="text-sm text-danger">
                                    {% for error in form.new_password1.errors %}
                                        {% translate error %}
                                    {% endfor %}
                                </span>
                            {% endif %}
                            <input type="password"
                                   class="form-control form-control-sm"
                                   name="new_password1"
                                   id="{{ form.new_password1.id_for_label }}">
                        </div>
                        {% if form.new_password1.help_text %}
                            <div class="help text-xs py-2"
                                 id="{{ form.new_password1.id_for_label }}_helptext">
                                {% blocktranslate %}{{ form.new_password1.help_text|safe }}{% endblocktranslate %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-row mb-3">
                        <div class="flex-container mb-2">
                            <label for="{{ form.new_password2.id_for_label }}"
                                   class="form-label text-sm">{% translate form.new_password2.label %}</label>
                            {% if form.new_password2.errors %}
                                <br>
                                <span class="text-sm text-danger">
                                    {% for error in form.new_password2.errors %}
                                        {% translate error %}
                                    {% endfor %}
                                </span>
                            {% endif %}
                            <input type="password"
                                   class="form-control form-control-sm"
                                   name="new_password2"
                                   id="{{ form.new_password2.id_for_label }}">
                        </div>
                        {% if form.new_password2.help_text %}
                            <div class="help text-xs py-2"
                                 id="{{ form.new_password2.id_for_label }}_helptext">
                                {% blocktranslate %}{{ form.new_password2.help_text|safe }}{% endblocktranslate %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">{% translate "Change Password" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
