{% extends "databruce/base.html" %}
{% load i18n %}
{% block title %}
    Change Password
{% endblock title %}
{% block content %}
    <div class="card col-12 col-lg-4 mx-auto">
        <div class="card-header">Password Changed</div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col">
                    <p class="text-sm">{% translate "Your password was changed successfully." %}</p>
                    <p class="text-sm fw-semibold">
                        <div class="row">
                            <div class="col-12">
                                <a class="btn btn-sm btn-primary"
                                   type="submit"
                                   role="button"
                                   href="{% url "login" %}">{% translate "Login" %}</a>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
