{% extends "databruce/narrow_layout.html" %}
{% load i18n %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block content %}
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header">Password Changed</div>
      <div class="card-body">
        <div class="row mb-2">
          <div class="col">
            <p class="text-sm">{% translate "Your password was changed successfully." %}</p>
            <p class="text-sm fw-semibold">
              <div class="row">
                <div class="col-12">
                  <a class="btn btn-sm btn-primary"
                     type="submit"
                     role="button"
                     href="{% url "login" %}">{% translate "Login" %}</a>
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
