{% extends "databruce/narrow_layout.html" %}
{% load i18n %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">{% translate "Logged Out" %}</div>
            <div class="card-body">
                <div class="text-xl">{% translate "You have been logged out." %}</div>
                <a href="{% url "login" %}">{% translate "Click here to sign in again" %}</a>
            </div>
        </div>
    </div>
{% endblock content %}
