{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Profile
{% endblock title %}
{% block content %}
  <div class="row justify-content-center mb-3">
    <div class="col col-lg-8">
      <div class="row mb-4">
        <div class="col">
          {% if user_info.username == user.username %}
            <h4>Your Profile</h4>
          {% else %}
            <h4>{{ user_info.username|title }}'s Profile</h4>
          {% endif %}
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link active"
                      id="pills-events-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#events"
                      type="button"
                      role="tab"
                      aria-controls="pills-home"
                      aria-selected="true">Shows</button>
            </li>
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link"
                      id="pills-songs-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#songs"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">Songs</button>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div id="events" class="tab-pane fade show active">
              <h6>
                {% if user_info.username == user.username %}
                  Shows that you have seen
                {% else %}
                  Shows that {{ user_info.username|title }} has seen
                {% endif %}
              </h6>
              <div class="table-responsive">
                <table class="table table-hover display" id="eventTable">
                  <thead>
                    <tr>
                      <th class="all" scope="col">Date</th>
                      <th class="min-tablet-l" scope="col">Band</th>
                      <th class="all" scope="col">Venue</th>
                      <th class="min-tablet-l" scope="col">Location</th>
                      <th class="min-tablet-l" scope="col">Tour</th>
                      <th class="desktop" scope="col">Detail</th>
                      <th class="desktop" scope="col">Remove Show</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for event in user_shows %}
                      {% with event=event.event %}
                        <tr>
                          <td scope="row" class="text-nowrap">
                            <a href="{% url "event_details" id=event.id %}">{{ event }}</a>
                          </td>
                          <td class="text-nowrap">
                            {% if event.artist %}
                              <a href="{% url "band_details" id=event.artist.id %}">{{ event.artist.name }}</a>
                            {% endif %}
                          </td>
                          <td class="text-nowrap">
                            <a href="{% url 'venue_details' id=event.venue.id %}">{{ event.venue.name }}</a>
                          </td>
                          <td class="text-nowrap">
                            {% if event.venue.city %}
                              <a href="{% url 'city_details' id=event.venue.city.id %}">{{ event.venue.city }}</a>
                            {% endif %}
                          </td>
                          <td class="text-nowrap">
                            {% if event.tour %}
                              <a href="{% url "tour_details" id=event.tour.id %}">{{ event.tour.name }}</a>
                            {% endif %}
                          </td>
                          <td class="text-nowrap">
                            {% if event.type == 'Rescheduled' or event.type == 'Cancelled' %}
                              {{ event.type }}/{{ event.note|default_if_none:'' }}
                            {% else %}
                              {{ event.title|default_if_none:'' }}
                            {% endif %}
                          </td>
                          <td class="text-nowrap">
                            {% if user.is_authenticated %}
                              <form method="post" action="{% url "remove_show" %}">
                                <input type="hidden" name="event" value="{{ event.id }}">
                                {% csrf_token %}
                                <button id="submit-button"
                                        type="submit"
                                        name="submit"
                                        class="btn btn-sm btn-danger">Remove Show from Profile</button>
                              </form>
                            {% endif %}
                          </td>
                        </tr>
                      {% endwith %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div id="songs" class="tab-pane fade">
              <h6>
                {% if user_info.username == user.username %}
                  Songs that you have seen
                {% else %}
                  Songs that {{ user_info.username|title }} has seen
                {% endif %}
              </h6>
              <div class="table-responsive">
                <table class="table table-hover display" id="songTable">
                  <thead>
                    <tr>
                      <th>Song Name</th>
                      <th class="text-center">Count</th>
                      <th class="text-center">First Seen</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for song in user_seen %}
                      <tr>
                        <td>
                          <a href="{% url "song_details" id=song.songid %}">{{ song.name }}</a>
                        </td>
                        <td class="text-center">{{ song.count }}</td>
                        <td class="text-center">
                          <a href="{% url "event_details" id=song.first %}">{{ song.firstdate|get_date:song.first }}</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <div class="row mb-2">
        <div class="col">
          <h4>Stats</h4>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link active"
                      id="pills-events-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#mostplayed"
                      type="button"
                      role="tab"
                      aria-controls="pills-home"
                      aria-selected="true">Most Played Not Seen</button>
            </li>
            <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
              <button class="nav-link"
                      id="pills-songs-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#rare"
                      type="button"
                      role="tab"
                      aria-controls="pills-profile"
                      aria-selected="false">Rare Songs</button>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div id="mostplayed" class="tab-pane show active fade">
              <div class="row mb-2">
                <h6>Most commonly played songs not seen</h6>
              </div>
              <div class="table-responsive">
                <table class="table table-hover display" id="notSeenTable">
                  <thead>
                    <tr>
                      <th>Song Name</th>
                      <th class="text-center">Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for song in user_not_seen %}
                      <tr>
                        <td>
                          <a href="{% url "song_details" id=song.id %}">{{ song.name }}</a>
                        </td>
                        <td class="text-center">{{ song.num_plays_public }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div id="rare" class="tab-pane fade">
              <div class="row mb-2">
                <h6>Songs seen with 100 plays or less</h6>
              </div>
              <div class="table-responsive">
                <table class="table table-hover display" id="rareTable">
                  <thead>
                    <tr>
                      <th>Song Name</th>
                      <th class="text-center">Event</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for song in user_rare_songs %}
                      <tr>
                        <td>
                          <a href="{% url "song_details" id=song.id %}">{{ song.name }}</a>
                        </td>
                        <td class="text-center">{{ song.num_plays_public }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      $(document).ready(function() {
          layout.topEnd.features[1].buttons[0].config.columns = [1, 2, 3, 4]
          
          new DataTable('#eventTable', {
              layout: layout,
              order: [[0, 'asc']],
              pageLength: 25,
          });

          // removes searchBuilder button, not needed for this.
          layout.topEnd.features[1].buttons.pop();

          new DataTable('#songTable', {
              layout: layout,
              order: [[0, 'asc']],
              pageLength: 25,
          });

          new DataTable('#notSeenTable', {
              layout: layout,
              order: [[1, 'desc']],
              pageLength: 25,
          });
          
          new DataTable('#rareTable', {
              layout: layout,
              order: [[1, 'asc']],
              pageLength: 25,
          });
      })
  </script>
{% endblock content %}
