{% extends "databruce/narrow_layout.html" %}
{% load i18n static %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block extrajs %}
  <script src="{% static 'databruce/js/songTable.js' %}"></script>
  <script src="{% static 'databruce/js/eventTable.js' %}"></script>
  <script src="{% static 'databruce/js/masonry.pkgd.min.js' %}"></script>
{% endblock extrajs %}
{% block content %}
  <div class="col-12">
    <div class="row mb-3">
      <div class="col">
        {% if info.id == user.id %}
          <div class="text-2xl">{% translate "Your Profile" %}</div>
        {% else %}
          <div class="text-2xl">{{ info.username }}'s Profile</div>
        {% endif %}
      </div>
    </div>
    <div class="info-card-row mb-3 row row-cols-2 g-2 row-cols-lg-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="text-sm text-nowrap fw-medium">Shows Seen</div>
            <div class="text-base" id="user-event-count">{{ user_event_count }}</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="text-sm text-nowrap fw-medium">Songs Seen</div>
            <div class="text-base" id="user-song-count">{{ user_songs_count }}</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="text-sm text-nowrap fw-medium">First Show</div>
            <div class="text-base" id="user-first-show">
              {% if first_event %}
                <a href="{% url 'event_details' id=first_event.event_id %}">{{ first_event }}</a>
              {% else %}
                N/A
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="text-sm text-nowrap fw-medium">Latest Show</div>
            <div class="text-base" id="user-last-show">
              {% if last_event %}
                <a href="{% url 'event_details' id=last_event.event_id %}">{{ last_event }}</a>
              {% else %}
                N/A
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <ul class="nav nav-pills gap-0 column-gap-1 row-gap-1" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active button"
                    id="pills-events-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#events"
                    type="button"
                    role="tab"
                    aria-controls="pills-events"
                    aria-selected="true">Shows</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link button"
                    id="pills-songs-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#songs"
                    type="button"
                    role="tab"
                    aria-controls="pills-songs"
                    aria-selected="false">Songs</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link button"
                    id="pills-albums-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#albums"
                    type="button"
                    role="tab"
                    aria-controls="pills-album"
                    aria-selected="false">{% translate "Albums" %}</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="tab-content">
        <div id="events" class="tab-pane fade show active">
          <div class="card">
            <div class="card-body">{% include "databruce/partials/event_table.html" %}</div>
          </div>
        </div>
        <div id="songs" class="tab-pane fade">
          <div class="row mb-3">
            <div class="col">
              <div class="card">
                <div class="card-header">Songs Seen</div>
                <div class="card-body">{% include "databruce/partials/song_table.html" %}</div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="card">
                <div class="card-header">Most Played Not Seen (100+ plays)</div>
                <div class="card-body">
                  <div id="tableControls">
                    <div class="col-12 col-md-1">
                      <label for="categoryFilter" class="pb-1">Category</label>
                      <select id="categoryFilter" class="form-select form-select-sm">
                        <option value="">All</option>
                        <option value="true">Original</option>
                        <option value="false">Covers</option>
                      </select>
                    </div>
                    <!-- Search -->
                    <div class="col">
                      <label for="unseen-song-search" class="pb-1">Search</label>
                      <div class="input-group input-group-sm">
                        <input type="text"
                               id="unseen-song-search"
                               class="form-control form-control-sm"
                               placeholder="Type to search table...">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table table-hover display" id="notSeenTable">
                        <thead>
                          <tr>
                            <th class="all">Count</th>
                            <th class="all">Name</th>
                            <th class="all">Category</th>
                            <th class="all">First</th>
                            <th class="all">Last</th>
                            <th class="all">Original</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  Rare Songs (<100 Plays)
                </div>
                <div class="card-body">
                  <div id="tableControls">
                    <div class="col-12 col-md-1">
                      <label for="categoryFilter" class="pb-1">Category</label>
                      <select id="categoryFilter" class="form-select form-select-sm">
                        <option value="">All</option>
                        <option value="true">Original</option>
                        <option value="false">Covers</option>
                      </select>
                    </div>
                    <!-- Search -->
                    <div class="col">
                      <label for="song-search" class="pb-1">Search</label>
                      <div class="input-group input-group-sm">
                        <span class="input-group-text">
                          <i class="bi bi-search"></i>
                        </span>
                        <input type="text"
                               id="rare-song-search"
                               class="form-control form-control-sm"
                               placeholder="Type to search table...">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table table-hover display" id="rareTable">
                        <thead>
                          <tr>
                            <th class="all">Count</th>
                            <th class="all">Name</th>
                            <th class="all">Category</th>
                            <th class="all">First</th>
                            <th class="all">Last</th>
                            <th class="all">Original</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="albums" class="tab-pane fade">
          <div class="col-12">
            <div class="row g-3"
                 id="cardContainer">
              <div class="col-12 col-md-6 col-lg-4 d-none" id="example">
                <div class="card" id="album">
                  <div class="card-header d-block py-0.5"></div>
                  <div class="card-body p-0"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      /* album breakdown */

      fetch('/api/v1/user_album_breakdown/?user={{ info.id }}&format=json')
      .then(response => response.json()) // Parse JSON response
      .then(data => {
        var container = $('#cardContainer');
        var itemsToAppend = []; // Temporary array to hold all cloned jQuery elements

        data.results.forEach((item, index) => {
          var col = $('#example').clone();
          const album = item.slug;
          var list = $('<ul />').addClass('list-group list-group-flush');
          let albumArtUrl = `/static/databruce/img/albums/${album}.jpg`;
          const percent = item.album_percent.toFixed(0)

          if (!album) {
            albumArtUrl = '/static/databruce/img/albums/default.svg';
          }

          col.removeClass('d-none');
          col.attr('id', `album-${index}`);

          const html = `
          <div class="row justify-content-between align-items-center">
              <div class="col fw-semibold text-reset text-nowrap">${item.name}</div>
              <div class="col-auto">
                <img class="album-art" src="${albumArtUrl}" height="24" alt="${escapeHtml(item.name)}">
              </div>
            </div>
          `;

          col.find('.card-header').append(html)

          item.songs.forEach((i) => {
            var listItem = $('<li />').addClass('list-group-item d-inline-flex gap-1')

            if (i.times_seen > 0) {
              listItem.addClass('song-seen')
              listItem.append(`<a class="song-name" href="/songs/${i.slug}">${i.name}</a>`);
              listItem.append(`<span class="seenCount">(${i.times_seen})</span>`);
            } else {
              listItem.addClass('song-unseen')
              listItem.append(`<a class="song-name" href="/songs/${i.slug}">${i.name}</a>`);
            }

            list.append(listItem);
          });

          $(col).find('.card-body').append(list);
          itemsToAppend.push(col[0]);
        });

        container.append(itemsToAppend);

        // Initialize Masonry cleanly on the fully populated container
        container.masonry({
          itemSelector: '.col-lg-4:not(.d-none)',
          percentPosition: true,
          horizontalOrder: true // CRITICAL: Forces Masonry to layout items left-to-right first
        });
      }).catch(error => console.error('Error:', error));
      
      // needed to initalize masonry when tab is loaded correctly
      $('a[data-bs-toggle="tab"], button[data-bs-toggle="pill"], a[data-bs-toggle="pill"]').on('shown.bs.tab', function (e) {
        console.log('switched tab to albums')
        $('#cardContainer').masonry('layout');
      });
      
      /* datatables */
      eventTable('/api/v1/events/?user={{ info.id }}&format=custom');
      songTable('/api/v1/setlist_songs/?user={{ info.id }}&format=custom', '30vh');
      songTable('/api/v1/setlist_songs/?user_unseen={{ info.id }}&public_plays=100&format=custom', '30vh', '#notSeenTable');
      songTable('/api/v1/setlist_songs/?user={{ info.id }}&user_rare=true&format=custom', '30vh', '#rareTable');

    })
  </script>
{% endblock content %}
