{% extends "databruce/base.html" %}
{% load i18n %}
{% block title %}
    Reset Password
{% endblock title %}
{% block content %}
    <div class="card col-12 col-lg-4 mx-auto">
        <div class="card-header">{% translate "Password Reset" %}</div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col text-sm">
                    <p>
                        {% translate "We have sent you an email. If you have not received it please check your spam folder. Otherwise" %}
                        <a class="fw-semibold text-reset" href="{% url "contact" %}">{% translate "contact us" %}</a>
                        {% translate "if you do not receive it in a few minutes." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
