{% extends "databruce/base.html" %}
{% load i18n %}
{% block title %}
  Profile Settings
{% endblock title %}
{% block content %}
  <div class="col-12 col-lg-4 mx-auto">
    <div class="row mb-4">
      <div class="text-2xl">{% translate "User Settings" %}</div>
    </div>
    <div class="card mb-3">
      <div class="card-header">{% translate "Update Profile" %}</div>
      <div class="card-body">
        {% if messages %}
          <div class="row mb-3">
            <div class="col">
              {% for message in messages %}
                <div class="card text-bg-{% if message.tags == 'success' %}success{% else %}danger{% endif %}">
                  <div class="card-body">{% translate message %}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        <form method="post" id="profileForm" action="{% url "settings" %}">
          {% csrf_token %}
          {% for field in form %}
            <div class="row mb-2">
              <label class="form-label text-sm" for="{{ field.id_for_label }}">{% translate field.label %}</label>
              {% if field.errors %}
                <br>
                <span class="text-sm text-danger">
                  {% for error in field.errors %}
                    {% translate error %}
                  {% endfor %}
                </span>
              {% endif %}
              <div class="mx-auto">{{ field }}</div>
            </div>
          {% endfor %}
          <div class="row mt-3">
            <div class="col-12">
              <button id="submit-button"
                      type="submit"
                      name="submit"
                      class="btn btn-sm btn-success">{% translate "Update" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
