{% extends "databruce/base.html" %}
{% load i18n %}
{% block title %}
    Create Account
{% endblock title %}
{% block content %}
    <div class="card col-12 col-lg-4 mx-auto">
        <div class="card-header">{% translate "Create Account" %}</div>
        <div class="card-body">
            <form method="post" action="{% url "signup" %}">
                {% csrf_token %}
                <div class="col">{{ form.non_field_errors }}</div>
                {% for field in form %}
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label text-sm" for="{{ field.id_for_label }}">{% translate field.label %}</label>
                            {% if field.errors %}
                                <br>
                                <span class="text-sm text-danger">
                                    {% for error in field.errors %}
                                        {% translate error %}
                                    {% endfor %}
                                </span>
                            {% endif %}
                            <div>{{ field }}</div>
                            {% if field.help_text %}
                                <div class="my-2 text-sm" id="{{ field.id_for_label }}_helptext">
                                    {% blocktranslate %}
                                    {{ field.help_text|safe }}
                                    {% endblocktranslate %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-sm btn-primary" type="submit">{% translate "Create Account" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
