{% extends "databruce/base.html" %}
{% load i18n %}
{% block title %}
    Account Created
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-header">{% translate "Account Created" %}</div>
        <div class="card-body">
            {% translate "Your account has been created successfully. We've emailed you a link to activate your account, you should receive it shortly. Make sure to check your spam folder." %}
            {% translate "If you don't receive an email within a few hours, send an email to databrucedb@gmail.com with the email and username you registered with." %}
            <div class="row">
                <div class="col-12">
                    <a href="{% url "login" %}">{% translate "Login" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
