{% extends "databruce/category.html" %}
{% load i18n %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">{% translate "Users" %}</div>
  <div class="text-base">{% translate "All active users on the site." %}</div>
{% endblock info_row %}
{% block table_id %}
  userTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr>
      <th class="all">Staff?</th>
      <th class="all text-nowrap">Shows Seen</th>
      <th class="all">Name</th>
      <th class="all text-nowrap">Date Joined</th>
    </tr>
  </thead>
{% endblock table %}
{% block scripts %}
  <script>
    $(document).ready(function () {
        new DataTable('#userTable', {
            layout: getDatatableLayout({category: false}),
            scrollX: false,
            ajax: {
              'url': '/api/v1/users/?format=custom'
            },
            columnDefs: [
              {'targets': '_all', 'className': 'dt-left' },
              {'targets': [0, 1], 'width': '1rem', 'className': 'dt-center' },
              {'targets': [0], 'columnControl': [] },
              {'targets': [1], 'type': 'num' },
              {'targets': [2], 'className': 'dt-left' },
              {'targets': [-1], 'type': 'text' },
            ],
            columns: [
              {
                'data': 'is_staff',
                'name': 'is_staff',
                'render': function (data, type, row, meta) {
                  if (type === 'display') {
                    return data ? `<i class="bi bi-check-lg text-xl check"></i>` : '';
                  }
                },
              },
              { 'data': 'event_count', 'name': 'event_count' },
              { 
                'data': 'uuid',
                'name': 'user_slug',
                'render': function (data, type, row, meta) {
                  if (type === 'display') {
                    return `<a href="/profile/${data}">${row.username}</a>`
                  }
                },
              },
              { 'data': 'date_joined', 'name': 'date_joined' },
            ]
        })
    });
  </script>
{% endblock scripts %}
