{% extends "databruce/category.html" %}
{% load i18n %}
{% block title %}
  Users
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">{% translate "Users" %}</div>
  <div class="text-base">{% translate "All active users on the site." %}</div>
{% endblock info_row %}
{% block table_id %}
  userTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for user_data in users %}
      <tr>
        <td>
          <a href="{% url "profile" username=user_data.username %}">{{ user_data.username }}</a>
        </td>
        <td>
          {% if user_data.is_staff %}
            Staff
          {% else %}
            User
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock table %}
{% block scripts %}
  <script>
    $(document).ready(function () {
        new DataTable('#userTable', {
            layout: getDatatableLayout({category: false}),
        })
    });
  </script>
{% endblock scripts %}
