:root {
  /* https://www.realtimecolors.com/?colors=ffffff-22262a-035d8e-00e1ff-fc965f&fonts=Inter-Inter */
	/* --base-content: #f2f2f2; */
	--background: #717f8e;
	--primary: #0483c8;
	--secondary: #008799;
	--accent: #fa5b05;

  --font-heading: "Cabin", sans-serif;
  --font-body: "IBM Plex Sans Hebrew", sans-serif;
}

[data-bs-theme="light"] {
  --base-100: #FFFFFF;
  --base-200: #F8F8F8;
  --base-300: #EEEEEE;
  --base-content: #000000;
  --primary-content: #FFFFFF;
  --accent-content: #421104;

  --border: #464e55; 
}

[data-bs-theme="dark"] {
  --base-100: #1D232A;
  --base-200: #191E24;
  --base-300: #15191E;
  --base-content: #ecf9ff;
  --primary-content: #edf1fe;

  --border: #464e55; 
}

[data-bs-theme="synthwave"] {
    --base-100: #09002f;
    --base-200: #120b3d;
    --base-300: #1c184b;
    --base-content: #a1b1ff;
    --primary: #f861b4;
    --primary-content: #500323;
    --secondary: #71d1fe;
    --secondary-content: #042e49;
    --accent: #ff8904;
    --accent-content: #421104;
    --success: #00d3bb;
    --success-content: #002d2c;
    --danger: #ec8c78;
    --danger-content: #201047;
    --info: #00bafe;
    --info-content: #042e49;
    --neutral: #422ad5;
    --neutral-content: #c6d2ff;
}

/* Primary */
.text-primary {
  color: var(--primary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

/* background */
.text-background {
  color: var(--background) !important;
}

.bg-background {
  background-color: var(--background) !important;
}

/* Secondary */
.text-secondary {
  color: var(--secondary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

/* Accent */
.text-accent {
  color: var(--accent) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
}

/* [class*="success"] {
  background-color: var(--success) !important;
  color: var(--success-content) !important;
  border-color: var(--success-content) !important;
} */

/* [class*="secondary"] {
  background-color: var(--secondary) !important;
  color: var(--secondary-content) !important;
  border-color: var(--secondary-content) !important;
}

[class*="danger"]:not(i) {
  background-color: var(--danger) !important;
  color: var(--danger-content) !important;
  border-color: var(--danger-content) !important;
} */