:root {
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --slate-950: #020617;

    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
    --zinc-950: #09090b;

    --sky-50: #f0f9ff;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-700: #0369a1;
    --sky-800: #075985;
    --sky-900: #0c4a6e;
    --sky-950: #082f49;

    --denim-50: #f1f8ff;
    --denim-100: #e2f1ff;
    --denim-200: #c1e3ff;
    --denim-300: #8ecdff;
    --denim-400: #4fb3ff;
    --denim-500: #309ff9;
    --denim-600: #0e81d3;
    --denim-700: #186eb1;
    --denim-800: #11568d;
    --denim-900: #1a4870;
    --denim-950: #0b2e4b;

    --dove-gray-50: #fafafa;
    --dove-gray-100: #f5f5f5;
    --dove-gray-200: #e5e5e5;
    --dove-gray-300: #d4d4d4;
    --dove-gray-400: #a1a1a1;
    --dove-gray-500: #737373;
    --dove-gray-600: #525252;
    --dove-gray-700: #404040;
    --dove-gray-800: #262626;
    --dove-gray-850: #1e1e1e;
    --dove-gray-900: #171717;
    --dove-gray-950: #0a0a0a;

    --card: #18181b;
    --background: #0e0e11;

    --font-heading: "Cabin", sans-serif;
    --font-body: "IBM Plex Sans Hebrew", sans-serif;
}



.tour23 {
    background-color: #c86327 !important;
    color: white !important;
}

.bitusa {
    background-color: #a43134;
    color: white !important;
}

.btr {
    background-color: #ffffff;
    color: black !important;
}

.darkness {
    background-color: #d7b79d;
    color: black !important;
}

.devils {
    background-color: #cd9f69;
    color: black !important;
}

.greetings {
    background-color: #dd3b64;
    color: white !important;
}

.hh {
    background-color: #e0ae64;
    color: black !important;
}

.magic {
    background-color: #752418;
    color: white !important;
}

.joad {
    background-color: #efbd5a;
    color: black !important;
}

.rising {
    background-color: #e59750;
    color: black !important;
}

.river {
    background-color: #4ebcc3;
    color: black !important;
}

.sessions {
    background-color: #edb22b;
    color: white !important;
}

.shuffle {
    background-color: #c89c6c;
    color: black !important;
}

.tunnel {
    background-color: black;
    color: white !important;
}

.dream {
    background-color: #3b497c;
    color: white !important;
}

.tour92 {
    background-color: #da3931;
    color: white !important;
}

.wrecking {
    background-color: #85080d !important;
    color: white !important;
}