th.text-center > div.dt-column-header {
    text-align: center !important;
}

/* disables hovering on set divider rows */
td.setHeader:hover {
	box-shadow: none !important;
}

tr.res-child:hover {
    box-shadow: none !important;
}

tr.res-child > td:first {
    width: 2rem;
    font-weight: bold;
}

.setHeader {
    background-color: var(--background-500) !important;
}

td.position {
    color: var(--text-50) !important;
}

@media only screen and (max-width: 768px) {
    .dt-layout-full {
        margin-top: 0px !important;
    }

    span.dtcc {
        display: none !important;
    }
}

.dt-layout-full {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.index .dt-layout-table {
    margin-top: 0px !important;
}

/* hides button row if they're empty on mobile */
div.table-responsive>div.dt-container>div.row.mt-2:has(.dt-layout-start:empty),
div.table-responsive>div.dt-container>div.row.mt-2:has(.dt-layout-end:empty) {
    display: none !important;
    margin-top: 0px !important;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-logicContainer {
	flex-wrap: nowrap;
}

.dt-orderable-none span.dt-column-order {
    display: none;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    visibility: hidden;
}

.table-responsive {
    padding: 0% !important;
    border-radius: 0 !important;
}

#setlistTable_wrapper .dt-layout-table {
    margin-top: 0 !important;
}

table.dataTable div.dt-column-header {
    flex-direction: row !important;
}

/* searchbuilder customization */
div.dropdown-menu.dt-button-collection.dtb-collection-closeable {
    z-index: 9999;
    left: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.dtsb-title {
    font-size: 0.875rem !important;
}

.dtsb-button {
    font-size: 0.875rem !important;
    margin: auto !important;
}

.dtsb-dropDown,
.dtsb-inputCont {
    margin-bottom: 0.25rem !important;
    font-size: 0.875rem !important;
}

table {
    border-collapse: collapse !important;
}

/* hides double header on some datatables */
div.dt-scroll-body thead tr th
{
    padding: 0 inherit !important
}

.setHeader {
    color: var(--text-50) !important;
    font-weight: 600 !important;
    font-size: 0.8rem !important;
    line-height: 0.7rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

[data-bs-theme="light"] {
    .setHeader {
        background-color: var(--background-900) !important;
    }

    td[id*="snippet"] {
        background-color: var(--background-100) !important;
    }

    tr[id*="snippet-row"] td {
        background-color: var(--background-50) !important;
    }
}

[data-bs-theme="dark"] {
    .setHeader {
        background-color: var(--background-400) !important;
        color: var(--text-900) !important;
    }

    tr[id*="snippet-row"] td {
        background-color: var(--background-700) !important;
    }

    td[id*="snippet"] {
        background-color: var(--background-600) !important;
    }
}

.showopener {
    background-color: var(--secondary-700) !important;
}

.showcloser,
.set1closer,
.encoreopener {
    background-color: var(--accent-700) !important;
}

.set2opener {
    background-color: var(--secondary-800) !important;
}

.mainsetcloser {
    background-color: var(--accent-600) !important;
}

table {
    width: 100% !important;
}

table tbody tr td {
    padding: 0.25rem 0.5rem !important;
}

table th {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    font-size: 0.875rem !important;
}

.dropdown-menu {
    --bs-dropdown-min-width: 11rem;
}

.dt-type-date {
    width: 8rem !important;
    text-align: left !important;
}

.dt-type-numeric {
    width: 1rem !important;
    text-align: center !important;
}

.band {
    width: 12rem !important;
}

.venue {
    width: 14rem !important;
}

.location {
    width: 12rem !important;
}

.songnum {
    width: 1rem !important;
}

@media only screen and (max-width: 768px) {
    .songnum {
        width: 4rem !important;
        height: 1rem !important;
    }
}

/* Hide Calendar Popup, it is very finicky and doesn't like to be placed */
div.dt-datetime {
    display: none !important;
}

table.table.dataTable > tbody > tr:not([id*="snippet_head"]) {
	background-color: transparent;
}

td[id*="snippet-head"],
td[id*="snippet-foot"] {
    border: none !important;
    line-height: 0.7rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

tr[id*="snippet-row"] td {
    border: none !important;
}

tr[id*="snippet"]:hover *,
td[id*="snippet"]:hover {
    box-shadow: none !important;
}