[data-bs-theme="light"] {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-blue-500);
  }

  h2,
  h3 {
    border-color: var(--color-gray-300);
  }

  .navbar {
    background-color: var(--color-blue-500) !important;
  }

  .song-seen>a {
    color: var(--color-blue-600) !important;
  }

  .segue,
  .segue-mobile {
    color: var(--color-blue-600) !important;
  }

  body>div:not(.navbar) .btn:not([class*="subtle"]):not([class*="outline"]):hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)) !important;
  }

  .btn[class*="subtle"]:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)) !important;
  }

  button.active>.badge {
    background-color: var(--color-white) !important;
    color: var(--color-black) !important;
  }

  .main-logo {
    background-image: var(--main-logo-black);
  }

  /* primary */

  .btn-primary,
  .badge-primary,
  .nav-btn.active {
    background-color: var(--color-blue-500);
    border-color: var(--color-blue-500);
    color: var(--color-white);
  }

  .btn-primary-subtle,
  .badge-primary-subtle,
  .btn-primary-outline,
  .badge-primary-outline {
    color: var(--color-blue-800) !important;
    border-color: var(--color-blue-800) !important;
  }

  .btn-primary-subtle,
  .badge-primary-subtle {
    background-color: var(--color-blue-100) !important;
  }

  /* secondary */

  .btn-secondary,
  .badge-secondary {
    background-color: var(--color-teal-500);
    border-color: var(--color-teal-500);
    color: var(--color-white);
  }

  .btn-secondary-subtle,
  .badge-secondary-subtle,
  .btn-secondary-outline,
  .badge-secondary-outline {
    color: var(--color-teal-800) !important;
    border-color: var(--color-teal-400) !important;
  }

  .btn-secondary-subtle,
  .badge-secondary-subtle {
    background-color: var(--color-teal-100) !important;
  }

  /* danger */

  .btn-danger,
  .badge-danger {
    background-color: var(--color-red-500);
    border-color: var(--color-red-500);
    color: var(--color-white);
  }

  .btn-danger-subtle,
  .badge-danger-subtle,
  .btn-danger-outline,
  .badge-danger-outline {
    color: var(--color-red-800) !important;
    border-color: var(--color-red-400) !important;
  }

  .btn-danger-subtle,
  .badge-danger-subtle {
    background-color: var(--color-red-100) !important;
  }

  #addshow[data-attended="true"]:hover {
    background-color: var(--color-red-100) !important;
    border-color: var(--color-red-400) !important;
    color: var(--color-red-800) !important;
  }

  /* warning */

  .btn-warning,
  .badge-warning {
    background-color: var(--color-yellow-500);
    border-color: var(--color-yellow-500);
    color: var(--color-white);
  }

  .btn-warning-subtle,
  .badge-warning-subtle,
  .btn-warning-outline,
  .badge-warning-outline {
    color: var(--color-yellow-800) !important;
    border-color: var(--color-yellow-400) !important;
  }

  .btn-warning-subtle,
  .badge-warning-subtle {
    background-color: var(--color-yellow-100) !important;
  }

  /* info */

  .btn-info,
  .badge-info {
    background-color: var(--color-cyan-500);
    border-color: var(--color-cyan-500);
    color: var(--color-white);
  }

  .btn-info-subtle,
  .badge-info-subtle,
  .btn-info-outline,
  .badge-info-outline {
    color: var(--color-cyan-800) !important;
    border-color: var(--color-cyan-400) !important;
  }

  .btn-info-subtle,
  .badge-info-subtle {
    background-color: var(--color-cyan-100) !important;
  }

  /* success */

  .btn-success,
  .badge-success {
    background-color: var(--color-green-600);
    border-color: var(--color-green-600);
    color: var(--color-white);
  }

  .btn-success-subtle,
  .badge-success-subtle,
  .btn-success-outline,
  .badge-success-outline {
    color: var(--color-green-800) !important;
    border-color: var(--color-green-400) !important;
  }

  .btn-success-subtle,
  .badge-success-subtle {
    background-color: var(--color-green-100) !important;
  }

  /* neutral */

  .btn-neutral,
  .badge-neutral,
  .nav-btn {
    background-color: var(--color-gray-400);
    border-color: var(--color-gray-400);
    color: var(--color-white);
  }

  .btn-neutral-subtle,
  .badge-neutral-subtle,
  .btn-neutral-outline,
  .badge-neutral-outline {
    color: var(--color-gray-800) !important;
    border-color: var(--color-gray-400) !important;
  }

  .btn-neutral-subtle,
  .badge-neutral-subtle {
    background-color: var(--color-gray-100) !important;
  }

  /* purple */

  .btn-purple,
  .badge-purple {
    background-color: var(--color-purple-500);
    border-color: var(--color-purple-500);
    color: var(--color-white);
  }

  .btn-purple-subtle,
  .badge-purple-subtle,
  .btn-purple-outline,
  .badge-purple-outline {
    color: var(--color-purple-800) !important;
    border-color: var(--color-purple-400) !important;
  }

  .btn-purple-subtle,
  .badge-purple-subtle {
    background-color: var(--color-purple-100) !important;
  }

  .card.message.info {
    color: var(--color-cyan-800) !important;
    border-color: var(--color-cyan-400) !important;
    background-color: var(--color-cyan-100) !important;
  }

  .card.message.error {
    color: var(--color-red-800) !important;
    border-color: var(--color-red-400) !important;
    background-color: var(--color-red-100) !important;
  }

  .card.message.warning {
    color: var(--color-yellow-800) !important;
    border-color: var(--color-yellow-400) !important;
    background-color: var(--color-yellow-100) !important;
  }

  .card.message.success {
    color: var(--color-green-800) !important;
    border-color: var(--color-green-400) !important;
    background-color: var(--color-green-100) !important;
  }

  body,
  .logo,
  .logo-icon {
    background-color: var(--color-white) !important;
  }

  body {
    color: var(--color-gray-800);
  }

  .song-seen>.seenCount,
  .song-unseen>.song-name {
    color: var(--color-gray-800) !important;
  }

  .card .card {
    background-color: var(--color-white) !important;
    border-color: var(--color-gray-200) !important;
  }

  .info-card-title {
    color: var(--color-gray-600) !important;
  }

  .card-header,
  .card-footer,
  .card,
  .list-group-item,
  .accordion-item,
  .modal-body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-800);
  }

  .card-header,
  .card-footer,
  .card,
  .accordion-item {
    border-color: var(--color-gray-300);
  }

  .card-header,
  .card-footer {
    border-color: var(--color-gray-300) !important;
  }

  .vr {
    background-color: var(--color-gray-400) !important;
  }

  .card.divider,
  .card .form-control,
  .card .form-select,
  .modal .form-control,
  .modal .list-group-item {
    background-color: var(--color-white) !important;
  }

  .search-item.active,
  .search-item:hover {
    background-color: var(--color-blue-600) !important;
    border-color: var(--color-blue-700) !important;
    color: var(--color-gray-100) !important;
  }

  div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-data,
  div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-value,
  div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria input.dtsb-value,
  div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-condition {
    border-color: var(--color-gray-300)
  }

  #searchBuilderContainer .btn {
    background-color: var(--color-blue-500) !important;
    color: var(--color-white) !important;
  }

  #searchBuilderContainer .btn:hover {
    background-color: var(--color-blue-600) !important;
  }

  th,
  tr:not(.set-header) td:not(.song_num, .position, .highlighted, .sorting_1, [class*="dtcv-"]) {
    background-color: var(--color-gray-50) !important;
  }

  table td:not(.highlighted, .fc-day) a:not(.text-reset, .fc-event, :has(small)) {
    color: var(--color-blue-600) !important;
  }

  .form-control,
  .form-select {
    background-color: var(--color-gray-100) !important;
    border-color: var(--color-gray-300) !important;
  }

  /* song number cell background when not position */
  td.song_num:not(:is([class*="opener"], [class*="closer"])) {
    background-color: var(--color-gray-100) !important;
    color: var(--color-gray-800);
  }

  td.song_num:is([class*="opener"], [class*="closer"]) {
    color: var(--color-white);
  }

  table th:not(.fc-day, [class*="opener"], [class*="closer"], [class*="dt-ordering"]) {
    background-color: var(--color-gray-50) !important;
  }

  th.fc-day {
    background-color: var(--color-gray-50) !important;
  }

  td.highlighted {
    background-color: var(--color-gray-200) !important;
  }

  td.highlighted *:not(.badge) {
    color: var(--color-gray-800) !important;
  }

  blockquote {
    border-color: var(--color-blue-500) !important;
    background-color: var(--color-gray-100);
  }

  .ui-state-active:hover,
  .ui-state-active {
    background-color: var(--color-blue-500) !important;
    border-color: var(--color-blue-500) !important;
    color: var(--color-gray-800) !important;
  }



  .progress {
    background-color: var(--color-gray-300) !important;
  }

  .album-breakdown.complete .progress-bar {
    background-color: var(--color-yellow-500);
  }

  .progress-bar {
    background-color: var(--color-blue-500);
  }

  .album-breakdown:hover {
    background-color: color-mix(in oklab, var(--color-gray-500) 15%, transparent) !important;
  }

  .dt-paging-button.page-item.active>button.page-link {
    color: var(--color-white) !important;
    background-color: var(--color-blue-500) !important;
    border-color: var(--color-blue-500) !important;
  }

  .dt-paging-button.page-item:not(.active)>button.page-link {
    color: var(--color-blue-600) !important;
  }

  a.nav-link:not(.active) {
    color: var(--color-gray-800) !important;
  }

  a:not(.text-reset, .dropdown-item, .btn, .bd-links-link, .back-to-top) {
    color: var(--color-blue-600) !important;
  }

  a small {
    color: var(--color-gray-600) !important;
  }

  /* column control button icon color */
  table span.dtcc span.dtcc-button-icon,
  .set-header span {
    color: var(--color-gray-800) !important;
  }

  /* set-header default color */
  .set-header td {
    background-color: var(--color-gray-300) !important;
  }


  th.dt-ordering-asc:not(.set),
  th.dt-ordering-desc:not(.set),
  .sorting_1 {
    background-color: var(--color-gray-100) !important;
  }


  .song_num {
    color: var(--color-gray-800);
  }

  /* set-header colors and badge colors */
  .show-opener,
  .pre-show-opener {
    background-color: var(--color-blue-500) !important;
  }

  .set-2-opener {
    background-color: var(--color-teal-500) !important;
  }

  .set-1-closer,
  .pre-show-closer {
    background-color: var(--color-blue-600) !important;
  }

  .main-set-closer,
  .set-2-closer {
    background-color: var(--color-teal-600) !important;
  }

  .encore-opener {
    background-color: var(--color-red-400) !important;
  }

  .show-closer {
    background-color: var(--color-red-600) !important;
  }

  th.show-opener,
  th.set-2-opener,
  th.set-1-closer,
  th.main-set-closer,
  th.set-2-closer,
  th.pre-show-opener,
  th.pre-show-closer,
  th.encore-opener,
  th.show-closer {
    color: #fff !important;
  }

  .album-breakdown .list-group-item {
    background-color: var(--color-gray-100) !important;
  }

  #albums> :not(div:last-of-type) {
    border-bottom-color: var(--color-gray-300);
  }

  /* calendar */

  .fc-theme-standard td,
  .fc-theme-standard th,
  .fc-theme-standard .fc-scrollgrid {
    border-color: var(--color-gray-300);
  }

  .calendar.release-event {
    background-color: var(--color-yellow-500) !important;
    border-color: var(--color-yellow-600) !important;
  }

  .calendar.release-event-past {
    background-color: var(--color-yellow-600) !important;
    border-color: var(--color-yellow-700) !important;
  }

  .calendar.event-birthday {
    background-color: var(--color-teal-500) !important;
    border-color: var(--color-teal-700) !important;
    color: var(--color-teal-600) !important;
  }

  .calendar.event-run {
    background-color: var(--color-green-600) !important;
    border-color: var(--color-green-700) !important;
    color: var(--color-white) !important;
  }

  .calendar.event.show {
    color: var(--color-white) !important;
    background-color: var(--color-blue-500) !important;
  }

  .dropdown-menu {
    background-color: var(--color-gray-50) !important;
    border-color: var(--color-gray-200) !important;
  }

  .dropdown-item {
    color: var(--color-gray-800) !important;
  }

  .dropdown-item:hover {
    background-color: var(--color-blue-500) !important;
    color: var(--color-white) !important;
  }

  div.dt-button-collection {
    border-color: var(--color-gray-300);
  }

  .ui-menu {
    border-color: var(--bs-dropdown-border-color);
  }

  .ui-autocomplete {
    background-color: var(--color-white) !important;
  }

  .ui-widget {
    border-color: var(--color-gray-300);
  }

  .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    color: var(--color-white) !important;
    background-color: var(--color-blue-500) !important;
  }

  pre {
    background-color: var(--color-gray-100) !important;
    color: var(--color-gray-800) !important;
  }

  .form-control,
  .form-select {
    border-color: var(--color-gray-300);
  }

  .bd-links-link {
    color: var(--color-gray-800) !important;
  }

  .bd-links-link.active {
    background-color: var(--color-blue-500) !important;
    color: var(--color-white) !important;
  }

  .bd-links-link:hover {
    background-color: var(--color-blue-500) !important;
    color: var(--color-white) !important;
  }

  .list-unstyled .dropdown-item:hover {
    background-color: var(--color-blue-500) !important;
    color: var(--color-white) !important;
  }

  .offcanvas {
    background-color: var(--color-gray-100) !important;
  }

  .placeholder {
    background-color: var(--color-gray-500) !important;
  }

  .next-arrow,
  .prev-arrow {
    color: var(--color-gray-800) !important;
  }

  .album-art {
    border-color: var(--color-gray-300);
  }

  .album-thumb img {
    border-color: var(--color-gray-300);
  }

  div.dtcv-container div.dtcv-card {
    border-color: var(--color-gray-300);
    background-color: var(--color-white) !important;
    color: var(--color-gray-800) !important;
  }

  .dt-ordering-asc {
    box-shadow: inset 0 3px 0 0 var(--color-blue-500) !important;
  }

  .dt-ordering-desc {
    box-shadow: inset 0 -3px 0 0 var(--color-blue-500) !important;
  }

  .dt-ordering-asc.set {
    box-shadow: inset 0 3px 0 0 var(--color-black) !important;
  }

  .dt-ordering-desc.set {
    box-shadow: inset 0 -3px 0 0 var(--color-black) !important;
  }

  .count-badge {
    background-color: var(--color-black) !important;
    color: var(--color-white) !important;
  }

  .active .count-badge {
    background-color: var(--color-blue-500) !important;
  }

  /* colors */
  .text-primary {
    color: var(--color-blue-600) !important;
  }

  .text-warning {
    color: var(--color-yellow-600) !important;
  }

  .bg-primary {
    background-color: var(--color-blue-500) !important;
  }

  .text-danger {
    color: var(--color-red-500) !important;
  }

  .text-info {
    color: var(--color-cyan-500) !important;
  }

  .text-muted {
    color: var(--color-gray-600) !important;
  }

  .userForm .bi-star {
    color: var(--color-black) !important;
  }

  .userForm .bi-star-fill {
    color: var(--color-yellow-500) !important;
  }

  .bg-highlight {
    background-color: var(--color-gray-200) !important;
  }

  .text-subtle {
    color: var(--color-gray-400) !important;
  }

  .modal-title {
    color: var(--color-gray-800) !important;
  }

  /* select2 */

  .select2-dropdown,
  .select2-search__field,
  .select2-selection,
  .select2-selection--multiple,
  .select2-selection--single,
  .select2-selection__choice,
  .select2-selection__placeholder,
  .select2-results__group,
  .select2-results__options,
  .select2-results__option.select2-results__message,
  .select2-results__option.select2-results__option--selectable:not(.select2-results__option--highlighted),
  .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    color: var(--color-gray-800) !important;
  }

  .select2-dropdown,
  .select2-search__field,
  .select2-selection,
  .select2-selection--multiple,
  .select2-selection--single {
    background-color: var(--color-gray-100) !important;
  }

  .select2-dropdown,
  .select2-selection,
  .select2-selection--multiple,
  .select2-selection--single,
  .select2-selection__choice,
  .select2-container--bootstrap-5 .select2-selection {
    border-color: var(--color-gray-300) !important;
  }

  .select2-results__option--selected,
  .select2-results__option--highlighted,
  .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--color-blue-500) !important;
    color: var(--color-white) !important;
    border-radius: var(--bs-border-radius-sm) !important;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice,
  .select2-selection__choice {
    background-color: var(--color-gray-200) !important;
    border-color: var(--color-gray-300) !important;
  }
}