@import './colors.css';
@import './select2.css';
@import './datatables.css';

:root {
    --font-heading: "Cabin", sans-serif;
    --font-body: "IBM Plex Sans Hebrew", sans-serif;
}

a:link {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

/* navbar stuff */
.navbar {
    background-color: var(--primary-700) !important;
    border-bottom: 0 solid !important;
}

.navbar .nav-link:hover {
    background-color: var(--primary-600) !important;
}

.navbar .nav-link {
    color: var(--text-50) !important;
    font-size: 1rem !important;
}

/* card */
.card tbody tr:last-child td {
    border-bottom: none !important;
}

.card tbody tr:last-child td:first-child {
    border-bottom-left-radius: var(--bs-border-radius) !important;
}

.card tbody tr:last-child td:last-child {
    border-bottom-right-radius: var(--bs-border-radius) !important;
}

.card .card-body :not(.btn, .badge):last-child,
.modal-body ul:last-child {
    margin-bottom: 0 !important;
}

button.nav-link.active,
.progress-bar {
    background-color: var(--primary-600) !important;
}

.active>.page-link {
    border-color: var(--primary-600) !important;
    background-color: var(--primary-600) !important;
}

button.nav-link:not(.active) {
    border: 1px solid;
    color: var(--primary-500) !important;
    border-color: var(--primary-600) !important;
}

.card-body {
    overflow: visible !important;
}

.card-body img {
    border-radius: 0px !important;
    border-top-left-radius: var(--bs-border-radius) !important;
    border-top-right-radius: var(--bs-border-radius) !important;
}

#year-select .dropdown-menu {
    max-height: 50rem;
    overflow-y: scroll;
}

#year-select .dropdown-toggle,
#year-select .dropdown-toggle:active {
    background-color: var(--primary-700) !important;
    border-color: var(--primary-700) !important;
}

#eventInfo .badge:hover,
#year-select .dropdown-toggle:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a:hover {
    background-color: var(--primary-700) !important;
}

#userCount,
#addshow-button {
    vertical-align: middle !important;
    color: var(--text-50) !important;
    border: 0 !important;
}

#addshow-button:not(.active) {
    background-color: var(--background-600) !important;
}

#addshow-button.active {
    background-color: var(--accent-500) !important;
}

#userCount:not(.active) {
    background-color: var(--background-700) !important;
}

#userCount.active {
    background-color: var(--accent-600) !important;
}

.badge.eventlink {
    background-color: var(--background-600) !important;
    font-size: 0.75rem !important;
}

.badge.eventlink .bi {
    font-size: medium !important;
}

/* needed to center text on badge */
.badge.eventlink * {
	vertical-align: middle !important;
}

#eventlink:hover {
    text-decoration: none !important;
}

#onstage ul:not(:last-child) {
    margin-bottom: 0.5rem !important;
}

.progress {
    height: 0.9rem !important;
    border-radius: 0.2rem !important;
}

.progress-bar {
    border-radius: inherit !important;
}

.progress>.song-count {
    cursor: help;
}

#breakdown .list-group-item.active {
    background-color: var(--primary-700);
    border-color: var(--primary-700);
}

#breakdown a {
    color: var(--text-50) !important;
}

#onstage a[href*=relation] {
    color: var(--primary-500) !important;
}