{% extends "databruce/base.html" %}
{% block title %}
  Releases &gt; {{ info.name }}
{% endblock title %}
{% block content %}
  <div class="col-12 col-xxl-8 mx-auto">
    <div class="text-2xl text-nowrap mb-2">{{ info.name }}</div>
    <div class="text-base">{{ info.note|default_if_none:"" }}</div>
    <div class="text-lg mb-2 d-grid gap-0 row-gap-1">
      <div class="row">
        <div class="fw-semibold">Release Date</div>
        <div>{{ info.date }}</div>
      </div>
      <div class="row">
        <div class="fw-semibold">Type</div>
        <div>{{ info.type }}</div>
      </div>
      {% if info.event %}
        <div class="row">
          <div class="fw-semibold">Event Date</div>
          <div>
            <a href="{% url "event_details" id=info.event.id %}">{{ info.event }} - {{ info.event.venue.get_name }}, {{ info.event.venue.city }}</a>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link active"
                    id="pills-songs-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#songs"
                    type="button"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false">Songs</button>
          </li>
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link"
                    id="pills-links-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#links"
                    type="button"
                    role="tab"
                    aria-controls="pills-links"
                    aria-selected="false">Links</button>
          </li>
        </ul>
      </div>
      <div class="card-body px-0">
        <div class="tab-content">
          <div id="songs" class="tab-pane fade show active">
            <div class="table-responsive">
              <table class="table table-hover display" id="tracksTable">
                <thead>
                  <tr class="header">
                    <th class="all" scope="col">Track</th>
                    <th class="all" scope="col">Song</th>
                    <th class="all" scope="col">Length</th>
                    <th class="min-tablet-l" scope="col">Event Date</th>
                    <th class="min-tablet-l" scope="col">Note</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="links" class="tab-pane fade">
            <ul>
              {% if info.mbid %}
                <li>
                  <a href="https://musicbrainz.org/release/{{ info.mbid }}">Musicbrainz</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  $(document).ready(function () {
    new DataTable('#tracksTable', {
      layout: getDatatableLayout({columns: false, category: false}),
      ordering: true,
      serverSide: true,
      processing: true,
      scrollX: false,
      ajax: '/api/v1/release_tracks/?release={{ info.id }}&format=datatables&keep=id,disc',
      rowGroup: {
        emptyDataGroup: '',
        dataSrc: function(row) {
          if (row.disc) {
            return `Disc ${row.disc.disc_num}: ${row.disc.name}`;
          }
        },
        className: 'setHeader bg-secondary text-center'
      },
      columnDefs: [
        { orderSequence: ['desc', 'asc', ''], targets: '_all', type: 'text' },
        { targets: [0], type: 'text', className: 'songnum align-middle text-center p-0 text-sm', width: '30px' },
        { targets: [1], type: 'text', width: '300px' },

      ],
      columns: [
        {'data': 'track', 'name': 'track' },
        {
          'data': 'song',
          'name': 'song',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              return '<a class="fw-medium text-sm" href="/songs/' + data.id + '">'+ data.name +'</a>';
            }
          },
        },
        {'data': 'length', 'name': 'length' },
        {
          'data': 'event.date',
          'name': 'event',
          'render': function (data, type, row, meta) {
            if (type === 'display') {
              return data ? '<a class="fw-medium" href="/events/' + data.id + '">'+ data.display +'</a>' : '';
            }
          },
        },
        {'data': 'note', 'name': 'note' },
      ],
      initComplete: function(){
        $('tr.setHeader > th:empty').remove();
      }
    });
  });
  </script>
{% endblock content %}
