{% extends "databruce/narrow_layout.html" %}
{% block title %}
  Release "{{ title }}"
{% endblock title %}
{% block content %}
  {% if user.is_superuser %}
    {% include "databruce/partials/admin_edit_btn.html" with view="releases" item=info.id %}
  {% endif %}
  <div class="col">
    <div class="text-2xl text-nowrap mb-2">{{ info.name }}</div>
    <div class="d-grid gap-0 row-gap-2 mb-2">
      {% if info.note %}
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="text-wrap">
                  <div class="text-sm text-nowrap fw-medium">Notes</div>
                  <div class="text-sm">{{ info.note|markdown|safe }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="info-card-row row row-cols-2 g-2 {% if info.event %}row-cols-lg-4{% else %}row-cols-lg-3{% endif %}">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="text-sm text-nowrap fw-medium">Release Date</div>
              <div class="text-base">{{ info.date }}</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="text-sm text-nowrap fw-medium">Type</div>
              <div class="text-base">{{ info.type }}</div>
            </div>
          </div>
        </div>
        {% if info.event %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="text-sm text-nowrap fw-medium">Event</div>
                <div class="text-base">
                  <a href="{% url "event_details" id=info.event.event_id %}">{{ info.event }}</a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="text-sm text-nowrap fw-medium">Length</div>
              <div class="text-base">{{ info.length|date:"H:i:s" }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link active"
                    id="pills-songs-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#songs"
                    type="button"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false">Songs</button>
          </li>
          <li class="nav-item me-1 me-lg-2 mb-2 mb-lg-0" role="presentation">
            <button class="nav-link"
                    id="pills-links-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#links"
                    type="button"
                    role="tab"
                    aria-controls="pills-links"
                    aria-selected="false">Links</button>
          </li>
        </ul>
      </div>
      <div class="card-body px-0">
        <div class="tab-content">
          <div id="songs" class="tab-pane fade show active">
            <div class="table-responsive">
              <table class="table table-hover display" id="tracksTable">
                <thead>
                  <tr class="header">
                    <th class="all">Track</th>
                    <th class="all">Song</th>
                    <th class="all">Length</th>
                    <th class="all">Event Date</th>
                    <th class="all">Note</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div id="links" class="tab-pane fade">
            <ul>
              {% if info.mbid %}
                <li>
                  <a target="_blank"
                     href="https://musicbrainz.org/release/{{ info.mbid }}">Musicbrainz</a>
                </li>
              {% endif %}
              {% if info.spotify_link %}
                <li>
                  <a target="_blank" href="{{ info.spotify_link }}">Spotify</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  $(document).ready(function () {
    var layout = getDatatableLayout({columns: false, category: false});
    layout.topStart = null;

    new DataTable('#tracksTable', {
      layout: layout,
      ajax: '/api/v1/release_tracks/?release={{ info.id }}&format=custom',
      ordering: false,
      rowGroup: {
        emptyDataGroup: '',
        dataSrc: function(row) {
          if (row.discnum && !row.disc) {
            return `Disc ${row.discnum}`;
          } else if (row.disc) {
            if (row.disc.name) {
              return `Disc ${row.discnum}: ${row.disc.name}`;
            }
            
            return `Disc ${row.discnum}`;
          }
        },
        className: 'text-center set-header p-0',
        startRender: function(rows, group) {
          var th = $('<td />').attr('colspan', '6').text(group).addClass('py-0');
          return $('<tr />').append($(th))
        }
      },
      columnDefs: [
        { targets: [0], type: 'text', width: '30px', className: 'dt-center' },
        { targets: '_all', columnControl: [] }
      ],
      columns: [
        {'data': 'track', 'name': 'track', 'searchable': 'false' },
        {
          'data': 'song',
          'name': 'song__sort_song_name',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              return `<a href="/songs/${data.uuid}">${data.name}</a>`;
            }
          },
        },
        {'data': 'length', 'name': 'length', 'searchable': 'false' },
        {
          'data': 'event',
          'name': 'event__event_id', 'searchable': 'false',
          'render': function (data, type, row, meta) {
            if (type === 'display' && data) {
              return data ? `<a href="/events/${data.event_id}">${data.date.display}</a>` : '';
            }
          },
        },
        {'data': 'note', 'name': 'note' },
      ],
    });
  });
  </script>
{% endblock content %}
