{% extends "databruce/category.html" %}
{% block title %}
  Nugs Releases
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Nugs Releases</div>
  <div class="text-base">Shows released on Nugs. Links lead to the page where you can purchase those shows.</div>
{% endblock info_row %}
{% block table_id %}
  releasesTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="header">
      <th class="min-tablet-l">Release Date</th>
      <th class="all">Event</th>
      <th class="min-tablet-l">Venue</th>
      <th class="min-tablet-l">Location</th>
      <th class="min-tablet-l">Link</th>
    </tr>
  </thead>
  {% comment %} <tbody>
        {% for release in releases %}
            <tr>
                <td>{{ release.date|default_if_none:""|date:"Y-m-d" }}</td>
                <td>
                    <a href="{% url "event_details" id=release.event.id %}">{{ release.event }}</a>
                </td>
                <td>
                    <a href="{% url 'venue_details' id=release.event.venue.id %}">{{ release.event.venue.name }}</a>
                </td>
                <td>
                    {% if release.event.venue.city %}
                        <a href="{% url 'city_details' id=release.event.venue.city.id %}">{{ release.event.venue.city }}</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ release.url }}">Nugs Release</a>
                </td>
            </tr>
        {% endfor %}
  </tbody> {% endcomment %}
{% endblock table %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      new DataTable('#releasesTable', {
        layout: getDatatableLayout({columns: [0,1,2,3,4]}),
        serverSide: true,
        processing: true,
        ajax: {
          'url': '/api/v1/nugs_releases/?format=datatables&keep=id,name',
        },
        columns: [
          {'data': 'date', 'name': 'date'},
          {
            'data': 'event.date',
            'name': 'event__id',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="/events/' + data.id + '">'+ data.display +'</a>';
              }
            },
          },
          {
            'data': 'venue',
            'name': 'event__venue__name',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="/venues/' + data.id + '">'+ data.name +'</a>';
              }
            },            
          },
          {
            'data': 'venue.city',
            'name': 'event__venue__city__name, event__venue__city__state__abbrev',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="/cities/' + data.id + '">'+ data.display +'</a>';
              }
            },            
          },
          
          {
            'data': 'url',
            'name': 'url',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="' + data + '">'+ row.name +'</a>';
              }
            },
          },
        ]
      });
    });
  </script>
{% endblock scripts %}
