{% extends "databruce/category.html" %}
{% block title %}
  Releases
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Releases</div>
  <div class="text-base">Various retail releases that Bruce appears on.</div>
{% endblock info_row %}
{% block table_id %}
  releasesTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="header">
      <th class="all" scope="col">Name</th>
      <th class="min-tablet-l" scope="col">Date</th>
      <th class="min-tablet-l" scope="col">Type</th>
    </tr>
  </thead>
{% endblock table %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      var layout = getDatatableLayout({columns: [0,1,2], category: true});
      dtCategorySelect({layout: layout, column_idx: 2, values: [{'label': 'Studio', 'value': 'Studio'}, {'label': 'Live', 'value': 'Live'}, {'label': 'Compilation', 'value': 'Compilation'}]});

      new DataTable('#releasesTable', {
        layout: layout,
        serverSide: true,
        processing: true,
        ajax: {
          'url': '/api/v1/releases/?format=datatables&keep=id',
        },
        columns: [
          {
            'data': 'name',
            'name': 'name',
            'render': function (data, type, row, meta) {
              if (type === 'display') {
                return '<a href="/releases/' + row.id + '">'+ data +'</a>';
              }
            },
          },
          {'data': 'date', 'name': 'date'},
          {'data': 'type', 'name': 'type'},
        ]
      });
    });
  </script>
{% endblock scripts %}
