{% extends "databruce/category.html" %}
{% block title %}
  Releases
{% endblock title %}
{% block info_row %}
  <div class="text-2xl">Releases</div>
  <div class="text-base">Various retail releases that Bruce appears on.</div>
{% endblock info_row %}
{% block table_id %}
  releasesTable
{% endblock table_id %}
{% block table %}
  <thead>
    <tr class="header">
      <th class="all" scope="col">Name</th>
      <th class="min-tablet-l" scope="col">Date</th>
      <th class="all" scope="col">Type</th>
      <th class="min-tablet-l" scope="col">Links</th>
    </tr>
  </thead>
  <tbody>
    {% for release in releases %}
      <tr>
        <td>
          <a href="{% url "release_details" id=release.id %}">{{ release.name }}</a>
        </td>
        <td>{{ release.date|date:'Y-m-d' }}</td>
        <td>{{ release.type }}</td>
        <td>
          {% if release.mbid %}<a href="https://musicbrainz.org/release/{{ release.mbid }}">Musicbrainz</a>{% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock table %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      new DataTable('#releasesTable', {
        layout: getDatatableLayout(),
        initComplete: function () {
          this.api()
          .columns([-2])
          .every(function () {
            categorySelect(this, 'Category', [{'label': 'All', 'value': '.*'}, {'label': 'Studio', 'value': 'Studio'}, {'label': 'Live', 'value': 'Live'}, {'label': 'Compilation', 'value': 'Compilation'}]);
          });
        },
      });
    });
  </script>
{% endblock scripts %}
