{% extends "databruce/base.html" %}
{% load filters %}
{% block title %}
  Releases &gt; {{ info.name }}
{% endblock title %}
{% block content %}
  <div class="row mb-4">
    <div class="col">
      <h4>
        <a href="{% url 'databruce:releases' %}">Releases</a> &gt; {{ info.name }}
      </h4>
    </div>
  </div>
  <div class="row mb-4">
    <div class="card">
      <div class="card-body">
        <div class="col">
          <h5>Song Info</h5>
          <div class="row justify-content-start">
            <div class="col-auto pe-0 fs-6 fw-semibold">Release Date:</div>
            <div class="col">{{ info.date }}</div>
          </div>
          <div class="row justify-content-start">
            <div class="col-auto pe-0 fs-6 fw-semibold">Type:</div>
            <div class="col">{{ info.type }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="card">
      <div class="card-body">
        <h5>Songs</h5>
        <div class="col">
          <div class="table-responsive p-0">
            <table class="table table display nowrap" id="tracksTable">
              <thead>
                <tr class="header">
                  <th scope="col">#</th>
                  <th scope="col">Song</th>
                  <th class="text-center" scope="col">Public</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                </tr>
              </thead>
              <tbody>
                {% for track in tracks %}
                  <tr>
                    <td>{{ track.track }}</td>
                    <td>
                      <a href="{% url "databruce:song_details" id=track.song.id %}">{{ track.song.name }}</a>
                    </td>
                    <td class="text-center">{{ track.song.num_plays_public }}</td>
                    <td>
                      {% if track.song.first %}
                        <a href="{% url "databruce:event_details" event=track.song.first.id %}">{{ track.song.first }}</a>
                      {% endif %}
                    </td>
                    <td>
                      {% if track.song.last %}
                        <a href="{% url "databruce:event_details" event=track.song.last.id %}">{{ track.song.last }}</a>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  // removes searchBuilder button, not needed for this.
  layout.topEnd.features[1].buttons.pop()
  
  $(document).ready(function () {
    new DataTable('#tracksTable', {
      layout: layout,
      searching: false,
      paging: false,
      info: false,
      order: [[0, 'asc']],
    });
  });
  </script>
{% endblock content %}
